[2020-05-17 14:49] canatufkansu opened #750 "Globally accessible stats/taxonomy"
I opened a blog using the Canvas, now multiple users are posting their article into the system. But when I try to display statistics I only see mine stats and I cannot manage topics or tags as an administrator.

Is there a quick way to manage system wide settings and stats ?

Thank you,

[2020-05-17 15:41] austintoddj commented on #750
At this time, no there aren't any roles/permissions implemented. This could definitely be a good feature, but I just haven't had the time to work on it yet.

[2020-05-17 16:38] austintoddj commented on #750
After thinking about this for just a minute, I wonder what your thoughts are on this?

Instead of having roles/permissions, what if on the Stats page, you could toggle between global stats, and only yours? This doesn't change the fact that settings, tags, and topics are still user-specific, but at least you could review stats on the entire blog if you cared to.

[2020-05-17 16:58] canatufkansu commented on #750
That would be nice actually ! At least everyone could review global stats. Which is totally fine for most of the use cases.

About the tags and topics, I couldn't get the idea why everyone have their own tags and topics. At least Topics should be managed. Usually a blog has one owner/company/organization and needs to be moderated, without moderation of these things there is no way I can manage the

[2020-05-17 17:55] austintoddj commented on #750
Ok, I think this could work. 2 actionable steps to make this complete:

- Globally accessible stats
- Globally accessible taxonomy (still can only be edited/removed by the owner, but can be utilized by anyone)

[2020-05-17 17:56] austintoddj commented on #716
@dgillier Does this system in #750 sound like something you're looking for?

[2020-05-17 18:16] dgillier commented on #750
Thanks @austintoddj  , Globally accessible stats will be great, globally accessible taxonomy is a great step too...

But personnaly like @canatufkansu, I still think Topics should be set by admin only...

[2020-05-17 18:17] dgillier commented on #716
Thanks @austintoddj , Globally accessible stats will be great, globally accessible taxonomy is a great step too...

But personnaly like @canatufkansu, I still think Topics should be set by admin only...

[2020-05-17 19:30] richard457 opened #753 "Published posts not showing up on Studio"
Instead, I see this You have no published posts, isn't the expectation to see the published posts as a visiting user of the blog? please help me understand.

[2020-05-17 19:54] austintoddj commented on #753
From the database, can you verify that the posts `published_at` is correct? Perhaps this is a locale/timezone issue.

[2020-05-17 20:17] kama003 commented on #748
![image](https://user-images.githubusercontent.com/45000219/82159068-6afbc000-98a9-11ea-96b0-c2962a44eea6.png)

this is what is got

[2020-05-20 05:54] #748 closed

[2020-05-20 05:55] kama003 commented on #748
Thank you so much
you can close this issue

[2020-05-20 12:09] ibrahim-mubarak commented on #509
This is something we are also looking for.

One more option is to allow overriding the model itself so we could update such properties in addition to something else if needed.

[2020-05-20 12:55] austintoddj commented on #509
@ibrahim-mubarak What would it look like to allow overriding like that?

[2020-05-22 01:41] jpmurray opened #754 "Limiting posting permission"
Hello!

I hope I'm just not misreading anything, or that my search skills fails me and I'm just repeating an already answered question but...

What would be the correct way to limit who can post articles ? I've quickly installed and glanced at canvas et studio, but my initial test made posting (and its relevant options) available to any registered account within the User model.

Say I want to limi

[2020-05-22 14:50] austintoddj commented on #754
So the best way to limit this would be to add a new Middleware class to filter out whoever you want, and then add that middleware to the `config/canvas.php` file.

Does that make sense?

[2020-05-22 17:50] jpmurray commented on #754
It does!

Then I'd probably have to customize Studio so it doesn't show any menu or option to other user level (or not use Studio at all for that matter, but I'm a huge fan of simple things that works!), provided that I can make it so I don't overwrite my changes on updates... Right?

[2020-05-22 18:01] austintoddj commented on #754
Glad it helped! And yes, you'd have to customize just a bit of Studio to get it to hide specific elements, but Studio is merely a starting-point template to get you up and running, totally up to you how to handle that side of things.

As for Canvas, the [upgrade guide](https://github.com/cnvs/canvas/blob/master/.github/UPGRADE.md) will always be the single source of truth for any breaking changes,

[2020-05-22 18:01] #754 closed

[2020-05-23 17:37] fmuiin14 commented on #535
I do this, but I just found another problem.

![Screenshot_10](https://user-images.githubusercontent.com/17643540/82736827-90c80f80-9d56-11ea-9d4b-e46e6186e017.png)

And when I do php artisan canvas:publish, I just back to first error js and css not found

[2020-05-25 06:04] kama003 opened #757 "how do i search post with underscore without writing underscore"
Hey developers,
how do i search string with underscore without writing underscore
example : someone searched xbox and there is post named x-box
so now the problem is post doesn't appearing please help me to fix this

[2020-05-26 10:36] ediblemanager commented on #757
Easiest solution would be to ensure that all posts relating to "xbox" have two tags: `x-box` and `xbox`.

Apart from this, you'll need to do some string comparison to work out if it's similar enough to match.

[2020-05-26 11:45] austintoddj commented on #757
Closing this out since it's a generalized question and doesn't pertain to the project.

[2020-05-26 11:45] #757 closed

[2020-05-28 07:12] bakkan opened #758 "SEO settings doesn't work for search engine."
Post contents loaded by axios requests, the robots can't crawl anything from the pages.

[2020-05-28 13:18] austintoddj commented on #758
Could you be more specific? Not sure what you mean by, "it can't crawl anything". Are the SEO elements loaded onto the page?

[2020-05-28 14:17] bakkan commented on #758
I am sorry, my English is poor. SEO elements are not loaded.

https://medium.com/swlh/preloading-your-php-7-4-project-in-one-line-9ede756f292c
![image](https://user-images.githubusercontent.com/4957288/83151822-a0b56a00-a12f-11ea-9554-1d0e0015b504.png)
Using chrome view-source, you can find an `<h1>` element for the post title, a `<div>` element wrapper for the post body.

http://127.0.0.1:8000/st

[2020-05-28 15:36] austintoddj commented on #758
No worries @bakkan! So you cannot actually see any Meta tags passed on to the Post page in [Studio](https://github.com/cnvs/studio)?

[2020-05-28 15:57] bakkan commented on #758
Yes, absolutely. Can you?
Look at this screenshot.
![image](https://user-images.githubusercontent.com/4957288/83163666-deb98a80-a13d-11ea-9a1d-d82463fed73b.png)
Ok, I will try to rewrite a [jquery-pjax](https://github.com/defunkt/jquery-pjax) version.
Thanks for you reply.

[2020-05-28 16:03] austintoddj commented on #758
Ah, ok I see what it is.

In the [v5.2 upgrade](https://github.com/cnvs/canvas/blob/master/.github/UPGRADE.md#upgrading-to-520-from-51) of Canvas, we stopped saving `og:image`, `og:title`, `twitter:title` ...

Since that was just too granular, we slimmed down how the meta was saved. So, if you just adjust
 your frontend files to pull those specific fields from the database, you'll be all set.

Let

[2020-05-28 16:33] bakkan commented on #758
Studio is a SPA, every studio page has the same HTML contents.
`
<div id="studio" class="mb-5">
<router-view></router-view>
</div>
`
 Is it really good for SEO? There is no title, no keywords, no contents. How the spider understand my Post.
Have a good day, thanks again.

[2020-05-28 16:52] austintoddj commented on #758
Studio uses [vue-headful](https://www.npmjs.com/package/vue-headful) to inject meta data into the head element of post pages. You can see it in the `PostScreen.vue` component:

[code]

[2020-05-28 19:17] #758 closed

[2020-05-29 00:01] SumonMSelim opened #759 "Any option to add pages?"
I would like to add pages like about, contact, etc. Is it possible at the moment?

[2020-05-29 12:49] austintoddj commented on #759
Not at the moment, no. Since Canvas isn't meant to be a CMS, I'd suggest adding them outside the scope of the package and in the base app you're working with.

[2020-05-31 09:28] albertoelias123 commented on #712
I believe I had the same problem. I came across an exception from carbon, with the following message:
"Could not parse 'Invalid date-Invalid date-Invalid date Invalid date:Invalid date:00': DateTime::__construct(): Failed to parse time string (Invalid date-Invalid date-Invalid date Invalid date:Invalid date:00) at position 0 (I): The timezone could not be found in the database"

The error occurs w

[2020-05-31 09:35] albertoelias123 commented on #712
I discovered the reason for the Bug. When converting a Post to a draft and then clicking Publish Now, it did not set a date and due to this the error occurs. Does anyone have any idea how to solve this? I would be happy to send a PR with the solution, but I really don't know how to proceed

![image](https://user-images.githubusercontent.com/41304037/83349111-9a2e1a80-a308-11ea-9b81-549abe921f4d.pn

[2020-06-01 05:22] SwapnilAkolkar opened #760 "The Mix manifest does not exist."
Facade\Ignition\Exceptions\ViewException
The Mix manifest does not exist. (View: C:\xampp\htdocs\blog\vendor\cnvs\canvas\resources\views\layout.blade.php)

[2020-06-01 05:23] SwapnilAkolkar commented on #760
while executing the url
http://localhost/blog/public/canvas

[2020-06-01 11:47] austintoddj commented on #760
Could you try publishing the assets again and let me know what you see?

[code]

[2020-06-01 17:58] NavaneethVijay opened #761 "How to add/customize route controllers ?"
I'm trying to extend canvas to add additional routes, I've defined my route under the same group as canvas routes, the route is displayed in the route:list as well, but I am not getting json response returned when i enter the url.

http://127.0.0.1:8000/me/api/posts
this route returns json response

http://localhost:8000/me/api/customroute
while this route returns the default layout.blade.php of c

[2020-06-01 18:11] #761 closed

[2020-06-01 18:12] NavaneethVijay commented on #761
Closing this as it is not relevant, sorry.

[2020-06-09 20:35] albertoelias123 commented on #758
Good afternoon Todd, I performed some tests on a website using the current version of Canvas (5.x) and the previous version that still didn't use a SPA. By my tests the SEO was drastically affected, now the search robots can no longer mine the information on the pages, researching I believe it is possible to get around this problem, but just using this headful of Vue does not seem to be enough.

C

[2020-06-09 20:46] austintoddj commented on #758
@albertoelias123 Could you go ahead and make an issue for this in https://github.com/cnvs/studio

We can see about fixing it on that end. Thanks!

[2020-06-17 09:32] prodigital-design commented on #642
https://froala.com/wysiwyg-editor/inline/

[2020-06-17 13:03] austintoddj commented on #642
@prodigital-design Thanks for that link. Never came across that package, going to go ahead and see how difficult it would be to use that here.

[2020-06-21 00:15] tj-mc opened #764 "Enable social media sharing preview images"
When I share the link of a canvas post with Studio UI, sites like Facebook and Twitter are unable to fetch a preview image of the post content. Do you know of a way to enable this within canvas?

[2020-06-21 01:28] austintoddj commented on #764
When you load a post up via Studio's UI, can you inspect the page and see if an `og:image` is visible in the head element?

[2020-06-22 01:43] tj-mc commented on #764
Wow, in my hast I had deleted the Vue header component. Problem solved 🙏

[2020-06-22 14:26] #764 closed

[2020-06-23 16:20] s72817 opened #766 "canvas only for specific user"
Hello,
create package at first!!
One question: is there an option to restrict the canvas dashboard only for specific user (e.g. Auth::id == 1)? Thanks in advanced

[2020-06-23 20:19] s72817 commented on #766
ok, I've solved it over a custom middleware :)

[2020-06-23 20:19] #766 closed

[2020-06-24 01:48] austintoddj commented on #766
Great! Glad you got it sorted @s72817!

[2020-06-24 09:26] s72817 commented on #627
+1 for sitemap :)

[2020-06-26 06:34] itsmysterybox opened #767 "Get tags in the order they are added"
I want to fetch the tags in the order they are added to the post.
Right now, if I add tags in following order

![image](https://user-images.githubusercontent.com/43930682/85827185-5f05f680-b7a3-11ea-81a1-ee3eca622a53.png)

I get

![image](https://user-images.githubusercontent.com/43930682/85827517-113dbe00-b7a4-11ea-9d39-e3279454fe1b.png)

I don't want to sort them with columns like `created_at`.

[2020-06-26 11:42] austintoddj commented on #767
Is this in the SettingsModal itself that you want to see it ordered?

[2020-06-26 17:01] itsmysterybox commented on #767
No. I'm fetching the associated tags on the front-end.

[2020-06-26 20:01] austintoddj commented on #767
Unfortunately, we don't keep timestamps in the pivot tables. If we did, you could do some fancy query to order them by their `created_at` dates.

[2020-06-27 06:06] itsmysterybox commented on #767
That can be tailored to meet my requirements. Thanks for your time.

[2020-06-27 06:06] #767 closed

[2020-06-27 10:48] prodigital-design commented on #686
This works with the link view domain.com/username/feed ?

[2020-06-27 10:51] channaveer commented on #686
@prodigital-design yea it does

[2020-06-29 17:00] austintoddj commented on #726
Gave it some thought and decided that I may go and create some sort of installer someday, but it's not on the roadmap at this time. Thanks for the suggestion though @hide-me!

[2020-06-29 17:00] #726 closed

[2020-06-29 17:03] austintoddj commented on #753
If you could go ahead and open an [issue in Studio](https://github.com/cnvs/studio/issues) that would help keep everything repo-specific. Thanks!

[2020-06-29 17:03] #753 closed

[2020-06-29 17:03] #680 closed

[2020-06-29 17:04] #679 closed

[2020-06-30 09:36] itsmysterybox opened #768 "Data too long for column 'referer'"
My website is getting long referer urls. When I checked the log, this is what I found:

`[2020-06-29 14:09:28] production.ERROR: SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'referer' at row 1 (SQL: insert into `canvas_views` (`post_id`, `ip`, `agent`, `referer`, `updated_at`, `created_at`) values (04259598-4807-43bd-9da3-d0702dc9f2ca, 139.195.125.194, Mozilla/5.0 (

[2020-06-30 12:56] austintoddj commented on #768
@itsmysterybox What database are you currently using?

[2020-06-30 15:53] itsmysterybox commented on #768
I'm using MySQL.

[2020-06-30 19:07] austintoddj commented on #768
I'm thinking that instead of modifying the database itself, I'd rather see the URLs cleaned up. If we used the `parse_url()` method in the `CaptureView` and `CaptureVisit` listeners, we would be able to avoid the above error.

If you'd like to go ahead and give it a try, submit a PR to the `develop` branch and I'd be happy to help get it merged in.

[2020-07-01 05:16] itsmysterybox commented on #768
Do you want to remove the query string from the referrer url? We don't really need that. And we are using only the host from `TopReferers` in stats, so scheme & host are important. And we may use path in future, I guess... What keys do you want to use for the referer?

[2020-07-01 13:18] austintoddj commented on #768
Yeah, scheme and host are the 2 important parts. That should be all we need!

[2020-07-02 09:20] itsmysterybox commented on #760
@SwapnilAkolkar Have you installed npm dependencies?

[2020-07-15 01:38] ArjunKishore opened #779 "Content Moderator"
It will be extremely useful to have a content moderator as a feature, such as admin, publisher and author

[2020-07-15 13:06] austintoddj commented on #779
Absolutely agree! This feature is coming out in the next version, stay tuned! 😉

[2020-07-21 18:16] maxhacker11 opened #784 "Customizing the Theme"
Hello!:D

Really awesome package, enjoying it a lot! It is super cool:)

I just have a question regarding customization of the theme, the so called "studio" or the front-end.

I installed it and it all works perfectly out of the box. But I can't seem to figure out how to overwrite the views.
For example I want to modify the navigation bar, since I have my own, and pretty much leave the rest.

I tr

[2020-07-21 18:47] austintoddj commented on #784
Glad you like it! So when you installed `studio`, the JS required to build those pages got dropped into `resources/js/studio`. If you edit any of those files such as `components/Navbar.vue`, then compile the project, you should see everything reflected on the frontend.

Let me know if you have any other questions about it!

[2020-07-21 19:03] maxhacker11 commented on #784
Ohh I see now! Thanks a lot:D I never used Vue before so I didn't expect it in the js folder:P
Is there any way to install a bootstrap version? In the docs it says there is one?
Thanks for the speedy reply and the help!:D

[2020-07-21 21:11] austintoddj commented on #784
Actually, it's all built with Bootstrap. The utility classes and everything you need is available to you in the app.

Granted, if you've never worked with Vue before this may be a little awkward at first, but feel free to reach out to me with any questions at:

- austin.todd.j@gmail.com
- https://twitter.com/@austintoddj

Always happy to help!

[2020-07-21 21:11] #784 closed

[2020-07-27 16:41] abishekrsrikaanth commented on #571
@austintoddj, can't seem to get this to work with the latest version of the package. I have the same configuration set to the following

[code]

I keep getting the following error when I try to upload

[code]

Could you please clarify what the issue may be.

[2020-07-27 16:47] austintoddj commented on #571
Looks like you don't have a bucket name specified in that configuration. That's the reason AWS is failing like that.

Try adding your bucket name and see if it works.

[2020-07-27 17:04] abishekrsrikaanth commented on #571
The bucket name is in there. It is there on the above config I added as well

[2020-07-27 17:09] austintoddj commented on #571
Is your bucket actually called `BUCKET_NAME`? If not, this error `Aws\S3\Exception\S3Exception: Error executing "PutObject" on "https://s3.amazonaws.com/BUCKET_NAME/local/blog/images/u0sEb9Cv2gn8xv5Dqva2FDuNh4nkv2oywz4fJgws.png"
` is just not finding the correct path.

[2020-07-27 17:12] abishekrsrikaanth commented on #571
Well, I added `BUCKET_NAME` as an example here. But I have the actual bucket name on my config. The only thing I see as an issue is that the endpoint on the URL doesn't have the region and I am not sure why.

[2020-07-27 17:21] abishekrsrikaanth commented on #571
@austintoddj, also a note I wanted to add, I do have the rest of the app working perfectly with the S3 uploads. I do have Spatie Media Library Package and also Livewire uploads working perfectly with my current config settings. Just need to figure out why I can't get Canvas to upload.

[2020-07-27 17:23] abishekrsrikaanth commented on #571
@austintoddj, would the method call `storePublicly` cause this issue? Because S3 is restricted public access as AWS recommends and has these URL's working only through cloudfront?

[2020-07-27 17:24] abishekrsrikaanth commented on #571
OK, that's probably it. I updated that to just use `$file->store` and that worked. Any work around for this?

[2020-07-27 17:31] austintoddj commented on #571
That makes sense. Thanks for digging into that. Go ahead and send a PR in and I can get that into the next release.

Just want to verify that it can store in both public and private instances.

[2020-07-27 17:44] abishekrsrikaanth commented on #571
Sent PR. Look forward to the release

[2020-07-27 18:55] austintoddj commented on #571
Great, thanks for doing that @abishekrsrikaanth. Hoping to get a hotfix in there by tonight.

[2020-07-28 06:54] ArjunKishore commented on #779
can't wait for the new version release

[2020-07-28 13:14] austintoddj commented on #571
Fixed in [v5.3.10](https://github.com/cnvs/canvas/releases/tag/v5.3.10)

[2020-07-28 13:14] #571 closed

[2020-07-28 17:08] ryanpram opened #788 "Modify Slug post"
Hi how if i want to modify slug post with post title? for now the slug is using id which is not good for seo

[2020-07-28 18:15] austintoddj commented on #788
When editing a post, go to the General Settings option, and you can make the slug anything you'd like.

[2020-07-29 02:23] ryanpram commented on #788
Alright, i got it. Thankyou @austintoddj

[2020-07-29 13:27] austintoddj commented on #788
No problem, thanks for checking out the package!

[2020-07-29 13:27] #788 closed

[2020-08-03 03:06] asne11 opened #790 "404 errors in api requests and path issue"
![Screenshot_104](https://user-images.githubusercontent.com/69129049/89142021-e34a5700-d563-11ea-8276-3717d79a7eda.png)

Issue is path! the path should be **http://localhost/test/git_clone/public/canvas** but instead path is **http://localhost/cavas**  can't seem to find what's the issue! at first I thought there's issue with laravel-mix so tried changing mix to asset and moving css and js files t

[2020-08-03 14:22] austintoddj commented on #790
What are you trying to run or host this with?

[2020-08-04 09:07] asne11 commented on #790
xampp

[2020-08-04 09:08] asne11 commented on #790
also m using laravel 7! is it not compatible with laravel 7?

[2020-08-04 13:13] austintoddj commented on #790
It is compatible with Laravel 7. So based on your first comment, are you seeing the assets load, but not the api calls? Or simply nothing at all?

[2020-08-04 14:36] asne11 commented on #790
nothing at all! i tried providing actual path to app.js and app.css but then api 404 error started appearing and that url localhost/canvas opens ! instead it should have opened localhost/test/git_clone/public/canvas!!

[2020-08-04 17:12] austintoddj commented on #790
And just to verify, you did follow all the [installation steps](https://github.com/cnvs/canvas#installation) and it installed successfully?

[2020-08-05 02:39] asne11 commented on #790
yp!
3steps
-- composer require cnvs/canvas
--php artisan canvas:install
--php artisan storage:link

is there anything else i should have done?

[2020-08-05 02:40] asne11 commented on #790
also tried php artisan canvas:publish --force (read it one of the issue forums)

[2020-08-05 17:21] austintoddj commented on #790
Nope those are the only steps you'd need. Let me dig into this a bit more and see if I can see what's going on.

[2020-08-06 09:45] asne11 commented on #790
ok!

[2020-08-07 15:10] austintoddj commented on #790
Still unable to reproduce this. I'll post back here when I figure out more.

[2020-08-08 03:26] asne11 commented on #790
ok! will be waiting!

[2020-08-11 08:51] christopherokonkwo commented on #750
Has this feature been implemented yet?

[2020-08-11 13:55] austintoddj commented on #750
@christopherokonkwo Not yet. v6 is deep in development and includes a basic roles feature. With it, only Admin users will have the ability to access the /tags /topics pages. Global statistics is absolutely possible, but hasn't been implemented yet.

[2020-08-12 06:13] maotou316 opened #791 "Tag and Topic cant not use Chinese"
add tag or add topic can't use chinese
but first character use english is  success
![image](https://user-images.githubusercontent.com/28297458/89981160-fc5eb080-dca5-11ea-96f7-5a3b542145b2.png)
![image](https://user-images.githubusercontent.com/28297458/89981176-0680af00-dca6-11ea-9cd5-b65bb646ad07.png)

[2020-08-12 10:35] capricorn05 opened #792 "Embed Bootstrap snippets in the editor"
Is it possible to add raw html to the page through the editor and then change it.  For example Id like to add a bootstrap card layout to a blog post.

[2020-08-12 14:22] austintoddj commented on #792
Through the editor, you can embed pieces of code. So, you could drop in a Bootstrap card, and then you'd just have to make sure on the Frontend that you're pulling in the correct resources (ie. Bootstrap) to have it style correctly.

[2020-08-12 14:25] austintoddj commented on #791
This is a duplicate of #612

Closing this out so the conversation can be kept in one spot, but hopefully will get a fix in for this soon.

[2020-08-12 14:25] #791 closed

[2020-08-12 14:57] capricorn05 commented on #792
Yeah, I saw that option.  It quite messy as all spaces and indents cause the layout to be messed up.  I had to remove all spacing and indents and also manually add the images paths.  Its fine for me but for regular users it would be too difficult.  It would be ideal if there was a menu option that would allow you to add template and an option to view/edit the source.  Any plans for that

[2020-08-12 14:57] #792 closed

[2020-08-13 13:07] austintoddj commented on #792
When you say the spaces and indents get all messy, do you mean the editor itself? I do know what you mean, it's really just a textarea where you drop in the snippet, which isn't ideal. A full-fledged code editor type thing would be great, and if I come across one that fits our needs then I'd have no problem at all integrating it.

So, I'm on the lookout for one. Does that help?

[2020-08-17 20:41] christopherokonkwo opened #796 "Draft Posts"
I don't see option to get unpublished posts or draft. so when user writes a post and fail to publish it it goes into oblivion... the scope is there in the model but seems to not be there in frontend

[2020-08-17 20:58] christopherokonkwo commented on #796
I have seen it. Sorry for the false truth

[2020-08-17 20:58] #796 closed

[2020-08-20 09:20] Eptech-Danish opened #798 "Using scientific and mathematic notations in the editor"
I'm unable to figure out, how to use scientific notations in editor? if there is option please tell use case.
thanks

[2020-08-20 19:18] austintoddj commented on #798
Are you having trouble embedding code with scientific notations in the editor?

[2020-08-25 04:34] vonec commented on #779
any eta on this feature?

[2020-08-25 10:41] hoRacy opened #800 "Data too long for column 'agent' when firing PostViewed event"
Hello.
When i trying to fire:

event(new PostViewed($post));

Sometimes (usually at mobile devices) I got error like this.

SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'agent' at row 1 (SQL: insert into `canvas_views` (`post_id`, `ip`, `agent`, `referer`, `updated_at`, `created_at`) values (bd50dcc6-c38d-4155-8da2-95d8f3644887, 95.50.47.229, Mozilla/5.0 (iPhone; CP

[2020-08-25 13:39] austintoddj commented on #779
@vonec Hoping to have it out next month. Thanks for being patient.

[2020-08-25 16:41] austintoddj commented on #800
Thanks for bringing this up @hoRacy.

If you're up for making a PR, you could just add some logic in the:

- `CaptureVisit `
- `CaptureView`

.. event listeners that only saves trimmed data, such as the *host* from the referrer. If not, I'll take a look at this later today.

[2020-08-26 02:53] mikemand commented on #800
Hi @austintoddj,

I can confirm this is an issue. I have my database charset set as `utf8mb4`, so I run with `Schema::defaultStringLength(191);` in my `AppServiceProvider`'s `boot` method. This prevents filling string fields with more than 191 characters. I see now that this is only if you have an "older" MySQL version:

_From [Laravel Migration docs](https://laravel.com/docs/7.x/migrations#creati

[2020-08-27 06:45] rami0-4717 opened #804 "```suggestion"
[code]

_Originally posted by @rami0-4717 in https://github.com/austintoddj/canvas/pull/736#r478190963_

[2020-08-27 07:28] #804 closed

[2020-08-27 07:29] rami0-4717 commented on #804
Duplicate of #

[2020-08-28 17:19] hasanparasteh opened #806 "Add styles for right to left languages"
Hey I was using your packages which was great and I find out when I change locale to `fa` the dashboard theme and text won't change to RTL! so it came to my mind to add somehow this feature to your GitHub repository..
Is this feature is under construction or can I made that one for you?

[2020-08-28 18:04] austintoddj commented on #806
It's not in progress at this time, so if you want to submit a PR I'd be more than happy to take a look!

[2020-08-28 18:47] hasanparasteh commented on #806
OK, I'm on it

[2020-08-28 21:53] austintoddj commented on #779
@ArjunKishore Just to be clear, the feature that's added to the next release is a simple Admin flag that can be set on the meta data for a user. So, if someone is an Admin, they'll have permission to:

- Access global stats instead of just their own
- Access the Tags/Topics pages to manage the global taxonomy
- Access the Users page to make anyone else an Admin

If you're not an Admin, you'll only

[2020-08-29 02:00] vonec commented on #779
it would be great if we can extend the behavior in some way, editors can save drafts, but the publisher will have the ability to publish, this can be quite out of the scope of the base project. Not everyone would require this. Also, the ability to disable stats altogether would be great. Maintaining stats is an overload. so a flag on it would be great. Wish we can contribute a few PR's on to this.

[2020-08-29 12:59] austintoddj commented on #779
Thanks for the input @vonec. I do agree with you, and it may be out of the scope for this release to handle roles like that, but I'm not opposed to addressing it in a follow-up release.

One of the big enhancements to v6 is an integration with [GitPod](http://gitpod.io/). If you haven't used it before, it's absolutely free to make an account by logging in with Github. Once you've done that, check

[2020-08-31 08:30] capricorn05 opened #809 "Publish the vendor views"
Hi,
Is there a way to publish the vendor views for the back-end to integrate them into existing app?

[2020-08-31 12:00] austintoddj commented on #809
Are you trying to publish them so you'd be able to edit/modify the Vue components yourself?

There isn't a way to do that with the current setup, since doing that would make upgrade paths nearly un-manageable.

If there is something that you'd like to see integrated that isn't already in there, let me know and I'll do my best to get it in.

[2020-08-31 14:41] capricorn05 commented on #809
Hi,Thanks for getting back to me so quickly.  I was hoping to incorporate my existing left nav bar for the remainder of the app into the blog section.Could I create my own layout page and link to the canva app.js etc?Thanks

[2020-08-31 19:51] austintoddj commented on #809
Ah I see. Unfortunately, it isn't possible to make Canvas fit into existing layouts like that.

Wish I had a better answer for you. I will say that v6 is right around the corner and has some nice visual enhancements, so even though it won't sit in the layout of an existing app, it does look pretty nice :-)

[2020-09-02 06:59] ArjunKishore commented on #779
@austintoddj  Thanks for your reply, I do share @vonec's opinion. I prefer to have a review process before a content gets published. I will see if I can contribute as well, appreciate your efforts.

[2020-09-02 11:16] austintoddj commented on #779
@ArjunKishore @vonec

Since it's a shared opinion, I'll try and get this implemented. If you could, please detail out below, as specifically as you can, the expectations of this feature.

From where it stands right now, the app has **users** and it has **admins**. We can stick with that as being the _role_. Past that, what permissions and abilities do you see the need for?

[2020-09-02 14:52] vonec commented on #779
There are two things that i would like to see.

1. Review / Moderation
    a. User can save draft but cannot publish
    b. Admin reviews/edits the post and publishes it.

2. Stats should be disabled based on a flag on config. People generally use google analytics, and maintaining views is a database overhead.

[2020-09-03 03:05] ArjunKishore commented on #779
user has three different types of permission  Author, Publisher and Admin

**Author** has lowest level of access

- Add New Pages and content - and assign it to a publisher/admin for review
- Publish Content - No

**Publisher** has medium level access

- Can access all pages and drafts
- Can publish and un publish any pages

**Admin** has highest level of access

- Can access all pages and drafts

[2020-09-03 13:31] phrane opened #813 "Unsplash image not populated in custom frontend ( i.e. "featured_image" element is Null even though image saved on backend)"
Steps:
1. setup Unsplash integration via adding API key in canvas.php ( mine steps as follows:
 'unsplash' => [
        'access_key' => env('CANVAS_UNSPLASH_ACCESS_KEY', 'xxxxxxxxxxxxxxx_my_access_key_xxxxxxxxxxxxxxxxxxxxxxxxxxc'), ],  )

2. Create a blog on backend and add an image using the unsplash integration - i.e. select an image.

3. Image is shown on backend. Complete and save the blog.
4.

[2020-09-03 19:53] austintoddj commented on #813
So, the `featured_image` field has a value in the database, but it's not showing up when you try to render it in your custom frontend?

[2020-09-04 11:46] phrane commented on #813
Not quite. The "featured_image" field has a Null value in the database and was not rendering in the front end. Note, I was expecting the featured_image to appear in the body section of the post, and raised this issue because no images were rendering in the front end.

However, this morning following a reboot, unsplash images are rendering on the frontend body AND I have realised that the featured_

[2020-09-04 11:46] #813 closed

[2020-09-04 11:47] austintoddj commented on #779
Good thoughts @ArjunKishore @vonec, thanks for being clear with what you wanted to see in there. Since the admin role is currently already built into the develop branch, it shouldn't be too difficult to tweak the existing logic and allow for 3 roles.

The stats are going to remain as-is, just because it's an integral part of the project.

If you've got further thoughts on it, feel free to let me k

[2020-09-05 04:41] vonec commented on #779
is the stats are to be retained they shd be the secondary thing we should be doing, for a content writer like medium, the focus should be on content creation. kindly consider having the posts on top and stats on a  panel :)

[2020-09-06 12:16] NavaneethVijay commented on #800
Facing the same issue when opening the post links from instagram,  probably due to the web view from mobiles, when you select open in chrome the issue is not seen.

[2020-09-06 14:03] austintoddj commented on #800
@NavaneethVijay @hoRacy Getting a fix in now. Should be up in a few minutes.

[2020-09-06 14:08] austintoddj commented on #800
Fixed in [5.4.1](https://github.com/austintoddj/canvas/releases/tag/v5.4.1)

[2020-09-06 14:08] #800 closed

[2020-09-07 19:49] austintoddj commented on #779
Quick update for @vonec and @ArjunKishore and anyone else who follows this ;)

In the process of implementing some basic roles, it turned out to be far more economical to write an entire Auth system into the project. Going forward, we'll replace the `canvas_user_meta` table with `canvas_users` that can store all the login/meta/role information.

As it stands, we've got 3 roles:

- Contributor (som

[2020-09-07 22:14] vonec commented on #779
wow ... waiting to test it

[2020-09-08 13:18] ArjunKishore commented on #779
@austintoddj Thanks a lot, really looking forward to it.

[2020-09-11 04:31] mm11jb opened #832 "Image enhancements in the editor"
The images added can be huge and always aligned center.

Could you add backend fields to set the image height, width and alignment?

[2020-09-11 12:31] austintoddj commented on #832
Would love to have that type of functionality built into it. With the v6 release coming up, I can't dedicate time to it right now, but I'm open to looking into this in the future. There are other editors out there that I'd consider building into Canvas, such as:

- [Dante](https://michelson.github.io/dante2/)
- [TipTap](https://tiptap.dev/)

[2020-09-14 16:42] austintoddj commented on #628
Closing since the original question has been answered.

[2020-09-14 16:42] #628 closed

[2020-09-14 16:43] #760 closed

[2020-09-14 16:43] austintoddj commented on #790
@asne11 Have you had this particular issue with the latest version?

[2020-09-14 16:45] austintoddj commented on #681
I like the idea of this, but it's not something that I plan to build in the near future. Thanks for the suggestion though!

[2020-09-14 16:45] #681 closed

[2020-09-14 16:46] austintoddj commented on #693
Closing this unless more help is needed.

[2020-09-14 16:46] #693 closed

[2020-09-14 16:47] #809 closed

[2020-09-14 16:48] austintoddj commented on #655
Closing this for now. If you submit a PR I'd be more than happy to take a look.

[2020-09-14 16:48] #655 closed

[2020-09-14 17:01] austintoddj opened #837 "Editor enhancements"
While [Quill.js](https://quilljs.com/) is a powerful tool with great editing capabilities, it'd be helpful to have other options when it comes to an editor. Some of the viable packages we could include here are:

- [TipTap](https://tiptap.dev)
- [Dante](https://michelson.github.io/dante2)

I'm sure there are more. This at least gets us started on ways to improve the editing experience with Canvas.

[2020-09-14 17:02] austintoddj commented on #472
Closing this to consolidate all editor enhancements under https://github.com/austintoddj/canvas/issues/837

[2020-09-14 17:02] #472 closed

[2020-09-14 17:02] austintoddj commented on #541
Closing this to consolidate all editor enhancements under https://github.com/austintoddj/canvas/issues/837

[2020-09-14 17:02] #541 closed

[2020-09-14 17:02] austintoddj commented on #642
Closing this to consolidate all editor enhancements under https://github.com/austintoddj/canvas/issues/837

[2020-09-14 17:02] #642 closed

[2020-09-14 17:02] #542 closed

[2020-09-14 17:03] austintoddj commented on #740
Closing this to consolidate all editor enhancements under https://github.com/austintoddj/canvas/issues/837

[2020-09-14 17:03] #740 closed

[2020-09-14 17:03] austintoddj commented on #798
Closing this to consolidate all editor enhancements under https://github.com/austintoddj/canvas/issues/837

[2020-09-14 17:03] #798 closed

[2020-09-14 19:41] asne11 commented on #790
haven't tried it yet!

[2020-09-17 02:16] thenexxuz opened #839 "Laravel 8 Support"
On a fresh install of Laravel 8.x I am getting the following error:
[code]

[2020-09-17 03:40] thenexxuz opened #840 "HTML5 video support"
Have the ability to upload various types of videos (mp4, webm, ogv, etc) or provide a URL to a video but also allow live streaming URLs like HLS or RTMP. Having just a simple `<video>` tag with the `<source>` tag would be all that is needed and could be styled easily on the UI side.

[2020-09-17 05:02] mm11jb commented on #832
Dante appears to be more feature rich but TipTap is Vue based. Hard call, but I don't think Canvas needs too many more features in the editor. Just some basic improvements such as this.

[2020-09-17 11:35] austintoddj commented on #839
@thenexxuz Support for Laravel 8 is rolling out in v6, which is due in the next couple days. Keep an eye on the repo!

[2020-09-17 11:38] austintoddj commented on #832
I agree. Once v6 is out, I can start looking into enhancing the editor.

Closing this out to keep everything "editor-related" in one spot here: https://github.com/austintoddj/canvas/issues/837

[2020-09-17 11:38] #832 closed

[2020-09-18 19:25] hexpit opened #842 "How to add rules to individually define image size for featured image?"
I dont understand vue. I want to define rule for image size only in featured image upload option. How to achieve this?

[2020-09-18 20:56] austintoddj commented on #842
Are you just trying to size it differently on the frontend? From the editor itself, the featured image is nothing more than a path to the image. You can define the size however you'd like on the public-facing side.

[2020-09-19 12:56] hexpit commented on #842
Every user is free to upload featured image with his own choice and it will create an impact on frontend presentation. I want it to be done by validation rules without touching the package itself. Please help me out.

[2020-09-19 13:04] austintoddj commented on #842
There's really no need for validation rules, since the presentation of the post and its featured image are handled outside of this package. If you're referring to images _within_ the editor, then yes, this package handles them.

[2020-09-19 17:55] phrane opened #843 "uploaded images are not displaying on canvas studio frontend (on my hostgator site)"
Description:
On local ubuntu dev machine: After installing canvas and canvas studio in my application, and creating a blog post with featured image uploaded and everything is fine, images are displayed on frontend.

Hostgator webhost: After git cloning my site across to hostgator, my blog entry no longer displays uploaded images. No alteration to the canvas.php is made from default settings.
Note,

[2020-09-21 01:05] austintoddj commented on #843
So the images stored in `public/storage` are going to ignored when performing a git clone. I'm assuming this is the issue, just from not seeing the entire setup myself.

A quick fix would be to get the `public/storage/canvas/` directory over to your hosted app, and then all the paths should be linked up since you already ran the `storage:link` command.

[2020-09-21 11:26] austintoddj commented on #839
Added in [v6.0.0](https://github.com/austintoddj/canvas/releases/tag/v6.0.0)

[2020-09-21 11:26] #839 closed

[2020-09-21 11:26] austintoddj commented on #806
Added in [v6.0.0](https://github.com/austintoddj/canvas/releases/tag/v6.0.0)

[2020-09-21 11:26] #806 closed

[2020-09-21 11:26] austintoddj commented on #779
Added in [v6.0.0](https://github.com/austintoddj/canvas/releases/tag/v6.0.0)

[2020-09-21 11:26] #779 closed

[2020-09-21 11:27] austintoddj commented on #768
Fixed in [v6.0.0](https://github.com/austintoddj/canvas/releases/tag/v6.0.0)

[2020-09-21 11:27] #768 closed

[2020-09-21 11:27] austintoddj commented on #716
Added in [v6.0.0](https://github.com/austintoddj/canvas/releases/tag/v6.0.0)

[2020-09-21 11:27] #716 closed

[2020-09-21 11:27] austintoddj commented on #750
Added in [v6.0.0](https://github.com/austintoddj/canvas/releases/tag/v6.0.0)

[2020-09-21 11:27] #750 closed

[2020-09-21 11:27] austintoddj commented on #687
Added in [v6.0.0](https://github.com/austintoddj/canvas/releases/tag/v6.0.0)

[2020-09-21 11:27] #687 closed

[2020-09-21 19:39] Catbirby opened #845 "Artisan file missing (Could not open input file: artisan)"
I'm not deathly familiar with Laravel, but it seems like `composer require austintoddj/canvas` Doesn't seem to supply any artisan file anywhere. The same applies to the various other composer commands I've found. (I.E. `composer create-project --prefer-dist austintoddj/canvas blog`)

I'm unsure if I'm missing something that is usually a given with deploying Laravel projects or if there's something

[2020-09-21 20:23] austintoddj commented on #845
No worries, glad you're checking it out!

So, this is a package that fits _in_ a Laravel app. Go ahead and follow the [official instructions](https://laravel.com/docs/8.x/installation) to get an app up and running, and then follow along with the Canvas [installation instructions](https://github.com/austintoddj/canvas#installation).

Let me know if you need any more help with it!

[2020-09-21 20:24] #842 closed

[2020-09-21 20:25] austintoddj commented on #843
Let me know if you have any further questions on it.

If you do run into more issues, go ahead and file any relevant bugs [here](https://github.com/austintoddj/studio/issues).

[2020-09-21 20:25] #843 closed

[2020-09-21 20:26] austintoddj commented on #712
@albertoelias123 Are you able to confirm this bug still exists for you in v6.0.0?

[2020-09-21 21:18] albertoelias123 commented on #712
Yes, I can, on the weekend I will test this and give you feedback right here

[2020-09-22 06:32] phrane commented on #843
Hey Todd, thanks for getting back.
Still doing some further investigations on my setup/config which is likely the issue. Will loop back if i have further problems.

Note, If i manually create and save files to ~/www/storage/canvas/images then images and avatar display, but files are  saved here: ~/www/storage/app/public/canvas/images/ which is not being picked up.

Hostgator dictates that root lar

[2020-09-22 11:22] austintoddj commented on #843
I'll help out however I can, let me know what you find.

[2020-09-22 14:55] Catbirby commented on #845
Perfect, thank you!
I was able to get canvas itself working and verified I could post and make multiple user accounts, etc. But I also attempted to install Studio and have seemed to hit another snag and I feel as if it might be another simple mishap or configuration error on my part.
`
   UnexpectedValueException

  Invalid route action: [Studio\ViewController].

  at vendor/laravel/framework/src/

[2020-09-22 15:55] austintoddj commented on #845
Glad you got it working!

Did the Studio install process succeed like it should?

[2020-09-22 17:04] Catbirby commented on #845
Yep, it all seemed to install fine from everything I could tell, including npm install and npm run dev

[2020-09-22 17:35] austintoddj commented on #845
Do you see the proper routes for Studio in the `routes/web.php` file?

Also, what version of PHP are you currently running this on?

[2020-09-22 17:45] Catbirby commented on #845
My routes file is set to the default and I'm assuming that it should be fine(?)
[code]

Php version is
[code]

[2020-09-22 18:19] austintoddj commented on #845
And then just verifying, the `Studio/ViewController` does exist, correct?

[2020-09-22 18:26] Catbirby commented on #845
My apologies, I'm not sure I understand, would this be a line found in a file, or am I looking for a directory. I posted the full web.php file above.

[2020-09-22 19:13] austintoddj commented on #845
No worries, here to help.

So when installing Studio, you should have a new controller in `app/Http/Controllers/Studio/` called `ViewController.php`. Do you see that file?

[2020-09-22 19:16] Catbirby commented on #845
Yep! I do see that file there
ViewController.php
[code]

[2020-09-22 19:33] austintoddj commented on #845
Interesting. Ok, could you try running: `composer dumpauto`

Wonder if it just needs to load the classes.

[2020-09-22 19:34] Catbirby commented on #845
Running that still gets me the same error with the "Studio\ViewController was not found. . ."

[2020-09-22 20:53] austintoddj commented on #845
Hm, let me take a look tonight and get back to you.

[2020-09-22 21:26] Catbirby commented on #845
Awesome, thanks for all of your help with this!

[2020-09-22 21:48] austintoddj commented on #845
Ok, got it figured out.

Unfortunately, Studio didn't as much upgrade love as Canvas did. Either way, the route entry you listed above:

[code]

should add the namespace like this:

[code]

Also, change line 41 of `resources/js/studio/components/Navbar.vue` from this:

[code]

to whatever login URL you have for Canvas (defaults to `/canvas/login`):

[code]

That should fix the issue. I'll get some

[2020-09-22 22:22] Catbirby commented on #845
That seemed to let me start the artisan server and visit Studio. There are still a couple of issues though, I don't see any of my published posts in the landing page nor on the topic page under the assigned topic (though I can see newly created topics and tags.)

[2020-09-23 00:57] austintoddj commented on #845
Ok, let me take a look and see what I can do.

[2020-09-23 09:29] ATholin opened #846 "[^6.0] “Squashed” migration file causes QueryException on existing project."
After ^6.0, the migrations are "squashed" to a single file. This file is considered "new" to projects that used the old (now deleted) migration files. It will try to migrate the new migration, throwing a QueryException:

_"SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'canvas_posts' already exists"_, since they are already created.

I'm not sure what the appropriate fix for this w

[2020-09-23 09:34] ATholin commented on #846
I now see you've added an [upgrade guide](.github/UPGRADE.md), which probably solves this issue. Closing this.

[2020-09-23 09:34] #846 closed

[2020-09-23 14:35] austintoddj commented on #845
@Catbirby After digging into this more, I'm going ahead and re-working Studio as a whole.

I'll get this out in the next release, so keep an eye on the repo!

[2020-09-23 15:21] Catbirby commented on #845
Will do, I look forward to it, and can't wait!

[2020-09-25 13:34] austintoddj commented on #845
@Catbirby Ok, just pushed a new version that removes Studio altogether and refactors it into an Artisan command within this repo. Check out the installation instructions here and let me know if you run into any problems with it!

https://github.com/austintoddj/canvas#frontend

[2020-09-25 16:04] Catbirby commented on #845
I was able to get Canvas updated and the UI installed with no errors, but I'm not really sure where to go from here, like where to configure the path for the front end or any default paths users can use to access it.

[2020-09-25 16:24] Catbirby commented on #845
Scratch that, I was able to find the path to canvas UI in the web.php file. It seems to work great!

[2020-09-25 17:02] Catbirby commented on #845
So if I were interested in putting the UI on my base domain (which I am) how would I go about doing that

[2020-09-25 17:40] austintoddj commented on #845
To do that, you'll need to update a few things.

Remove any existing routes in `web.php` and put these in their place:

[code]

Change line 48 of `js/canvas-ui/routes.js` from:

[code]

to this:

[code]

Change line 25 of `js/canvas-ui/mixins/base.js` from this:

[code]

to this:

[code]

Then, re-compile the assets:

[code]

[2020-09-25 19:18] Catbirby commented on #845
Perfect, that worked like a charm, thanks

[2020-09-25 23:11] austintoddj commented on #845
You're welcome! Hope it serves you well!

[2020-09-28 08:01] mukarramkhalid opened #851 "Not working with Laravel 8 Jetsream + Fortify"
Hi,

I installed Laravel 8 with Jetstream which uses default database session driver out of the box.

It creates a `sessions` table having `user_id` column with type BigInt.

As soon as I login to mydomain.com/canvas/login, I get the following error.

[code]

Is this package not supported with Jetstream/Fortify yet, or am I missing something?

Thanks.

[2020-09-28 11:42] austintoddj commented on #851
Canvas supports Laravel 6/7/8. It shouldn't hit anything other than it's own tables in the database.

I haven't tried Laravel Jetstream or Fortify yet. Is there any way, in your `routes/web.php` or `RouteServiceProvider` to exclude routes from hitting Jetstream/Fortify?

Since Canvas uses its own authentication system, it should really be a standalone entity, separated from the rest of the applica

[2020-09-28 13:19] #845 closed

[2020-09-28 13:23] austintoddj commented on #840
Added this to the list of feature requests, closing this to keep editor enhancements consolidated here: https://github.com/austintoddj/canvas/issues/837

[2020-09-28 13:23] #840 closed

[2020-09-28 13:25] austintoddj commented on #685
I like the idea, but I'm not planning on integrating this into the package right now. Thanks though @armancodes!

[2020-09-28 13:25] #685 closed

[2020-09-28 13:26] austintoddj commented on #732
Added this to the list of feature requests, closing it to keep editor enhancements consolidated here: https://github.com/austintoddj/canvas/issues/837

[2020-09-28 13:26] #732 closed

[2020-09-28 13:29] austintoddj commented on #519
Closing this because I don't see enough use-cases to build relationships between tags/topics. They work as intended. If you feel differently, feel free to let me know.

[2020-09-28 13:29] #519 closed

[2020-09-28 17:05] thenexxuz commented on #837
For the link customization, can the target also be specified please.

[2020-09-28 20:51] Edgarborras94 commented on #851
Yep, happened something similar to me,
Laravel 8 latest
Jetstream + livewire latest
Fresh install

[code]

Something tries to add a session to the canvas user and then fails 🤔

I will update shortly

[2020-09-28 20:58] austintoddj commented on #851
Do you have any route middleware other than `web` in `config/canvas.php`? The only thing I can think of is a default `auth` being applied to Canvas, in which case it's not needed.

[2020-09-28 21:08] Edgarborras94 commented on #851
Nope, only `web` in the array. Modified the ID column in the database to integer and now works. Seems funny that behaves different on each one... 🤔

Update with more info:
![image](https://user-images.githubusercontent.com/6952403/94486079-2e3cbf80-01df-11eb-8fd4-378d487a1e93.png)
It actually creates a session (but without user_id obviously)

The problem starts with this middleware: `Illuminate\Se

[2020-09-28 21:11] Edgarborras94 commented on #851
[code]
Gotcha! the `StartSession` Middleware is inside the `web`middleware group!

[2020-09-28 21:24] austintoddj commented on #851
So, I wonder if you make a new middleware group, call it `canvas`, add any necessary middleware and exclude Jetstream, and add it to the config/canvas.php file, if that would allow it to work with UUIDs?

[2020-09-28 21:32] Edgarborras94 commented on #851
Tried removing one by one, resulting in removing every middleware except `SubstituteBindings` and errors occurs:

[code]
I'm don't have enough knowledge of laravel core to try to fix this... maybe we can disable sessions in anyway?
This seems tricky u.u

[2020-09-28 21:33] austintoddj commented on #851
Let me see what I can do.

[2020-09-28 22:04] austintoddj commented on #851
So the workaround that I found to work was to change the following line in the `.env` file from:

[code]

to:

[code]

If anyone else knows of a better fix, let me know. But this at least gets the packages playing nicely together.

[2020-09-29 02:53] secrethash commented on #837
Dante looks great. Better than Quill.js

[2020-10-01 11:13] mrcrandell commented on #837
For enhancements to the editor, I'd like to see a "clear formatting" button. This would be especially useful when toggling the "code block" button as some words/characters keep special formatting.

[2020-10-02 01:07] jhoskins98 commented on #851
Quick note - The session table (in MySQL) is configured in as a BigInt.  Changing it to a Char/String makes it function with both Laravel and Canvas login.  Seems like the file used for session accepts both UUID (Canvas) and BitInt (Laravel) for user_id and by having two different types of logins keeps them separate.  Looking at the session database while logging in and out of the two sides, there

[2020-10-02 11:44] austintoddj commented on #851
Good catch @jhoskins98. I'll close this out @mukarramkhalid since it seems to be resolved with the above solutions, but if you run into anything else feel free to open another issue.

[2020-10-02 11:44] #851 closed

[2020-10-02 11:47] austintoddj commented on #790
Closing this out since it's been 3 weeks with no further information. If the problem still exists, let me know.

[2020-10-02 11:47] #790 closed

[2020-10-02 15:34] daltonsutton opened #855 "Image Uploads Fail on when domain/subdomain is set"
I've noticed that when I set the domain in the canvas.php config file, image uploads don't seem to work for me. I've tried both local and S3. However, when I set that back to null and use the path instead, image uploads work.

[2020-10-02 15:48] austintoddj commented on #855
Is this happening when you change both the domain and subdomain, or just one without the other?

[2020-10-02 17:33] daltonsutton commented on #855
It happens when I set the domain to "admin.canvas.test" and set the path to just simply, "" - an empty string.

[2020-10-02 18:22] austintoddj commented on #855
I'll see if I can get this fixed by tonight or tomorrow @daltonsutton.

[2020-10-02 19:24] daltonsutton commented on #855
Thanks @austintoddj, mostly just wanted to report it, I'm not in any rush. Great work with Canvas!

[2020-10-04 16:26] #855 closed

[2020-10-04 16:32] austintoddj commented on #855
Fixed in https://github.com/austintoddj/canvas/releases/tag/v6.0.5

[2020-10-06 18:12] sahil1572 commented on #837
Thumb generation option must be there for featured images , with 10 post each 3 MB its taking 30 MB to load in canvas-UI

[2020-10-07 01:00] austintoddj commented on #837
@sahil1572 Could you expand on that a bit more? Just want to make sure I know what you're getting at.

[2020-10-07 12:28] sahil1572 commented on #837
![image](https://user-images.githubusercontent.com/5916432/95330629-6ff7f500-08c6-11eb-91da-241b25dfb67d.png)
these images on home page category and tag listing pages  need to be cropped as they are being served in full size .

[2020-10-07 13:25] sahil1572 opened #859 "session conflict with Laravel jetstream insalled on Laravel 8"
i have installed **_Laravel /jetstream_** with
php artisan **jetstream:install livewire** --teams  ,
Now my canvas has stopped working , i think session are conflicting in same way in both of them

this is the error i'm getting now why submit login form on canvas
`SQLSTATE[22007]: Invalid datetime format: 1366 Incorrect integer value: 'f1f2ef68-b808-4902-ad34-db7653ea34d8' for column `mydb`.`sessi

[2020-10-07 14:29] austintoddj commented on #859
You can find some clarification and workarounds in this issue: https://github.com/austintoddj/canvas/issues/851

[2020-10-07 14:29] #859 closed

[2020-10-10 22:25] GigaMick opened #860 "Is this the same as cnvs/canvas"
I was on version 4 of cnvs/canvas and in trying to update I'm brought here. Is this the same package?

Thanks

[2020-10-10 23:06] GigaMick opened #861 "Target class [Canvas\Http\Middleware\ViewThrottle] does not exist."
Getting the above error when navigating to a post.

No idea what to do to fix it.

Please help 🙏

[2020-10-11 09:50] #860 closed

[2020-10-12 00:55] austintoddj commented on #861
So the `ViewThrottle` middleware name changed to `Session`. If you check the [latest releases](https://github.com/austintoddj/canvas/releases) you'll see there have been a number of changes since that happened.

Check out the [upgrade guide](https://github.com/austintoddj/canvas/blob/master/.github/UPGRADE.md) and see the steps to bring your installation up to the latest.

Let me know if you have

[2020-10-12 00:55] #861 closed

[2020-10-12 20:12] GigaMick commented on #861
Hi Thanks for the reply. I appreciate it.

I think I upgraded in a really crazy way. I removed completely canvas/canvas (I was on version 4.something) and then installed the latest austintoddj/canvas. I managed to work out a lot of that upgrade guide by myself but the viewthrottle thing is killing me. I can't find it referenced anywhere!

Here is my stack trace:
https://flareapp.io/share/DPyL1VRm#

[2020-10-13 09:58] JeremyChb opened #862 "UUID not compatible with users table"
SQLSTATE[01000]: Warning: 1265 Data truncated for column 'user_id' at row 1 (SQL: update `sessions` set `payload` = [...], `last_activity` = 1602582982, **`user_id` = 31a80d8f-086c-4289-b6ed-e467cf041c9d**, `ip_address` = ::1, `user_agent` = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36 where `id` = fS7SZ2ZbvoTXqtQuiHb3HtikPguzX

[2020-10-13 11:32] austintoddj commented on #862
This is a conflict because of integrating Jetstream. You'll be able to find some clarification and workarounds in this issue: https://github.com/austintoddj/canvas/issues/851

[2020-10-13 11:32] #862 closed

[2020-10-13 11:48] JeremyChb commented on #862
An other solution would be to use https://github.com/goldspecdigital/laravel-eloquent-uuid to override User model and the migrations user & session tables to use UUID in the core laravel project.
Just tested and works great

[2020-10-13 12:52] austintoddj commented on #862
Awesome, thanks @JeremyChb. I'll update the workaround in #851 so this is another option for people.

[2020-10-13 12:54] JeremyChb commented on #862
I still have a problem but can't find if it's linked to that or not.
In the setup part I'm not able to change de locale or the light/dark theme, the route called doesn't contain /canvas :
![image](https://user-images.githubusercontent.com/13405982/95863078-0b281900-0d64-11eb-926c-66348534a870.png)

[2020-10-13 12:55] JeremyChb commented on #862
The link called looks like http://domain/api/users/4252d1c2-eb38-4da5-bf9e-826cfe5c6207

[2020-10-13 12:56] austintoddj commented on #862
Actually came across that bug myself this morning. Pushing a fix in just a bit here.

[2020-10-13 12:57] JeremyChb commented on #862
Oh nice ! Thank you ! So if it's not linked, the workaround with the package I mentioned above is definetly a good solution

[2020-10-13 12:58] austintoddj commented on #862
I added a little snipped in the comment on the issue and dropped your fix in there. Hope it helps some others get past the issue!

[2020-10-13 13:00] JeremyChb commented on #862
Maybe it's something you can put directly in the readme, as it seems to be a problem for many people

[2020-10-13 13:17] JeremyChb commented on #862
I'll later, have to go. But I'll let you know for sure !
Also, do you want me to provide good translations for french ? They are not correct currently.

[2020-10-13 13:24] austintoddj commented on #862
That would be fantastic! Since I have to rely on Google Translate for getting these in the app, I'll absolutely defer to someone who actually knows the language more.

[2020-10-13 16:43] JeremyChb commented on #862
OK I'll do it.

Regarding the previous bug, it's not fixed on my side. Not fully at least. It's OK for the first http calls (posts to users on my scrrenshot) but not for the last red line (happens when I want to change a parameter in the setup page)

[2020-10-13 16:56] austintoddj opened #863 "Settings modal UX"
~Currently, the custom events that were changed in https://github.com/austintoddj/canvas/commit/b96a89bccdea4fbb0906a60df5a786289c9df1f6 are not correctly caught in the parent component based on case sensitivity.~

When creating a new post and assigning a tag/topic prior to any other action the following errors occur:

- Modal drops and the page refreshes to the `edit-post` component (modal should

[2020-10-13 16:57] austintoddj commented on #862
There is an active bug out there right now, dealing with saving posts. #863 details the problems, and I'll try and get them patched tonight.

[2020-10-13 17:00] JeremyChb commented on #862
Ok ! Will let you know for the translations when it's done

[2020-10-13 19:26] JeremyChb commented on #862
Pull request is alive !

[2020-10-13 19:44] JeremyChb commented on #837
In addition to scientific syntax, it must me awesome to allow the integration of nice tables and charts (chart.js could be awesome for that : https://github.com/chartjs/Chart.js)

[2020-10-13 20:43] austintoddj commented on #862
Fantastic, thanks!

[2020-10-17 08:22] JeremyChb commented on #862
Any news about the routes bug we talked above ?

[2020-10-17 12:13] austintoddj commented on #862
@JeremyChb After updated by and publishing the assets, it still persists?

[2020-10-17 12:33] austintoddj commented on #862
Are you defining paths in your `.env` file for Canvas?

[2020-10-18 09:19] SystemAdm opened #867 "Sign out."
I can't sign out properly in Laravel 8.1
The page is reloading when I click the link, but I'm still logged in.
![canvas](https://user-images.githubusercontent.com/5839296/96363377-3def5a00-1134-11eb-9acb-03beda1159c2.png)

[2020-10-18 13:35] austintoddj commented on #867
What does the network tab look like if you have that open when you try and logout?

And do you have any paths defined for Canvas in your `.env` file?

[2020-10-18 14:32] #867 closed

[2020-10-18 14:35] austintoddj commented on #867
Thanks for bringing this up @SystemAdm. Let me know if you have any more issues.

[2020-10-18 15:44] hexpit opened #868 "Migrate Fresh deletes default user installed with canvas:install command"
Migrate Fresh deletes default user installed with canvas:install command

[2020-10-18 16:25] austintoddj commented on #868
You're right. Haven't actually run into that issue myself.

I'm not sure there's a good way around that since in a production environment, you wouldn't be running the `migrate:fresh` command anyway.

The `canvas:user` command that's built into the project is available however to make a new user on the fly if need be.

[2020-10-20 08:15] junoir opened #869 "Command "canvas:ui" is not not defined"
![php artisan canvas ui](https://user-images.githubusercontent.com/4056213/96563539-57261100-12c2-11eb-9944-8093cf509c90.png)
I got this error after I did a fresh install of laravel and canvas. after i linked storage and run command php artisan canvas:ui i get error  canvas:ui is not defined

[2020-10-20 11:51] austintoddj commented on #869
@junoir Can you verify what version of Canvas/Laravel you're using?

[2020-10-20 12:10] junoir commented on #869
im using "austintoddj/canvas": "^5.4", and
laravel "laravel/framework": "^7.24",

[2020-10-20 12:44] austintoddj commented on #869
Thanks for that info.

So the `canvas:ui` command was re-introduced into the project in [v6.0.2](https://github.com/austintoddj/canvas/releases/tag/v6.0.2). If you go ahead and follow [this upgrade path](https://github.com/austintoddj/canvas/blob/master/.github/UPGRADE.md#upgrading-to-600-from-54), you'll have access to the command.

If you have any questions while going about it, feel free to rea

[2020-10-20 12:44] #869 closed

[2020-10-20 12:44] #868 closed

[2020-10-21 04:19] thewebartisan7 commented on #749
@austintoddj sections in readme seem removed

[2020-10-21 11:48] austintoddj commented on #749
@thewebartisan7 Which section do you need clarification about? The readme has changed, yes, but that's just due to the fact that the app has evolved.

[2020-10-21 13:56] thewebartisan7 commented on #749
Yes I remember that time ago there was some basic docs about frontend, but now seem missing completely. I remember there was some controllers example. Basically I need to create all controllers, views and routes by using only canvas models?

[2020-10-21 15:55] austintoddj commented on #749
@thewebartisan7 So, on the latest version of Canvas when you run the `canvas:ui` command, a controller stub will be generated for you and dropped in your `app/Http/Controllers` directory. Take a look at that controller, or check out the stub itself here: https://github.com/austintoddj/canvas/blob/master/resources/stubs/controllers/CanvasUiController.stub

The routes/views/controller are all genera

[2020-10-21 17:25] thewebartisan7 commented on #749
Perfect that was exactly what I was looking for. Thank You

[2020-10-22 13:49] tosettil-polimi opened #872 "Is it possible to publish the backend admin code?"

[2020-10-22 14:09] austintoddj commented on #872
Unfortunately, no. If there's something you'd like to see added feel free to [add a feature request](https://github.com/austintoddj/canvas/issues).

Or, check out the [contribution guide](https://github.com/austintoddj/canvas/blob/master/.github/CONTRIBUTING.md#setup) to add anything you like. Then, submit a PR and I'll gladly review it!

[2020-10-22 14:09] #872 closed

[2020-10-29 16:03] ediblemanager opened #875 "Statistics aren't correct after upgrading to v6"
Having moved from 5.3 -> 5.4 without hitch, I then proceeded to follow the guide for upgrading to version 6. I firstly did this locally (which worked fine), then on our production server...and this is where things went awry with the stats (everything else seems OK).

2 images: the first from 5.4, showing the visits for a post. The second the same post, after upgrading to v6.
![Screenshot 2020-10-2

[2020-10-29 16:17] #875 closed

[2020-10-30 20:14] christopherokonkwo opened #878 "Canvas keeps redirecting when canvas domain is set"
When I set subdomain in canvas config, the canvas-ui works fine but the /canvas keeps redirecting to /subdomain/stats instead of  /stats.
Example if subdomain is` blog.example.test` then it keeps redirecting to `https://blog.example.test/blog.example.test/stats`

[2020-10-30 20:29] austintoddj commented on #878
First, you should add the `CANVAS_DOMAIN` variable to your `.env` file.

Second, is your subdomain defined as a fully qualified URL? (ie. http:// or https://)

[2020-10-30 21:19] christopherokonkwo commented on #878
My subdomain is not fully qualified URL.

[2020-10-30 21:23] austintoddj commented on #878
If you use a fully qualified URL in the `CANVAS_DOMAIN` variable, does the issue resolve?

[2020-10-30 21:27] christopherokonkwo commented on #878
[code]

[2020-10-30 22:03] christopherokonkwo commented on #878
Now above fix works with the assumption that on sub domain theirs no need for `config('canvas.path')` and hence set to null.
But after further testing, I found out that `config('canvas.domain')` is not necessary in this function
[code]

[2020-10-30 22:16] christopherokonkwo commented on #878
Also I think that the docs should reflect that `config('canvas.path')` can be set to null if you don't want a prefix to your canvas route.

[2020-10-31 00:45] austintoddj commented on #878
Thanks for providing that. I'd be more than happy to review a PR if you'd like to submit one, I think it'd be a helpful change.

[2020-10-31 06:36] christopherokonkwo commented on #878
Alright then. I'll do that.

[2020-11-01 07:48] blankRSD opened #879 "Change of user when admin publishes the post"
### Basic Info
- Laravel v8
- Canvas v6
---
### Description
A contributor writes a post and saves it as a draft. Once the admin reviews the post and publishes it, the user for the post changes from the contributor to the admin. The contributor then no longer can see the post in his posts section.

I believe this error is due to the following line in `src/Http/Controllers/PostController.php` line n

[2020-11-01 09:04] blankRSD opened #880 "Editor is unable to publish the post"
### Basic Info
- Laravel v8
- Canvas v6
---
### Description
An editor is unable to publish the post written by the contributor. The error can be seen in the console as follows:
![image](https://user-images.githubusercontent.com/24247542/97797827-38bb0080-1c46-11eb-8d1d-53e2dbb6ac05.png)

I believe the error is due to the following condition in the `store` method in `src/Http/Controller/PostControl

[2020-11-01 13:59] austintoddj commented on #879
Yep, you're right. I'll get a fix out for this shortly.

[2020-11-01 16:14] austintoddj commented on #880
I'll get this fixed shortly.

[2020-11-01 16:15] #879 closed

[2020-11-01 16:15] #880 closed

[2020-11-05 23:27] tozeka commented on #749
the route to frontend is localhost/canvas-ui/{example}, but i tried to remove the "canvas-ui" to be like localhost/{example} without success.
In routes i tried to remove Route::prefix('canvas-ui') .

What i have to do?
Thanks

[2020-11-06 19:02] austintoddj commented on #749
@tozeka I think #878 could give a bit more context to your issue.

[2020-11-12 16:14] JeremyChb opened #890 "Laravel debugbar breaks image uploads"
After uploading the image, saving request get a 500 internal server error :

![image](https://user-images.githubusercontent.com/13405982/98965289-2b392c80-250a-11eb-8a13-3f1c286d6e0d.png)

Seems like instead of only the image path the request try to save a lot of html
![image](https://user-images.githubusercontent.com/13405982/98965404-4ad05500-250a-11eb-8865-9f582dabd26a.png)
it continues like th

[2020-11-12 18:19] austintoddj commented on #890
Not able to replicate this on my end. Is there anything special about your setup that may be different from the steps in the Readme?

[2020-11-12 18:39] JeremyChb commented on #890
Not at all.

I tried on drag and drop or click to select a file and that's the same result :

![image](https://user-images.githubusercontent.com/13405982/98981775-b4f2f500-251e-11eb-82dc-7c5e84d492b8.png)

The value set ont the field is broken.
I'm using the last version of Canvas.

[2020-11-12 20:19] JeremyChb commented on #890
I found how to fix.

The problem is located there :
![image](https://user-images.githubusercontent.com/13405982/98991716-867c1680-252c-11eb-9cdd-45a6ff539628.png)
With that syntax nothing ensure that there'll not be any layout or something else added.

I suggest to replace that by :
![image](https://user-images.githubusercontent.com/13405982/98991826-add2e380-252c-11eb-94b5-9713dcf3ea7a.png)

It's

[2020-11-12 21:10] austintoddj commented on #890
What browser are you experiencing this in? Since I haven't seen this before, I'm just wondering what's trying to attach all that extra code.

[2020-11-13 09:00] JeremyChb commented on #890
Last version of google chrome.

Laravel 8 with these packages :

https://github.com/barryvdh/laravel-ide-helper
https://github.com/barryvdh/laravel-debugbar
https://github.com/l-lin/font-awesome-animation
https://github.com/blade-ui-kit/blade-ui-kit
https://github.com/goldspecdigital/laravel-eloquent-uuid
https://github.com/spatie/laravel-view-models

[2020-11-13 14:04] austintoddj commented on #890
And just to explore all the options, have you tried with various different images? Just wondering if something is attached to the file somehow.

[2020-11-13 14:44] JeremyChb commented on #890
Yes, with many images picked randomly on internet

[2020-11-13 20:08] austintoddj commented on #890
Ok, I'll dig more into it this weekend and see what I can find.

[2020-11-13 20:17] JeremyChb commented on #890
Thank you :)

[2020-11-16 13:29] JapSeyz opened #891 "Track visits by taking unique views based on IP and agent."
Hi,

We use a separate frontend which does not use Laravel Sessions. To get stats somewhat working, we're manually throwing the `new PostViewed($post);` event. However, it always tracks both a view and a visit, because it can't save anything to session.

Would you be interested in a PR which allows us to calculate visits based on a unique group value between IP, Agent and the Day?

Which would giv

[2020-11-16 15:10] austintoddj commented on #891
Thanks for the offer!

So, right now visits are tracked by checking an IP in a 24 hour period. Is your suggestion to increase the check itself to include the agent?

My only thought with that is the fact that agent strings are so long, it'd be tough to do comparisons on  them.

However, if you want to submit a PR for what you're thinking, I'd be more than happy to take a look.

[2020-11-16 15:27] JapSeyz commented on #891
Frontends that dont use Laravels Session, (like ours dont), will always track both a visit and a view, because it cannot save `viewed_posts` to the session. (because the Backend is only an API, and the frontend just works by off-of REST requests, there's never any session data available).

I would simply take all the saved views, and group them into `visits` by grouping IP, Agent and Day.

I do se

[2020-11-16 16:09] austintoddj commented on #891
Not completely sure about this. Since this package is intended to be dropped into a Laravel app, it _should_ always have access to sessions, regardless of the FE architecture. The session data should be coming from the BE, not the FE.

Maybe I'm not understanding your implementation enough.

[2020-11-16 18:39] iMusicJJ commented on #891
We have Laravel as an api, and the frontend is completely separate, just fetching data from the Api.

This doesn't allow the use of sessions, unfortunately.

[2020-11-16 20:13] austintoddj commented on #891
Aha, ok that makes sense.

If you want to go ahead and submit a PR for what you're thinking, I'll take a look!

[2020-11-19 18:40] jakus1 opened #895 "Migration from cnvs to this package."
I love that you have picked this package up. Does anyone have a way to migrate from the cnvs/canvas to this package?

[2020-11-25 06:53] opang8 opened #897 "Command "canvas:ui" is not defined."
I have successfully installed this canvas, but when I type php artisan canvas: ui in my text editor. I instead get the command "canvas: ui" undefined.

   Do you mean one of them?
       canvas: digest
       canvas: install
       canvas: publish
like this

so how can i use the frontend on laravel 7 version?

![image](https://user-images.githubusercontent.com/68223424/100192999-88c77300-2f25-11eb

[2020-11-25 14:01] austintoddj commented on #897
@opang8 What version of Canvas are you using?

[2020-11-25 14:09] austintoddj commented on #895
If you check the [Upgrade Guide for v5.4.0](https://github.com/austintoddj/canvas/blob/master/.github/UPGRADE.md#upgrading-to-540-from-53), you'll find what you're looking for!

[2020-11-25 14:09] #895 closed

[2020-11-29 18:10] whysoawesome0207 opened #898 "Need help on setting up my path in nested directory structure"
I am following the contribution guide, I just set up my project in the nested directory structure as I am in development mode so I just not set up my virtual host as well.

For e.g.,

[code]

I just set up everything only my assets path is mismatching. I am just seeing a white screen nothing else on debugging I am able to reproduce that it's looking for the `http://localhost` and my project is in

[2020-11-30 08:05] whysoawesome0207 commented on #898
Since not getting any replies ended up setting a virtual host.

[2020-11-30 08:05] #898 closed

[2020-11-30 13:55] austintoddj commented on #898
Sorry I didn't get a chance to respond to this. I'm glad you figured it out so quickly though, let me know if I can help out with anything else.

[2020-11-30 17:34] Khanabeev commented on #675
Is this bug already fixed for a future release?

[2020-11-30 18:31] austintoddj commented on #675
Thanks @Khanabeev for offering that, SUPER helpful!

It's still an open bug, so if you'd like to take a stab at it and submit a PR, I'd be more than happy to take a look.

[2020-12-01 09:49] whysoawesome0207 opened #899 "Opacity of code blocks in dark mode"
I just observed the following point,

- Well, I just tested the code block and not able to see what is written in the code. Below I am sharing the screenshot.

![Screenshot from 2020-12-01 15-14-57](https://user-images.githubusercontent.com/31669199/100723996-68495e00-33e8-11eb-84f3-ab255b05ee4e.png)

- When code block is in the very end, then not able to generate a new line or paragaph.

[2020-12-01 22:42] austintoddj commented on #899
Thanks for catching this @whysoawesome0207. I'll tag it as a bug and get to it as soon as I can, unless you want to beat me to it and submit a PR 😉

[2020-12-02 02:26] samuelhgf opened #900 "Editing core files"
Hi, I was not able to find out how to edit migrations, models and other things...

Those files does not become available to customize ?

[2020-12-02 13:51] austintoddj commented on #900
@samuelhgf This package does not publish those items as it'd make the upgrade path for future versions very unstable.

Is there something in particular you were looking to customize?

[2020-12-02 16:22] whysoawesome0207 commented on #899
Currently, I can only work om weekend due to hectic schedule may be you are in winning zone. 😀

[2020-12-07 18:39] workfransiskusferdian opened #902 "Built-in Auth System"
It is possible to install canvas without its built-in auth system or make its password hashing the same as jetstream hash? I use laravel 8 with jetstream, and when I log in to my own admin dashboard I can't directly access canvas, this feel bit awkward when I have to re-enter my email and password which are the same to access canvas. Thank You

[2020-12-07 20:51] austintoddj commented on #902
At this point in time, no. While Canvas used to work off of Laravel's base login system, it was changed in v6 to allow more flexibility to the package.

That being said, I believe there's more than likely a way to implement this. I'll keep this in mind moving forward, and see if it's a viable feature in an upcoming release.

[2020-12-12 07:52] workfransiskusferdian commented on #902
well, thank you..

[2020-12-12 08:00] workfransiskusferdian opened #904 "Problem on showing published posts"
I find that published posts on canvas dashboard don't show although the updated_at field in db not null. the published post keep in the 'draft' and don't move on 'published'. I guess it causes by Post::published() method doesn't work properly, but I'm not sure yet. how can I fix this? Thank you

[2020-12-12 19:49] austintoddj commented on #904
So even if the `updated_at` field is not null, it depends on the `published_at` field. Only published posts show up with stats.

[2020-12-13 04:43] #904 closed

[2020-12-22 15:30] fozoholiver1 opened #908 "PHP 8 Support"
i had this issue while installing canvas in laravel 8 with laravel ui
 Problem 1
    - cnvs/canvas[v5.2.0, ..., v5.2.5] require illuminate/support ^5.6|^5.7|^5.8|^6.0 -> found illuminate/support[v5.6.0, ..., 5.8.x-dev, v6.0.0, ..., 6
.x-dev] but these were not loaded, likely because it conflicts with another require.
    - cnvs/canvas[v5.3.0, ..., v5.4.0] require php ^7.2 -> your php version (8.0.

[2020-12-23 09:43] hatasu opened #909 "Frontend language"
First of all thanks for your great work with Canvas!
Simple but great interface, easy to use.

But I had a question:
How can I use translated texts in Frontend?

[2020-12-23 12:39] austintoddj commented on #909
Thanks for the kind words!

You're talking about having localized content for the `canvas-ui` portion of it, correct?

[2020-12-23 12:39] austintoddj commented on #908
What version of Canvas are you installing?

[2020-12-23 12:59] hatasu commented on #909
Yes, that's what i meant.

_resources\js\canvas-ui\components\PageHeaderComponent.vue_
![image](https://user-images.githubusercontent.com/4637592/102998151-e4861b80-4526-11eb-80e8-7b1f2ecf8205.png)

[2020-12-23 19:20] oldwestern opened #910 "Get Popular Posts"
Is it possible to get posts and order by views or visits?

[2020-12-23 20:11] austintoddj commented on #910
Do you mean in the /posts section of the package?

[2020-12-23 20:12] austintoddj commented on #909
Unfortunately, that part of it just isn't done. I focused largely on translating the backend, but haven't done the frontend yet.

[2020-12-23 20:15] oldwestern commented on #910
Yes, so currently I would get posts and order by published:

`Post::published()->orderByDesc('published_at')->simplePaginate(10)`

Is there a way I can order by views or visits?

[2020-12-23 21:15] austintoddj commented on #910
You could join the View or Visit table, select the count, and then simply order by the greatest count. At least that's what I'd try to do, but I'm AFK at the moment.

[2020-12-23 21:56] fozoholiver1 commented on #908
please ,i just ran composer require austintoddj/canvas from the documentation

[2020-12-24 00:31] austintoddj commented on #908
The latest version of Canvas is 6.x

Can you try updating the version you're installing and let me know if you still have issues with it?

[2020-12-24 05:39] oldwestern commented on #910
Alright I got it to work, just in case anyone else comes searching for the answer the following worked for me:

`Post::published()->leftJoin('canvas_views', 'canvas_posts.id', '=', 'canvas_views.post_id')
      ->selectRaw('canvas_posts.*, count(canvas_views.post_id) as PostCount')->orderByDesc('PostCount')
      ->groupBy('canvas_posts.id')->simplePaginate(10)`

Thank you for the assistance and y

[2020-12-24 05:39] #910 closed

[2020-12-26 02:34] fozoholiver1 commented on #908
okay, sir, maybe I didn't  explain the problem well, I haven't used this package before, my PHP version is  php8, laravel8, and laravel valet when i ran  `composer require austintoddj/canvas` i had that error, i tried to do update my compooser.js PHP version to suit the package requirements as such  ` "require": {
        "php": "^7.3|^8.0",
        "ext-json": "*",
        "ext-mbstring": "*",

[2020-12-27 00:11] austintoddj commented on #908
Aha, got it.

The package doesn't yet support PHP8, but it will in the next release.

Hoping to have it out in just a couple days or less.

[2020-12-27 00:39] austintoddj commented on #908
@fozoholiver1 Fixed in [v6.0.14](https://github.com/austintoddj/canvas/releases/tag/v6.0.14)

Let me know if you run into any issues!

[2020-12-27 00:39] #908 closed

[2020-12-27 18:44] austintoddj commented on #612
Suggestion by @thewwwizard on #892:

[code]

More work to be done here, but merging in that PR without this change, and keeping the conversation here until we can resolve this.

[2020-12-28 14:27] nfandrich commented on #897
Canvas version 5.4. Issue still existing!

[2020-12-28 20:11] austintoddj commented on #897
The 'canvas:un' command was introduced in [v6.0.2](https://github.com/austintoddj/canvas/releases/tag/v6.0.2)

Once you upgrade the package, you'll have access to the command.

[2020-12-28 20:12] #897 closed

[2020-12-29 23:42] FoxRocks76 opened #912 "Draft posts are being displayed under the author's profile"
I've got two posts, one is published and one is a draft. When I'm logged in I can confirm this by selecting posts from the admin menu, it clearly defines and separates the published from the drafts. On the front end, when clicking on the published post, then clicking on the authors profile, it lists my draft post. I logged out and then tried again, thinking it was because it recognized me as the a

[2020-12-30 02:48] austintoddj commented on #912
Thanks for bringing this up @FoxRocks76. I'll take a look first thing in the morning.

[2021-01-03 16:56] marvinhosea commented on #902
I think Canvas having its own auth system does not encourage flexibility considering anyone can include auth quickly and without any problem in Laravel.

[2021-01-04 12:52] austintoddj commented on #902
You're right @marvinhosea, but then there's a problem of different auth systems having various underlying properties. Canvas relies quite a bit on the packages' User model now so that it can access various relationships.

The flexibility actually _increases_ having the new auth system, since prior to it there could be a situation like such as this:

Your auth system doesn't use `id` as it's primar

[2021-01-04 12:59] austintoddj commented on #912
Fixed in [v6.0.16](https://github.com/austintoddj/canvas/releases/tag/v6.0.16)

[2021-01-04 12:59] #912 closed

[2021-01-05 15:49] klaxurit commented on #900
Hi @samuelhgf  hi @austintoddj, thanks a lot for your work, your canvas is awesome XD.
I'm thinking about adding a comments/replys and like/dislike system to the canvas(in vuejs of course), what do you think about it ?

[2021-01-05 17:18] austintoddj commented on #900
@klaxurit Thanks for the kind words.

If you want to try adding that to the `canvas-ui` portion of the project, feel free to submit a PR with your changes and I'd be more than happy to take a look!

[2021-01-07 08:03] prafful98 opened #915 "The GET method is not supported for /logout"
On clicking Sign Out in Laravel 8 + Jetstream setup I am getting this error
[code]

[2021-01-07 12:44] austintoddj commented on #915
Are you able to access the app via the app url defined in your `.env` file?

[2021-01-07 20:16] #915 closed

[2021-01-08 09:27] mukarramkhalid commented on #890
Just a heads up.

This is happening due to Laravel debug bar.

If your app is in production or Laravel debugbar is disabled, then it works fine.

Problem is that when you upload the image, the API returns image path and name. If debug bar is enabled, the response includes all the debug output as well.

Canvas considers this whole output as a file path/name, which is too long for the column where i

[2021-01-08 14:35] austintoddj commented on #890
Thanks for the clarity on this issue @mukarramkhalid. I'll get a "Known issues" list started and make sure this gets on there and is visible to anyone who looks.

[2021-01-09 04:20] prafful98 commented on #915
Thank you so much @austintoddj for the quick fix, I am love Canvas

[2021-01-09 06:28] prafful98 opened #916 "Compilation error when installing canvas:ui"
On running `npm run dev` I am getting the following errors:

[code]

[2021-01-09 14:48] GigaMick opened #917 "`RedirectIfAuthenticated` middleware is being hit when I try to visit /canvas"
When I try to visit /canvas on my app I am redirected to /dashboard.

This is url that is fired when the `RedirectIfAuthenticated` middleware is triggered.

I tested this by changing the `RedirectIfAuthenticated` redirect location and then /canvas took me to the new gibberish location I entered.

My canvas users table has nothing in it. I believe this is the problem, is there a way to generate a n

[2021-01-09 23:14] austintoddj commented on #916
I'll check this out as soon as possible.

[2021-01-09 23:16] austintoddj commented on #917
Check [this section](https://github.com/austintoddj/canvas/blob/master/.github/UPGRADE.md#setting-up-a-user) of the upgrade guide and it'll help you set up a new user.

[2021-01-11 18:52] #917 closed

[2021-01-15 19:48] austintoddj commented on #916
@prafful98 What version of Laravel are you currently using?

[2021-01-16 04:20] prafful98 commented on #916
Laravel 8

[2021-01-16 16:39] austintoddj commented on #916
Since Laravel 8 upgraded [Laravel Mix](https://laravel-mix.com/) to v6, there may be some minor configuration discrepancies between the base app and what Canvas installs.

To compare, see the differences of the `package.json` file in Laravel 7:

[code]

And in Laravel 8:

[code]

I'm assuming in your particular case that perhaps `resolve-url-loader` isn't correctly resolving the relative URLs sinc

[2021-01-18 14:55] #909 closed

[2021-01-18 14:55] #902 closed

[2021-01-18 14:55] #900 closed

[2021-01-18 14:56] #878 closed

[2021-01-18 17:03] jvallef opened #918 "Error installing canvas:ui"
Hi

Base Canvas installation with Laravel 8 works ok, but trying to install canvas:ui, when run "npm run dev" got following error:

`npm run dev

sh: mix: command not found
npm ERR! code 127
npm ERR! path /Users/xxx/web/canvascms
npm ERR! command failed
npm ERR! command sh -c mix

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/xxx/.npm/_logs/2021-01-18T16_46_50_689Z-debug

[2021-01-18 17:07] jvallef commented on #918
Sorry for formatting, looks like an issue with Git's editor. Let me copy and paste with no format

Displayed error...
npm run dev

sh: mix: command not found
npm ERR! code 127
npm ERR! path /Users/jvallefdz/web/canvascms
npm ERR! command failed
npm ERR! command sh -c mix

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/jvallefdz/.npm/_logs/2021-01-18T16_46_50_689Z-debug.lo

[2021-01-18 19:39] austintoddj commented on #918
What version of Laravel are you using?

[2021-01-19 02:17] makhweb commented on #918
The same error

[2021-01-19 03:03] austintoddj commented on #918
Duplicate of #916

There's some troubleshooting [steps listed here](https://github.com/austintoddj/canvas/issues/916#issuecomment-761593699).

If you guys can think of any solutions, go ahead and drop them on that issue and I'll be more than happy to make adjustments.

[2021-01-19 03:03] #918 closed

[2021-01-19 03:03] #712 closed

[2021-01-19 07:48] prafful98 commented on #916
So how to work with Laravel 8 and canvas UI?

[2021-01-19 16:03] austintoddj commented on #837
Closing this in favor of opening a [discussion here](https://github.com/austintoddj/canvas/discussions/919).

[2021-01-19 16:03] #837 closed

[2021-01-19 16:15] austintoddj commented on #916
Working on 2 things:
- A guide to help users navigate Laravel 6/7/8 when installing `canvas:ui`
- Upgrading the package to default to Laravel 8's setup

[2021-01-19 16:16] austintoddj commented on #682
Closing this out because I don't have any plans to make it in the near future. If you want to submit a PR that addresses this I'd be more than happy to take a look!

[2021-01-19 16:16] #682 closed

[2021-01-19 17:46] prafful98 commented on #916
Okay thank you

[2021-01-20 15:25] austintoddj commented on #916
@prafful98 The latest version of Canvas should fix the issue you were having. Also, take a look at #920 to see a more detailed explanation.

[2021-01-20 15:25] #916 closed

[2021-01-20 15:49] austintoddj commented on #899
Since this deals with the 3rd party package [highlight.js](https://highlightjs.org/), there isn't much that can be done without some hacking. Closing this until a proper solution can be proposed and submitted.

[2021-01-20 15:49] #899 closed

[2021-01-20 15:56] austintoddj commented on #890
@mukarramkhalid I just opened a [discussion here](https://github.com/austintoddj/canvas/discussions/922) to detail the issue. If you wouldn't mind, would you care to drop your solution in as an answer, and I'll go ahead and mark it Answered?

That way I can close this issue out and it'll be there for anyone else having the same problem.

[2021-01-22 15:27] #890 closed

[2021-01-22 21:22] #891 closed

[2021-01-22 22:18] austintoddj commented on #490
Love the idea on this issue, and will absolutely bring it into the project if #923 can be solved. Thanks for bringing it up @connecteev, I'll hopefully circle back to this in the future.

[2021-01-22 22:18] #490 closed

[2021-01-22 22:19] austintoddj commented on #686
Closing in lieu of #923.

[2021-01-22 22:19] #686 closed

[2021-01-22 22:22] austintoddj commented on #654
Closing this since it doesn't seem to be a widespread issue. If you feel otherwise or need further help, let me know.

[2021-01-22 22:22] #654 closed

[2021-01-29 02:24] CatMeowlet opened #925 "Quill Toolbar Options"
I have a question, Is there a way to add other options in  the toolbar?

![image](https://user-images.githubusercontent.com/48913428/106223313-1a9c7680-621c-11eb-85e5-68a0e8db4d9d.png)

[2021-01-29 03:02] #925 closed

[2021-01-30 19:30] Codey-m commented on #654
Hi,

I figured that alot of people don't use UC Browser - so i figured I should
stick with what works!

Thanks

On Sat, 23 Jan 2021, 00:22 Todd Austin, <notifications@github.com> wrote:

[2021-01-31 07:19] whysoawesome0207 opened #926 "Need Some Info Regarding Disqus"
Hi @austintoddj,

Recently i just added Disqus comment manually to my site. But when i see the older PRs there is PR regaarding the Disqus comment,
https://github.com/austintoddj/canvas/pull/3

But, i didn't see any documentation. Is this feature removed.

[2021-01-31 13:35] whysoawesome0207 opened #927 "Regarding date issue in posts"
## Version
Canvas v6.0.18

## Issue
I just notice the thing that whenever I just publish a post the dates are correct in front. But when I started editing the post the date displaying in the frontend is one or two days back.

For e.g. I just publish the post today i.e. 31st Jan 2021 in the frontend is displaying correctly but when I edited the post the date in the frontend is 26 Jan 2021. How?

No

[2021-01-31 16:49] austintoddj commented on #927
Is the issue you're seeing the backend portion of Canvas, or the frontend `canvas-ui` section?

[2021-01-31 16:51] austintoddj commented on #926
It used to be a feature in an earlier version of the package. At this time, the frontend scaffolding doesn't provide a commenting feature like that.

[2021-01-31 16:51] #926 closed

[2021-01-31 19:56] whysoawesome0207 commented on #927
Frontend portion `canvas-ui`. Whenever i edit a published post, its autosave and in the `canvas-ui` its not am exact date. To fix that i need to put my post as a draft and then republished.

[2021-02-01 16:34] whysoawesome0207 commented on #927
I just shared info. Do you want more info?

[2021-02-01 16:43] whysoawesome0207 opened #928 "Able to go to login page even if the user is authenticated"
## Issue
When I login into the admin panel then i am able to go to login page again by hiting the url.

## Expected Result
User should be redirect to dashboard page when he tries to hit login page.

[2021-02-01 18:03] austintoddj commented on #928
Good find @whysoawesome0207. I'll get a fix out for this soon as possible.

[2021-02-01 21:22] #928 closed

[2021-02-03 05:02] scvn1 opened #930 "VueMeta not updating the meta info on the page"
For some reason, the VueMeta package is not updating the meta values when a page is shown even if there are values in the `metaInfo()`.

[2021-02-03 13:55] austintoddj commented on #930
Thanks for bringing this up @scvn1. Have you customized the `canvas-ui` assets, or are they freshly published by the package?

[2021-02-04 06:16] scvn1 commented on #930
Yes, very minimally customized though. Just a few bits of HTML within the template changed.

[2021-02-04 17:29] austintoddj commented on #930
@scvn1 Pushed out the latest patch version. To see what changed, grab the latest `ui/views/ShowPost.vue` file. Let me know if you have any other questions!

[2021-02-04 21:05] scvn1 commented on #930
I see the issue. It is in fact writing the meta tags, but as duplicates at the bottom of the page instead of overwriting the site default values.

Example:
![image](https://user-images.githubusercontent.com/60627569/106955136-a9f8cc80-66e9-11eb-8d1d-58939870a2b3.png)

[2021-02-05 01:25] austintoddj commented on #930
Ack. Ok I'll re-open and try to get a fix out tomorrow.

[2021-02-05 02:47] scvn1 commented on #930
Appreciate it!

[2021-02-05 04:42] scvn1 opened #932 "True media management"
Any thoughts on adding true media management to posts?

I've been considering using the `spatie/laravel-medialibrary` package for this.

This could have a number of advantages:
* Cleaner media management through direct model association of assets to posts
* Ability to use CloudFront distributions to optimize delivery of embedded blog media
* Automatic image optimizations and transformations
* Supp

[2021-02-05 15:36] syvbyen opened #933 "There is no "New Post" button"
I actually have two problems, but the first one I fixed manually (maybe I'm doing something wrong). I'm listing them together in case they affect each other somehow.

1. When I make a new user with
`php artisan canvas:user admin --email=email@example.no`

I then get an error when I go to _www.url.com/canvas_:

My manual fix is going into my own database and setting it to "0", then I get the same e

[2021-02-05 21:57] austintoddj commented on #932
Really good topic. Previous versions of Canvas _did_ have a different media management section, but things changed as time went on. I think this is a great candidate to drop over in [Discussions](https://github.com/austintoddj/canvas/discussions). Would you care to do that?

I appreciate the eyes you're bringing to the project!

[2021-02-05 22:09] austintoddj commented on #933
Good catch here. I just pushed out a [release](https://github.com/austintoddj/canvas/releases/tag/v6.0.22) to fix the dark mode and locale bugs.

The **New Post** button on the other hand is just a UX thing. It's actually only accessible on the `/stats` and `/posts` pages. I can understand if that's a bit too hidden for folks, but I wanted to make it consistent with the way that you create Tags an

[2021-02-05 22:09] #933 closed

[2021-02-06 20:47] austintoddj commented on #927
@whysoawesome0207 I can't seem to replicate a bug with this. I published a post, updated it, and saw the dates appropriately change both in /canvas and in /canvas-ui.

Is it perhaps a timezone issue that you've got set in your base Laravel app?

[2021-02-07 10:31] whysoawesome0207 commented on #927
OK! Give me some time, i will share you my screencast.

[2021-02-08 14:20] #927 closed

[2021-02-11 09:18] usamapatel opened #934 "Not an issue. Can we add text alignment options to text editor like we have in ckeditor etc?"
No an issue. Can we add text alignment options to text editor like we have in ckeditor etc?

[2021-02-11 11:22] joaquimpsoares opened #935 "Installing Canvas-UI in Laravel 8 npm errors"
I follow the instructions to install web-mix 6 here:
https://laravel-mix.com/docs/6.0/upgrade

And in the section "Update Your NPM Scripts"

I also had to update scripts section in package.json like suggested in the previous section:

Before
"scripts": {
    "development": "cross-env NODE_ENV=development node_modules/webpack/bin/webpack.js --progress --hide-modules --config=node_modules/laravel-mi

[2021-02-11 13:00] austintoddj commented on #935
Yep, totally right with what you did there. Since this package needs to be able to support both versions of Laravel (those with Mix6 and those without), I dropped [a solution here](https://github.com/austintoddj/canvas/discussions/920#discussioncomment-296402) to offer some clarity.

[2021-02-11 13:00] #935 closed

[2021-02-11 13:01] austintoddj commented on #934
That's a good idea @usamapatel. Since this isn't an issue at the moment, would you mind dropping your suggestion here on #919 to keep it all together? Thanks!

[2021-02-11 14:03] usamapatel commented on #934
@austintoddj Done

[2021-02-11 14:48] austintoddj commented on #934
Thanks @usamapatel!

[2021-02-11 14:48] #934 closed

[2021-02-14 06:42] marvinhosea commented on #902
Sorry for replying to this late but all that can be included in the config and in case there is no avatar you can avatar the name initials.

I will PR when I get time for approval. Thanks

[2021-02-14 11:52] keithzano opened #937 "Canvas documentation"
Hi I pretty new to programming and I wanted to try out canvas with my own front but I cant seem to find any documentation beyond installing.

[2021-02-15 02:20] austintoddj commented on #937
Well, welcome! Glad you're new to programming, I hope you find joy and satisfaction in it.

How familiar are you with Laravel/Vue?

[2021-02-16 07:28] keithzano commented on #937
Not quite I want to use the blade template engine

[2021-02-17 11:13] auxiliawebsitedesign opened #939 "Use Laravel's Auth Rather Than Canvas'"
I use Laravel's auth system via Fortify to set up users with dashboard features. However, when they want to write a blog, they go to Canvas and login again which gets stored in the DB as a different username/password.

This is really clunky. Is there any way to allow canvas to link into Laravel's existing user platform or must there be a user profile/db for Laravel features and a user profile/db f

[2021-02-17 14:48] austintoddj commented on #937
Have you successfully installed Canvas and run the `canvas:ui` Artisan command?

[2021-02-17 14:53] austintoddj commented on #939
Canvas used to use Laravel's auth system. It worked fine, except for the fact that things become really tied to the base Laravel user model at that point. If you use Laravel's system, and a developer assigns the PK on the user model to be `userID` instead of the default `id`, things break.

I agree that it's an extra step, but breaking things out like this allows the package to cater to a number o

[2021-02-17 19:07] auxiliawebsitedesign commented on #939
I'm very thankful for what you've made in Canvas. It's a great blogging system!

In regards to your answer, what about giving the option to use either the Laravel user authentication or use Canvas'? Perhaps two different repos or branches depending on how they're going to use it.

I think your blogging platform is great and would even pay a small one-time fee per project if it had the ability to w

[2021-02-17 20:12] austintoddj commented on #939
That's highly encouraging, and I appreciate it.

Really interesting thought, similar to how Laravel Breeze or Jetstream allows optional flags like:

[code]

Canvas might be able to adopt something like:

[code]

I'll go ahead and mark this as an enhancement and see what I can do about coming up with a proof of concept for it.

[2021-02-17 20:22] ReeceM commented on #939
I know I used to use the Laravel auth system to link back to a separate app for users to log in with before the update. Admittedly was a bit confused at first :D. But figured it out.

Would there not a be a way to make it work `similar` to the Laravel auth system where you could redefine or extend the authentication system?

Similar to how you can add custom auth parts by overriding the `interface

[2021-03-08 12:37] #937 closed

[2021-03-09 09:20] attitudefx7 opened #947 "Can not upload avator"
When i tried to upload avator, I got a bug like this
![image](https://user-images.githubusercontent.com/39052856/110447935-b06cd080-80fb-11eb-86cf-5b1c7504bc3e.png)

please help me!

[2021-03-09 13:42] austintoddj commented on #947
@attitudefx7 Looks like that's just the request. Could you post the response you're getting?

[2021-03-10 02:09] attitudefx7 commented on #947
That was a bad request url like this : **https://api/uploads**.   The doman gone away.   So I got nothing from response.

[2021-03-10 12:44] austintoddj commented on #947
Aha, apologies. Looked at it too quickly.

Do you have a domain _and_ a path set up in your .env file?

[2021-03-10 19:26] #947 closed

[2021-03-22 17:50] venixx04 opened #956 "issue with canvas-ui / by tags / by topics"
I have installed canvas-ui:

1- when I select the index page, everything is fine, the posts are displayed.
2- however when I select a topic or a tag, no post is displayed!

Console browser :
canvas-ui.js:102306 [Vue warn]: Error in render: "TypeError: Cannot read property 'name' of undefined"
found in
---> <ShowTag> at resources/js/canvas-ui/views/ShowTag.vue
       <Root>

canvas-ui.js:103573 Typ

[2021-03-22 20:46] austintoddj commented on #956
To update the path for the `canvas-ui` views, you'll need to update:

- Line 30 of `resources/js/canvas-ui/app.js`
- Line 25 of `resources/js/canvas-ui/mixins/base.js`
- Line 48 of `resources/js/canvas-ui/routes.js`
- `Route::prefix('canvas-ui')` in `routes/web.php`

After that, re-compile the assets and you should be all set.

[2021-03-22 20:46] #956 closed

[2021-03-23 17:19] foutesting commented on #956
thank you. I modified the standard path following the modifications and it works. However, I always get an error when I select a tag or a topic. No post is displayed. There is a problem with js/canvas-ui.js

Console browser :

canvas-ui.js:102266 [Vue warn]: Error in render: "TypeError: Cannot read property 'name' of undefined"
found in
---> <ShowTag> at resources/js/canvas-ui/views/ShowTag.vue

[2021-03-23 20:28] austintoddj commented on #956
@foutesting Found the bug. Resolved it in the main app, but since you've already published the files, go ahead and update your controller with the same changes found here:

https://github.com/austintoddj/canvas/commit/661abf76105905f5bda198e2c941048d85abbd0a

[2021-03-24 08:26] foutesting commented on #956
Great. It work fine. Thanks

[2021-03-26 13:10] Biwott opened #958 "Illuminate\Contracts\Container\BindingResolutionException"

[2021-03-26 13:11] Biwott commented on #958
I have tried installing canvas seems there's missing controllers

[2021-03-26 13:30] #958 closed

[2021-03-26 13:30] Biwott commented on #958
xx

[2021-04-02 04:09] ilhamAdhim commented on #915
Excuse me, i know the issue is closed already. But i encounter this error as well. I tried updating the canvas with composer require but it is not solved yet. How can i fix this?

[2021-04-02 12:03] austintoddj commented on #915
@ilhamAdhim Are you customizing the path or domain?

[2021-04-05 04:33] webhaikal opened #961 "Posts are not published"
Even when clicking publish post, and confirming that the published_at field is not null, posts are still shown as draft on a fresh install using Laravel 8 and latest Canvas.

[2021-04-05 11:32] austintoddj commented on #961
Are there any console or network errors when you do that?

[2021-04-05 23:36] CodexOS opened #962 "Wizard Installation"
Hello @austintoddj,

Have you ever considered adding a wizard installer for people that would like to install it without doing it through commands?

[2021-04-06 11:31] austintoddj commented on #962
Can't say I've put too much thought in that. Would love to review a PR if you wanted to take a stab at it!

[2021-04-07 02:52] CodexOS commented on #962
I'm really new to coding so I'm not too familiar with Laravel, but I really like to use your project to start a Blog website and was interested in just setting it up with a wizard and learn from there.

[2021-04-07 11:14] austintoddj commented on #962
Makes sense, and welcome!

If you have any trouble setting Canvas up or just have some general questions, let me know and I'll help you out.

https://twitter.com/@austintoddj

[2021-04-07 11:14] #962 closed

[2021-04-07 12:05] sasafister opened #963 "Canvas ui route shows empty page"
I've run php artisan canvas:ui but when I visit /canvas-ui it's blank page. Shouldn't it show the posts?

[2021-04-07 14:10] #963 closed

[2021-04-07 17:36] austintoddj commented on #963
Everything get sorted for you @sasafister?

[2021-04-08 13:13] #961 closed

[2021-04-10 23:54] CodexOS opened #964 "Canvas UI"
I have a local site running right now, but when I run "php artisan canvas:UI" and npm install npm run dev. I get this error.

[webpack-cli] Invalid configuration object. Webpack has been initialized using a configuration object that does not match the API schema.
 - configuration.entry['/js/canvas-ui'] should not contain the item '/Users/user/sites/test/resources/js/canvas-ui/app.js' twice.
   ->

[2021-04-11 05:06] #964 closed

[2021-04-28 13:19] austintoddj commented on #863
Closing since it'll be addressed in v7.0

[2021-04-28 13:19] #863 closed

[2021-05-11 14:51] MicahDavid opened #974 "canvas.login using http instead of https"
I'm having an issue where the login page is posting to http instead of https.  The APP_URL used in the .env and config are using https.  This occurs in the code using route('canvas.login') in the views/auth/login.blade.php.

I thought it might be a cache issue and I made sure to clear all my cache, but still the same result. I know there are methods to force http to https, but any ideas why the ro

[2021-05-11 22:59] austintoddj commented on #974
In your .env file, what are the values for:

- `APP_URL`
- `CANVAS_PATH`
- `CANVAS_DOMAIN`

[2021-05-11 23:20] MicahDavid commented on #974
I did not have CANVAS_PATH or CANVAS_DOMAIN set in my .env file. I added
both of these.

In the config/canvas.php file I had the following:

'domain' => env('CANVAS_DOMAIN', null),

There was no config for canvas domain. I think this was because of
upgrading from the previous canvas library, so I created:

'domain' => env('CANVAS_DOMAIN', 'https://mydomain.com'),

I did a php artisan config:cache.

[2021-05-12 10:13] austintoddj commented on #974
If you didn't have `CANVAS_PATH` or `CANVAS_DOMAIN` previously defined in your .env file, that's OK. You can remove those unless you're customizing them, since their defaults are defined in config/canvas.php.

I'm assuming this simply has something to do with the local dev environment that you're running. Are you using Valet?

[2021-05-12 18:47] YveOms commented on #961
@webhaikal I have encountered the same problem. Even after clicking publish, the post is just saved as a draft and is not published.

I am using PHP 7.4.16, and canvas v6.0.29 on Windows 10 Xampp Environment

[2021-05-12 18:50] YveOms commented on #961
First, lets write a test post

![image](https://user-images.githubusercontent.com/28395700/118028521-05091380-b318-11eb-9e50-d59fe44acb06.png)

Then After clicking on publish now, and we go back to drafts, it is still there

![image](https://user-images.githubusercontent.com/28395700/118028679-32ee5800-b318-11eb-963f-c5abf106890d.png)

[2021-05-12 19:57] austintoddj commented on #961
@YveOms Are there any console or network errors when you do that?

[2021-05-12 21:44] MicahDavid commented on #974
This is occurring in a production environment. I"m not sure where else to
look, but the route('canvs.login') is somehow seeing the domain as HTTP.

On Wed, May 12, 2021 at 6:14 AM Todd Austin ***@***.***>
wrote:

--
Micah Sklut

[2021-05-13 00:54] austintoddj commented on #974
The Laravel app itself, it's being accessed via https:// correct?

[2021-05-13 01:06] MicahDavid commented on #974
Yes, that is correct.

[2021-05-13 02:56] YveOms commented on #961
Hey @austintoddj . Thanks or pointing out the console thing. I am fairly new to Laravel, and I went back to their website and used the command `php artisan serve --port=8080` to serve the app. And the Canvas Blog is now working perfectly.  The posts are actually being posted.

As for @webhaikal, if you don't see your posts immediately, check your UTC offset of your location and adjust the post tim

[2021-05-15 01:51] austintoddj commented on #974
Hm, not sure why this would be the case.

The `route()` helper should be defaulting to https://, at least that's what I've been able to reproduce on my end.

[2021-05-16 19:01] cluzstudio opened #978 "How change the route "canvas-ui""
Forgive my clumsiness, but since I change the path from "canvas-ui" to for example "/ blog" or "/ posts"

[2021-05-16 21:41] austintoddj commented on #978
Change the items listed here and you'll be good to go!

https://github.com/austintoddj/canvas/issues/956#issuecomment-804382967

[2021-05-17 17:00] #978 closed

[2021-05-22 15:57] NeonOdyssey commented on #937
I would like to 1up this.
Coming back to Canvas after a long time I have now found that even the example code on how to set up your own Posts and post pages has disappeared.

I can completely understand that you are wanting people to use `$php artisan canvas:ui`. However, this is a huge turn away as there is no documentation to help developers develop their own front end to match their existing we

[2021-05-22 20:24] austintoddj commented on #937
@NeonOdyssey Could you give me an example of what a useful setup would look like for you? Happy to adjust the docs to make it easier in this area.

[2021-05-23 13:18] NeonOdyssey commented on #937
even if it was a separate page with a list of how to do the following:
- get all published posts
- - get post content, title, date, user info, etc of a specific post
- list all tags
- - list all posts within a tag
- list all topics
- - list all posts within a topic
(Just how the API does things)
I have managed to do this all however I think this would extremely help new developers who are wanting

[2021-05-23 19:41] austintoddj commented on #937
Really helpful, thanks @NeonOdyssey. I'll get some API specs in the readme.

[2021-05-27 21:57] austintoddj commented on #974
Closing this out until we can get more details on it.

[2021-05-27 21:57] #974 closed

[2021-06-13 05:20] moseskamau338 commented on #939
any progress on this?

[2021-06-14 12:59] austintoddj commented on #939
@moseskamau338 No progress on this yet (just got back from a family vacation)

I'm still hashing out what this looks like functionally in the app. There's [a discussion here](https://github.com/austintoddj/canvas/discussions/959) that would be a perfect spot to drop any thoughts or ideas.

[2021-07-17 19:14] ahangarha opened #987 "Add ActivityPub Support"
There are already some projects like [Writefreely](https://writefreely.org/) and [Plume](https://joinplu.me) which provide a federated platform for blogging. Since they support [ActivityPub](https://www.w3.org/TR/activitypub/), instances of such projects can federate and interconnect with each other and form a large federation of blogging websites. They are written in Go and Rust.

Is there any po

[2021-07-19 12:57] austintoddj commented on #987
Interesting. I'd be more than happy to take a look at a PR if you wanted to submit one that adds support like you've described above.

I don't have plans to start work on one anytime soon. Focusing on core updates to v7.

[2021-07-19 17:39] ahangarha commented on #987
I wish I could work on this feature. My technical knowledge on Activitypub is almost zero. Thankfully Pixelfed is another Laravel app which has implemented this feature. That might be helpful.

So please keep this issue open. One day one would work on it.

[2021-07-19 19:32] austintoddj commented on #987
Sounds good 😉

[2021-07-22 21:52] austintoddj commented on #937
@NeonOdyssey Got some docs pushed out today. https://github.com/austintoddj/canvas#api

[2021-08-03 18:32] NeonOdyssey commented on #937
@austintoddj that's awesome to see 😄
This will help me alot later down the line, and I'm sure will help others as well.

[2021-08-16 07:00] farishrf opened #990 "SEO concerns"
Hi, my blog is running on Canvas, and it isn't showing in Google search,
I added the website to the Google search console, it's been 2 months, and yet no search appearance.
are there any known SEO problems with this blog software?

Thanks.

[2021-08-16 17:27] austintoddj commented on #990
Could you post a snippet of what the <head> element contains on some of your blog pages?

[2021-08-17 22:24] farishrf commented on #990
Not sure what you mean,
but this is a post from the website: https://farishrf.sa/posts/beginning

[2021-08-18 13:16] austintoddj commented on #990
There aren't any SEO problems with the package as it is. From looking at your post you shared, I do see proper meta fields that should be picked up by Google:

<img width="814" alt="Screen Shot 2021-08-18 at 8 14 30 AM" src="https://user-images.githubusercontent.com/8037011/129904488-ad679d76-6a81-444a-b7cf-ba0b9f991e34.png">

As far as _why_ it hasn't been appearing in your Google Search Console,

[2021-08-18 13:16] #990 closed

[2021-08-19 12:44] sasafister opened #991 "Existing OG but not parsing the data"
I have everything setup, and if I check there is OG information, but when I try to share, or use a Facebook Linter, it says that OG is missing. Any ideas? Is it because of Vue parsing the data async?

https://www.sliceer.com/blog/posts/nova-sezona-novi-rekordi

Here is the blog post

[2021-08-19 12:50] #991 closed

[2021-08-19 12:50] sasafister commented on #930
Is this fixed? I have the same problem

[2021-08-30 21:33] austintoddj commented on #930
@sasafister Not yet, but I hope to get a fix out this week.

[2021-09-05 16:06] GigaMick opened #993 "No "publish" button in dropdown"
As It says on the tin. I have created a new post, it is marked as draft and the published_at field in the DB is null

<img width="973" alt="Screenshot 2021-09-05 at 17 04 30" src="https://user-images.githubusercontent.com/22120297/132133545-95c5befb-b66b-4d94-8c91-0d2872205b63.png">

As you can see there is no option to "publish". There is a VERY HIGH chance that I'm being dumb here, so all help a

[2021-09-05 21:14] GigaMick commented on #993
This seemed to only be a problem in local...

[2021-09-05 21:14] #993 closed

[2021-09-06 18:55] austintoddj commented on #993
@GigaMick Assuming you got this all figured out, but looks like your user just needs the [role of Editor or Admin](https://github.com/austintoddj/canvas#roles--permissions).

[2021-09-09 21:03] #930 closed

[2021-09-21 06:26] JamieSlome opened #996 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-22 13:47] austintoddj commented on #996
@JamieSlome Sure thing, I'll get one in the repo shortly.

Go ahead and shoot me a message at austin.todd.j@gmail.com

[2021-09-23 12:51] #996 closed

[2021-09-23 12:57] b1nslashsh commented on #996
Hey , @austintoddj

Hope you received a mail from hundr.dev haven't?

Please let me know your thoughts about the disclosure

Thanks ,
Muhaimin

[2021-09-23 13:01] austintoddj commented on #996
@b1nslashsh I responded.

[2021-09-23 13:15] b1nslashsh commented on #996
I think maybe you do somthing wrong or it didn't worked , I didn't get any response for this 🙂

https://www.huntr.dev/bounties/aa8ec091-4d39-4cdc-9a3c-26cf95a35b46/

https://www.huntr.dev/bounties/5392edf3-3278-4100-aeee-08a68995e83d/

Feel free to have a look

Thanks,

[2021-09-23 20:54] austintoddj commented on #996
Marked it as valid earlier in the day. @JamieSlome all good on your end?

[2021-09-24 09:19] JamieSlome commented on #996
@austintoddj - all good on our side!

Once you have patched the vulnerabilities in the repository, feel free to `confirm the fix` for each.

-- Jamie

[2021-10-22 06:54] BenjaminHoegh opened #999 "Change file placement"
Would it be possible to change the install location to put the files into laravels files instead of vendor? Just like [breeze](https://laravel.com/docs/8.x/starter-kits)

[2021-10-22 20:40] #999 closed, assigned to nobody

[2021-11-25 06:29] richard457 opened #1004 "use Canvas\UserMeta is not found after migrating to this package as suggested."
and images are not showing on existing posts.
here is my controller:
`<?php

namespace App\Http\Controllers\Studio;

use App\User;
use Canvas\Events\PostViewed;
use Canvas\Models\Post;
// use Canvas\UserMeta;
use Illuminate\Http\Request;

class PostController extends BaseController
{
    /**
     * The user associated with a post.
     *
     * @var User
     */
    protected $user;

    /**

[2021-11-26 14:56] somato-tomato opened #1005 "Forgot Password Feature"
Hello,

Thank you for creating wonderful package ! i want to ask, Is Forgot Password feature work ? i try to use it but i dont get any email.

Thanks !

[2021-11-27 09:51] #1004 closed

[2021-11-27 09:59] richard457 commented on #993
@GigaMick I still have this issue and I migrated from old package can you help?

[2021-11-29 14:44] austintoddj commented on #993
@richard457 What version of the package are you using?

[2021-11-29 14:46] austintoddj commented on #1005
@somato-tomato Do you have a [mail provider](https://laravel.com/docs/8.x/mail#introduction) set up in your application?

[2021-11-30 06:00] somato-tomato commented on #1005
Thank you for `your` reply!
Yes i have mail provider. i can use forgot password from laravel auth and i receive the reset link, but when i use forgot password in canvas i didnt receive any email.

[2021-11-30 20:01] austintoddj commented on #1005
Is there anything in the logs? Or just silent fails?

[2021-12-08 09:55] somato-tomato commented on #1005
Hello,

Sorry for very late reply, its just silent fail. i cant find anything, its just silent fail.

[2021-12-09 16:07] austintoddj commented on #1005
Do you have a link to the repo by any chance? I can try pulling it down and taking a look.

[2021-12-10 09:16] LukaSikic opened #1010 "Canvas UI is not accessible"
After following the documentation on how to install Canvas UI and trying to access /canvas-ui, user is being redirected to the login screen. CANVAS_PATH is set to null.

[2021-12-10 16:56] #1010 closed

[2021-12-10 19:17] austintoddj commented on #1010
Looks like you got it sorted out @LukaSikic.

Just to follow-up: you will be restricted by setting the `CANVAS_PATH` variable to **null**. Per the config file:

[code]

If you do want to keep Canvas and it's frontend UI in the same app/domain, you'll need to keep this variable set at anything other than **null**.

[2021-12-17 11:55] somato-tomato opened #1011 "Bullet and Numbering"
Can i use bullet and numbering ?
Thank you.

[2021-12-17 11:57] somato-tomato commented on #1005
I cant. Ill try create new apps and check again.

[2021-12-17 15:04] austintoddj commented on #1011
You can use both bullets and numbering in the editor.

<img width="1337" alt="Screen Shot 2021-12-17 at 9 03 26 AM" src="https://user-images.githubusercontent.com/8037011/146564509-850bfff7-7b92-4c97-9572-52a9a43b9715.png">

[2021-12-17 15:04] #1011 closed

[2021-12-17 16:06] somato-tomato commented on #1005
Should i enable email in config/canvas.php ?

[2021-12-17 17:58] austintoddj commented on #1005
No. That value is tied to sending out the digest email. Authentication is its own thing.

https://github.com/austintoddj/canvas/blob/master/src/Http/Controllers/Auth/PasswordResetLinkController.php

Do you have [Laravel Telescope](https://github.com/laravel/telescope) installed in the app? That might be a great way to find out where the issue is happening and we can debug from there.

[2021-12-18 16:07] somato-tomato commented on #1011
Hello,

Sorry but how to create like that i tried but to search the option but i cant find it. or i need to use embed code ? Thank you sir.

[2021-12-19 02:17] austintoddj commented on #1011
Nope, all you need to do is use the `-` (dash) or `1` (number) in the editor. Hitting `Enter` to a new line takes the list and continues it as either ordered or unordered.

[2021-12-29 13:22] james-wong123 opened #1012 "AWS s3 setup failure"
Anyone here know how to setup s3 for CANVAS ?

In my `config/canvas.php`
'`storage_disk' => env('CANVAS_STORAGE_DISK', 's3'),`

I configure the information in `.env`

I filled the
[code]

but I got status code `500` when I upload the images for profile.

[2021-12-29 13:49] #1012 closed

[2021-12-30 09:14] james-wong123 opened #1013 "How to start editing the front end of canvas-ui"
I am new to laravel, vue and canvas, I would like to know where to start if I want to edit like to logo etc.

[2021-12-30 09:46] nielsphp commented on #1013
All Vue components and pages that are rendered by the Canvas-UI are located in [canvas/resources/js/ui](https://github.com/austintoddj/canvas/tree/51fca4666483e2afd0b546867d3e926d3a3ac3e8/resources/js/ui)-folder. The Blade-template can be found at [canvas/resources/views/ui.blade.php](https://github.com/austintoddj/canvas/blob/51fca4666483e2afd0b546867d3e926d3a3ac3e8/resources/views/ui.blade.php).

[2021-12-30 10:06] james-wong123 commented on #1013
Erm, It doesn't seem to change anything when made some changes in `ui/views/AllPosts.vue` 😊

[2021-12-30 10:35] nielsphp commented on #1013
Yes, sorry I forgot to mention that. Did you follow the [instructions for installing Canvas:UI](https://github.com/austintoddj/canvas#canvas-ui)? This Artisan command copies the files mentioned by me to the resources folder of your own project. So, you can find these files in the folder 'yourproject/resources'. Here, you can edit the file 'yourproject/resources/js/canvas-views/AllPosts.vue'. After

[2021-12-30 11:13] james-wong123 commented on #1013
@nielsphp, so basically after you made changes in `yourproject/resources/js/canvas-views` , you run `npm run dev` ?

[2021-12-30 11:28] nielsphp commented on #1013
Yes. becasue `npm run dev` will combine all Vue-components, Vue-pages and other JS-scripts into one JS-file, which can be executed by the browser. To understand how this works, I would reccommend to read the documentation of [Webpack ](https://webpack.js.org/) and [Laravel Mix](https://laravel.com/docs/8.x/mix).

If you make many changes, you can also run the command 'npm run watch'. This command

[2021-12-30 11:53] james-wong123 commented on #1013
[code]

I got this error pops out when I run `npm run dev`

[2021-12-30 12:27] james-wong123 commented on #1013
Hi sry for asking question again 🤣, if I want to change interface of `Canvas` instead of `canvas-ui` do I use the same method as well?

[2021-12-31 05:58] #1013 closed

[2022-01-23 20:20] Braunson commented on #862
Seems this is still a bug (fresh install today).

[2022-01-25 16:00] Braunson commented on #862
@austintoddj Yes I was using the database, saw the mentioned thread solution above and tried `file` driver, same issue occurred.

[2022-01-27 22:58] Braunson commented on #862
@austintoddj I did not clear cache, will give it ago when I reinstall canvas, I ended up using Wink instead that day.

[2022-01-29 19:40] richard457 commented on #904
What was the solution @workfransiskusferdian ??

[2022-01-29 19:55] richard457 commented on #904
yes, I manually added published_at date in DB still the post could not be published.

[2022-02-18 14:36] colivinggit opened #1017 "Id's and increments"
I'm trying to import the tables to our Digital Ocean Managed Database and it gives an error as they wish for auto-increment id columns for each table.
Any plans of supporting this in the base Migration?

[2022-02-18 22:06] austintoddj commented on #1017
I didn't read through all the comments, but perhaps something in this issue can help? https://github.com/laravel/framework/issues/33238

[2022-02-23 12:36] #1017 closed

[2022-03-10 09:45] farez opened #1022 "SQL error when running Canvas"
Hi!

I'm just installing Canvas but when I login it redirects to /canvas I get the following SQL error:

[code]

It looks like Canvas is trying to insert a string into the user_id field of the session table, which is a BIGINT field.

<img width="240" alt="Screenshot 2022-03-10 at 5 39 49 PM" src="https://user-images.githubusercontent.com/39633/157634431-1c8cb306-2487-4627-aff0-b0840a86b05a.png">

[2022-03-10 15:57] austintoddj commented on #1022
@farez #851 Might have some solutions for you. Let me know if you're still stuck after checking that thread out and I can guide further.

[2022-03-10 15:57] #1022 closed

[2022-03-29 17:31] austintoddj opened #1030 "Test Bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Lorem ipsum

### Expected Behavior

Lorem ipsum

### Steps To Reproduce

Lorem ipsum

### Environment

[code]

### Anything else?

Lorem ipsum

[2022-03-29 17:32] austintoddj opened #1031 "Test Feature Proposal"
### Is your feature request related to a problem? Please describe.

Lorem ipsum

### Describe the solution you'd like

Lorem ipsum

### Describe alternatives you've considered

Lorem ipsum

### Additional context

Lorem ipsum

### Validations

- [X] Follow our [Code of Conduct](https://github.com/austintoddj/canvas/blob/master/.github/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guidelines](ht

[2022-03-29 17:33] #1031 closed

[2022-04-08 16:06] kevinwaxi opened #1036 "Cannot start up my applciation Error when login in"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Call to undefined method Canvas\Models\User::authentications() - The main error that i am getting.
Currently, i am using laravel sail/docker with laravel 9. Users seemed to be seeded but I can not get past this error

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

[2022-04-08 18:56] austintoddj commented on #1036
Could you add a stack trace?

[2022-04-09 11:11] jbenavidesv87 commented on #1036
I can help with this one:
`Warning: 1265 Data truncated for column 'user_id' at row 1 (SQL: update 'sessions' set 'payload'`

[2022-04-09 11:46] fpolli opened #1038 "undefined type User in src/Canvas.php"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Fresh install of Canvas per the instructions here, and I notice that Visual Studio Code throws three errors of the type in the title. The lines are here:

`
    /**
     * Return an array of available user roles.
     *
     * @return array
     */
    public static function availableRoles():

[2022-04-09 12:07] fpolli commented on #1038
So I think this might be an issue with the Intelephense extension to VSC rather than Canvas. I was working in VSC again, and I noticed that the Canvas.php file throws no errors when I open it in VSC. I didn't do anything. I opened the PostController.php file, and it supposedly has 11 errors. It did not flag errors before (my VSC shows the filename in pink with a pink dot next to it if it thinks th

[2022-04-09 23:54] austintoddj commented on #1038
Not wasting time, don't ever be afraid to ask a question.

But you're right, these are issues with VSCode not being able to infer certain class properties.

[2022-04-09 23:54] #1038 closed

[2022-04-09 23:55] austintoddj commented on #1036
Marked as a duplicate of #851

[2022-04-09 23:55] #1036 closed

[2022-04-10 09:47] Grazjano opened #1040 "SEO improvement: change rename image file"
### Is your feature request related to a problem? Please describe.

SEO improvement: change rename image file.

### Describe the solution you'd like

I propose to replace the renaming of the image files like this: original-name-random-number.extension.
Can anyone tell me where to look in the files?
Thanks.

### Describe alternatives you've considered

_No response_

### Additional context

_No res

[2022-04-10 15:28] austintoddj commented on #1040
The UploadsController handles storing images.

How does your proposition improve SEO?

[2022-04-10 16:48] Grazjano commented on #1040
SEO specialists argue that the filename must match the keyword.
Then:
original-name = keyword
random-number = avoid replacing an existing file.

A better solution would be:
title-post / keyword.ext.

[2022-04-10 18:18] austintoddj commented on #1040
Thanks for the suggestion. Drop any links here that support that hypothesis.

I'll see about adding this to the v7 features.

[2022-04-13 09:04] Grazjano commented on #1040
I tried this solution.

[code]

[2022-04-16 17:10] GazTheDev opened #1046 "Can't create posts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have published to my Cloudways Host https://garethdaviesmedia.tech and have noticed once I've logged in I'm unable to create posts. It instead redirects to the posts page instead of allowing me to create a new post?.

### Expected Behavior

Being able to post without re direction

### Steps

[2022-04-18 01:08] austintoddj commented on #1046
@GazTheDev What role is assigned to the user in the `canvas_users` table?

[2022-04-18 15:49] GazTheDev commented on #1046
Hi @austintoddj

On my DB it's "3" as the ADMIN and Role "2" as the user I created to check it. Everything else works expect the "create" posts page. Kind of strange. :(.

[2022-04-19 13:33] austintoddj commented on #1046
So as an Admin, you're not able to create a post?

Are there any errors in the console?

[2022-05-22 22:04] james0r opened #1063 "Extra <p> being output after Embedded Image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

No matter what I do, I can't seem to remove the empty <p> tag after an embedded image is inserted.

### Expected Behavior

Embedded image is last element being rendered.

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-05-23 13:24] kevinwaxi opened #1065 "Route [canvas.login] not defined."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have successfully created users in my production server, but when I try installing the application, I find that I cannot log in, which gives me an error of 500. Upon debugging this is the current error that I am facing

Route [canvas.login] not defined.

### Expected Behavior

_No response_

[2022-05-23 13:35] austintoddj commented on #1065
Are you defining custom paths in the .env file?

[2022-05-23 13:37] #1063 closed

[2022-05-25 13:20] austintoddj commented on #1065
And just to make sure we're on the same page, you ran through the installation per the Readme?

In your Laravel installation, can you run `php artisan route:list` and see Canvas' routes defined?

[2022-05-25 14:54] kevinwaxi commented on #1065
tried reinstalling Canvas on the live server now doesn't install. Is there another way to install this?

[2022-05-25 15:01] kevinwaxi commented on #1065
The issue is resolved after a long day. Forgot to mention this but Awesome package.

[2022-05-25 15:01] #1065 closed

[2022-05-26 20:34] austintoddj commented on #1065
Thanks for the kind words @kevinwaxi 😄

[2022-05-31 17:28] austintoddj commented on #1046
Closing as it needs more info.

[2022-05-31 17:28] #1046 closed

[2022-06-17 16:57] #1005 closed

[2022-06-19 09:46] Grazjano commented on #1040
[Search Engine Optimization (SEO) Starter Guide](https://developers.google.com/search/docs/beginner/seo-starter-guide)

![Immagine 2022-06-19 114037](https://user-images.githubusercontent.com/33705581/174475085-8c1e1ff8-e08b-4aa6-b809-1785f1a2c4c6.png)

[2022-06-30 12:59] caojianfei opened #1086 "When visit /canvas-ui the js and css file can not find"
### Discussed in https://github.com/austintoddj/canvas/discussions/1085

<div type='discussions-op-text'>

<sup>Originally posted by **caojianfei** June 30, 2022</sup>
It looks like this:
![微信截图_20220630205409](https://user-images.githubusercontent.com/17742555/176682567-ec952fa3-7825-4af0-89fa-87005ca81e4f.png)

I have already run `npm run dev`:
![微信截图_20220630174628](https://user-images.githubus

[2022-06-30 14:01] caojianfei commented on #1086
When use laravel 8, there is no problem. I think mybe is is not support laravel 9(laravel 9.19) yet.

[2022-06-30 20:02] austintoddj commented on #1086
With the [recent move to Vite](https://twitter.com/taylorotwell/status/1541795873838989314) for bundling assets, it does look like a breaking change for anyone not on Mix anymore. I'll take a closer look and see if there's a relatively easy path forward.

[2022-07-13 09:47] Shepherd345 commented on #837
Laraberg editor will solve the editing experience. Because, the editing experience with canvas is very poor at the moment. Is there a way to change the editor at our end?

[2022-08-07 13:54] lordz123 commented on #961
the `php artisan serve --port=8080` not helping m instead theres an error in the console
all the post are save as draft

![image](https://user-images.githubusercontent.com/27280478/183294194-a38b0c39-3673-4aa0-8ea0-fbfff0bcc675.png)

[2022-08-15 18:22] Charlesllamas commented on #1086
You can follow the steps on section migrating-from-vite-to-laravel-mix
https://github.com/laravel/vite-plugin/blob/main/UPGRADE.md#migrating-from-vite-to-laravel-mix

[2022-09-10 11:31] dgillier opened #1132 "Using existing User model"
### Is your feature request related to a problem? Please describe.

Unless you are creating just a blog, most other use are about adding a blog to an existing app.
And in this situation, there is already a User model and duplicating it make things more difficult...

### Describe the solution you'd like

I looked at your User table and there is just a few more fields but nothing used intensively...

[2022-09-15 21:09] PaulChase commented on #1132
I totally agree.

The new canvas users table is not necessary, it could have just been merged with the existing users table.

[2022-09-15 21:19] PaulChase opened #1135 "Publishing of posts not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I just installed the package and wrote a dummy post.

I clicked published and then clicked published now instead of scheduling.

But when I go to the posts page I can't find any published posts, but it appears in drafts.

I tried publishing it again but it doesn't work.

### Expected Behavior

[2022-09-16 13:42] austintoddj commented on #1135
@PaulChase Can you verify that the timestamp in the database is sometime in the past?

[2022-09-16 14:15] PaulChase commented on #1135
The published_at column has a timestamp but yet the posts are showing as published posts

![image](https://user-images.githubusercontent.com/81924071/190659970-7c8bf3e5-6523-4ec8-b83b-466f370a3c39.png)

[2022-09-16 20:49] PaulChase commented on #1135
Okay I don't understand what is going on here, the posts I published last night are now showing as published after about 24hrs.

I then wrote another dummny post to test it out.
After I pubished it, it is still showing as draft in the 'canvas/posts' page.

Is there some kind of delay before a post shows as published?

[2022-09-16 21:28] PaulChase commented on #1135
It seems I've figured it out, It was difference in timezone that was the issue since canvas uses the laravel default timezone.

I just changed it to match my timezone (west african time).

[2022-09-16 21:28] #1135 closed

[2022-09-16 21:29] PaulChase commented on #1135
It seems I've figured it out, It was difference in timezone that was the issue since canvas uses the laravel default timezone.

I just changed it to match my timezone (west african time).

[2022-09-17 14:47] austintoddj commented on #1132
It used to be that way. There's a [discussion](https://github.com/austintoddj/canvas/discussions/959) and [a related issue](https://github.com/austintoddj/canvas/issues/939) that dive a little deeper into it.

[2022-10-26 18:22] noahdigesu opened #1154 "Post not showing under published section, but is published."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Screenshot from 2022-10-26 20-15-55](https://user-images.githubusercontent.com/62944748/198104604-01bf39e4-26bc-465b-bda0-ad33b2ef60c6.png)
![Screenshot from 2022-10-26 20-17-43](https://user-images.githubusercontent.com/62944748/198104928-580d1d02-17dd-497f-9375-7afdfe4284a3.png)

Even tho

[2022-10-26 18:23] noahdigesu commented on #1154
Thanks in advance for the help !! 🤠

[2022-10-31 19:34] austintoddj commented on #1154
@noahdigesu I wasn't able to reproduce this on my end. Are you still stuck with this issue?

[2022-11-01 14:08] austintoddj commented on #1132
Closing this because I believe a separation is applicable to a number of situations. While it isn't necessary in all cases, I'd like to keep it as is for the time being. Thanks @dgillier for offering the suggestion though!

[2022-11-01 14:08] #1132 closed

[2022-11-01 14:08] austintoddj commented on #1086
@caojianfei Did the above suggestion help you get your issue resolved?

[2022-11-04 08:55] noahdigesu commented on #1154
Very confusing - did a new install, and it now works... Oh well, I guess it's better like that ahah

[2022-11-04 08:55] #1154 closed

[2022-11-04 12:11] noahdigesu commented on #473
Hi !

I would like to achieve the exact same result as @kavierkoo, however the `php artisan canvas:setup` command is not available anymore.
How should I go about this ?

Thank you in advance :)

[2022-11-04 13:12] austintoddj commented on #473
@noahdigesu The command you're looking for is `install`. See it [here in the documentation](https://github.com/austintoddj/canvas#installation).

[2022-11-07 10:33] noahdigesu commented on #473
Nice ! Thanks ! :D
I feel like the README might not be super clear about this - I thought `canvas:ui` was an alternative to the "default" look of canvas.
Maybe mention "Want to enable guest users to access your articles ?" or something similar to make it more explicit ?

[2022-11-07 14:25] austintoddj commented on #473
Understood. Thanks for brining up that it was difficult reading between the lines on that. I'll see what it looks like updating that in the next release.

[2022-11-07 16:50] noahdigesu opened #1158 "Change the canvas-ui page title"
Hey :)

I was wondering if there is any way to change the page title of the `canvas-ui` front-end.
It says "Canvas" and I would like it to change to Smoothey's blog 🥤 (see images below).

Current state :
![Screenshot from 2022-11-07 17-46-39](https://user-images.githubusercontent.com/62944748/200366881-3656a080-6dbb-4451-8860-572742850171.png)

What I would like the title to be :
![Screenshot from

[2022-11-07 18:33] noahdigesu commented on #1158
Scratch that - for anyone who wants to do the same thing, you can go under `resources/js/canvas-ui/views/All[Posts/Tags/Topics].vue` to assign a custom title :)

[2022-11-07 18:33] #1158 closed

[2022-11-07 19:25] austintoddj commented on #1158
Glad you found your answer @noahdigesu.