[2016-07-03 10:29] Swader opened #7 "Consider removing mcrypt"
[More info here](https://paragonie.com/blog/2015/05/if-you-re-typing-word-mcrypt-into-your-code-you-re-doing-it-wrong), basically, stay away from mcrypt, there's a bunch of better alternatives.

[2016-07-03 18:55] austintoddj commented on #7
Where are you seeing any usages of mcrypt? Just want to make sure we're looking at the same thing.

Thanks for the help!

[2016-07-03 18:56] Swader commented on #7
I merely noticed it in the system requirements, have not had the chance to use it yet. Why is it required?

[2016-07-03 19:03] austintoddj commented on #7
That was actually left over from older [Laravel 5.0 documentation](https://laravel.com/docs/5.0#server-requirements). Thanks for catching that!

Fixed with commit : [f6a59a8cf35ec44f9f6021ad6a69e524a6861101](https://github.com/austintoddj/Canvas/commit/f6a59a8cf35ec44f9f6021ad6a69e524a6861101)

[2016-07-03 19:03] #7 closed

[2016-07-04 07:00] Padarom opened #10 "Missing support for other countries"
Two things I've noticed are currently US specific and don't work for other countries:

- Phone number formats
- State

While it is usual to specify the state in the US, this is not the case for every country. I live in Germany and here we mostly omit the state in our address. Also there's no commonly known two-character abbreviation for our states, so even though I put in "BY" (for Bavaria/Bayern)

[2016-07-04 09:18] Modelizer opened #11 "[Feature] How can we integrate it in existing L5 instance?"
Is there a way to integrate canvas in existing L5 instance? If yes then please help me out.

[2016-07-04 17:06] austintoddj commented on #11
In its current state, Canvas cannot be pulled into an existing Laravel installation. It's a standalone application. There have been quite a few requests for this to be available purely as a package that can be added to existing installations, so you may see this feature in an upcoming release. Thanks for checking out Canvas and stay tuned!

[2016-07-04 17:06] #11 closed

[2016-07-04 18:06] Modelizer commented on #11
No problem... @austintoddj Thanks a lot for creating canvas... If possible il try to contribute... 👍

[2016-07-04 23:59] dechristopher opened #12 "Link to GitHub page in "Edit Profile" page uses the configured Facebook username"
The link to the user's GitHub profile in the left column of the "Edit Profile" page in the admin dashboard uses the username that is configured for Facebook. Facebook itself uses the correct username, but the GitHub uses the configured Facebook username as well.

This issue is local to the "Edit Profile" page from what I've seen. The frontpage of the blog generates and displays URLs properly as it

[2016-07-05 03:11] austintoddj commented on #10
Thanks for the feedback! I'll try implementing these changes and release an update in a day or so. Stay tuned!

[2016-07-05 03:12] austintoddj commented on #12
Thanks for the feedback! I'll get this fixed and pushed out in a day or so. Stay tuned!

[2016-07-05 19:25] braydeejohnson opened #13 "Exception is thrown when trying to format a non existent Phone number"
If you edit your profile and fail to enter a phone number, you get a ErrorException thrown.

The phone field should either be required, or some checking should be put in place to prevent exceptions on a null value.

I'll submit a PR.

[2016-07-05 19:29] #13 closed

[2016-07-05 19:30] braydeejohnson commented on #13
Looks like this was resolved in ef6c7a6, should have looked there before creating this. :)

[2016-07-05 19:35] austintoddj commented on #13
Thanks for checking it out! I Look forward to any more input you have on Canvas!

[2016-07-05 19:53] #12 closed

[2016-07-05 20:13] austintoddj opened #14 "Database being truncated after running PHPUnit tests"
Once the application is installed, run the migrations. You should see data in the database.

Now run the unit tests. All the tables have been deleted from the database.

[2016-07-06 17:07] sudheer594 opened #18 "toddaustin.io/blog cannot be accessed."
This site can’t be reached.

toddaustin.io took too long to respond.

[2016-07-06 17:15] austintoddj commented on #18
This is currently a known issue. Due to severe storms last night, all power in the area is out and hasn't been brought back up. The site will be brought back online as soon as the energy company has fixed the lines. Thanks for checking it out!

[2016-07-06 17:30] sudheer594 commented on #18
Good to know. Thanks for the awesome application :)

[2016-07-06 20:19] austintoddj opened #19 "Media Library Feature"
Add a media library where users can browser currently uploaded images. A user should also be able to select page images from this library when creating/editing posts.

[2016-07-06 21:58] talv86 commented on #19
I haven't got a proper solution for this but i have created a branch where you can use the summernote uploader to upload images into blog posts that seems to work quite well as a short term fix if you're interested

[2016-07-07 13:05] austintoddj opened #21 "Date/Time picker highlight today"
The highlight today portion of the datetime picker is just a tiny bit off, design-wise. Instead of the broken circle, it should be a full circle.
<img width="288" alt="screen shot 2016-07-07 at 8 01 46 am" src="https://cloud.githubusercontent.com/assets/8037011/16654042/8bc3e3aa-4419-11e6-8c0a-d3a042ca8a12.png">

[2016-07-07 13:21] austintoddj commented on #21
As a side note, the color of the picker should change to be the primary blue of the header bar.

Blue
#2196F3

[2016-07-07 14:02] austintoddj commented on #19
Yeah I'm interested to see that. What's the branch? I'll pull it down and check it out.

[2016-07-07 14:07] Padarom opened #22 "Running migrations on sqlite throws an exception"
I was getting this error when trying to migrate the database with the sqlite driver.
[code]

[2016-07-07 14:11] talv86 commented on #21
PR submitted

[2016-07-07 14:16] talv86 commented on #19
Sure its "imageUploader".

I'm working on a proper media browser / uploader which we can trigger from a custom button from the  summernote editor (a long way to go i've only started fleshing it out today) but as a short term work around to allow people to put images into their posts this does what is needed.

[2016-07-07 14:20] talv86 commented on #22
try adding ->default(''); to all of the columns in the restructure_posts_table migration.

You can't make columns nullable when altering a table in sqlite its a weird bug.

[2016-07-07 14:40] #22 closed

[2016-07-07 15:01] austintoddj commented on #21
Fixed with commit: 3eee320f48b749b489022b0653db07efdde81a42

[2016-07-07 15:01] #21 closed

[2016-07-07 15:20] austintoddj commented on #14
Fixed with commit: db0f24e38a6de8de2448ddba9d82a9945297688d

[2016-07-07 15:20] #14 closed

[2016-07-07 19:44] austintoddj opened #26 "Profile information isset() error"
On the profile settings page, if you delete the bio content and save, go back to the main profile page, the heading of `Summary` will still be present. This is supposed to be being checked by isset($data['bio']), but it's currently not blocking it from showing up.

When you use @if($data['bio'] != '') , the content is hidden if bio does not have a value present, but it breaks the unit test for the

[2016-07-07 20:15] austintoddj commented on #26
Fixed with commit: c1155d52177f4bbecc0e8938a49e9f03c1d14e87

[2016-07-07 20:15] #26 closed

[2016-07-08 07:12] poklin commented on #19
Hi Guys, how about adding the video for the summer note?

[2016-07-08 08:12] Padarom opened #28 "Post subtitle or excerpt"
I've noticed that the subtitle of a post is not displayed in any of the templates. Was it planned to have it be displayed in the same fashion, as the tag subtitle on a tag page?

If not, would it make sense to perhaps use it as an excerpt/description to be displayed on the post overview?

[2016-07-08 11:58] austintoddj commented on #28
Good catch @Padarom. I believe the reason I left it out was purely a design choice, just didn't have a place to put it. But it might make sense to display the subtitle on the front-end post index page underneath the title of each blog post. Or it could exist on the individual post page itself. Thoughts?

[2016-07-08 12:34] Padarom commented on #28
I was actually thinking of the first one. I was writing some posts earlier today and thought it'd be great if I could give my readers some more information about my post other than its title before they view it.

When I'm already on the post page, I already have the text before me, so I don't think I would need another piece of information about the post on the same page.

[2016-07-08 14:02] #10 closed

[2016-07-08 14:07] austintoddj commented on #28
Yup good thought. If we were to take it one step further, if there was a pleasant way to display a thumbnail of the post image on the index page, that may even be more satisfying to scroll through. Would you want to make a pr of your proposed changes?

[2016-07-08 16:37] austintoddj commented on #19
@poklin As of right now, I'm not seeing a way in Summernote's documentation on how to simply add the video in the toolbar. I can make a completely custom toolbar just fine, but that would remove all the current buttons. If you know of a way, send me a pr.

[2016-07-10 02:58] tanteng opened #29 "Why use Job?"
Why use Job here?
[code]

[2016-07-10 04:53] austintoddj commented on #29
Just experimenting with a few Laravel practices. There would be many ways to accomplish this besides using a job. If you have a better way that you'd like to see implemented, send me a pr.

[2016-07-10 04:53] #29 closed

[2016-07-10 06:58] tanteng commented on #29
I don't think it's the best way, the queue is used for async task, not real time.

Sorry , my English is poor.

[2016-07-10 13:26] austintoddj commented on #29
No worries @tanteng. You are correct that jobs should be reserved for asynchronous processes. I'll see what I can do to implement that in an upcoming release.

[2016-07-11 15:17] austintoddj opened #34 "Blog configuration settings"
Right now, the blog configuration exists only in `config/blog.php`. This works for now, at least for the initial installation of Canvas. These values should be persisted to the database however and then be able to be modified from a Blog Settings page.

This will streamline the blog administration for people who are a little less-familiar with Laravel to update their application settings and open

[2016-07-11 16:16] poklin opened #35 "Fatal Error During Creating New Post With Images"
Hi Guys,

I have the recent pull request and tried to create a new post.
I received below error

when I trying to insert 1 image into the post. I am using wampserver as virtual hosting and I did try to increase the ini_set('memory_limit', '512M') still receive the error.

Sorry if I am wrong somewhere else.

[2016-07-11 22:00] erikgall commented on #35
@poklin did this happen while uploading the image or after you inserted the image and tried to view the post that the image existed in.

[2016-07-11 23:27] poklin commented on #35
It happened when I clicked save. So It should be while update to the Database

[2016-07-12 02:33] austintoddj commented on #35
@poklin Let me go ahead and try to replicate the issue. I'll update you when I know more.

[2016-07-12 14:19] RDelorier commented on #35
Here is the real error
```Communication link failure: 1153 Got a packet bigger than 'max_allowed_packet'```
the php memory is a caused while creating the exception try running this in mysql and see if it fixes the issue
```SET GLOBAL max_allowed_packet=1073741824;```

[2016-07-12 16:09] shavenking opened #36 "Slug in Chinese title"
Hi

Post's `slug` is generated by `str_slug`, which is a problem when users have **Chinese title**. Is there any idea to solve it?

[2016-07-12 16:10] shavenking opened #37 "Slug in Chinese title"
Hi

Post's `slug` is generated by `str_slug`, which is a problem when users have **Chinese title**. Is there any idea to solve it?

[2016-07-12 16:13] shavenking commented on #37
Sorry for the duplication.

[2016-07-12 16:13] #37 closed

[2016-07-12 16:39] austintoddj commented on #36
@shavenking Thanks for bringing this up. Let me dig into this and get back to you as soon as I know more about how to implement a solution.

[2016-07-13 14:16] Padarom commented on #36
I only know some Japanese (where this might also be a problem), but just looking at other packages for Chinese, this looks like something that could work as a replacement: https://github.com/lokielse/laravel-pinyin

In fact, every language that doesn't use Latin has problems with slugs. Not all of them are too common obviously, but [this page alone](https://sites.google.com/site/worldfactsinc/Non-

[2016-07-13 14:20] austintoddj commented on #36
Good thought @Padarom. I'll take a look into this package and see what we can do to get this into a release.

[2016-07-13 17:47] naneri commented on #34
Laravel https://github.com/daftspunk/laravel-config-writer can be used to rewrite

[2016-07-13 18:19] austintoddj commented on #34
Very nice @naneri! Question: do you think it'd be best to write to a config file or store values in the database? I'm sure there's not a right/wrong way, but what's your opinion?

[2016-07-13 18:27] naneri commented on #34
@austintoddj Hmm... a hard question, honestly I am not sure and I don't have a lot of related experience, but I think that OctoberCMS writes directly to config file. I think there might be a reason behind their choice.

[2016-07-14 07:40] naneri commented on #34
@austintoddj by the way, need to note, that changes to config file will interfere with Git changes, in that term storing to database would be better

[2016-07-14 13:38] RDelorier commented on #34
There are a few packages aimed at solving this, here is just one example https://packagist.org/packages/efriandika/laravel-settings

[2016-07-14 20:05] nticaric opened #40 "Full Text Search"
@austintoddj  have you considered adding full text search support? If you are interested, I can create a pull request by implementing [TNTSearch](https://github.com/teamtnt/tntsearch)

[2016-07-14 20:09] austintoddj commented on #40
I'd love to have a more fleshed out search. Right now, it is restricted to only posts and tags. There is much room for improvement! So yes, if you'd like to tackle this feature and send me a PR, I'd be more than happy to include it in the project. Let me know if you have any questions or need anything. I'll assign this one to you.

[2016-07-14 20:14] nticaric commented on #40
Ok great! The dependencies of TNTSearch are

* PHP >= 5.5
* PDO PHP Extension
* SQLite PHP Extension
* mbstring PHP Extension

So if we include it, canvas will also depend on it, are you ok with this?

[2016-07-14 20:18] austintoddj commented on #40
Yes that's fine.

[2016-07-15 13:29] austintoddj opened #43 "Project language reported incorrectly"
Not sure if anyone has experience with fixing this, but GitHub is deciphering the project language as being 45.9% HTML, which isn't correct. It should be something like 95% PHP. I know it's something in the .gitattributes file, but not sure what the fix is.

[2016-07-15 14:19] austintoddj commented on #34
Resolved this issue with the new command `php artisan canvas:install`

[2016-07-15 14:19] #34 closed

[2016-07-15 18:13] austintoddj commented on #43
Fixed with commit: 23096bf7e84314f6899665572ff0b8a81b850136

[2016-07-15 18:13] #43 closed

[2016-07-15 19:54] nticaric commented on #40
I guess we can close this one now. If someone experiences a bug with the search, feel free to assign the issue to me.

[2016-07-15 19:57] austintoddj commented on #40
@nticaric Is this something that would be addressed in the config or `.env` file?
![screen shot 2016-07-15 at 2 55 46 pm](https://cloud.githubusercontent.com/assets/8037011/16886870/58b48b48-4a9c-11e6-8dbd-8cef03f30872.png)

[2016-07-15 20:00] nticaric commented on #40
Here's how the `tntsearch config` looks like

<img width="554" alt="tntsearch" src="https://cloud.githubusercontent.com/assets/824840/16886948/5ec27d48-4ad7-11e6-8be5-2a86201555f0.png">

which means you need to have the `DB_CONNECTION` environment variable set

[2016-07-15 20:09] austintoddj commented on #40
Two things. First, I get this error when trying to save a new post:

![screen shot 2016-07-15 at 3 05 52 pm](https://cloud.githubusercontent.com/assets/8037011/16887127/e05da61e-4a9d-11e6-97b8-855ce864981d.png)

Second: The PHPUnit tests significantly slowed down. The unit tests are using a SQLite database in memory to run tests rapidly. Any thoughts on these?

[2016-07-15 20:10] austintoddj commented on #40
Also can't seem to pull any results from a search at all.

[2016-07-15 20:15] nticaric commented on #40
It seems like the folder where the database resides doesn't have write permissions. Can you please check if the folder and the index itself is writable. The default folder where the index resides is `storage`. The files are `posts.index` and `tags.index`

If the script failed to write to those indexes the search results will be empty

[2016-07-15 20:17] austintoddj commented on #40
Yup I'll do that right away. FYI I just created a revert pull request, because I was hasty and just pulled everything in without testing myself. So I'm just reverting for a tiny bit while I do as much testing as I can and then I'll just have you send me a pull request again. Sorry for the confusion, I just should have been more thorough with my processes. But everything looks GREAT so far, and I'l

[2016-07-15 20:39] nticaric commented on #40
Ok, no problem. I think that the problem here were only the permissions.
About the unit test speed. The index files are updated each time an update/insert/delete is made to the posts or tags table. Since the tests do a lot of those actions, they are slowed down because the index resides on disk and writing to the disk is a lot slower than to memory.

We have several options for this:
* we can remo

[2016-07-15 20:43] austintoddj commented on #40
Thanks for the explanation, it really helps. I think I like the 3rd option, since in a testing environment we are just looking for application functionality, and there won't really be a need to search for anything. So I think we'd be safe going that route.

As far as the permissions, is there anything we need to add to the readme.md for users on setting Canvas up, or will it just work?

Last, we'd

[2016-07-15 20:53] nticaric commented on #40
I think you're already telling users to make the storage directory writable in the readme file.
Some systems, but rare ones, set an crazy umask for file creation that make the files readonly, so we could put a sentence that the two index files in the storage directory need to be writable.

Maybe it's better to change the tntsearch config file and default it to mysql `env('DB_CONNECTION', 'mysql')`

[2016-07-15 20:58] austintoddj commented on #40
Ok. Let's leave the current storage directory permissions statement in the `readme` alone for now. Could you go ahead and add the `DB_CONNECTION` to .env.example with a default of `mysql`? That way, it'll be pretty apparent for anyone not familiar with what's going on that their connection is set to `mysql`

[2016-07-15 21:03] nticaric commented on #40
Yes, I allready did that. Try to clone my fork and test it, and if everything goes smoothly, I'll send you a pull request, if not, we'll try to fix it ;)

https://github.com/nticaric/Canvas

[2016-07-15 21:07] austintoddj commented on #40
Will do! I'll give it a go tonight. Thanks for working on this with me!

[2016-07-16 01:49] austintoddj commented on #35
@poklin Did the solution that @RDelorier presented above work for you? If so, I'll close this issue out.

[2016-07-16 01:51] austintoddj commented on #36
Let's go with the solution @Padarom suggested. Letting a user change the slug of the post should fix this bug. I'll close this out and open a new feature issue.

[2016-07-16 01:51] #36 closed

[2016-07-16 01:53] austintoddj opened #46 "Ability to edit post slug"
A user should have the ability to edit the slug url of an individual post. This should take care of #36. This can be done in the post Create/Edit pages.

[2016-07-16 01:55] austintoddj opened #47 "Unit Tests for Post Creating/Editing/Deleting"
PHPUnit tests should be written to cover the applications' ability to create/edit/delete a post.

Example:
A user visits `admin/post `.
The user clicks the `Create a New Post` icon.
The user fills in no information, and the form does not submit because of validation errors.
The user fills in all of the necessary information.
The user clicks `Save` and is redirected back to the `admin/post ` page.

[2016-07-16 01:56] austintoddj opened #48 "Unit Tests for Tag Creating/Editing/Deleting"
PHPUnit tests should be written to cover the applications' ability to create/edit/delete a tag.

Example:
A user visits `admin/tag`.
The user clicks the `Create a New Tag` icon.
The user fills in no information, and the form does not submit because of validation errors.
The user fills in all of the necessary information.
The user clicks `Save` and is redirected back to the `admin/tag` page.

Check

[2016-07-16 01:57] austintoddj opened #49 "Unit Tests for Folder Creating/Deleting"
PHPUnit tests should be written to cover the applications' ability to create and delete a folder.

Example:
A user visits `admin/upload`.
The user clicks the `New Folder` icon.
The modal form is presented and is validated for errors.
The user clicks `Save`and is redirected back to the `admin/upload` page.
Check that the folder was created in `public/uploads`.

Same process needs to be tested for d

[2016-07-16 01:58] austintoddj opened #50 "Unit Tests for Image Uploading/Deleting"
PHPUnit tests should be written to cover the applications' ability to create and delete a file/image.

[2016-07-18 03:33] poklin commented on #35
@austintoddj
Ya, it is working right now. I changed the database structure text to longtext and also set the max_allowed_packet on mysql.ini

[2016-07-18 03:34] #35 closed

[2016-07-18 09:28] shinokada opened #55 "php artisan canvas:install error"
After running `composer create-project austintoddj/canvas canvas` I run `php artisan canvas:install`, then I get the following error.

    [Symfony\Component\Console\Exception\CommandNotFoundException]
    There are no commands defined in the "canvas" namespace.

[2016-07-18 11:40] austintoddj commented on #55
Thanks for finding this @shinokada. The issue came up because Packagist was not pulling the latest version of the `master` branch, leaving out the actual console command. Should be fixed now with release [v2.0.2](https://github.com/austintoddj/Canvas/releases/tag/v2.0.2)

[2016-07-18 11:40] #55 closed

[2016-07-18 15:50] #46 closed

[2016-07-18 20:12] austintoddj commented on #47
Post creation tests are good to go, just need to write up post editing/deleting tests. If anyone else has good testing practices they'd like to share here, you're more than welcome ;)

[2016-07-19 15:11] #28 closed

[2016-07-20 22:14] nticaric commented on #40
Hey @austintoddj, did you had any chance to look into this?

[2016-07-20 22:36] austintoddj commented on #40
Have not yet, my apologies. Hoping to tonight however. Should see the merge soon! :)

[2016-07-20 23:42] austintoddj commented on #40
Ok so I'm still getting the error Attempting to write a readonly database. Any thoughts @nticaric? Post index and tag index both have contents.

[2016-07-20 23:43] nticaric commented on #40
This must be due to your write permissions, the index file needs to be writable. Can you try to manually set it to ie. 777

[2016-07-21 00:29] austintoddj commented on #40
@nticaric Ok awesome, think I've got it all working. You were right. Even though the storage folder is modified during the setup, the addition of the files at a later time means they aren't 777 like the directory was set. So it just means modifying the permissions again. Just making a couple more tests.

[2016-07-21 00:30] austintoddj commented on #40
One other thing, looks like when I run the migrations and seed the database now, I get 2 duplicate tags attached to the 1 post. Have you run into this?

[2016-07-21 00:46] nticaric commented on #40
Hmm, this doesn't happen to me. Is it possible that you're running the seeder 2 times?

[2016-07-21 00:48] austintoddj commented on #40
Ah it's actually when I run canvas:install. Would you try running that command and see if you get it as well?

[2016-07-21 01:01] nticaric commented on #40
Each time the command `canvas:install` is run it adds a record to the `post_tag_pivot` table.
This is because the `PostTagPivotTableSeeder` doesn't truncate the table

[2016-07-21 01:03] austintoddj commented on #40
Ah good catch! Do you want to add the truncate to your PR? Also, just trying to think of all the possibilities for error people could run into installing this. Is there anything in the setup process or steps that you can think of need to be addressed before we pull this in? If not, I think we're ready to go if you just send me a PR again.

[2016-07-21 01:26] nticaric commented on #40
Right now the only thing that I can think of are those permissions, everything else should be ok.

[2016-07-21 01:26] austintoddj commented on #40
Ok great. As soon as those tests are run, I'll merge it in. I'll re-arrange some steps in the readme and that should take care of any issues people could run into.

[2016-07-21 01:38] austintoddj commented on #40
Nice work on this @nticaric. Love the feature, works great. Referenced TNTSearch in the `readme` as well.

[2016-07-21 01:38] #40 closed

[2016-07-21 05:24] poklin opened #57 "Issue with TNTSearch"
Hi guys, after I combine the tntsearch features, I facing below error. Izzit my problem or I miss out some set up.

PDOException in TNTSearch.php line 297: SQLSTATE[HY000]: General error: 1 no such table: info
PDO->query('SELECT * FROM info WHERE key = 'stemmer'') in TNTSearch.php line 297
Because my database does not have the info table.

I tried to search the original tntsearch github guide. App

[2016-07-21 08:58] zarincheg opened #58 "Class 'App\Models\TNTSearch' not found"
I face to problem with the fresh installation. When I tried to create new post I got an error:
`FatalErrorException in Post.php line 171:
Class 'App\Models\TNTSearch' not found`
after I clicked the "save" button. The same error happened with tags creation. But the post/tag was created.

[2016-07-21 12:10] austintoddj commented on #57
@nticaric Any idea on this?

[2016-07-21 12:13] nticaric commented on #57
This sounds like you tried to search on an existing codebase where you don't have the index generated. What you need to do is simply run `php artisan canvas:index`

[2016-07-21 12:23] austintoddj opened #61 "Model not found"
@nticaric Real quick, if you drop your database, create a new one, and run `php artisan migrate --seed`, do you get a Class 'App\Models\TNTSearch' not found?

[2016-07-21 12:29] nticaric commented on #61
yes, just created a pull request to fix this

https://github.com/austintoddj/Canvas/pull/62

[2016-07-21 12:34] austintoddj commented on #61
Thanks @nticaric!

[2016-07-21 12:34] #61 closed

[2016-07-21 12:36] nticaric commented on #58
@austintoddj I guess this one can also be closed since it's fixed in the latest version

[2016-07-21 12:36] #58 closed

[2016-07-21 12:47] RDelorier commented on #50
Looks like I'll have some time this weekend to help out with some stuff. I think testing is more pressing than cleaning up the profile pages so I'll work on these instead. If you want to line up some more "needs testing issues" for me I'll take them this weekend. You may want to require tests for contributions in the future to help protect the project.

[2016-07-21 12:50] austintoddj commented on #50
@RDelorier That sounds great! I have no problem at all writing up some stuff that could help protect the integrity of the app, perhaps some contribution guidelines and such, just don't know how to word it. What kind of tests do you think would be applicable in this case, aside from writing unit tests making sure all of the features of the app actually function?

[2016-07-21 13:06] RDelorier commented on #50
Just making everything works is definitely a good start. Bug reports will help with coming up with tests for edge cases (like that msql packet issue last week).

[2016-07-21 13:08] austintoddj commented on #50
Yup good thought. Ok I'll try to hammer out some more testing issues and get them up before the end of the day.

[2016-07-21 13:16] RDelorier commented on #50
Since I don't know the app very well would you mind mentioning where the feature is handled at (ie: FileUploadController). I didn't even realize there were file uploads until I saw this issue.

[2016-07-21 13:17] austintoddj commented on #50
No problem.

[2016-07-21 13:26] austintoddj commented on #50
@RDelorier How does the updated issue on this one look for you?

[2016-07-21 13:30] RDelorier commented on #50
Wow that's perfect, don't make too easy for me 😂😂

[2016-07-21 14:30] austintoddj commented on #57
@poklin Still having any issues with this?

[2016-07-21 15:23] austintoddj opened #64 "Unit Tests for Profile Editing"
PHPUnit tests should be written to cover the applications' ability to edit various profile settings.

Example:
A user visits `admin/profile`.
If the users' phone number is not set, it should not be showing up.
If the users' address is not set, it should not be showing up.
The user clicks the `Settings` tab.
The user name or email is deleted and the user clicks `Save`.
The form does not submit due

[2016-07-21 15:31] austintoddj opened #65 "Show/Hide password button"
**BUG:** On the Profile Privacy page, the password update form can sometimes submit by clicking the `Show Content`/`Hide Content`. Only the password should become visible/invisible, the form should ONLY submit when `Save` is clicked.

The show/hide password button currently says `Show Content`/`Hide Content`.

![6c91cac6-4b29-11e6-89ea-762479abe5ea](https://cloud.githubusercontent.com/assets/80370

[2016-07-21 15:46] austintoddj commented on #65
@fergthh Wrote this up for you so you'd have an official issue to run your PR against.

[2016-07-21 16:36] RDelorier commented on #65
The submit can be prevented by adding type="button" but if changing to icon guess that won't matter anymore

[2016-07-21 16:59] fergthh commented on #65
Hi guys! Sorry for the disappearance. I'm having trouble with my computer.
This afternoon will be the PR.

[2016-07-22 00:32] fergthh commented on #65
Fixed with #66

[2016-07-22 00:48] fergthh commented on #57
`Info` table is created when `createIndex` method is called from [TNTSearch](https://github.com/teamtnt/tntsearch/blob/master/src/Indexer/TNTIndexer.php#L132), which uses a sqlite database.

[2016-07-22 04:07] poklin commented on #57
Hi Guys,

Thanks for the assist. I get it now.

[2016-07-22 08:42] fergthh commented on #57
@poklin  Could you solve it? Perhaps to someone with the same issue may be useful this.

[2016-07-22 08:44] poklin commented on #57
Yup, thanks to @nticaric help.
php artisan canvas:index will do the trick. Just need to wait a while for it to do the job.

[2016-07-22 11:52] #65 closed

[2016-07-22 12:04] austintoddj commented on #57
@poklin Thanks for sharing your fix with everyone. I'll close this one out now.

[2016-07-22 12:04] #57 closed

[2016-07-22 12:16] austintoddj opened #67 "Compilation of Assets"
In its current state, Canvas leaves much to be desired in the way of compiling assets and maintaining clean LESS code.

If you look at `backend-css.blade.php` and `backend-js.blade.php`, you'll see that all the files are kept in the assets directory and copied over to the public via gulp. The reason behind NOT using CDN's here was because I wanted to keep the integrity of the app/design/style for

[2016-07-22 16:19] austintoddj opened #68 "Unit Tests for Models"
PHPUnit tests should be written to cover the models of the application.

At the most basic level, these tests should cover the relationship between the models.

Example:
A `post` can have many `tags`.
A `tag` belongs to a `post`.
A `user` can have many `posts`.

The tests can be further fleshed out to protect the application from a pretty granular level.

[2016-07-22 16:21] austintoddj opened #69 "Application Controller tests"
PHPUnit tests should be written to cover the controllers of the application.

At the most basic level, these tests should cover the controller responses and data passed back and forth between the controller methods and views.

Example:
The `index()` method in the **PostController** should return a view, with `$data` passed to the view.

These tests can be further fleshed out to protect the applica

[2016-07-23 08:59] olgierd-on-fire opened #71 "[Solved] Freeze on creating the admin user process."
[code]

I have downloaded with github clone and type composer install.

And how to run? I can't find index page.

[2016-07-23 09:46] olgierd-on-fire commented on #71
I edited .env

[2016-07-23 09:46] #71 closed

[2016-07-23 15:13] austintoddj commented on #71
Thanks for checking out Canvas @olgierd-on-fire! Glad you got your issue figured out and documented on here.

[2016-07-23 19:48] olgierd-on-fire commented on #71
I didn't follow installation way.

[2016-07-23 19:57] olgierd-on-fire opened #72 "How do I run any index file?"
I've installed Canvas but how do I run?

[2016-07-23 22:15] austintoddj commented on #72
@olgierd-on-fire Did you make it through the entire Basic Setup in the `readme`? Which part are you stuck at?

[2016-07-24 04:10] olgierd-on-fire commented on #72
@austintoddj I didn't follow searching indexing section. Now it works. I was confused the setup section.

[2016-07-24 04:10] #72 closed

[2016-07-25 02:08] #47 closed

[2016-07-25 02:08] #48 closed

[2016-07-25 02:09] #49 closed

[2016-07-25 12:19] austintoddj opened #75 "Search Function Tests"
PHPUnit tests should be written to test the search bar and its results in the application.

Example:
A user visits any page in the backend, clicks the `Search` icon in the top bar, and types `example`.
The user taken to the search results page and sees `Search Results for example`.

[2016-07-25 19:05] austintoddj opened #76 "Whether or not to set up StyleCI"
Want your feedback here.  I was looking into setting up [StyleCI](https://styleci.io) to maintain a consistent code style throughout the app. In your opinion, would this make it more difficult for you guys creating pull requests, or would this be a good thing to make sure it's got the same format every time you touch it? Not a wrong answer here, just want to get some feedback before implementing s

[2016-07-25 23:53] RDelorier commented on #76
Seems like a good idea. They even have a [Laravel preset](https://styleci.readme.io/docs/presets#laravel) ready to go 🎉

[2016-07-26 00:17] fergthh commented on #76
:+1:  It sounds like a very good idea! I think that when a project begins to grow fast, it's time to keep a certain order and clear rules order to ensure a good future.

[2016-07-26 01:04] austintoddj commented on #76
Thanks for the insight guys! Either of you have experience in setting it up at all? @RDelorier @fergthh

[2016-07-26 01:28] austintoddj commented on #76
Got it set. Thanks again guys for the input, here's to clean coding!

[2016-07-26 01:28] #76 closed

[2016-07-26 01:42] austintoddj opened #78 "TestItCreatesPost Failing Intermittently"
On the `PostTest.php` method `testItCreatesPost`, PHPUnit will intermittently fail with this error:

<img width="969" alt="screen shot 2016-07-25 at 8 36 52 pm" src="https://cloud.githubusercontent.com/assets/8037011/17123272/ff4704aa-52a7-11e6-90e2-ca493e22f73a.png">

This has happened on multiple occasions and breaks the TravisCI build, but can be fixed with pushing another bogus commit, basical

[2016-07-26 01:45] RDelorier commented on #78
Most likely the Carbon::now() being called twice, if you store it in a var (or just leave out the created_at field) it should fix it.

[2016-07-26 01:45] austintoddj commented on #78
Thanks @RDelorier! Gonna try that right now.

[2016-07-26 01:50] austintoddj commented on #78
Worked like a charm @RDelorier. Storing the carbon instance in the variable was the key.

[2016-07-26 01:50] #78 closed

[2016-07-26 01:52] RDelorier commented on #78
Glad that fixed it, inconsistent test results are a pain :/

[2016-08-01 13:14] RDelorier opened #80 "Show/Hide password icons interrupt input navigation"
Just finished setting up a site and noticed that tabbing through the password fields will stop on the show/hide icons. Should those links have tabindex -1 or is that intended?

[2016-08-01 13:18] austintoddj commented on #80
Not intended. Just checked it in Safari and Chrome, and it appears to only affect Chrome. If you want to make a PR for it and Chrome/Firefox/Safari all work as expected, I'll merge it in right away. Good catch @RDelorier!

[2016-08-01 22:21] karlmonson opened #81 "[Suggestion] Integrate better mardown editor"
I would love to see a better markdown editor integrated into this platform. Right now it's painfully difficult to write in markdown with the current text editor. Perhaps something like http://ghosditor.herokuapp.com/.

[2016-08-01 22:28] Swader opened #82 "[Suggestion] Preview mode"
Any way to preview posts before publishing them? If not, maybe add it? Really important, especially when people have RSS feeds.

[2016-08-01 22:52] austintoddj commented on #82
Thanks for asking @Swader! There is currently a way to preview. If you create a post, save it as a draft, and look at the main posts index page, the `Actions` column will have a magnifying glass icon.
Example:
<img width="150" alt="screen shot 2016-08-01 at 5 49 24 pm" src="https://cloud.githubusercontent.com/assets/8037011/17311376/937f95f2-5810-11e6-8786-f1b3313e1c88.png">

That will allow you t

[2016-08-01 22:52] #82 closed

[2016-08-01 22:53] Swader commented on #82
Ahh, found it, thanks!

[2016-08-01 22:56] Swader opened #83 "Activating Markdown Mode"
I have pasted some MD into the editor, but the post renders in plaintext, it doesn't convert the MD into HTML. Is there something extra I need to do to make sure this works?

[2016-08-01 22:57] austintoddj commented on #83
You pasted the markdown in the editor, saved it and then previewed the page?

[2016-08-01 22:59] Swader commented on #83
Yes

[2016-08-01 22:59] Swader commented on #83
The current editors is somewhat useless for writing, so I write in something else (Classeur, or MacDown) and paste it in.

[2016-08-01 23:05] austintoddj commented on #81
Good suggestion @karlmonson. Having a dual-pane editor and preview mode would sure be an enhancement. Currently yes, you can either paste your markdown into the `</>` code view in the WYSIWYG or you can just write it verbatim.

[2016-08-01 23:12] Swader commented on #83
Got it, thanks. Definitely needs a better editor, though :/

[2016-08-01 23:12] #83 closed

[2016-08-01 23:13] RDelorier commented on #80
Whew what a day, I'll get a PR open in just a few!

[2016-08-01 23:13] Swader opened #84 "Integrate DropzoneJS for file uploads"
We should be able to upload multiple images at once for image-heavy posts - Dropzone.js might help with that.

[2016-08-01 23:23] fergthh commented on #81
:+1 to enhancement editor. But the *ghosditor project* is inactive since a year. I would suggest perhaps see a more active project such as [Showdownjs](https://github.com/showdownjs/showdown).

[2016-08-01 23:25] Swader opened #85 "[Bug] CSS: Images should be forced into max width of the layout"
If an image is wider than the content width, it bleeds over. This requires HTML in the MD, which to an extent defeats the purpose of using MD. Example below.

<img width="1680" alt="screenshot 2016-08-02 01 24 19" src="https://cloud.githubusercontent.com/assets/1430603/17312019/e808084a-584f-11e6-9bba-d3d2e8a3abfb.png">

[2016-08-01 23:40] #85 closed

[2016-08-01 23:48] Swader commented on #81
Showdown is really good and easy to extend, we use it internally at SitePoint. It also plays well with PHP's commonmark if needed.

[2016-08-01 23:50] Swader opened #87 "[Suggestion] Syntax highlights"
One should be able to select [Prism.js](http://prismjs.com/)  (or similar) modules to include at installation. My XML snippets look rather bland.

[2016-08-02 01:22] #80 closed

[2016-08-02 08:53] foxted commented on #81
I just installed Canvas to use for my personal website, trying to write my first post, I noticed the editor feels really bloated.

I would suggest an editor in a Medium fashion, to be able to focus on writing. No need for font customization, alignment, etc... Just simple editor.

I will try to search see if I can find a decent Medium-like editor.

[2016-08-02 11:39] austintoddj commented on #81
Great thoughts guys. Looking forward to seeing what we can do to improve the project as a whole. I agree, a minimal, strictly markdown editor would be far more appropriate for Canvas.

[2016-08-04 11:22] orenguyster opened #89 "Upload image from the editor"
Hi
When i trying to upload an image from the post editor it shown me an error : Allowed memory size of 536870912 bytes exhausted (tried to allocate 213829600 bytes)

At the beginning i thought it's php.ini issue but after I doubled (more than once) the max  size upload the the post size it's doesn't look like it's fixing it.
Thanks

[2016-08-04 12:29] RDelorier commented on #89
Maybe it's the MySQL limit, see #35

[2016-08-04 12:43] austintoddj commented on #89
You're right @RDelorier, sounds like this is a duplicate issue. @orenguyster can you try and implement the solution detailed [here](https://github.com/austintoddj/canvas/issues/35)?

[2016-08-04 20:09] orenguyster commented on #89
Thank you, now the post has been saved but for some reason i cant see the pic on the front page and when im editing the post the image and the text bellow disappeared

[2016-08-04 21:42] austintoddj commented on #89
@orenguyster If you check in your database, has the raw data been persisted? Or are you seeing it wipe the content?

[2016-08-05 03:22] poklin commented on #89
Hi @austintoddj ,

Actually I having the same issue again after merging the TNTSearch. My current error is below
"TNTIndexer.php line 348: Maximum execution time of 60 seconds exceeded"

[2016-08-05 06:53] foxted commented on #81
@austintoddj Are you open to pull-request on this? Seems like this library might be good for the job https://simplemde.com/.

[2016-08-05 12:07] austintoddj commented on #81
@foxted Yes, that looks like an excellent solution. If you wanted to make a PR that replaced Summernote with SimpleMDE, I'd certainly pull it in.

[2016-08-05 12:26] austintoddj commented on #89
@nticaric Any way thoughts on why TNTSearch would be doing this?

[2016-08-05 19:37] austintoddj commented on #81
UPDATE: Just created a `develop` branch in which I replaced Summernote with SimpleMDE. Looks nice so far, just a few more tweaks from here before we can merge. If any of you JavaScript ninjas want to take a stab at it, please feel free.

**Outstanding issues:**

* The `Full Screen` feature works, but it sits right behind the navbar on top, causing some text to be hidden.
* The `Split Pane` editor

[2016-08-06 07:32] foxted commented on #69
How do you want to proceed on this one?

We could update the existing tests to include an assertion on the view data like so:

[code]

[2016-08-06 08:00] foxted opened #92 "Upload preview"
1. There is a 404 error in this template `resources/views/backend/upload/partials/modals/files/preview.blade.php` trying to load an non-existing image on page load. Obviously this modal is used for the file preview. A simple fix might be to create a fake transparent pixel gif to avoid the 404
![screen shot 2016-08-06 at 12 56 14 am](https://cloud.githubusercontent.com/assets/1385160/17455566/a548f

[2016-08-06 08:54] foxted opened #94 "[Suggestion] Import from Medium.com"
It would be nice to be able to import posts from Medium.com when migrating to Canvas.

https://medium.com/developers/welcome-to-the-medium-api-3418f956552#.h1llq8wn9

[2016-08-06 09:04] foxted opened #95 "[Suggestion] Upgrade process"
What is the suggested update process? If none, how would you like to go to update a project created with Canvas?

[2016-08-06 15:14] austintoddj commented on #69
Yes I like what you've got there. Let's use that.

[2016-08-06 15:14] austintoddj commented on #95
Great question @foxted. Still working on figuring that one out. If you have any ideas or thoughts on it, I'd love to hear it.

[2016-08-06 15:15] austintoddj commented on #94
I'll look into that. Never used Medium before, but heard good things about it. I'll see what we can do with this.

[2016-08-06 15:16] austintoddj commented on #92
@foxted Does this fix your issue?

[2016-08-06 17:46] RDelorier commented on #75
If you attempt to use the search without indexing posts first then you will see a PDOException, It would be nice to default to a simple query search if posts have not been indexed. What do you think about having a `where ... like '%term%'` as a fallback @austintoddj

[2016-08-06 17:55] RDelorier commented on #75
Looks like it's pretty ingrained now, nevermind 💤

[2016-08-06 17:57] austintoddj commented on #75
@RDelorier Have you experienced an issue with this?

[2016-08-06 18:05] RDelorier commented on #75
Yes, but since the app requires TNTSearch I guess it makes more sense just to handle the issue when the exception occurs.

[2016-08-06 18:22] #64 closed

[2016-08-06 21:09] foxted commented on #95
I was thinking isolating Canvas-sp cific files into it's own folder, kind of like what Laravel Spark does. With a console command to update to the latest version.

[2016-08-06 21:11] foxted commented on #89
Seems like a memory problem. Maybe a script is taking too long to execute. Would have to look through the code to figure out what is taking so long.

[2016-08-06 22:59] foxted commented on #94
Maybe a simple Artisan command with Medium API keys in `.env` file and the import would populate the posts table.

[2016-08-06 23:00] foxted commented on #92
@austintoddj It does, thanks.

[2016-08-06 23:00] #92 closed

[2016-08-07 01:19] austintoddj commented on #89
@poklin @orenguyster I'm implementing a new editor into Canvas called [SimpleMDE](https://simplemde.com), which will effectively replace Summernote and all it's capabilities, including the image upload button that I believe is causing you issues.

[2016-08-07 01:21] austintoddj commented on #75
@RDelorier Do you think this is something I need to dig more into, or should I close this out?

[2016-08-07 02:31] #81 closed

[2016-08-07 02:33] austintoddj commented on #89
@poklin @orenguyster Let me know if [v2.1.0](https://github.com/austintoddj/canvas/releases/tag/v2.1.0) fixes it for you.

[2016-08-07 08:56] orenguyster commented on #89
Hi @austintoddj,

First thank you so much for this support.

with the old editor
I checked how it's look on the database and it's look something like that: https://i.imgur.com/2pdypef.png.

When edit the post again the image and the bellow content disappears.

Second, when i saved the image, in the posts index page its look like it's messing with the divs:  https://i.imgur.com/1TyoxC3.png
You can

[2016-08-07 14:18] austintoddj commented on #89
Hm, that may be an inconsistency with the way Summernote handled image uploading. I would advise the new editor SimpleMDE, that will retain strict Markdown standards and should take care of your issue. I'll close this one out, but if you run into another problem feel free to open another! :)

[2016-08-07 14:18] #89 closed

[2016-08-07 14:36] austintoddj commented on #95
@foxted I've never actually used Spark before. A command should be easy enough to create. What do you think, a new command for each version upgrade? Or just large upgrades?

[2016-08-07 14:37] austintoddj commented on #94
I'll take a look into this right away @foxted. Looks like it'd be a great feature to ship with Canvas.

[2016-08-07 18:29] Shaun2D2 opened #100 "admin navbar covers modal"
I noticed the modal in the admin console is partially being covered by the navbar, likely a z-index issue.  I'm using chrome 51.0.2704.103 (64-bit)

![image](https://cloud.githubusercontent.com/assets/3941040/17464392/1588e014-5c92-11e6-83e2-32c082274a33.png)

[2016-08-07 19:06] austintoddj commented on #100
@Shaun2D2 Thanks for catching this. Looking into it ASAP.

[2016-08-07 19:18] Shaun2D2 commented on #100
@austintoddj np!  I'd be happy to take a look over it and submit a PR if you'd like.

[2016-08-07 19:20] austintoddj commented on #100
@Shaun2D2 Yeah that'd be great if you want to go ahead and do that. Love to have your contributions to the project.

[2016-08-07 21:04] austintoddj commented on #94
@foxted So exporting from Medium gives you an HTML file. Do you know of a good way to parse through that and prepare it to be imported into Canvas?

[2016-08-07 21:08] #67 closed

[2016-08-07 21:27] foxted commented on #94
Even going through the API?

[2016-08-08 00:38] erikgall commented on #68
I wrote a package that attempted to create a test case specifically for this purpose. In Rails, I would say it is a lot more common to test models, relationships, and their corresponding database table. From your description, I think it would take care if this and I wouldn't mind some feedback on it/would like to see if it's something that could be used easily by others (https://github.com/erikgal

[2016-08-08 00:45] austintoddj commented on #94
Hm, let me check more on that. Found a bit of documentation, let me see what else I can find.

[2016-08-08 00:47] austintoddj commented on #68
Awesome @erikgall. Let me look into it a little bit and I'll get back to you!

[2016-08-08 02:04] austintoddj commented on #68
@erikgall Really like the package that you wrote there, it's exactly the kinda thing I was envisioning. If you wanted to create a PR that brings this into Canvas, that'd be fantastic as it'll monitor a deeper level of code that hasn't been covered yet.

[2016-08-08 07:22] orenguyster opened #103 "I tried to install canvas again and for somereason teamtnt/tntsearch ext doing problems"
Check it out, dont get it why it;s forced me to enabled sqlite3

https://i.imgur.com/WdCL0ia.png

[2016-08-08 11:33] #100 closed

[2016-08-08 12:20] fergthh commented on #103
Hi @orenguyster! **Tntsearch** require this because uses it to indexing of the posts.

[2016-08-08 12:58] fergthh commented on #94
Through Api it seems that you can not retrieve the content of publications, just list them with the following information: title, description, url and image.

[2016-08-08 13:32] austintoddj commented on #94
That's what I've been seeing so far as well.

[2016-08-08 14:36] talv86 commented on #95
Realistically people are unlikely to amend the backend so you'd just publish the backend assets again using a command which is pretty easy. The only place it becomes tricky is when a user has altered the front end section.

[2016-08-08 16:33] austintoddj commented on #103
@orenguyster Like @fergthh stated, Canvas utilizes TNTSearch which relies on the Sqlite PHP extension. If you need help setting that up or getting past this particular issue, let me know and I'd be glad to lend a hand. I'll close this issue for now, but open another if you find anything else!

[2016-08-08 16:33] #103 closed

[2016-08-08 16:36] austintoddj commented on #95
@talv86 Yeah I'm a little stumped right now determining how to make this happen. Any expertise you have here would be awesome.

[2016-08-08 20:30] erikgall commented on #68
@austintoddj Awesome. I'll pull that in and create a PR once I'm done. Thanks for taking a look at it.

[2016-08-09 12:43] austintoddj commented on #81
@karlmonson @Swader Hope you guys like the new Markdown editor, should be much more pleasant now writing with Canvas! :)

[2016-08-09 13:05] talv86 commented on #95
gah i wrote a response to this this morning looks like i forgot to press post :(

one of the first things i did when forking Easel was to allow users to create a custom layout for their post pages meaning the originals could stay in tact and consequently all publish events can overwrite them without me worrying about them being destructive.

Spark actually has a mechanism that will only publish fi

[2016-08-09 15:56] #68 closed

[2016-08-09 17:50] austintoddj commented on #87
Fixed with commit: 015110f5f4b7594df9bd45a6e9f57793b7a5d5af

[2016-08-09 17:50] #87 closed

[2016-08-10 01:27] austintoddj commented on #84
Documentation can be found at [DropzoneJS](http://www.dropzonejs.com).

[2016-08-12 17:16] austintoddj opened #110 "Admin Tool Function Tests"
PHPUnit tests should be written to cover the Tools section of the site.
- A user should be able to visit the Tools page
- A user should be able to click Enable/Disable Maintenance Mode, and the Artisan Commands `up` or `down` should be run, and the page reloads back to the Tools page with a success message
- A user should be able to click Download Archive and should have downloaded an Archive fold

[2016-08-12 17:16] austintoddj commented on #110
@RDelorier Thought you might take a stab at this one, as you're a testing ninja ;)

[2016-08-12 19:02] austintoddj opened #111 "Maintenance Mode should whitelist admin users"
As of right now, if you visit `admin/tools` and put the site in Maintenance Mode, a user who is logged in will still be able to access anything in the admin section. Basically, user authentication is what enables the 'bypass' of admins in maintenance mode.

The admin *should* be able however to look at the front-end of the blog as well, and not just the `admin/*` sections. I was thinking this coul

[2016-08-12 19:06] austintoddj opened #112 "Protecting Admin Tools Routes"
If a logged-in user puts this in the url bar `admin/tools/reset_index`, the application will respond to it and run that portion. I'd like to see a way that we can protect routes like this, so a user could **ONLY** run the index reset by clicking the button on the tools page. Same goes for deleting a file etc. and other tool options. It's not a huge security risk, since the author of the blog isn't

[2016-08-12 20:22] nticaric commented on #111
@austintoddj let me take a look and see what I can do

[2016-08-12 20:36] austintoddj opened #114 "Scroll to error div when form has validation errors"
Right now, on any form, [JSValidation](https://github.com/proengsoft/laravel-jsvalidation) validates the form upon submission. Since some forms are longer like the posts creation/edit form, the page should scroll up to the first error div when the form is rejected.

[2016-08-12 21:11] nticaric commented on #112
Am I correct if I say that the system doesn't have any roles and basically every user that is logged in is an admin?

If so, we should only change the request method to POST instead of GET so that the user cannot accidentally access it via url and reset the index

[2016-08-12 21:15] austintoddj commented on #112
Yes you're correct. No users in the backend except the admin/author.

[2016-08-12 22:10] #111 closed

[2016-08-12 23:39] karlmonson commented on #81
@austintoddj Thank you! Giving it a try now.

[2016-08-13 17:21] #112 closed

[2016-08-13 21:19] #114 closed

[2016-08-13 22:11] austintoddj opened #122 "Profile Birthday field should be a date select"
Just like on the Post create/edit page where the field for `published at` is a date/time select, the profile birthday should not be just a text input, but instead a select like the post page.

[2016-08-14 13:35] austintoddj commented on #122
@fergthh After merging the PR, I saw 1 issue only. The difference between the posts date select and the profile date select is that when you finally click on the day you want, the posts date select will keep the modal open, so you can kinda see what you selected. In the profile, the select modal closes immediately and just feels kind of jarring. Is that something you could look at?
<img width="331

[2016-08-14 14:58] fergthh commented on #122
Done @austintoddj :+1:

[2016-08-14 16:24] austintoddj commented on #122
Awesome @fergthh! #javascriptNinja

[2016-08-14 16:24] #122 closed

[2016-08-17 01:51] austintoddj opened #126 "LESS to SASS Conversion"
Convert all LESS files to SASS.

@foxted Thought you might be a good fit for this one, you really nailed the refactoring of the front-end assets earlier.

[2016-08-17 07:29] foxted commented on #126
Got it ;)

[2016-08-17 16:29] #69 closed

[2016-08-18 11:40] #126 closed

[2016-08-18 12:43] austintoddj commented on #95
So the journey to create an upgrade process/route continues. Thanks to some great work by @foxted , the assets are very modularized now with 2 specific files for users to write their own styles and child-theme elements. Those two files should be able to port over to a new installation of Canvas, or really just be protected during an upgrade process. With the new Tools section included now, users c

[2016-08-26 10:26] soywod opened #132 "Undefined index : APP_TIMEZONE"
First of all, you made a nice work here ! I've just downloaded it and I wanna use it for my portfolio / blog.

I have an error when visiting the `/admin/tools` route : **Undefined index APP_TIMEZONE** on `ToolsController` line 37 : `'timezone' => $_SERVER['APP_TIMEZONE']`. Indeed, the key `APP_TIMEZONE` is not in my `$_SERVER`.  But it is in the .env, so should not be `env('APP_TIMEZONE')` instead

[2016-08-26 21:47] austintoddj commented on #132
Thanks for the catch @soywod! Anything else you find that needs attention please let me know!

[2016-08-26 21:47] #132 closed

[2016-08-26 21:53] austintoddj opened #133 "Laravel 5.3 Upgrade"
Just created a branch for upgrading Canvas to Laravel 5.3! My daughter was just born a few hours ago, so I don't have a ton of time to tackle this at the moment, but wanted to open it up and see if any of you wanted to upgrade Canvas to 5.3. Looks like the [upgrade guide](https://laravel.com/docs/5.3/upgrade#upgrade-5.3.0) is pretty complete, hope someone feels like tackling this so we can continu

[2016-08-27 00:04] fergthh commented on #133
Congratulations @austintoddj! A new programmer to the world? :baby_bottle:

I'll see if this weekend will cast an eye to the update. I think it's a good time to complete the pending tests.

Congratulations again and happy life!

[2016-08-27 02:56] austintoddj commented on #133
Thanks @fergthh! Can't wait to see what she'll be when she grows up. Looking forward to some more Canvas magic you always put together!

[2016-08-27 14:33] soywod commented on #133
Congrats  @austintoddj :)

[2016-08-27 14:39] soywod opened #134 "Impossible to preview / delete an uploaded file containing a single quote char"
If I upload a picture named a ' (like "what's-up.jpg"), got in the console `upload:160 Uncaught SyntaxError: missing ) after argument list`. This come from the nested simple / double quotes in your onclick event. Maybe should previewing / deleting by ID instead of name ?

[2016-08-28 01:57] #134 closed

[2016-08-28 10:54] soywod opened #137 "[Suggestion] Add Linkedin"
What about adding Linkedin next to Facebook Twitter and Github ?

[2016-08-28 14:37] soywod opened #138 "[Suggestion] Add CV"
What about adding its own CV, and why not adding a picto next to the blog name or socials to download it in PDF ?  I've just added it on my blog [http://soywod.fr](https://soywod.fr), let me know if this could interest you, and I'll make a pull request

[2016-08-28 19:07] austintoddj commented on #138
Great idea @soywod! Love your blog and how you personalized it. If you want to make a PR to implement this as a new feature, I'll gladly pull it in!

[2016-08-29 02:20] #137 closed

[2016-08-29 06:03] soywod commented on #138
I'm glad to contribute to your awesome project :)

[2016-08-30 10:18] soywod opened #142 "[Suggestion] Add contact me"
Here a little problematic : if I dont like using social networks, how a potential customer/company can contact me from the blog ? Is there a possibility to show email / phone number ? If not, what do you think about a new envelop icon next to social networks that redirect to a contact form, or redirect to a `mailto:xxx@xx.com` ?

[2016-08-30 14:50] austintoddj opened #143 "Themes"
**Designers Wanted!**

Canvas has been _evolving quickly_, and it is very different [today](https://github.com/austintoddj/canvas/releases/tag/v2.1.5) than when it [first released](https://github.com/austintoddj/canvas/releases/tag/v1.0). One of the newest enhancements to the application was the modularity (if that's a word) of the resources. A theme directory is located at `resources/assets/sass/

[2016-08-30 15:21] talvbansal commented on #133
Ahh congrats @austintoddj :balloon: :tada:

[2016-08-30 15:50] #138 closed

[2016-08-30 18:37] erikgall commented on #133
Congrats @austintoddj. If I have time, I'll see what I can do.

[2016-08-30 18:42] foxted commented on #133
Congrats @austintoddj !!

[2016-08-30 19:22] austintoddj commented on #133
Thanks so much guys, it's really nice to know this app can get some love when I'm busy holding the baby through the long hours of the night. :)

[2016-08-30 19:43] austintoddj opened #145 "Rename /auth/login route"
Currently, when a user navigates to '/admin', they are redirected to the default Laravel 'auth/login' route. Is there a way we can modify that so the user no longer sees 'auth/login', but only 'admin'? This is really just a visual preference.

[2016-08-30 21:05] soywod commented on #145
I suggest something, [see my PR](https://github.com/austintoddj/canvas/pull/146)

[2016-08-31 01:14] austintoddj commented on #142
Good idea @soywod. I'll see what I can do to throw this feature in the next release.

Quick thought: it sounds like a potential new feature for Canvas would be to have a one-page portfolio part of the blog. So, hitting the '/' route of the application would go to a single page portfolio of the author. It may be a more well-rounded application then for developers to have a portfolio and blog all in

[2016-08-31 07:13] soywod commented on #142
That's how I use your application on (soywod.fr)[http://soywod.fr], I named it blogfolio :p and I've created a tag portfolio, and when you click on the tag I can see all articles that have the portfolio tag (so the user have an overview of my portfolio) but it's not intuitive. If portfolio + blog + contact if different page, we should put a menu ?

[2016-08-31 07:18] nticaric commented on #133
Congrats @austintoddj, we all are so happy for you!

[2016-08-31 17:20] #145 closed

[2016-09-01 02:45] austintoddj opened #147 "Scroll to Top Button"
A blog post by a developer can often be long, since it may be a tutorial or walkthrough of sorts. It can be a pain to scroll all the way back up to the top navigation. I'd like to see a `Scroll to Top` button very similar to the kind found here:

[Digital Ocean Article](https://www.digitalocean.com/community/tutorials/how-to-use-postgresql-with-your-django-application-on-ubuntu-16-04)

It's simple

[2016-09-01 02:47] austintoddj opened #148 "Forgot Password Link/Email"
This was a built-in Laravel feature, but was removed early on in the development of Canvas. I'd like to bring it back just for user-friendly experiences on Canvas. On the login page, there should be a `Forgot Password?` link, which goes to the submit your email form, which generates the email and token to reset the password. Any help on this would be awesome!

[2016-09-02 02:08] austintoddj commented on #133
@foxted So I merged the 5.3 branch into master just now, just to make sure the HEAD didn't get too far away from us. If you're still able to make those changes we discussed earlier, that'd be awesome. Let me know what you think!

[2016-09-02 09:15] talvbansal commented on #19
I'm hopefully going to have this as a package that can be imported done very soon!

[2016-09-02 13:13] austintoddj commented on #19
Sounds good @talvbansal! Can't wait!

[2016-09-02 13:53] austintoddj opened #151 "Utilizing KeyCDN"
One of the sponsors of Canvas is [KeyCDN](https://www.keycdn.com). Their support came in the form of credit to use their sites' services. I've poked around a little bit to see what they offer and how Canvas can leverage that, but I'm still a little unclear as to how Canvas can implement their services to improve performance. If anyone has some experience in this area,  wants to take a look at it o

[2016-09-02 18:14] RDelorier commented on #133
A little late to the celebration but congratulations to you and your wife!!!

[2016-09-03 01:12] #133 closed

[2016-09-03 01:19] austintoddj opened #152 "Refactor Auth Controllers for Laravel 5.3"
**Part 1**
Laravel 5.3 introduced the splitting of the 2 Auth Controllers into 4. Right now, Canvas has all 6 of them, and they need to be updated to reflect the latest version of Laravel 5.3.

**Part 2**
The default login path for Laravel is 'auth/login'. It should be changed to be simply be 'admin', and not redirect to 'auth/login'.

[2016-09-03 05:18] #152 closed

[2016-09-03 05:19] #148 closed

[2016-09-04 12:48] #147 closed

[2016-09-04 21:19] soywod commented on #142
Suggestion : If you hit the `/` route, you reach an "about me" page, showing informations about the developer (like the author part in to the bottom of each article) with a button "My portfolio" that redirects to `/blog?tag=portfolio` (to see all posts with tag portfolio). Then you have the X last posts of your blog, with a button "Show all posts" that redirect to the "/blog"

[2016-09-04 21:36] austintoddj commented on #142
That's a good idea @soywod. I didn't think of the fact that you could just tag posts with the `portfolio` tag and that would suffice. But that actually sounds perfect. I wonder, there would most likely need to be a way to enable/disable that from the admin section, because some people may just want a straight blog, without having the About Me page. Would you agree?

[2016-09-05 05:36] soywod commented on #142
Yeah perfect ! Totally agreed. I'll PR something and we'll discuss about ;)

[2016-09-06 12:02] austintoddj opened #157 "Customized Email Blade Template"
If anyone has more clarification on this issue that'd be awesome.

I know in previous versions of Laravel, you can customize email templates from the default HTML that is sent, for something like password resets. Laravel 5.3 takes it a step further and generates some nice templates for you. My question is, if we wanted to make a custom blade template for the password reset notification, how would

[2016-09-06 15:40] foxted commented on #157
You could try something like this: https://laravel.com/docs/5.3/notifications#customizing-the-template

[2016-09-06 15:46] austintoddj commented on #157
Thanks for the link @foxted! Checking it out now.

[2016-09-12 12:39] #157 closed

[2016-09-14 11:53] austintoddj commented on #19
@talvbansal If I pull in `media-manager` right now, is it at the point that I could start working with it to bundle it with Canvas? Or not yet?

[2016-09-14 12:11] austintoddj commented on #94
Going to close this one out for now, since it doesn't look like Medium gives us a good way to access their posts in a proper format to apply them to Canvas. If anyone else can find a way to implement this, I'll by all means open this back up and merge in a PR.

[2016-09-14 12:11] #94 closed

[2016-09-15 08:33] talvbansal commented on #19
Hey! @austintoddj,

 I just got back from a trip to Russia so sorry for the delay in getting back to you, you can use it at the moment I am in another private project, however I haven't written the docs up yet and before I left I started mapping out a way to make it easier to integrate / use, rather than having to use loads of blade `@import()`s like you currently do I want to be able to create a

[2016-09-15 11:36] austintoddj commented on #19
Thanks for the update @talvbansal, I'll just sit tight for a bit then!

[2016-09-15 12:41] austintoddj commented on #75
@RDelorier So I'm trying to write some tests for this feature.

Basically, the process I'm trying to run is:

The database is set up for the application.
The command `canvas:index` is run.
The user logs in.
The user clicks the search icon and the bar pops open.
The user inputs some text.
The user hits `return` since there is no submit button.
The page is redirected and the text that was searched f

[2016-09-16 17:18] RDelorier commented on #75
Hey Todd, I'm out of town without wifi 😭 until Monday but I'll take a look next week.

Sent from my iPad

[2016-09-16 17:32] austintoddj commented on #75
Sounds good @RDelorier! Sorry to hear it's a 'no wifi weekend'! 😂

[2016-09-18 01:20] tomschlick commented on #95
As others have suggested, the best way to probably do this is to keep canvas stuff in it's own folder and allow overrides by publishing vendor views to the app's /resources/views/vendor/canvas folder.

That way you can upgrade that folder without issue and it _just works_ for the user. If they have published/modified any of the files they can compare their changes to the source to update manually.

[2016-09-18 01:23] austintoddj commented on #95
@tomschlick Thanks for the input! Unfortunately, I'm still perhaps not envisioning this correctly. Not quite sure how I could take Canvas and do with it what everyone is suggesting here. Would you care to make a PR of the suggested changes?

[2016-09-18 01:40] tomschlick commented on #95
Sure thing, I'll take another look at how spark is doing it and make a pr to replicate the process here.

[2016-09-18 01:42] austintoddj commented on #95
That would be absolutely fantastic. Thanks so much for the help @tomschlick!

[2016-09-18 01:48] tomschlick opened #167 "[Suggestion] Ability to customize url format"
Instead of `/blog/{slug}` I'd like to use `/{year}/{month}/{day}/{slug}`. As far as I can see, I can change the path in the `routes/web.php` file but that doesn't persist through the site because you're not using Laravel's named routes.

I can come up with a PR for this if you'd like. Basically my approach would be this:
1. Name all the routes instead of using the hardcoded slugs.
2. In `Frontend\

[2016-09-18 01:51] austintoddj commented on #167
@tomschlick I like that idea a lot. Would users still retain the ability to edit their post slugs? That came into play as users in other countries had language difficulties that necessitated the request for editing slugs. If that will still be the same, then I see no reason why we can't merge in a PR doing what you propose.

[2016-09-18 01:53] tomschlick commented on #167
Yeah I don't see any reason why that wouldn't work. The route wouldn't care what the slug was, it just passes it back to the controller to parse & query the database.

I'll probably create this as two PRs. One for the named routes and another for the url params.

[2016-09-18 14:28] Vviizard opened #169 "Unexpected character when running artisan during first setup"
I downloaded canvas today to try it out. I have followed the instructions within the readme, but I've run into an issue at Step 5. When I run `php artisan canvas:install`, I recieve the following error:
[code]
The PHP version is set to 5.6 and I am hosting it on a webspace.
I have made sure that the `.env` is filled out correctly, that composer downloaded everythign and that `public/uploads/` and

[2016-09-18 16:00] Vviizard commented on #169
It seems that my hosting provider is simply lying when saying that PHP 5.6 is enabled, the highest php-cli I can get seems to be 5.5.38. Case closed.

[2016-09-18 16:00] #169 closed

[2016-09-18 16:28] austintoddj commented on #169
Thanks for checking out Canvas @Vviizard! Sorry to hear about the bug you ran into, but glad you got it sorted out. Let me know if there is anything else you need assistance with!

[2016-09-18 16:33] Vviizard commented on #169
It'd help if you could send me pre-configured sql.zip exports so I can import it to my database. That'd get me around the inability to run the installation. Or does the artisan command do anything else, apart from setting up the DB?

[2016-09-18 16:59] austintoddj commented on #169
@Vviizard The install command sets a few blog options, Title, Subtitle, Author, and more settings. It also runs the initial search index, which can be done from the GUI once installed. So, I can sure send you a `.sql` dump of the database for starting out. Is `hello@vviizard.eu` the best email to reach you at?

[2016-09-18 17:01] Vviizard commented on #169
Yes. Thanks!

[2016-09-19 14:09] Vviizard commented on #142
Why not add an Imprint/Impressum route?
A pure "About Me" page wouldn't satisfy the _Telemediengesetz_, but an imprint would satisfy what has been suggested in the original comment.

[2016-09-19 14:11] austintoddj commented on #142
@Vviizard Not familiar with what * Telemediengesetz* is. Could you clarify?

[2016-09-19 14:11] Vviizard commented on #142
It's a german law that requires websites/website owners to disclose contact information of the content publisher, see [here](https://en.wikipedia.org/wiki/Impressum).

[2016-09-19 14:14] austintoddj commented on #142
Thanks for the link. I believe a popup with the author information, contact info(email, social media/etc.) would be sufficient for this. Do you think otherwise? @Vviizard

[2016-09-19 14:21] Vviizard commented on #142
The generally accepted practice is using something like `/imprint` or `/impressum`. It may contain the following information
- Name and full address of the person responsible for the websites journalistic content
- Name, address, email-address, phone/fax of the website owner
- Privacy Statement/Policies, including privacy statements for external services, such as Goolge Analytics, Disqus etc.
- Di

[2016-09-19 14:24] Vviizard commented on #142
http://blog.vviizard.eu/blog/german-imprint-example
Generated by https://www.e-recht24.de/impressum-generator.html
(This is obviously a lot longer, because I added all optional disclaimers available)

[2016-09-19 14:27] Vviizard commented on #142
I think a good way to implement this would be to just offer the optional routes `/imprint` and `/privacy` and make them editable like a blogpost.

[2016-09-19 14:30] austintoddj commented on #142
@Vviizard Thanks for making that example. I'll do a little more research on this and see what we can do. Till then, perhaps just adding a blog post with this info, like you did there, would be sufficient for German website laws?

@soywod Any update on the author popup?

[2016-09-19 14:41] Vviizard commented on #142
@austintoddj The Imprint must be available within 2 clicks from anywhere on the site, so it'd be best to put it into the footer.
Also, I should open a seperate issue for the [EU cookie law](https://www.cookielaw.org/the-cookie-law/).

[2016-09-19 14:47] floriangaerber opened #173 "Add EU Cookie Disclaimer"
http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm

[2016-09-19 22:27] vhanla commented on #40
Every time I create or update a post it takes long time and it show FatalErrorException in TNTIndexer.php line 291 - Maximum execution time of 30 seconds exceeded.

[2016-09-19 22:28] nticaric commented on #40
Does the post contain some binary data, or base64 encoded, like inline images?

[2016-09-19 22:30] vhanla commented on #40
Just the sample Hello World post

[2016-09-19 22:37] nticaric commented on #40
@vhanla can you check the post content to see how it looks in the database?

[2016-09-19 22:47] austintoddj commented on #40
@nticaric Thanks for jumping in on this right away!

[2016-09-19 23:18] vhanla commented on #40
@nticaric I just reinstalled a new empty project with `composer create-project` method, then accessed the admin and retried to edit the "Hello World" post, nothing really edited, just pressed 'Save' and it brought the same error.

Maybe it has to do with my current computer setup:
I'm using PHP 7.0.6 with Apache HttpServer 2.4 both 32bits running on Windows 10 x64.
PHP.ini extensions enabled : mbs

[2016-09-19 23:34] austintoddj commented on #40
@vhanla Glad you got it working. And just for a comparison, when I run the same routine on a very basic production server, it only takes about 1-1.5 seconds to complete.

[2016-09-20 01:22] vhanla commented on #40
@austintoddj Thanks, I updated to PHP 7.0.11 but it seems that Sqlite3 is very slow on Windows, at least with that TNTIndexer.php loop

@nticaric In TNTindexer.php line 291 I used `dd()` to stop its execution, and found out that `$updateStmt->bindParam(":term_id", $document['term_id'], SQLITE3_INTEGER);` slows it down, commenting out this line and doing a `dd($rows)` after that `foreach` loop, it

[2016-09-20 14:18] Vviizard opened #174 "Add Twitter Cards"
I've started working on support for twitter cards.

- [x] Add meta-tags
- [x] Add setting: "Twitter Card Type". Globally sets twitter card type for the blog.
- [x] Add new database entry. (Table: `settings`, `setting_name: twitter_card_type`, Type: String, Possible Values: `summary`, `summary_image_large` or ` ` (If empty or invalid, Twitter will not add a card))
- [x] Add tests

Why: Twitter card

[2016-09-20 14:20] Vviizard commented on #174
@austintoddj Current progress: https://github.com/Vviizard/canvas/commit/1fd389f4620f9e0748ab366622cb1012481c5e44

[2016-09-20 14:25] austintoddj commented on #174
@Vviizard Thanks for doing this, it's something that I wanted to put in the application a long time ago, but never got around to doing it. Good checklist as well. Look forward to merging this in as soon as possible!

[2016-09-21 14:26] tomschlick commented on #173
Whats the plan for plugins @austintoddj? I would this this would be better suited for a plugin because most people wouldn't need this...

[2016-09-21 14:45] Vviizard commented on #173
@tomschlick It applies to any EU-based organisation/legal entity, I wouldn't exactly call that a small amount of people. But I am all :thumbsup: for plugins!

[2016-09-21 14:58] austintoddj commented on #173
@Vviizard @tomschlick I agree, this might be best suited in as a plugin. I think the 'ecosystem' of Canvas has to grow a little, and that's why I created the [Palette](https://github.com/austintoddj/palette) repo, to hold the themes. I believe a repo for plugins would be appropriate, but could use some help in how we integrate them into Canvas. So, the biggest hurdles I see for Canvas right now ar

[2016-09-21 15:02] tomschlick opened #177 "Plugin Strategy"
Opening this ticket to discuss possible strategies in developing a plugin system.

Would help solve things like #173

[2016-09-22 10:22] Vviizard commented on #142
You could also offer something like Tumblr does: Pages. You can choose a custom route and then one of three types: `Redirect`, `Standard Layout` (uses standard blog post layout, but isn't actually a post) and `Custom Layout` (which is a completely custom HTML page).

[2016-09-22 11:06] Vviizard commented on #174
Added Menu options: https://github.com/Vviizard/canvas/commit/aa0b80412cf67e32f366bf47073cc29c83ae9a15
@austintoddj I may require some assistance with tests later, because I haven't worked with them yet.

[2016-09-22 15:51] austintoddj opened #179 "jQuery Author Popup Overlay"
On each blog post page, there is an author signature at the bottom, specifying some personal social media channels, the author name and the author bio.

To give a little more information, including the ability to have a contact link, and downloadable Resume/CV link(If the author included this), I'd like to see a popup implemented by clicking on the Author name or gravatar.

Take a look at this [wo

[2016-09-22 15:52] austintoddj commented on #179
@fergthh Here is an issue I opened regarding what we chatted about a little while ago.

[2016-09-22 15:56] Vviizard commented on #174
@austintoddj Should I close this now, or after #178 has been pulled?

[2016-09-22 15:58] austintoddj commented on #174
Sorry @Vviizard haven't got to take a look at it yet. I'll close this one out as soon as I pull #178. Getting macOS Sierra up and running on a clean install, then Valet, then this. 👍

[2016-09-23 12:14] #174 closed

[2016-09-23 12:14] austintoddj commented on #84
Closed in lieu of #180

[2016-09-23 12:14] #84 closed

[2016-09-23 17:59] austintoddj commented on #179
@Vviizard Any interest in trying to tackle this?

[2016-09-23 18:11] Vviizard commented on #179
@austintoddj I'll try some stuff tomorrow.
What do you think of using the standalone-type and putting a link-button in the footer that says imprint? That would tackle https://github.com/austintoddj/canvas/issues/142#issuecomment-248007136

[2016-09-23 18:15] austintoddj commented on #142
That's not a bad idea @Vviizard, adding custom pages. That will bring Canvas further into the realm of a content management systems than it currently is, but I am very open to moving that direction if it will improve the users' experience.

[2016-09-23 18:19] austintoddj commented on #179
@Vviizard I'm not opposed to having this. I do like the ideas presented in #177 though, if we could figure out a way to extend Canvas via plugins, that way the other users who are not restricted by this law won't have to include it in their blogs. Does that make sense?

[2016-09-23 18:24] Vviizard commented on #179
@austintoddj #142 was a suggestion to add a contact-me-page. An imprint satisfies the needs of the contact-page, and calling it `imprint` instead of `about` or `contact`, satisfies the law and is still understandable.

[2016-09-23 18:30] austintoddj commented on #179
@Vviizard The contact page was supposed to turn into the author popup. So instead of having another entire page, just having any contact info, author info, resume to download, was all supposed to comprise the standalone popup.

Another thought is this: What if you had an Impressum document, could upload it from the admin, and just like the Download Resume/CV, it could show up in the author popup?

[2016-09-23 19:08] Vviizard commented on #179
@austintoddj Currently running into an issue with the scroll-to-top button. It causes a weird interaction with jquery.popupoverlay. I think it's because every page with a scroll-to-top button has two head/body elements.

[2016-09-23 19:10] Vviizard commented on #179
@austintoddj Because there are two body elements, it puts the overlay in both.

[2016-09-23 19:12] austintoddj commented on #179
@Vviizard Thanks for catching that. I know @fergthh put the Scroll to Top feature together in #147, maybe there is something we can tweak there?

[2016-09-23 19:13] Vviizard commented on #179
@austintoddj I'm not sure, I've commented it out for the time being.

[2016-09-23 19:29] Vviizard commented on #179
@austintoddj I've got an example running: http://blog.vviizard.eu

[2016-09-23 19:36] austintoddj commented on #179
@Vviizard Really like that. Looks good. The only 3 thoughts I have about this are:

1. Not everyone will require this. So to make it a default in the footer seems unnecessary. Letting it be an option that can be edited or taken care of from the admin section makes more sense.
2. Getting the Back to Top button back in is important
3. Can you apply this functionality to the author name/gravatar and

[2016-09-23 19:58] Vviizard commented on #179
@austintoddj
1 - I've not touched backend yet, I'll look at it tomorrow
2 - The frontend.js code must be changed
3 - Check it out now: http://blog.vviizard.eu

[2016-09-23 20:03] austintoddj commented on #179
@Vviizard Yup, that's about what we're going for.

[2016-09-23 20:37] talvbansal commented on #179
The current scroll to top implementation  is overkill from what I can see, ill send a pr with a much simpler one on Sunday

[2016-09-23 20:38] austintoddj commented on #179
You're the man @talvbansal

[2016-09-26 13:20] #19 closed

[2016-09-27 14:38] austintoddj opened #182 "Uploads not downloaded in the archive"
Because of the Media Manager #180 update, the uploads folder is gone. The `Download Archive` in the tools section is now ignoring the uploads folder because it's now located in `/storage/app/public/`. Just need to update the `storeUploads()` command to look at the new directory.

[2016-09-27 15:23] #182 closed

[2016-09-28 02:00] izdiwho opened #185 "Drafts can still be seen"
Not sure if it's an issue, but somehow drafts can still be accessed. I know it's probably because of the preview feature, but I thought that by default drafted posts aren't supposed to be accessible?

[2016-09-28 03:38] austintoddj commented on #185
Good catch @izdiwho. Never actually tried accessing drafted posts, but you're correct, the preview feature would be the loophole.

Can you think of any good ways to protect those pages other than passing through some session token?

[2016-09-28 04:21] jlaswell commented on #177
This turned out being more content than I previously expected, so apologies there.

This is a really rough set of ideas of course, but I'm really liking the way it feels from the developer side as I keep tinkering with it. I'm trying to approach this as either a user looking to enable a plugin or as a developer wanting to create a new plugin.

[code]

---

**The `App\Plugins` namespace contains al

[2016-09-28 04:57] izdiwho commented on #185
I think @jlaswel's PR got it right.

[2016-09-28 09:19] talvbansal opened #187 "The markdown parser is not interpreting images with spaces in the path"
If you upload an image with space in the path name at any point (folder or filename), the file will upload correctly. SimpleMDE's internal Javascript engine will parse the file correctly and render it within the preview window however when saving a post the PHP parser doesn't identify it and just renders the markdown as plain text.

Spaces in paths are not ideal but many people will use them so we

[2016-09-28 11:05] tomschlick commented on #177
Seems like a good basis! One thing I would suggest is that we should come up with a list of "hooks" that a plugin can insert itself into in the interface.

Wordpress for instance lets you say "Insert this new button on the top toolbar" or "Insert this html snipped at the end of a post", etc. This list would need to account for both admin pages as well as the frontend display logic.

[2016-09-28 11:56] austintoddj commented on #185
@izdiwho Thanks for your help on this! Didn't even realize this was possible until you brought it up, and now I'll merge in the fix as soon as @jlsawell makes one last tweak.  👍

[2016-09-28 11:56] jlaswell commented on #177
Thanks! Much agreed on the concept of hooks. I'm not familiar with plugins in Wordpress, but I like the idea that certain areas are available. We may find use for taking that in a similar direction as well by exposing certain events for plugins to listen for or emit, if someone sees value there. I'll update with a basic list later.

[2016-09-28 12:01] #185 closed

[2016-09-28 12:12] tomschlick commented on #177
Yeah we would need both lists (hooks and events), so thats a good starting point. From there we can start creating tasks to keep track of it all.

[2016-09-28 12:13] austintoddj opened #188 "Media Manager Tests"
The Media (Uploads) portion of Canvas got a huge update lately, and is now operating as a VueJS component. There are no tests written for the functionality of uploading files/creating folders/deleting etc. with this new feature.

If anyone out there has a good handle on testing something like this, please feel free to submit a PR!

Contributors who I thought may be interested or have shown skill i

[2016-09-28 12:16] austintoddj commented on #187
@talvbansal Good catch, never ran into this before. So you're saying it's something that [Parsedown](http://parsedown.org/) is doing? I do like your idea of stripping/replacing the spaces, I'm open to your best judgement on it.

[2016-09-28 13:14] RDelorier commented on #188
Hey sorry I haven't gotten in there to look at the search tests yet I've
just been swamped lately but it's #1 on my open source list as soon as I
get a chance

On Wed, Sep 28, 2016, 8:13 AM Todd Austin <notifications@github.com> wrote:

[2016-09-28 13:19] austintoddj commented on #188
@RDelorier No worries at all, just wanted to keep you included since you are a big part of Canvas' growth! 👍

[2016-09-28 15:14] talvbansal commented on #187
I just had an idea whilst out on lunch for the media manager to replace spaces with `%20` which seems to fix the issue - url encoding the paths doesn't work as it converts slashes as well but a simple `str_replace` has done the trick!

Will update the media-manager now and submit a PR for it asap!

[2016-09-28 15:15] austintoddj commented on #187
Lunch is the best time for solutions to pop up! Will merge in the PR as soon as it comes in.

[2016-09-28 15:41] talvbansal commented on #187
Fixed!

Nothing to change on the Canvas side just a `composer update` to bring the latest media-browser in.

Since you're ignoring the `composer.lock` file and the `media-manager` version is set to `1.0.*` there's actually nothing more to do here :)

[2016-09-28 15:41] #187 closed

[2016-09-29 13:44] cconover opened #192 "Cannot upload files or create folders"
When I attempt to upload a file, or create a new folder within the media interface, the file does not appear, and I get a strange gray box at the top right of the screen for about 5-10 seconds:

<img width="1313" alt="screen shot 2016-09-29 at 9 28 35 am" src="https://cloud.githubusercontent.com/assets/698158/18956268/d682b50a-8628-11e6-818b-e200b5bf7ba3.png">

This happens both when editing a pos

[2016-09-29 13:54] austintoddj commented on #192
@talvbansal Any thoughts on this?

[2016-09-29 14:05] talvbansal commented on #192
Hi @cconover is there anything within the /storage/logs/laravel.log file?

[2016-09-29 14:08] cconover commented on #192
This is the latest entry in the log:

[code]

[2016-09-29 14:23] talvbansal commented on #192
So that log output is to do with the sqlite databases that the tnt search indexer. Its an sqlite specific issue that means that the databases parent folder (in this case `/storage`) needs to have write permissions. However i don't think that this would have anything to do with the media manager

When you perform an upload is that all that comes up in the logs or is there anything else?

[2016-09-29 14:24] cconover commented on #192
I just attempted another upload, and nothing was added to the log, but I'm getting the same behavior.

[2016-09-29 14:31] austintoddj commented on #192
@cconover I've seen that error before. Step 6 of the installation asks you to do the following:

Run `chmod -R 777 storage/` to change the permissions of the `storage/` directory.

Can you try doing that and then running your test again?

[2016-09-29 14:32] cconover commented on #192
I just did that, and I'm still seeing the same behavior.

[2016-09-29 14:34] austintoddj commented on #192
Ok, just to verify, can you truncate the log and run it one more time to see the same stack trace error?

@nticaric Looks like this might be a TNTSearch thing?

[2016-09-29 14:34] talvbansal commented on #192
I don't mind taking a look this for you but without being able to repeat it I'd probably need access to your server?

[2016-09-29 14:36] talvbansal commented on #192
@austintoddj that message in the logs is an Sqlite limitation, not specific to TntSearch its just that TntSearch uses an Sqlite database for its indexes.

To fix it the parent folder of the Sqlite folder must have write permissions.

[2016-09-29 14:37] austintoddj commented on #192
That's what I thought, curious why he is still hitting that error then after he ran `chmod 777`

[2016-09-29 14:37] cconover commented on #192
@austintoddj I just truncated the log, and nothing was added to it after attempting another upload.

[2016-09-29 14:38] cconover commented on #192
Correct.

[2016-09-29 14:48] talvbansal commented on #192
I'm happy to take a look on your server for you if you're comfortable with that however without being able to repeat the scenario I'm not sure how to take this forward.

[2016-09-29 14:50] cconover commented on #192
@talvbansal I'm ok with that. I can set up an account for you. Let me know how best to get the details to you.

[2016-09-29 14:55] talvbansal commented on #192
@cconover You can DM me on twitter @talv?

[2016-09-29 15:09] austintoddj commented on #192
@cconover @talvbansal Let us know back here if you find a solution!

[2016-09-29 15:21] Jeroen-G commented on #173
[This package could do the trick.](https://github.com/spatie/laravel-cookie-consent)

[2016-09-29 15:23] Jeroen-G commented on #177
What problem do you want to fix that cannot be solved with events or packages?

[2016-09-29 15:23] austintoddj commented on #173
Thanks @Jeroen-G! I'll look into this right away.

[2016-09-29 15:44] cconover commented on #192
@talvbansal I'll DM you shortly.

[2016-09-29 16:19] jlaswell commented on #177
@Jeroen-G That's actually what I see being used to add new plugins. I think you're exactly right that we should be using those to as the mechanism here. I think more of the issue is making it easier for developers to build a package that a user can click and install from within Canvas.

[2016-09-29 16:44] Jeroen-G commented on #177
If that is the case, the problem is making installation of packages easy. Which is not impossible. With one of my packages, Laravel Packager, I can install automatically create/install packages in Laravel.
I think you should focus on a 'policy' regarding events and an easy way to install packages dedicated to adding functionality to Canvas instead of figuring out a way to code a sort of duplicatio

[2016-09-29 16:56] tomschlick commented on #177
@Jeroen-G yeah the idea is to come up with a list of events we would fire from the system, and a list of hooks for rendering UI elements. Both could probably use the base laravel events system but we still need to define what those integration points are.

[2016-09-29 22:15] talvbansal commented on #192
This can be closed now, I can't close the issue myself otherwise I would have.

[2016-09-29 22:17] #192 closed

[2016-09-29 22:23] talvbansal opened #194 "Add the current canvas version number or latest commit hash for the System info"
Currently when using the information from the "System Info" panel to assist with debugging a users problems, we have no way of knowing if they're using the latest version of Canvas or not.

I think it'd be good to be able to have that information for the user to submit along with the rest of the report just we can rule out if they're on an old version of the application or not.

I'm really not sur

[2016-09-30 11:36] austintoddj commented on #194
@talvbansal I agree. I haven't figured out how we could persist that to the application. If we could save that to the database somehow, I could even use that info in another part of the application. Ideally, I'd like to keep the application version number and the theme name as settings in the database that get updated as needed.

Very open to suggestions on this.

[2016-09-30 11:41] austintoddj opened #195 "TNTSearch Laravel Scout Driver"
@nticaric
Ran into a bug recently in which when I save/update a post or tag, the index is not running. It wasn't until I ran the console command `canvas:index` that it actually updated the index. So my question is, are we running the index correctly after any post/tag interaction on the site?

Here is what it looked like running the console command manually:
![screen shot 2016-09-30 at 6 31 52 am]

[2016-09-30 12:02] talvbansal commented on #195
If you move to Laravel Scout now that Canvas is using Laravel 5.3 I'm pretty confident that the indexes are automatically updated when a model is saved or generated

[2016-09-30 12:14] nticaric commented on #195
@austintoddj as I can see the index should be updated on insert/update/delete if the environment is different than testing

https://github.com/austintoddj/canvas/blob/master/app/Models/Post.php#L183

but as @talvbansal mentioned, we should probably switch to Laravel scout with tntsearch driver

[2016-09-30 12:21] austintoddj commented on #195
@nticaric Thanks for shooting that line number over. Would you want to look into using the [Laravel Scout TNTSearch Driver](https://github.com/teamtnt/laravel-scout-tntsearch-driver)? I'm all for using that if you'd want to implement it.

[2016-09-30 12:58] talvbansal commented on #195
If you need any help let me know, I've implemented it in a project previously

[2016-09-30 12:59] austintoddj commented on #195
@talvbansal If you want to take a stab at it, or if @nticaric doesn't have time, feel free! Either way works for me 👍

[2016-09-30 14:09] austintoddj opened #196 "Reading Time for posts"
It's helpful for people reading a blog to see the time it will take to read the article before diving into it. This can be accomplished by taking the number of words in the post and dividing it into the average reading speed of an adult (roughly 275 WPM).

Easiest way to calculate this here is to use PHP's [`str_word_count()`](http://php.net/manual/en/function.str-word-count.php) function, and add

[2016-09-30 14:33] engelju commented on #196
I'd like to take a go at this! Submitting a PR later in the day.

[2016-09-30 14:40] lszanto commented on #194
#197

[2016-09-30 15:24] nticaric commented on #195
@talvbansal you can go ahead on this one, I can join you later when I manage to find some spare time

[2016-10-01 01:53] austintoddj commented on #194
Currently fixed with #197

[2016-10-01 01:57] austintoddj commented on #194
@lszanto One last thing on this. For those who are using versions of Canvas older than 2.1.7, nothing will show up for the Settings value. Could we perhaps add a condition in the controller or the view that says if no value is present in the database, then it must be `Older than v2.1.7`? That way at least some value will be seen in the view.

[2016-10-01 02:12] lszanto commented on #194
@austintoddj Sure thing, i'll add that in about an hour or so when I get home.

[2016-10-01 20:56] cixtor commented on #196
This is an interesting feature request, too bad @engelju already took it, but anyway. Just a few tips to improve the algorithm that will do the counting you should consider to add a score to the words by their complexity instead of their length, for example, reading `[the, is, a, and]` is faster than reading `[speed, helpful, function, average]` and they both have the same count.

Checking the siz

[2016-10-01 22:04] austintoddj commented on #196
@cixtor Thanks for your remarks on this! And just because someone else is taking a stab at it, you can by all means make a branch and PR as well, the more people that contribute to the project, the better it becomes and the more learning is had by everyone. 👍

[2016-10-02 11:04] engelju commented on #196
@cixtor I seem to don't find the time to work on this as I thought before, so you go ahead!

[2016-10-03 10:15] talvbansal commented on #195
@nticaric sorry I've been at a conference all weekend I'll take a stab at it later this evening!

[2016-10-03 11:50] #196 closed

[2016-10-03 15:56] #194 closed

[2016-10-03 16:11] austintoddj opened #206 "Replace hardcoded version number"
Right now, the `at-a-glance.blade.php` file contains two hardcoded version values for Canvas. These values **SHOULD BE** the latest release of the project. As of right now, I could not find a way to dynamically grab those values specifically from GitHub's API. The API can be accessed at:

[code]

The `name` or `tag_name` values should be enough to replace the hardcoded values.

Hardcoded values be

[2016-10-03 16:28] tarlepp commented on #206
Hmm, what about ```composer.json``` https://getcomposer.org/doc/04-schema.md#version

[2016-10-03 16:36] austintoddj commented on #206
Good thought @tarlepp. Looked at that while going through this process, but couldn't find a substantial enough solution for it. Do you know of a way?

[2016-10-03 17:40] asmita005 commented on #206
Hello,
I have used curl to get the latest version from the API. Its working fine. Should i do a pull request ?

[2016-10-03 17:58] austintoddj commented on #206
@asmita005 Thanks for doing this!

Yes, you can submit a pull request right away. The file is located at:

`resources/views/backend/home/sections/at-a-glance.blade.php`

[2016-10-03 18:00] tarlepp commented on #206
I'm just thinking about scenario that API has newer version than user which uses this application. That is why I would use composer.json version content instead.

Although I have never done that, but it should not be that hard.

[2016-10-04 12:13] #206 closed

[2016-10-08 18:16] cconover opened #214 "Tag creation and management"
Creating and managing tags can feel a little cumbersome, particularly with all of the required fields for each tag. Is it possible to set fields as optional, or is that hard-coded? It would also be nice to be able to create tags on-the-fly when writing a post. Are there any options somewhere to tweak the behavior of the tag system?

[2016-10-08 19:37] austintoddj commented on #214
@cconover That's not a bad idea. Let me look into it and see what I can find, I'll get back to you with more info on it.

[2016-10-09 15:54] cconover opened #215 "[admin] Sorting posts by date not working properly"
When sorting the list of posts by date in the admin interface, it does not appear to work as expected. It will sort them by month, but will then sort in chronological order within each month. What I would expect it to do is sort in direct chronological (or reverse chronological) order.

<img width="90" alt="screen shot 2016-10-09 at 11 52 21 am" src="https://cloud.githubusercontent.com/assets/6981

[2016-10-09 16:33] Bobeta commented on #143
Great idea, I'll try to find some time and make a theme. 👍  Where do you want us to send/publish the theme files?

[2016-10-09 17:01] austintoddj commented on #143
@Bobeta Thanks! Can't wait to see what you come up with. If you just merge your proposed theme into [Palette](https://github.com/austintoddj/palette) in the same fashion as the `helios` theme, I can add it in immediately. Let me know if you have any more questions!

[2016-10-10 20:31] austintoddj opened #217 "Deleting a Post unit test"
With the recent re-factoring of the `admin/post/create` and `admin/post/create` pages, the `testPostsCanBeDeleted()` on line 146 of `PostTest.php` is consistently failing. The UI/UX of the actual GUI works like it should, and the application functions properly. The test however fails. If anyone would like to jump in here that'd be awesome!

Contributors who I thought may be interested or have show

[2016-10-10 21:35] lcrossan commented on #217
i got it, if this is up for grabs. you just want the test deleted?

[2016-10-10 21:46] austintoddj commented on #217
@lcrossan Actually, we just need that test to actually work. Right now, the functionality is commented out. But take a look and see what you can do!

[2016-10-10 22:44] RDelorier commented on #217
You could skip the ui interaction and just do send the delete request directly and assert its no longer in the database.

@austintoddj if you ever want to skip a test until it's fixed then there is a markedSkippedTest function that will just show the test as skipped when running phpunit.

[2016-10-11 13:11] #217 closed

[2016-10-11 13:11] austintoddj commented on #217
@RDelorier @erikgall Thanks for helping out with this guys, you rock!

[2016-10-11 14:00] austintoddj commented on #215
@cconover This should be fixed now thanks to @vuchl, let us know if you run into any more issues with it!

[2016-10-11 14:00] #215 closed

[2016-10-12 12:29] austintoddj opened #221 "Incomplete/Skipped/Risky Test"
In the `the_database_table_has_all_of_the_correct_columns()` method of the `PostTagTest.php`, the test passes with exceptions. The error that shows up when this code is not commented out is:

![screen shot 2016-10-12 at 7 25 29 am](https://cloud.githubusercontent.com/assets/8037011/19309943/64445500-904d-11e6-84e2-7606a38373a5.png)

Maybe there's something I'm missing regarding the `erikgall/eloqu

[2016-10-12 13:00] abhishek619 opened #224 "tags must be created it can be useful in many of the ways"

[2016-10-12 13:12] #224 closed

[2016-10-12 19:11] erikgall commented on #221
@austintoddj You're not missing anything.. SQLite databases are different in how they handle foreign keys (they don't really do them by default). So... you can't test foreign key constraints if you are using a SQLite database.

In the package, if you are using a SQLite database, I skip the test and mark it incomplete (why you see the message). I am going to change how this is handled here in the f

[2016-10-12 19:15] austintoddj commented on #221
Great answer @erikgall. Thanks for the heads up. Love utilizing this package in the project btw.

[2016-10-12 19:29] #221 closed

[2016-10-15 07:30] yurakaras opened #226 "If there is no user with id=1, no content output"
While installing Canvas, i've got some issues, and in the result i got user with id <> 1

[code]

Does Canvas support multi users ?

If no, then probably firstOrFail() method is more appropriate.

I checked, it works.

[2016-10-15 07:37] yurakaras opened #227 "Install error while seeding, subtitle content too long for varchar field (255)"
Using PostgreSQL

While "subtitle" field in posts table defined as

which length is 255 by default

Further seeding with "subtitle" sample content length is about 280 chars, which throws an DB error while installing.

[code]

[2016-10-15 21:51] edyrkaj opened #228 "SettingsController - Creating default object from empty value"
From the first run of application settings table is empty so this caused error
on saving modifications (Can't update first() object of nothing !) after accessed application.

[2016-10-15 21:58] edyrkaj commented on #228
Please add this file to db/seeds/SettingsTableSeeder.php

`<?php

use App\Models\Settings;
use Illuminate\Database\Seeder;

/*
* This class used to fill content of database table settings with some default value
*/
class SettingsTableSeeder extends Seeder
{
    /**
     * Seed the settings default on first run
     */
    public function run()
    {
        $data = [
            'blog_title'=> 'Ca

[2016-10-17 12:05] austintoddj commented on #228
@edyrkaj What value were you trying to modify in the application that caused an error to be thrown? I haven't run into the issue you're referring to before.

[2016-10-17 12:10] austintoddj commented on #226
@yurakaras Thanks for catching this.

[2016-10-17 12:10] #226 closed

[2016-10-17 12:28] #227 closed

[2016-10-18 11:53] Jeroen-G commented on #173
You want a PR implementing this?

[2016-10-18 12:05] foxted commented on #177
Just throwing an idea out there, but Canvas seems to be developer oriented. As developers, we are pretty familiar with installing a package through composer and adding the Service Provider in `config/app.php`.

The question is: is the plan for Canvas to be a regular CMS (like WordPress), targeted to any user (including non-developers) or a developer-specific CMS?

My opinion would be to keep the d

[2016-10-18 12:18] austintoddj commented on #177
@foxted Have to say I agree with you here. I like the idea of extensibility with Canvas, as it would open it up to a greater audience, however at its core, Canvas remains a markdown supported, syntax-highlighted, Laravel application, all of which scream developer-oriented.

So, is there a happy middle-ground? I would consider applications like [OctoberCMS](https://octobercms.com) a more developer

[2016-10-18 12:22] austintoddj commented on #173
@Jeroen-G @Vviizard Just thought of something. One way we could include/not-include this feature, since it wouldn't be needed by anyone not in the EU, would be to check the application's timezone. If the application lives in any of the specified EU timezones, then we include the cookie/disclaimer.

Thoughts?

[2016-10-18 13:20] Jeroen-G commented on #173
Or a boolean in the config :)

[2016-10-20 07:58] edyrkaj commented on #228
When it does update of settings it refers to first object found in db. But when you don't have row it crashes and return error exception

[2016-10-21 20:04] talvbansal commented on #179
You can take a look at my attempt at this, i have a branch called `vue` which adds a similar set of functionality without adding a new library dependency outside of the libraries laravel ships with.

[2016-10-21 20:07] austintoddj commented on #179
Alright, super n00b question here. How can I check out your `vue` branch?

[2016-10-22 11:00] talvbansal commented on #179
@austintoddj  I just created a PR for you

[2016-10-23 00:21] #195 closed

[2016-10-23 19:24] austintoddj commented on #228
There shouldn't be an empty row in the `settings` table if you've gone through the initial install of the application. The only way I could see this happening is if you're currently running an older version of Canvas where the settings table was not set up or pre-filled via the install command. Is that the case for you @edyrkaj?

[2016-10-25 06:59] ibnujakaria opened #238 "It takes so long for updating post."
I don't know what happens, but everytime i edit my post, the process just takes so so so long. More than 20s.

I run it on Arch Linux with PHP 7.0.12 Development Server.

I have run the `./artisan optimize` and its still the same.

Any idea?

[2016-10-25 08:20] ibnujakaria commented on #238
After trying to figure out what happens, i got some conclutions that the `ParseDowner::toHtml()` that slows down the process. The larger text i write, the longer its process takes. I wrote 1953 words and 372 lines and the result is really annoying.

[2016-10-25 09:05] talvbansal commented on #238
Thats weird, I have an install running on a $5 Digital Ocean instance running Ubuntu 16.04 also hosting 4 other (very low volume traffic) sites, I've just run an update on an  article I've written which is 275 lines and 1955 words and it took 4 seconds to update.

[2016-10-25 09:21] ibnujakaria commented on #238
I try it out with nginx web server and it reaches the maximum time executions.

[2016-10-25 09:29] Naoray commented on #238
@ibnujakaria I am also using `nginx` on `Ubuntu 16.04` and it works fine!

[2016-10-25 09:33] talvbansal commented on #238
@ibnujakaria I run nginx locally and apache2.4 on my DO host both have no problems, at this point I'd assume you have a config issue somewhere along the way.

[2016-10-25 11:40] austintoddj commented on #238
@ibnujakaria Sorry to hear that you're having that issue. As the others have said above, it sounds perhaps like it's a config issue with the setup, as I've also tried Canvas on multiple servers and it seems consistent with it's speed. If possible, are you able to try Canvas locally on macOS or something else?

[2016-10-25 18:58] Naoray opened #240 "404 does not get returned if logged in"
If you are logged in and go to some route, which does not exists it looks like this:
![image](https://cloud.githubusercontent.com/assets/10154100/19699717/b8999afa-9af4-11e6-953b-de5d5a4a0110.png)

I looked into `app/Exceptions/Handler.php` but this seems fine. I also did an `dd('test')` in `404.blade.php` and it gets displayed.

Anyone an idea why it is not showing up the error site?

[2016-10-25 19:01] austintoddj commented on #240
@Naoray Yeah I've seen this before, so it's a known issue that I've never addressed.

Not exactly sure why it's doing this. If you want to dig into it, I'd be really curious to know. But now that you brought it up, I'll try and give it a look in the next couple days as well.

[2016-10-25 22:25] ibnujakaria commented on #238
Thanks guys! I tried it on a shared host with apache2 and php7 and it works like a charm!

[2016-10-25 22:34] #238 closed

[2016-10-26 09:50] DesmondPang commented on #228
The store function in SettingsController  query the first but get null

` $blogTitle = Settings::where('setting_name', 'blog_title')->first();`

I think you should modify it the updateOrCreate().

Please replace all stuff in the store function to

`    public function store(SettingsUpdateRequest $request)
    {

        Settings::updateOrCreate(['setting_name' =>'blog_title'],['setting_value'=> $r

[2016-10-26 13:31] austintoddj commented on #238
@ibnujakaria Glad you worked it out! Thanks for using Canvas!

[2016-10-26 16:45] austintoddj opened #244 "Proengsoft\JsValidation breaks with Laravel 5.3.21 update"
The following error occurs when running a fresh installation/or update of Canvas.

[code]

As @talvbansal has found out, it seems to not appear when you are on Laravel Framework `v5.3.20`. It is only happening on the latest release of `v5.3.21`. If anyone wants to dig into this at all and see if they can find a solution or why this is happening, please take part.

To see the full output of the err

[2016-10-28 13:03] mhuijser opened #245 "Class 'ZipArchive' not found when trying to download archive in the backend"
Hi,

Just for the record. I got the following error when trying to download the archive from the backend.

[code]

It apppears that i needed to install the php zip module on my webserver. (eg. by invoking `apt-get install php7.0-zip` (ubuntu)) Probably a prerequisite to mention in your installation manual.

Thanks for the nice application!

Kind regards,

Mark

[2016-10-28 13:16] austintoddj commented on #245
Thanks @mhuijser! Good catch on that. I'll make this change as soon as soon as #244 is fixed. Glad you like the application!

[2016-10-28 13:23] mhuijser commented on #245
Hard one. I worked around the #244 prob by hardcoding the Laravel-version (5.3.20) into  in the composer.json before invoking composer update/install. I know, a bit ugly, but working for now.

[2016-10-28 13:24] austintoddj commented on #245
Yeah for sure. Kinda just waiting on Proengsoft to get their stuff fixed. Emailed them and they have an open issue, so it's in their court now. Hope anyone else experiencing this breaking change with Canvas finds the temporary solution for now.

[2016-10-28 13:55] mhuijser opened #246 "Featured image not working in frontend ..."
I'm afraid the featured image is not working anymore, it still worked a week ago ;-) . The image is uploaded in /storage/ , but the blade-template prefixes the path with /assets/. Anyone with this same prob ?

Changing `resources/views/frontend/blog/post.blade.php` and modifying  line 47 from

`<img src="{{ asset('assets/' . $post->page_image) }}" class="post-hero">`

Back to:

`<img src="{{ asset

[2016-10-28 15:13] austintoddj commented on #246
@mhuijser Good catch on this. I'll go ahead and make this change as soon as #244 gets fixed. 👍

[2016-10-28 21:51] patrickguevara opened #247 "JsValidator issues BadMethodCallException for getFiles"
As of Laravel 5.3.21 the Validator does not hydrate files on validation. Any view that uses JsValidator will fail because the `getFiles` method was removed in this version.

https://github.com/laravel/framework/commit/5a11fb13d7023e05911559c99902e68f3cb95ed9

[2016-10-28 21:56] patrickguevara commented on #247
Looks like they're working on it here https://github.com/proengsoft/laravel-jsvalidation/issues/190

I would recommend updating your `composer.json` to `"laravel/framework": "5.3.20"` until it's fixed.

[2016-10-29 11:30] Naoray commented on #246
Sorry, that was my fault. With my last PR I copied all image files to `public/assets/images` because I only checked the 'demo' - blog post with the `mocha.jpg` image, everything did work.

But we, especially me, should have tested more. Actually, does anyone know how we could integrate such things into `tests/`?

[2016-10-29 15:53] #244 closed

[2016-10-29 15:57] #247 closed

[2016-10-29 16:10] #240 closed

[2016-10-30 23:02] austintoddj commented on #245
Fixed with dec1749cf692fe1158ac3f84fd06d6c92d77b5ef

[2016-10-30 23:02] #245 closed

[2016-10-30 23:13] #246 closed

[2016-10-31 09:42] donmarkus opened #248 "Can't access Admin area"
I got this error while trying to access admin area

`Method Proengsoft\JsValidation\Javascript\JavascriptValidator::__toString() must not throw an exception, caught BadMethodCallException: Method [getFiles] does not exist.`

[2016-10-31 11:23] talvbansal commented on #248
Hi @donmarkus, this is a know error when using laravel 5.3.21, the latest commits to Canvas hard code laravel 5.3.20 until a patch by Proengsoft can be pushed out.

It seems a few other packages have had breakages as a result of the 5.3.21 release [too](https://twitter.com/NicolasWidart/status/793035977505800192)

[2016-10-31 11:47] austintoddj commented on #248
@donmarkus

Like @talvbansal pointed out, Proengsoft is hopefully working on a solution. Until that time, we've released `v2.1.12` which will take care of the issue for now. Let us know if there is anything else we can help you with.

[2016-11-01 13:18] Naoray opened #249 "[Suggestion] Make canvas co-author usable"
Scenario: me and my friend want to start a blog where we both can write/edit/delete articles.

Problem: currently canvas is only designed to have one author. Means posts are not owned by an author, they are simply stored in the db.

I've just started to develop an `artisan` command, which registers a new user, but that won't be sufficient. We would need to implement an `owner` relationship from th

[2016-11-01 13:26] austintoddj commented on #248
@donmarkus If this issue has been resolved for the time being, please close the issue. You are free to reopen another for anything else.

[2016-11-02 10:55] Naoray commented on #249
Have started to work on this feature. As far as I can tell it is almost ready, there is just one issue I discovered so far:

When I try to create a post I get an exception:
![image](https://cloud.githubusercontent.com/assets/10154100/19926109/1d25213e-a0f3-11e6-9ebb-5eb383ba445f.png)

Could someone take a look at this error?

You can find the current code for this feature in the [coauthor](https:/

[2016-11-02 20:13] #248 closed

[2016-11-03 12:48] talvbansal commented on #249
When I'm back in the UK early next week I can help look into this.

[2016-11-04 12:26] austintoddj commented on #228
@DesmondPang Thanks for the snippet of code. Merging it in now.

[2016-11-04 12:27] #228 closed

[2016-11-04 18:02] talvbansal commented on #249
So i had a look into this, not sure what the solution is but its because of the way that TNTSearch is not handling the relationship created by the posts and user models. We'll need to explore this further maybe raise the issue on the TNTSearch page see if anyone there can recommend something?

[2016-11-05 12:46] talvbansal commented on #249
So I have the fix for this but I'm not sure how to contribute it to your fork? If I try and fork your repo i just end up with my forked canvas repo, any ideas?

[2016-11-05 12:54] Naoray commented on #249
@talvbansal maybe you have to add a new remote "link", like suggested [here](http://stackoverflow.com/questions/7244321/how-do-i-update-a-github-forked-repository)

[2016-11-05 13:00] mhuijser commented on #95
I'm wondering why the upgrade proces as it is described is that complex ? The (simple) user needs to find out the database commands himself to perform the database-actions. I'm looking for a way to make the upgrade-process a littlebit more 'scriptable', but the "backup" mechanism is imho an extreme way of upgrading (it's actually re-installing).

Wouldn't it be an idea to do this the "Laravel"-way

[2016-11-05 13:11] Naoray commented on #95
@mhuijser I totally agree with you.

Imho an upgrade command like `php artisan canvas:update` like [laravel spark](https://spark.laravel.com/docs/3.0/upgrade) would be nice.

In this update command we could upgrade the `setting_value` of the `canvas_version` to the latest value. Also it would be a place where we could call other commands to support the update process. Maybe we could retrieve an ar

[2016-11-05 13:23] talvbansal commented on #249
Just tried that but got :
`remote: Permission to naoray/canvas.git denied to talvbansal.`

[2016-11-05 13:39] talvbansal commented on #249
@Naoray thanks for the invite, just pushed my changes up, take a look see if you're happy with them

[2016-11-05 13:58] Naoray commented on #249
@talvbansal thanks! That worked. #252

[2016-11-07 13:15] austintoddj commented on #95
@mhuijser I appreciate your post here. The issues you brought up are the ones making this process difficult, but I like how you detailed out a potential process, one that you've been using yourself as of late. At the end of the day, I'd really like this to be a one-click upgrade, or a one-command script using Artisan. I'll dig more into what you've written here, but am really excited to see this a

[2016-11-09 09:00] blackfyre opened #253 "Fixing Twitter Cards"
Due to the current implementation of the Twitter cards, on Post pages there are duplicate Twitter meta tags, resulting in incorrect parsing of the data.

[code]

I would recommend a similar approach as the OpenGraph solution.

[2016-11-11 13:51] austintoddj commented on #249
Added user management in `v2.1.13`.

https://github.com/austintoddj/canvas/releases/tag/v2.1.13

[2016-11-11 13:51] #249 closed

[2016-11-11 13:52] austintoddj commented on #253
@blackfyre Thanks for bringing that to my attention. Do you want to submit a PR with any proposed changes for this?

[2016-11-14 15:16] #253 closed

[2016-11-14 20:50] austintoddj commented on #188
After thinking about this for 5 minutes, testing this on our end won't be the most essential since [Media Manager](https://github.com/talvbansal/media-manager) has its own suite of tests and this is a JS package, meaning our PHP testing won't be able to accomplish much. Closing this out.

[2016-11-14 20:50] #188 closed

[2016-11-15 14:57] austintoddj commented on #110
Fixed with 52dad2771879980057896d14fd8c3a68de3eb224

[2016-11-15 14:58] #110 closed

[2016-11-15 16:29] #179 closed

[2016-11-17 09:23] Naoray opened #258 "login background does not cover the whole page"
If I go to `/admin` in version 2.1.14 the login page looks like:

![image](https://cloud.githubusercontent.com/assets/10154100/20383185/133eef66-acaf-11e6-9251-1469218aed1c.png)

If I add a `class="clearfix"` to the `#main` element it looks like this:
![image](https://cloud.githubusercontent.com/assets/10154100/20383284/7479cb7a-acaf-11e6-9e51-75ddf4cacf77.png)

Also tried to adjust the `#main` an

[2016-11-17 09:45] Naoray opened #259 "Installing via Packagist does not handle admin user as admin"
I've installed Canvas 2.1.14 via Packagist first, set everything up and logged in:
![image](https://cloud.githubusercontent.com/assets/10154100/20383971/3be0360c-acb2-11e6-893e-2cd5a6ce3836.png)

After realizing my current Admin user couldn't see nor access the `Usermanagement` tab, I installed canvas via cloning the repository, set it up like before... and everything worked.

![image](https://clo

[2016-11-17 12:50] austintoddj commented on #259
@Naoray When you installed both times, did you start from a completely new database?

[2016-11-17 12:56] austintoddj commented on #258
Never looked at [Bulma](http://bulma.io) before.

And the login page in fact was supposed to be like that, just the top portion containing the image. Was not necessarily happy with how it turned out though, so it'll be revisited soon.

[2016-11-17 13:05] austintoddj commented on #95
After chatting a little bit with [Eric Barnes](https://github.com/ericbarnes), he told me how he solved this problem of upgrading with his own project [WardrobeCMS](https://github.com/wardrobecms/wardrobe).

"For wardrobe we  moved the core to it’s own composer package. Then the main download is just laravel + routes + views."

So, removing the core out of Canvas and keeping it in a separate repos

[2016-11-17 13:25] Naoray commented on #259
Yes

On 17 Nov 2016 1:50 p.m., "Todd Austin" <notifications@github.com> wrote:

[2016-11-17 13:30] Naoray commented on #258
@austintoddj I just came across [Bulma](http://bulma.io) because of [Laracasts](www.laracasts.com)... in the `flexbox` - series it go mentioned...

[2016-11-17 14:10] austintoddj commented on #258
Nice. I'll take a look at re-doing the login page in the near future, but if you're good with this issue you can close it out 👍

[2016-11-17 14:13] austintoddj commented on #259
@Naoray Ah ok, sounds like this may be the same issue as #255. I believe packagist is simply not pulling in the most recent commits to the project, which would explain your admin access issue and the previous version issue. I think drafting a new release would solve this. I'll look into this shortly.

[2016-11-17 14:19] Bobeta commented on #143
@austintoddj I finally got some time to look into this. The current theming structure allows for only CSS/SASS styling. I would like to change some of the default html for more flexibility regarding the layout. How would you suggest I create a solution with some custom html? Should I create separate blade files that override the default ones or something else?

[2016-11-17 14:24] austintoddj commented on #143
@Bobeta Yes, that's the downside of the current theme setup. If you want to go ahead and try to create separate blade files like you mentioned that can override the default setup and somehow keep it all compact enough to where we can still swap themes in and out, I'd love to see it.

**Bonus Points:** Think of a way we can display the title from the backend admin section of the app of what theme w

[2016-11-17 14:32] reliq commented on #143
I'll take a jab at this @austintoddj!

[2016-11-17 15:07] austintoddj commented on #259
@Naoray  Should be fixed now with `v2.1.15`.

[2016-11-17 15:28] austintoddj opened #260 "Replacement JSValidation"
So, because of #247 and the fact that Proengsoft is not responding to their broken package, I want to see if we can find a way to replace [Laravel JSValidation](https://github.com/proengsoft/laravel-jsvalidation) with an alternative validator, preferably one that is an active project. That way we can get our dependencies up to date and keep progressing with the core of Laravel.

If any JavaScript

[2016-11-17 15:57] #258 closed

[2016-11-17 15:58] reliq commented on #95
We could take queues from [Flarum](https://github.com/flarum). Similar to [WardrobeCMS](https://github.com/wardrobecms), what they do is have the separate repositories under an organization account. So the app pulls the **core** package via composer and voilà!

@austintoddj I'd make an attempt to migrate the core files.

[2016-11-17 16:00] Naoray commented on #260
Guess we could use `Vue.js` for something similiar. E.g.: [Setting up ajax validation with laravel vuejs in no time](http://taha-sh.com/blog/setting-up-ajax-validation-with-laravel-vuejs-in-no-time)

[2016-11-17 16:03] Naoray commented on #259
Tested it! => resolved

[2016-11-17 16:03] #259 closed

[2016-11-17 16:09] austintoddj commented on #95
@reliq Awesome, looking forward to seeing what you come up with!

[2016-11-17 17:05] reliq commented on #95
@austintoddj what do you think of the organization idea?

[2016-11-17 19:52] austintoddj commented on #95
@reliq Just created a new repo called [Easel](https://github.com/austintoddj/easel) that will hold the core code of Canvas. Will that be enough for you to begin working with?

[2016-11-17 20:09] tomschlick commented on #95
As other suggested, it might be easier to manage in the long run via an organization. If we are splitting repos, now would be the time to do it so urls only change once...

"canvas" & "canvascms" are both taken... so maybe something like "canvas-publishing"?

[2016-11-17 20:30] austintoddj commented on #95
@tomschlick Good advice. Let me think about that for a little bit. I'll get back to you.

[2016-11-17 20:58] Bobeta commented on #143
@austintoddj I figured. I think we should together think out a more abstract strategy, perhaps use some of the same concepts as the plugin creation with hooks etc.

[2016-11-17 21:38] reliq commented on #95
Yes that's the idea @tomschlick.

Here are a few suggestions @austintoddj:
- lacanvas
- canvaspub
- canvaspress
- canvasphp
- writecanvas
- pencanvas
- inkcanvas
- canvasink
- canvasinc

[2016-11-17 21:50] talvbansal commented on #95
Why not just `canvas-cms`? It's descriptive and doesn't change the name of the project at all, all dependency packages could than be named similarly `canvas-x`.

[2016-11-18 03:16] reliq opened #261 "[Suggestion] Git-flow"
Hi guys,

I noticed there isn't really a set principle for branching, since there's only one branch I presume. Nevertheless, I'd like to suggest [Git-flow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) going forward.

- Cheetsheet: http://danielkummer.github.io/git-flow-cheatsheet/
- Section on Atlassian's tutorials: https://www.atlassian.com/git/tutorials/comparing

[2016-11-18 12:19] Naoray commented on #261
As you can see in #257 there exist one branch per feature,, but they get deleted after merging is complete.

[2016-11-18 12:23] mhuijser opened #262 "/admin/tools route redirects to /admin"
Hi,

Today i've upgraded from v2.1.12 to v2.1.15, but unfortunately it looks like  the "admin/tools"-route  is broken, now.  Anyone else having the same issue ?

Kind regards, and keep up doin' the good work ! You make beautiful things!

Mark

[2016-11-18 12:53] austintoddj commented on #262
@mhuijser Sorry you ran into that issue. The problem is because a suitable upgrade path hasn't been made yet, and the breaking change that you're experiencing is that your user record in the database will either have a Role of `1`(Administrator) or a `0`(User). The administrator will have access to everything on the site, but the normal user will have limited access, only allowing them to publish

[2016-11-18 13:14] mhuijser commented on #262
Thanks @austintoddj , no i didn't. But you've pointed me in the right direction.  i'm a litttlebit - how do you say that in english - pigheaded (thanks google translate ;-) ) ...  wanted to upgrade the simple way. I'm very sorry. I didn't notice  the model change there!

Since i only have one "user" yet,  `update users set role = 1 where id=1;` did the trick, now.

Thanks!

[2016-11-18 13:23] #262 closed

[2016-11-18 16:12] reliq commented on #261
@Naoray I see. It is in essence the same principle that way. However features would be prefixed with `feature/`, hotfixes with `hotfix/` and so on.

[2016-11-18 16:27] austintoddj commented on #261
That's a fine way to go about it @reliq. I have no problem with prefixing feature branches and so on. I do clean up the branches and delete them as soon as they're merged in however just for sanity's sake.

[2016-11-18 16:35] reliq commented on #261
Cool 👍

[2016-11-19 21:16] reliq commented on #95
@talvbansal I mean even that could work.

Can we get a decision on this?

[2016-11-19 21:21] #261 closed

[2016-11-20 00:40] austintoddj commented on #95
Thanks for the valuable input, but I'd like to keep it outside an organization. So the repos will remain as-is, with Easel holding the core framework of Canvas to ensure easier upgrades.

If anyone wants to fork the repos and begin that process, I'd love to see what you come up with.

[2016-11-20 04:42] reliq commented on #95
@austintoddj OK

[2016-11-21 05:08] kylesean opened #263 "[Vue warn]: failed to compile template:"
In my local enviroment with wampserver 3.0 ,the project is normal. but when I deployed the project to the vps, I saw this being given, exactly in `http://xxxx/admin/post/1/edit`.

I am not very familiar with vue 2.0, I found some information [here](https://github.com/vuejs/vue/issues/3891), but I wonder why I am local all normal, the `edit` page on the show.

Hope you could help me,tanks a lot

[2016-11-21 12:58] austintoddj commented on #263
@kylesean What is the error you're receiving?

[2016-11-22 13:59] kylesean commented on #263
@austintoddj Sorry，as you can see this:
![qq 20161122220459](https://cloud.githubusercontent.com/assets/19353263/20526393/d1e32e84-b0fe-11e6-9d27-09291feea32f.jpg)

[2016-11-22 14:00] austintoddj commented on #263
Interesting. @talvbansal Any idea on this?

[2016-11-22 14:06] kylesean commented on #263
@austintoddj This is caused by the vue component for markdown editor

[2016-11-23 08:50] talvbansal commented on #263
Hey guys this is really weird, Nothing has changed as far as canvas and the media manager is concerned, are you sure that all the pages resources are being downloaded?

Is there anything else you can provide us with to help diagnose the issue here?

[2016-11-23 18:08] reliq commented on #143
With the core extracted in a separate package (austintoddj/easel#2) we can look into the possibility of creating canvas themes as laravel packages, say for example _vendor/canvas-theme-x_.

This would allow themes to also be able to export/replace views (resources/views/vendor/canvas), solving @Bobeta's issue.

Reverting to the default set of views would be a matter of installing the canvas defaul

[2016-11-24 01:54] kylesean commented on #263
@talvbansal That's all ,so I deleted the entire project, and then re-installed, the problem is gone. I guess it should be with the cache or the integrity of the static resources.But it's so weird, it sometimes happens again.

[2016-11-24 14:49] austintoddj commented on #263
@kylesean That is very odd to be happening. If you ever discover the source of this, please let us know on here. If this issue is resolved enough for you to continue using the application, please close the issue out. Thanks again for bringing this to our attention!

[2016-11-25 09:43] #263 closed

[2016-11-25 15:11] dryyun commented on #248
I use release - v2.1.15 , also get the issue , is it fix ?

[2016-11-26 07:14] mhuijser opened #265 "Ordering of images in media library"
Hi,

I found that the ordering of the images in the Media Library is somewhat unhandy, the last uploaded image is found at the bottom of the list. Remarkable is that the date mentioned behind the uploaded file is actually a wrong one, probably that causes the faulty ordering (see attached screenshot)? The filedates on the filesystem <canvasroot>/storage/app/public/* seems just fine.

Am I missing

[2016-11-28 13:00] austintoddj commented on #265
@talvbansal Is this something you can update from your end?

@mhuijser Canvas uses [Media Manager](https://github.com/talvbansal/media-manager) as a media library plugin for Laravel. We'll see if we can resolve this for you as quick as possible. Thanks for bringing it to our attention!

[2016-11-28 14:13] talvbansal commented on #265
So the ordering is based on file name, sortable lists is something I plan to look into going forward.

However good spot on the dates, i hadn't updated the filter for vue js v2 properly so it was failing and defaulting back to todays date. I've just pushed a fix up to the master branch, once I've checked a couple of other things I'll release a tag that Canvas can pull in.

[2016-11-28 14:29] austintoddj commented on #265
Thanks for addressing this so quickly @talvbansal!

[2016-11-29 13:13] #260 closed

[2016-11-29 13:16] #265 closed

[2016-11-29 18:56] austintoddj opened #267 "[POLL] Canvas Organization Name"
Canvas will soon be moved to live under an Organization on GitHub going forward. Which of these names best suits the build?

* cnvs
* gluve

[2016-11-29 20:40] Jeroen-G commented on #267
What is gluve?
Why not canvas?

[2016-11-29 21:02] austintoddj commented on #267
@Jeroen-G I should have prefaced it.

canvas, canvascms are already taken.

Origin of `gluve`:
So I thought about the glue used in making a canvas.
Then I thought of groove.
And then...  Gluve!

[2016-11-29 21:31] Jeroen-G commented on #267
Painter, pictor as the person drawing on the canvas
Linen, cotton as the material canvas is made from.

[2016-11-30 00:46] Naoray commented on #267
What about Laravas, Laracan...

...something related to the framework?

[2016-11-30 13:49] austintoddj commented on #267
Thanks everyone for your participation. You'll see the results shortly.

[2016-11-30 13:49] #267 closed

[2016-12-01 17:03] soywod commented on #142
Hey, it has been a while :)
Glad to see that Canvas grows up ! What's up on this suggestion ?

I like your idea, @Vviizard. this will bring up Canvas to a real CMS. Keep in the UX you have now will be a real challenge :/

[2016-12-01 22:10] Jeroen-G opened #270 "Adding backend pages"
If I want to add pages (CRUD) to the backend, what would be the best way to do so?

[2016-12-02 15:59] Vviizard commented on #142
@soywod I've been occupied by other projects recently, but I might have time to look at it over the holidays.

[2016-12-02 21:04] torrentalle commented on #260
Hi,
I'm the maintainer of the project. For professional during reasons I couldn't maintain this package.....
I'm back, now I'm working on fixing some bugs and incompatibilities with recent versions.
Also I'm planning to replace jQueryValidation with [http://parsleyjs.org/](http://parsleyjs.org/) or [validate.js](https://validatejs.org/)

[2016-12-02 21:06] austintoddj commented on #260
@torrentalle Thank you for getting back! I'll add your package back to the project as soon as you've got it sorted, really like working with it and am really grateful that you're back and it'll be maintained! Cheers! 🍻

[2016-12-03 12:56] wzhua opened #271 "error"
no db files,no controllers...

[2016-12-03 13:35] Jeroen-G commented on #271
Of course, with this little information you should know that no one can really help you.

[2016-12-03 15:09] austintoddj commented on #271
@wzhua If you could provide some more clarification, or use the [Official Contribution Guide](https://cnvs.readme.io/docs/contributing) when creating new issues.

[2016-12-03 15:10] austintoddj commented on #270
Adding them from the site UI? Or going into Laravel and manually adding everything?

[2016-12-03 15:13] austintoddj opened #272 "Ambiguous class resolution"
On the `develop` branch, when you run:

[code]

you are presented with some warnings. Not fatal, but wonder if we can address them.

<img width="1274" alt="screen shot 2016-12-03 at 9 07 53 am" src="https://cloud.githubusercontent.com/assets/8037011/20860223/9fa0ec80-b938-11e6-8dbf-6f9185b8eff3.png">

[2016-12-03 15:16] Jeroen-G commented on #270
Hardcoding in Laravel is fine. :)

[2016-12-03 15:18] Jeroen-G commented on #272
Are the migration files published to the user's directory from the core package? Because Laravel seems to try to run both.

[2016-12-03 16:08] reliq commented on #272
@Jeroen-G has a point. This happens when migration files are published.

 _artisan_ only uses the published migrations. Composer, however, will complain as it _autoloads_ both `database` directories.

So it's _safe_ to ignore these warnings.

[2016-12-03 16:09] austintoddj commented on #272
Ok. Thanks for the heads up.

[2016-12-03 16:09] #272 closed

[2016-12-05 12:45] #271 closed

[2016-12-06 23:12] Jeroen-G commented on #173
This can probably also be closed.

[2016-12-07 00:02] #173 closed

[2016-12-07 07:20] Bobeta commented on #143
@austintoddj could you get back regarding the suggestion from @reliq ?

[2016-12-07 12:41] austintoddj commented on #143
@Bobeta The project is currently undergoing it's transformation from 1 repo to 2, and [CNVS](https://github.com/cnvs) has been created to house the whole ecosystem. Once we have the project back to where it was before, with a couple important improvements, we will begin looking at this. I agree with the suggestion @reliq made here though, and now we've opened up the opportunity to use this type of

[2016-12-08 14:39] austintoddj commented on #270
@Jeroen-G Sorry I've been late in getting back to you. Canvas is still undergoing it's transformation into [2 repositories](https://github.com/cnvs).

Right now, it's not a built in feature in Canvas to add more pages, but if you have a running instance of Canvas all you'd need to do is follow the default Laravel way of adding pages:

- Register a route in `routes/web.php`
- Create a `show()` meth

[2016-12-08 14:41] austintoddj commented on #214
This could be something we look into implementing in the future.

[2016-12-08 15:01] Jeroen-G commented on #270
Ah ok. I was wondering if there were some magic to it, since as you say the stuff is separated into two repositories.

I didn't think you were late btw.

[2016-12-08 15:03] austintoddj commented on #270
Nope not really any magic about it.

[2016-12-10 13:33] Zaghyr opened #273 "Version number is wrong"
Hi,

I just installed canvas by `composer create-project cnvs/canvas`

Composer diplays : `Installing cnvs/canvas (v2.2.0)`

It is the latest version in packagist.

But when i am login in admin panel, we can see "Canvas v2.2.0 is available! Please update now.".

When i check in MySQL database, in **settings**,
"canvas_version : v2.1.17",
"latest_release: v2.2.0"

I think you did not updated the ve

[2016-12-10 13:38] Zaghyr opened #274 "Maintenance Mode does not work"
Hi,

When i click in "ENABLE MAINTENANCE MODE" in Tools menu, i don't have "a 503 - Be Back Soon page" !

Thanks !

[2016-12-11 01:29] austintoddj commented on #274
This is because you are the admin of the site. As the user who initiated the maintenance mode, your IP is whitelisted to still have full access to the blog.

Try this:

Use another browser window in incognito/private mode, and try to access the blog. You should be presented with the 503 page now.

[2016-12-11 01:32] austintoddj commented on #273
Right now, Canvas is in the process of transforming into 2 separate repositories, so an issue like this falls under what is to be expected during this process. Apologies for the issue, but it will be resolved in the next available release.

[2016-12-13 16:25] #273 closed

[2016-12-13 16:25] #274 closed

[2016-12-13 21:17] Bobeta commented on #143
Sounds amazing and the transformation looks very promising, keep it up! How does the roadmap look now and which timeframe are we walking about (aprox)?

[2016-12-13 21:18] austintoddj commented on #143
@Bobeta If all goes well, we are likely looking at a major release next week. 🎉

[2016-12-14 06:59] Bobeta commented on #143
@austintoddj Awesome! 👍 I'm really excited to experience it!

[2016-12-15 01:40] mabd91 opened #275 "Images not visible / Add Symbolic Link for media manager"
Add a step to installation script to create symbolic link to /storage/app/public inside /public

[code]

[2016-12-15 02:01] mabd91 opened #276 "Error on adding a post with the same slug"
On creating a post with a slug that already exists a database error occurs, and the entered data is completely lost.

#### To Reproduce: Create a new post with existing slug
<img width="400" alt="Enter data with existing slug" src="https://cloud.githubusercontent.com/assets/10493652/21208951/251d9cce-c27a-11e6-96ae-214f1401d7e2.png">

#### Output: Database unique integrity constraint violation
<im

[2016-12-15 02:33] mabd91 opened #277 "Tag Page Query Speed"
In cnvs/easel/src/jobs/BlogIndexData.php

Improve query performance by using the Tag's 'id' column instead of the Tag's 'tag' column

[code]

[2016-12-15 12:43] austintoddj commented on #275
Right now, Canvas is in the process of transforming into 2 separate repositories, so an issue like this falls under what is to be expected during this process. Apologies for the issue, but it will be resolved in the next available release.

[2016-12-15 12:45] austintoddj commented on #276
Thanks for catching this. If you wouldn't mind, could you [submit a new issue](https://github.com/cnvs/easel/issues) over on the Easel repository, since that is where the core code of Canvas lives? Once you create one there with all of this information, you can close this one out and we can address it there.

[2016-12-15 12:45] austintoddj commented on #277
Thanks for catching this. If you wouldn't mind, could you [submit a new issue](https://github.com/cnvs/easel/issues) over on the Easel repository, since that is where the core code of Canvas lives? Once you create one there with all of this information, you can close this one out and we can address it there.

[2016-12-15 14:15] austintoddj commented on #276
Moved the issue to [Easel](https://github.com/cnvs/easel/issues/27).

[2016-12-15 14:15] #276 closed

[2016-12-15 19:17] #277 closed

[2016-12-20 05:04] donmbelembe opened #278 "Theme installation"
I'm trying to install the theme from https://github.com/cnvs/palette
following the instruction, after running the gulp cmd everything works fine but the theme is not changing

here is the theme  **https://github.com/cnvs/palette/tree/master/modern-blue/styles.scss**

and i'm copying it to the directory **C:\wamp\www\projects\canvas\vendor\cnvs\easel\resources\assets\sass\theme**

is it the right d

[2016-12-20 08:55] Bobeta commented on #143
@austintoddj Is it going well, any release date yet? Just tell me if you guys need any assistance! 😄

[2016-12-20 13:10] austintoddj commented on #143
@Bobeta Yes! Everything is going very smoothly, the contributing devs are putting in some hard work getting this all prepped for release. Since this week is 🎄 Christmas, the release is going to be pushing back a little further than what I previously expected. I'm looking more at a January 2017 window, since that will give everyone enough time to take care of their own lives first, which is paramou

[2016-12-21 02:12] austintoddj opened #280 "Package.json and Yarn"
Now that we've refactored assets to [Easel](https://github.com/cnvs/easel), do we even need these files in Canvas anymore?

- `gulpfile.js`
- `package.json`
- `yarn.lock`

[2016-12-21 02:12] austintoddj commented on #278
Right now, Canvas is in the process of transforming into 2 separate repositories, so an issue like this falls under what is to be expected during this process. Apologies for the issue, but it will be resolved in the next available release.

[2016-12-21 02:13] austintoddj commented on #270
If this is sufficient for you @Jeroen-G, would you mind closing this out? 👍

[2016-12-21 03:25] reliq commented on #280
I believe this is fixed by @ff8725a3a569dffe5e1710d9ce176fe282bca703.

[2016-12-21 08:13] #270 closed

[2016-12-21 13:45] #143 closed

[2016-12-21 14:24] #280 closed

[2016-12-21 20:42] austintoddj opened #281 "Testing a specific branch of Easel"
When testing the `feature/scout` branch of Easel, I would assume the `composer.json` file here in Canvas simply needs to have this as its updated `require` block:

[code]

This will however only throw this problem:
![screen shot 2016-12-21 at 2 41 28 pm](https://cloud.githubusercontent.com/assets/8037011/21405443/9b4f8540-c78b-11e6-8345-60af86c6a019.png)

Thoughts on this @reliq?

[2016-12-21 21:33] reliq commented on #281
@austintoddj you would need to change the minimum stability block in canvas' `composer.json`:

`"minimum-stability": "beta"` --> `"minimum-stability": "dev"`

[2016-12-22 18:57] #281 closed

[2016-12-22 18:57] #151 closed

[2016-12-23 03:44] #275 closed

[2016-12-23 03:44] #278 closed

[2016-12-23 03:46] austintoddj commented on #95
Resolved on the `develop` branch of [Canvas](https://github.com/cnvs/canvas) and [Easel](https://github.com/cnvs/easel). Will be made available in the next release.

[2016-12-23 03:46] #95 closed

[2016-12-28 15:20] LeAcid opened #282 "Cannot get project to install with sqlite"
I have tried a few different times. But when I am trying to install canvas using sqlite I get a no such table: posts error. Is this something that is to be expected and should I just go with another db?
![error](https://cloud.githubusercontent.com/assets/13734458/21524840/76dad1ce-ccd6-11e6-8fac-321d3b6361ac.png)

[2016-12-28 15:21] austintoddj commented on #282
@LeAcid Right now, Canvas is in the process of transforming into 2 separate repositories, so an issue like this falls under what is to be expected during this process. Apologies for the issue, but it will be resolved in the next available release.

[2016-12-28 15:25] LeAcid commented on #282
So I just realized what the problem is, I was going to suggest an edit to the installation page if that is ok. I did not realize there was an artisan command to complete the installation and it is not listed on the docs

[2016-12-28 15:28] austintoddj commented on #282
When the next release goes out, the installation steps will be found in the [Official Documentation](https://cnvs.readme.io/docs).

[2016-12-28 15:30] LeAcid commented on #282
Is this something that I will be able to upgrade when the next release comes out? Or should people be waiting for the next release? Also is there any way for me to get involved in this project at this time? I love what I'm seeing so far

[2016-12-29 14:33] austintoddj opened #283 "Risky functional tests"
The continuous integration tests are currently passing, but with 4 marked as Risky.  The tests are risky because they are currently commented out because they fail to properly test the application.

The tests are:

- `PostEditPageTest::it_can_edit_posts`
- `ProfilePrivacyPageTest::it_validates_the_current_password`
- `ProfilePrivacyPageTest::it_can_update_the_password`
- `TagEditPageTest::it_can_e

[2016-12-30 15:41] PastaGringo opened #284 "SQLSTATE[23000]: Integrity constraint violation"
Hello,

I installed Canvas and I can access to the admin management.
But when I want to publish my first blog post "Hello World", I have this error message :

`SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'hello-world-2' for key 'posts_slug_unique' (SQL: insert into `posts` (`user_id`, `title`, `slug`, `subtitle`, `page_image`, `content_raw`, `content_html`, `meta_descript

[2016-12-30 15:42] austintoddj commented on #284
@PastaGringo Right now, Canvas is in the process of transforming into 2 separate repositories, so an issue like this falls under what is to be expected during this process. Apologies for the issue, but it will be resolved in the next available release.

[2016-12-30 15:44] PastaGringo commented on #284
All right, wait and see ;)
Hope to use Canvas!

[2016-12-30 15:45] austintoddj commented on #284
Good to hear! Yes, the next release is a major upgrade. So if you can hold out just a short while, it'll be worth it!

[2016-12-30 19:19] hxor opened #285 "'https://github.com/austintoddj/laravel-jsvalidation.git/' not found"
What's wrong with this package ?

[2016-12-30 19:23] austintoddj commented on #285
@hxor  Right now, Canvas is in the process of transforming into 2 separate repositories, so an issue like this falls under what is to be expected during this process. Apologies for the issue, but it will be resolved in the next available release.

The removal of `austintoddj/laravel-jsvalidation` was fixed by re-adding `proengsoft/laravel-jsvalidation`. v3.0.0 should release in less than a month,

[2017-01-01 13:37] newpain01 commented on #285
Is there any way to install Canvas now? I am getting the same error when I run composer install and I am not able to install it.

[2017-01-01 14:09] newpain01 commented on #282
There are no migrations in the repo as I can see. I really like the project, but I can't find a way to install it right now, and I need a blog application in the next few days. Is there any way I can install it? I am also interested in contributing in any way I can. Please let me know.

[2017-01-01 17:27] LeAcid commented on #282
I was able to install it with the artisan command - php artisan canvas:install

[2017-01-01 18:07] newpain01 commented on #282
@LeAcid Thanks a lot, I didn't even know about that command. Installed it successfully now.

[2017-01-01 18:08] austintoddj commented on #282
@newpain01 Sorry for the delay. Hoping for a release this week. Are you able to use Canvas till then or has it broken for you?

[2017-01-01 18:42] newpain01 commented on #282
@austintoddj Thanks for your reply. I was able to install it with some small changes, it's working now.
If I can contribute in any way, please let me know.

[2017-01-03 17:15] arekpietrzyk commented on #285
@austintoddj I agree with @newpain01. You should fix this ASAP, because now package looks like broken when first install.

[2017-01-03 19:29] austintoddj commented on #285
@arekpietrzyk @newpain01 Thanks for your thoughts on this. If all goes well, hoping to release this week. Keep a watchful eye.. 👁

[2017-01-04 02:21] newpain01 commented on #285
Let me know if I can help.
Apart from that, sometimes I get this error: (appeared when I created the first tag, and at few other places)
`BadMethodCallException in Builder.php line 2450:
Call to undefined method Illuminate\Database\Query\Builder::getTablePrefix()`

[2017-01-04 13:00] austintoddj commented on #285
Yup good catch @newpain01. That issue will be resolved by the next release and a pretty detailed hunt of that bug can be found [here](https://github.com/cnvs/easel/issues/38).

[2017-01-04 20:44] austintoddj commented on #285
Ok @newpain01 @arekpietrzyk , the latest release is out and should solve this issue. Feel free to close it out when you see it work! 👍

[2017-01-04 20:44] austintoddj commented on #284
Ok @PastaGringo, the latest release is out and should solve this issue. Feel free to close it out when you see it work! 👍

[2017-01-04 20:45] austintoddj commented on #282
@LeAcid @newpain01, the latest release is out and should solve this issue. Feel free to close it out when you see it work! 👍

[2017-01-05 12:05] PastaGringo commented on #284
Good news !

I reinstalled the v3 but now I have :

PDOException in TNTIndexer.php line 539:
SQLSTATE[HY000]: General error: 8 attempt to write a readonly database

Does the installation process has been modified?
Thanks

[2017-01-05 13:32] austintoddj commented on #284
@PastaGringo What are the permissions on your `storage` directory?

[2017-01-05 17:18] PastaGringo commented on #284
The storage `directory` has this permission :
drwxrwxrwx  5 www-data www-data   4096 Jan  5 17:10 storage

The blog is up, I can access to the admin panel with credentials typed during the Canvas wizard.
But when I create a new blog article, I got the same message again with the URL http://hostip/admin/post

If I refresh the webpage, the article is created but it does not appear on the Canvas home

[2017-01-05 17:23] austintoddj commented on #284
@PastaGringo Could you give the [Official installation instructions](https://cnvs.readme.io/docs) a try and see if you see any different results?

[2017-01-06 09:44] julles opened #286 "An unexpected error occurred. Installation could not continue."
I run the command php artisan canvas: install
but it came out the following error:

[code]

[2017-01-06 11:30] debeniter86 opened #287 "Installation Error -SQLSTATE[HY000] [2002]"
Hi,

I got the below errors while installing canvas. How can I fixed this?

[code]

[2017-01-06 14:28] austintoddj commented on #287
@debeniter86 What kind of setup are you using? MySQL database or something else?

[2017-01-06 14:29] austintoddj commented on #286
@julles What setup are you using currently? Local LAMP server?

[2017-01-06 14:43] PastaGringo commented on #284
I made this script, it simply install dependencies needed by Canvas before installing it.
The only instructions we have on the Official installation instructions are :
`composer create-project --prefer-dist cnvs/canvas blog` and to modify the `.env`file.

I think it could be more useful to add this command to the instructions : `php artisan canvas:install`
and if it's possible at least some basics

[2017-01-06 15:12] LeAcid commented on #282
@austintoddj Works like a charm!

[2017-01-06 15:12] #282 closed

[2017-01-06 15:13] austintoddj commented on #284
@PastaGringo I'd love to see what you come up with as far as a script that could get everything set up and running for a complete novice. That could be very useful.. Let me know if I can do anything to help you.

[2017-01-06 16:02] PastaGringo commented on #284
It's ok! I found the issue 👍
It was related to SQLite .index files which was owned by root account.
Now I set www-data owner to `*.index` files in `storage` directory right after the `php artisan canvas:install` command.

But I have still a weird issue, when I create a new post (with no error) the post is not displayed from the Canvas home page. There is any time to wait before seeing the post ?

[2017-01-06 16:06] austintoddj commented on #284
It's actually intentional. The idea behind having a *Quick Draft* form on the homepage was so that you could quickly jot down your thoughts, save it, and then actually come back to edit it later. So if you do it again, save a quick draft, and it'll take you to the editing of that post, and notice how it is marked as a **Draft**. Draft posts can't be seen from the frontend, they need to be publishe

[2017-01-06 16:22] PastaGringo commented on #284
Yes that make sens and I could use this function because I have many thoughts per day and it's a good way to save them for publish them later. But currently, the post has the "published" status and it's not displayed from the homepage (I can give you credentials, it's a free VPS for 2 hours).

And to finish, there is anyway to automate the info typed and needed in the Canvas wizard ?

[2017-01-06 16:24] austintoddj commented on #284
Not aware of any automation like that no.

The only thing I can think of now for that post issue might be the layout value that it has in the database. What is that post currently showing?

[2017-01-06 20:32] knnnrd commented on #287
I'm having a similar issue. I'm 100% positive that the right credentials are in my .env file
[code]

[2017-01-06 23:24] ruchern opened #288 "Integration with current project rather than creating new"
As per title, is this possible? I cannot seem to find anything regarding this in the documentation.

The documentation only shows the installation guide which starts a project from scratch.

P.S. I do know that this is not the correct place to ask questions, but there isn't a platform for any form of support so far. Sorry!

[2017-01-07 08:01] dlopez commented on #287
Ran into the same issue. I'm running the latest homestead / laravel w/ Mysql.

[2017-01-07 08:07] serrexlabs opened #289 "Categorized posts"
Is there anyway to categorize posts ?

[2017-01-07 17:49] austintoddj commented on #289
@serrexlabs At this time, you can only tag posts. From the frontend, you can click on a tag and get all the associated posts, but that's the extent of categorization.

[2017-01-07 17:50] austintoddj commented on #288
@ruchern We're currently looking into integrating this with existing Laravel applications. It's pretty nearly there, especially with Easel being extracted from Canvas. So stay tuned and keep an eye on the project. Or feel free to offer your own PR's or suggestions on accomplishing this!

[2017-01-07 17:51] austintoddj commented on #287
@dlopez Thanks for addressing this!

@debeniter86 Does this solve your issue?

[2017-01-07 19:53] dlopez opened #290 "Views, and Controller Overrides"
I've installed canvas, and wanted to customize certain views and add functionality to the posting. But after running the `php artisan canvas:install` command, and setting everything up. I didn't see the library clone over the built in views, controllers, etc. Was this supposed to happen? If not, then I have some questions.

- Customize the built in views;
Were we supposed to clone over the built i

[2017-01-08 03:59] serrexlabs commented on #289
Anyway I'm gonna implement category  in my project. I will make a pull request to easel repo. If you need it.

[2017-01-08 04:17] austintoddj commented on #289
@serrexlabs Yes go ahead and send a PR over to Easel and I'll look it over.

[2017-01-08 04:18] serrexlabs commented on #289
@austintoddj sure, will do

[2017-01-08 04:18] #289 closed

[2017-01-08 10:38] ruchern commented on #288
@austintoddj Thanks Todd. Got to say that this is by the the cleanest (Google Material Design) and easiest to use CMS for me.

[2017-01-08 13:10] cleopatra27 opened #291 "Getting error in php artisan"
PHP Warning: require(C:\xampp\htdocs\can failed to open stream: No such file or di trap\autoload.php on line 17 Warning: require(C:\xampp\htdocs\canvas\b d to open stream: No such file or directo autoload.php on line 17 PHP Fatal error: require(): Failed openi tstrap/../vendor/autoload.php' (include_p docs\canvas\bootstrap\autoload.php on lin Fatal error: require(): Failed opening re p/../vendor/a

[2017-01-08 17:16] ruchern commented on #291
Try `composer dumpautoload` see if it works?

[2017-01-08 17:32] julles commented on #286
iam using laragon 2

[2017-01-08 18:41] austintoddj commented on #291
Thanks for the help @ruchern. Did this fix your issue @cleopatra27?

[2017-01-09 00:04] PatrickJoannisse commented on #290
If I understand your question properly, when you install canvas using the command line, you are simply running an install wizard that will get some inputs (it'll ask you for an email, a password and some other details) and configure your blog. It creates the config/blog.php file, and adds the info to the database. To autoload will simply refer to the vendor files without needing to clone anything.

[2017-01-09 10:54] iiCe89 opened #292 "building off canvas"
Hey i want to use Canvas is it possible to create a new Homepage off it etc and allow user to navigate to blog from that ? as apposed to using just as standalone blog

[2017-01-09 11:04] awjudd opened #293 "Method Spoofing for Newer HTTP Verbs (in AJAX)"
The server that I use has an issue where I don't receive requests for the newer HTTP verbs (i.e. PUT).  This is immediately apparent when trying to edit a blog post.  I hit the "update" button and then it underlines the slug and says "Whoops, something went wrong".

I've noticed that the rest of the site uses method spoofing (built into Laravel) I was wondering if it can also do that for AJAX?  Th

[2017-01-09 12:38] austintoddj commented on #290
Good questions @dlopez @PatrickJoannisse. You're pretty spot-on with the description of what is going on in the backend during the installation.

As far as themes are concerned, right now they are kept in the `cnvs` organization repo, added to Packagist from there by me, and then you'd be able to require them and start using one. Definitely open to other ways of doing it if you guys want to sugges

[2017-01-09 12:39] austintoddj commented on #293
@awjudd Could you post the system information from the Settings page in the blog admin?

I'll look into what it would take to make a request like this happen.

[2017-01-09 13:15] awjudd commented on #293
System Information: https://gist.github.com/anonymous/f45c0df77e12d4c0d125cc47731b9be1

[2017-01-09 13:18] iiCe89 opened #294 "ErrorException in helpers.php line 411:"
Set up new install as instructions and get this when viewing on site

File vendor/canvas/assets/css/frontend.css not defined in asset manifest. (View: C:\Users\vinnd\Code\laser\vendor\cnvs\easel\resources\views\frontend\partials\css.blade.php) (View: C:\Users\vinnd\Code\laser\vendor\cnvs\easel\resources\views\frontend\partials\css.blade.php) (View: C:\Users\vinnd\Code\laser\vendor\cnvs\easel\resou

[2017-01-09 13:27] austintoddj commented on #294
@iiCe89 If you install a fresh Canvas application but do not have a clean database that you're starting from scratch with, you'll see this error. Did you already have a database that you'd run the initial installation with on a different install?

[2017-01-09 13:30] iiCe89 commented on #294
could be i did create new sqlite DB and ran php artisan migrate

[2017-01-09 13:32] austintoddj commented on #294
Ok. Would you try one more time, a fresh install with a clean database and see if that works for you?

[2017-01-09 13:36] iiCe89 commented on #294
seems to have resolved issue when i ran  php artisan canvas:update i now see page but its only allowing me to login

[2017-01-09 13:49] austintoddj commented on #294
Hm, sounds like perhaps some of the views didn't propagate during the update or something like that. So that's what happened during an update, what about a fresh install?

[2017-01-09 13:50] iiCe89 commented on #294
yup now trying :)

[2017-01-09 13:52] iiCe89 commented on #294
Tried again fresh install create sqlite DB and was hit with the same message as above and this

![screenshot](https://cloud.githubusercontent.com/assets/19858208/21768661/bf09545c-d672-11e6-9c7c-2fb396f5ea04.png)

[2017-01-09 13:52] austintoddj commented on #294
Ok, thanks for running that test. I'll look into this further and see what I can find out.

[2017-01-09 13:55] iiCe89 commented on #294
ok thank you the database/sqlite is currently storing in the Storage folder it was originally stored in database folder but just gave me error saying it could not find database sqlite in storage folder so tried that method which then gives the above message after running canvas/update it gives me that page in browser hope that information helps

[2017-01-09 14:31] reliq commented on #292
Building a site around canvas is possible since the core of canvas is simply a Laravel package. You can add your own controllers, views, models, routes, etc. as if it were a regular install of Laravel 5.3.

[2017-01-09 14:49] reliq commented on #290
@dlopez Canvas views and controllers are loaded from the core _package_ (Easel) [/vendor/cnvs/easel/], this is the correct behavior.
- Custom controllers go in `/app/Http/Controllers` as per a regular Laravel install.
- Customized canvas' views go in `/resources/vendor/canvas`.
**Note:** Any customization to views may be overwritten when you change themes so I suggest building your customizations

[2017-01-09 14:59] reliq commented on #290
@PatrickJoannisse anyone can create a canvas theme. Its `composer.json` needs 2 special properties to be picked up automatically as a canvas theme:
- **type** (must be **_canvas-theme_**)
- **extra.canvas-theme** (exists to specify theme name and directories)

Example _composer.json_:

[code]

You may use the following repository as a starting point to create your theme: https://github.com/cnvs/ca

[2017-01-09 18:21] trahma opened #295 "Permissions errors while changing theme"
While trying to change the theme on a base install yields the error

copy(/var/www/public/vendor/canvas/build/assets/css/frontend-302c0069fb.css): failed to open stream: Permission denied

I've followed the directions for a base install at https://cnvs.readme.io/docs.  There were no directions listed for adjusting permissions on ./storage or public/vendor/canvas/build.

Perhaps I missed something,

[2017-01-09 18:25] austintoddj commented on #295
@trahma Could you try running the following command from a terminal in the project root? If that works for you, I'll go ahead and include it in the docs.

[code]

Per [Laravel's installation](https://laravel.com/docs/5.3), you need to alter permissions to the `storage` directory.

[2017-01-09 18:26] trahma commented on #295
That was the first fix, the second fix was that I had to give write permissions to public/vendor for the webserver.

[2017-01-09 18:27] austintoddj commented on #295
Ok. Thanks for running that test. Would you be able to briefly document those changes you ran and send them to me at austin.todd.j@gmail.com? I'll look them over and then get them in the docs as soon as possible.

[2017-01-09 20:47] ruchern commented on #288
Hi @austintoddj I believe the Easel is the other repo in your account and that will be the one that is being used to integrate into existing Laravel projects? If so, I would love to have a look and contribute in any way possible and to the best of my ability!

Thank you!

[2017-01-09 20:49] austintoddj commented on #288
That's correct @ruchern, Easel is the core Laravel Package. So if you want to contribute, we'd be doing it on the `develop` branch of that repo.

[2017-01-09 23:22] PatrickJoannisse commented on #290
@reliq Thanks for the quick breakdown of how to create a theme. Definitely, the documentation would help. We all hate writing it but I guess somebody has to ;)

[2017-01-09 23:42] reliq commented on #290
You're welcome @PatrickJoannisse. It's coming soon 😸

[2017-01-10 01:40] awjudd commented on #293
Looking through the code, it doesn't look like you are using VueJs / Vue-Resource.  If you were, I used the following interceptor to get around this issue.

Maybe something similar can be used for your code?

[code]

[2017-01-10 09:43] PastaGringo commented on #284
Hello @austintoddj,

The post is published and visible here (for 1h19mn) : http://192.241.204.66/blog/post/first-post
But it does not appear on the front blog : http://192.241.204.66

And I don't know why :/

[2017-01-10 10:49] #284 closed

[2017-01-10 10:51] PastaGringo commented on #284
Updated PHP dependencies and `storage` owner/permissions (www-data & 777)

[2017-01-10 12:34] austintoddj commented on #293
@talvbansal Any thoughts on this?

[2017-01-10 12:35] austintoddj commented on #292
Does that answer your question @iiCe89? Feel free to close this out if it does.

[2017-01-10 14:43] iiCe89 commented on #292
Yes thank you guys

[2017-01-10 14:43] #292 closed

[2017-01-10 15:20] austintoddj commented on #295
@reliq Just ran into this same issue, here's the output of the error:

![screen shot 2017-01-10 at 8 36 15 am](https://cloud.githubusercontent.com/assets/8037011/21811570/c57edd72-d715-11e6-9e3f-fbb25d8bb8dc.png)

Issue was resolved by doing what @trahma stated above, changing permissions of the `public/vendor` directory. Do you think it's something we need to add into the install documentation?

[2017-01-10 15:51] trahma commented on #295
Sorry haven't had a chance to send the email will do so later today.  The easiest way to resolve this issue is to set 777 however for some users that may not be the safest solution.  Out of the laravel docs:

After installing Laravel, you may need to configure some permissions. Directories within the  storage and the bootstrap/cache directories should be writable by your web server or Laravel will

[2017-01-10 18:56] ruchern commented on #288
@austintoddj Thank you!

[2017-01-11 04:18] ChristianYeah opened #296 "tricky way to customize url"
hey, I'm new to canvas, so excited to find such a good project. or I love the UI more. haha

Then I realize a problem, the URL can't  be customized.

So I did something tricky, actually, I barely use the git so I just simply put my solution here

Anyway, it's a little bit hard code.

I want my url of individual blog from www.example.com/blog/post/hello-world to www.example.com/hello-world.html

Ot

[2017-01-11 04:23] ChristianYeah commented on #296
Btw, you have to add something in the backend for modify the uri_alias column. I wont do this part here because you probably know how to do this. :)

[2017-01-11 06:50] ChristianYeah commented on #295
Actuallly, change the owner of dict to apache or nginx will be fine. Quite simple

[2017-01-11 11:05] debeniter86 commented on #287
I just changed my mysql host name 'localhost' to '127.0.0.1' and got fixed.

[code]

[2017-01-11 11:05] #287 closed

[2017-01-11 13:13] Jeroen-G commented on #296
You can also copy over the routes from canvas into your own routes/web.php file and alter those. Should work as well.

[2017-01-11 15:52] ChristianYeah commented on #296
@Jeroen-G actually, I wrote some code to let easel support this. https://github.com/ChristianYeah/easel

[2017-01-11 23:29] #290 closed

[2017-01-12 05:24] ecnerret-adajet commented on #291
I got the same error. I tried the `composer dump-autoload` but gives me this error
`Fatal error: Uncaught Error: Class 'Illuminate\Foundation\Application' not found in C:\xampp\htdocs\canvasblog\bootstrap\app.php:14
Stack trace:
#0 C:\xampp\htdocs\canvasblog\artisan(18): require_once()
#1 {main}
  thrown in C:\xampp\htdocs\canvasblog\bootstrap\app.php on line 14`

Thanks..

[2017-01-12 12:55] austintoddj commented on #291
Do either of the solutions [here](https://laracasts.com/discuss/channels/general-discussion/fatal-error-class-illuminatefoundationapplication-not-found-in-pathtoprojectbootstrapappphp-on-line-14?page=1) or [here](https://github.com/jenssegers/laravel-mongodb/issues/944) give you different results in your particular installation?

[2017-01-12 19:08] eduardor2k opened #297 "Error in new install"
I've just setup a new install of canvas but i keep getting this error:

File vendor/canvas/assets/css/frontend.css not defined in asset manifest. (View: /var/www/xxx/vendor/cnvs/easel/resources/views/frontend/partials/css.blade.php) (View: /var/www/xxx/vendor/cnvs/easel/resources/views/frontend/partials/css.blade.php) (View: /var/www/xxx/vendor/cnvs/easel/resources/views/frontend/partials/css.blad

[2017-01-12 19:27] austintoddj commented on #297
@eduardor2k This error can pop up when you install Canvas with an *already existing database*, one that has been used to run an installation before.

So, go ahead and try creating a fresh database, and try the installation again. Let me know if you see the same error.

[2017-01-12 21:11] eduardor2k commented on #297
Thanks, it was exactly that!

I had executed manually "php artisan migrate".

rookie mistake

Thanks a lot!

[2017-01-12 21:11] #297 closed

[2017-01-13 12:40] mattvb91 commented on #288
+1 for this. Want to integrate the blog into 2 existing projects. Going to take a look now and see if I can help out in any way.

@ruchern any update from you? What issues are you currently having regarding integration? (Just asking before I even dive into it)

[2017-01-13 18:57] reliq commented on #288
Hello @ruchern,

What you actually need to require is `cnvs/easel` as that is the core of canvas.

e.g.
[code]

[2017-01-13 21:07] ruchern commented on #288
@reliq Will try that. Thanks!

[2017-01-14 09:01] ruchern commented on #288
Warning: Ambiguous class resolution, "CreatePostsTable" was found in both "$baseDir . '/database/migrations/2016_09_21_171308_create_posts_table.php" and "/Users/ruchern/Sites/ruchern/vendor/cnvs/easel/database/migrations/2015_06_21_174427_create_posts_table.php", the first will be used.
Warning: Ambiguous class resolution, "CreatePasswordResetsTable" was found in both "$baseDir . '/database/migra

[2017-01-14 11:52] austintoddj commented on #288
@ruchern What version do you have right now?

[2017-01-14 12:29] sebbaum commented on #294
Concerning the initial problem in this thread. I had the same problem.
After running `php artisan canvas:install` and following the installation process, everything seems to work.
Unfortunately the official documentation is not mentioning that running `php artisan canvas:install` is required.

[2017-01-14 13:37] austintoddj commented on #294
@sebbaum In the installation process, you are directed to access a web browser after brining in the project where you'll see this screen:

![canvas-welcome](https://cloud.githubusercontent.com/assets/8037011/21955227/194f1340-da2c-11e6-98c5-020961a492c8.png)

I assumed that this would be clear enough for people to follow and have a nice Welcome page to land on as they see the project for the first

[2017-01-14 16:12] ruchern commented on #288
@austintoddj Those were my existing migrations; albeit all fully custom made from scratch.

[2017-01-14 17:25] austintoddj commented on #288
My suggestion is that you reinstall Canvas and work from that. What do you think @reliq?

[2017-01-14 17:45] reliq commented on #288
Those are warnings @ruchern. The migrations shouldn;t interfere with each other since Canvas' migrations were made to create tables prefixed with `canvas_`.

Even though composer reads two classes in each instance with the same name and will give the first one if called upon for the class in question. Artisan should be able to run both migrations in each case.

----

Have you tried to run the migr

[2017-01-15 07:26] ruchern commented on #288
@reliq If I do run the migrations, will the Canvas takes precedence over my custom made ones?

[2017-01-15 14:36] reliq commented on #288
@ruchern they should not. Nevertheless, remember to backup your existing database in the case of any adverse effects.

[2017-01-16 03:50] reliq commented on #288
Actually @ruchern, you may run into quite a few more issues depending on your setup. The next few patches will contain some goodies to make the process easier.

Documentation is also underway [here](https://cnvs.readme.io/v3.0/docs/integrating-canvas-in-an-existing-project). Once these patches have been released you'll be clear to follow this guide.

[2017-01-16 19:56] dlopez opened #298 "Title Field Sanitization Broken"
When using a double quote in the title field. It breaks the form input.

![image](https://cloud.githubusercontent.com/assets/167449/21997184/e27414de-dbfb-11e6-9305-facf19c38b33.png)

[2017-01-16 21:10] ruchern commented on #288
@reliq Thank you so much for the updates and the help. I've been busy lately, so probably won't be playing with this for the time being!

[2017-01-17 05:41] ChristianYeah opened #299 "Any idea about the site map?"
I'm working on it, using someone's package to intergrate.
any suggestion?

[2017-01-17 05:52] ChristianYeah commented on #298
edit vendor\cnvs\easel\resources\views\backend\post\partials\form.blade.php line 41
using '' instead of "" for value attr will work.
but its a temperal fix

[2017-01-19 04:10] ChristianYeah opened #300 "secure url issue"
I changed the setting in config/app.php to my secured domain
but seems like something going wrong with the route function, it doesnt generate any secure url

[2017-01-19 04:48] #300 closed

[2017-01-19 13:03] austintoddj commented on #298
Fixed with https://github.com/cnvs/easel/commit/456e2458fb0bf4cb0ad89749c4120adf20c95741

[2017-01-19 13:03] #298 closed

[2017-01-19 17:02] jwhulette opened #301 "Route [home] not defined"
I want to have the blog as a path on my site. So I have /blog set in the config to 'blog_path' => '/blog', if I set 'blog_prefix' => '/', I get the following error.
**Route [home] not defined. (View: /vagrant/vendor/cnvs/easel/resources/views/backend/home/sections/welcome.blade.php)**
when trying to access the admin screen.
If I add sort a prefix it works.

[2017-01-19 18:08] austintoddj commented on #301
@reliq This is still a WIP correct?

[2017-01-19 19:00] jwhulette opened #302 "Permalink to post is not correct"
Post url is http://127.0.0.1:8080/blog/dygen/post/test-post
Permalink shows as http://127.0.0.1:8080/blog/test-post and gives a 404

[2017-01-19 20:00] jwhulette commented on #302
Clearing cache and views seemed to resolve the issue.

[2017-01-19 20:00] #302 closed

[2017-01-19 20:49] jwhulette opened #303 "Unable to activate theme"
I am unable to active my custom theme. I cloned the Paper dark theme and just change the name and title. I added the theme to my composer file and ran update. The theme does not show on the admin panel as a selection.

[2017-01-19 20:57] austintoddj commented on #303
@jwhulette You can find out more about custom theming in the [official documentation](https://cnvs.readme.io/docs/theme-development).

[2017-01-19 21:20] jwhulette commented on #303
I followed the documentation. The theme shows in my installed.json file but the admin interface never displays it. From my reading of the code, it should parse the installed.json file to display any themes. Is there a cache somewhere I need to clear. I have done composer dumpauotload, cache:clear, view:clear & optimize.

[2017-01-19 21:20] austintoddj commented on #303
Thoughts on this @reliq?

[2017-01-19 21:49] jwhulette commented on #303
Sorry, but it's been a long day. It was a vagrant issue. My local copy was not being synced. A vagrant restart resolved the issue.

[2017-01-19 21:49] #303 closed

[2017-01-20 13:56] ChristianYeah opened #304 "easel checks the existence of tables every time even after the installation"
I was working on the cache for the easel, and realised that the framework checks the existence of table every time.

I think an install.lock file would be more appropriate.

I commented all unnecessary code in ``SetupHelper`` personally

[2017-01-20 14:08] austintoddj commented on #304
@ChristianYeah What do you mean it checks for the existence of a table every time? The `requiredTablesExists()` method is meant to check for existing tables on a fresh installation, and then it's unused throughout the rest of the application. What code did you comment out in `SetupHelper.php`?

[2017-01-20 14:11] ChristianYeah commented on #304
@austintoddj problem is, it still work after the installation. Can you double check it again? or only I have this problem
<img width="1212" alt="screen shot 2017-01-21 at 12 39 43 am" src="https://cloud.githubusercontent.com/assets/7412085/22152343/51762416-df72-11e6-9d17-b5d93e9133b0.png">

[2017-01-20 15:02] reliq commented on #301
@austintoddj yes. @jwhulette you will have issues with integration until the next minor release.

[2017-01-21 04:23] reliq commented on #304
@ChristianYeah this should resolve your issue: https://github.com/cnvs/easel/commit/f9ff298b4feed4eadd45435712d5596777df8430

[2017-01-21 14:07] LittleHans8 commented on #295
It seems the same error when I try to change my blog setting(path:/admin/settings)
**Although it output error,I refreshed the page,and it has been saved successfully**

copy(/var/www/html/blog/public/vendor/canvas/build/rev-manifest.json): failed to open stream: Permission denied

   PHP_VERSION:                7.0.13-0ubuntu0.16.04.1
   DATABASE_CONNECTION:        MYSQL
  WEB_SERVER:

[2017-01-22 13:30] ruchern commented on #288
Just confirming that the codes for Easel are in the vendor directories rather than in the project.

Will a `php artisan publish --vendor` do anything for now?

[2017-01-24 19:39] joelstahre commented on #167
What is the status for this?
I would really like to be able to have the url like:
www.myblog.com/my-post1
www.myblog.com/my-post2
etc..

i have seen that there has been some discussion about it, but is it still ongoing?

[2017-01-24 20:01] austintoddj commented on #288
@ruchern If I'm understanding what you're asking about, you won't need to publish any vendor files for Canvas to work the way it should out of the box.

If you do however run the command `vendor:publish`, you'll end up publishing the following:

![screen shot 2017-01-24 at 2 01 02 pm](https://cloud.githubusercontent.com/assets/8037011/22264441/964cf86c-e23d-11e6-9f74-bd3b53ea32c2.png)

[2017-01-24 20:05] austintoddj commented on #167
@joelstahre Yes, this is still a feature being developed on. Will let you know more as soon as possible.

[2017-01-25 13:32] ruchern commented on #288
@austintoddj Alright! Thank you. That is what I want to know.

[2017-01-25 18:06] LittleHans8 commented on #291
@cleopatra27 ,@ecnerret-adajet
Re cloning the repo,and try to run `composer install` or `composer update`

[2017-01-25 18:20] ruchern commented on #291
Check your permissions. The easiest way is to run `chmod 777 -R bootstrap/` (This is not recommended, but is the easiest way to check for permissions.

[2017-01-26 11:30] ruchern commented on #288
@austintoddj @reliq `php artisan vendor:publish --` is there a flag where I could publish only Canvas?

[2017-01-26 14:38] reliq commented on #288
@ruchern this will publish only canvas assets:
[code]
You can further limit the publishing by using the tags: `config`, `public` and `views`.
e.g.
[code]

[2017-01-26 15:59] austintoddj commented on #291
@cleopatra27 Good to hear. So the problem has been resolved?

[2017-01-30 11:17] jestintab opened #305 "Users can view and edit their own post only in the dashboard"
I want the users can edit their own posts only, so I added the below code in the PostController
[code]

I don't know about the coding standard. That's why I posted here.

[2017-01-31 21:22] austintoddj commented on #305
@jestintab So you are asking if the functionality could exist to where an admin user can't see all the blog content?

[2017-01-31 23:10] ruchern commented on #305
Hi, I've attempted to push the feature on the easel repo. @austintoddj I tried to contribute. Should there be any errors, please let me know!

[2017-02-01 09:57] talvbansal commented on #305
To me this sounds like it should be configurable depending on the needs / wants of the blog owner?

[2017-02-01 10:58] jestintab commented on #305
Yeah it should be configurable option from admin side or add 3rd level for users like moderator.

[2017-02-02 15:18] austintoddj commented on #294
@sebbaum The official docs have been updated and provide a bit more clarity. 👍

https://cnvs.readme.io/docs

[2017-02-03 21:36] trizz opened #306 "404 when updating post (fresh installation)"
When I've a fresh installation (doesn't matter if it is a clone from GitHub, or via Packagist) and I want to update a post, I receive a 404:

`jquery.min.js:4 PUT https://<my.domain>/admin/post/3 404 (Not Found)`

Running a `php artisan route:list --path=admin/post` returns a few lines, including this one:
`PUT|PATCH | admin/post/{post}      | admin.post.update`

I've tested in both Chrome and Saf

[2017-02-04 01:49] vpakg commented on #177
Why not integrate something like [Caffeinated/modules](https://github.com/caffeinated/modules) to handle the plugin management. I've been using it on client's project to make the application more modular and reusable and I'm really enjoying (but I'm in early stages of getting comfortable with it).

I've integrated it with the backend of [the-control-group/voyager](https://github.com/the-control-gr

[2017-02-04 02:57] austintoddj commented on #177
@vpakg Thanks for the suggestion! The reason it hasn't been done yet is really because I haven't had the time or thought out the process. Since you have such a good start to go on, would you want to try to send a PR with a feature like this? I'd be more than happy to integrate such a thing into the project.

[2017-02-04 17:01] marktopper opened #307 "Custom pages?"
Are there any plans for making support for custom pages?

Like a "About" page?

[2017-02-05 19:24] austintoddj commented on #307
@marktopper This has been brought up a couple times and seems to be of interest to people creating a blog with Canvas. There isn't any current development on this feature, but I believe that this could fall under the larger umbrella of #177 in the end. With a plugin system, we could add on more CMS-like components.

[2017-02-05 19:24] austintoddj commented on #306
@trizz What version of Canvas are you currently running?

[2017-02-05 19:47] marktopper commented on #307
@austintoddj, thanks for that reference. Seems like a perfect way to handle this. Once a plugin system is created I can create this plugin/component myself and contribute to this wonderful project.

[2017-02-05 19:47] #307 closed

[2017-02-05 19:50] marktopper commented on #299
What package are you integrating?

[2017-02-05 23:26] ruchern commented on #306
Can confirm the problem too.

[2017-02-06 08:15] trizz commented on #306
@austintoddj I've tried it with `comsposer create project`, the latest release (v.3.0.5 with the tag `vdbal`), the v3.0.1 release and the master branch. All as a fresh install with a `php artisan install:canvas`. I'm running currently v2.1.17 with no problems.

[2017-02-06 13:00] austintoddj commented on #306
@trizz Thanks for the info. So you're still hitting an error when updating a post then? Trying to replicate the issue on my end but haven't been able to yet.

[2017-02-07 09:25] trizz commented on #306
Yes, but it is worth to mention that it is on the same host as the old Canvas installation. Haven't tried it on a 'fresh' host, perhaps I've some caching issues, but it seems strange to me that everything else works perfect.

[2017-02-07 12:38] austintoddj commented on #306
Interesting. Thanks for getting back to me. Since I haven't been able to replicate it on any of my environments, I would assume it has something to do with a caching issue. Let me know if you see anything else come up! 👍

[2017-02-08 20:57] #285 closed

[2017-02-08 20:57] #304 closed

[2017-02-08 20:58] #294 closed

[2017-02-08 20:59] austintoddj commented on #288
Further documentation on this issue can be found in the [official documentation](https://cnvs.readme.io/docs/integrating-canvas-in-an-existing-project).

[2017-02-08 20:59] #288 closed

[2017-02-08 21:00] austintoddj commented on #301
@jwhulette `v3.1.1` is out now. Let me know if that cleared your issue up.

[2017-02-08 21:01] #291 closed

[2017-02-09 09:40] Naoray opened #308 "Planning on making it a package?"
Hey there,

Do you guys have considered on releasing canvas as a package to integrate in other laravel applications?Guess this would draw even more attention to this repo.

[2017-02-09 12:58] austintoddj commented on #308
Since there is a little bit of configuration that needs to happen while integrating the core package (Easel) and Canvas, they will remain as they are for the time being.

There is however [good documentation here](https://cnvs.readme.io/docs/integrating-canvas-in-an-existing-project) on integrating Canvas into an existing application. It is a bit more advanced, but very possible. Feel free to chec

[2017-02-09 12:58] austintoddj commented on #306
@trizz If everything here is working out for you now, feel free to close this issue.

[2017-02-09 13:00] austintoddj commented on #295
Fixed in [v3.1.1](https://github.com/cnvs/easel/releases/tag/v3.1.1)

[2017-02-09 13:00] #295 closed

[2017-02-09 13:01] dam62500 opened #309 "update and meta description"
Hi,

I don't know if I'm the only one who has this problem but i can't update my blog (3.0.5 to 3.1.1 ) and Google doesn't take well the meta description. ( It takes one of the setting, description blog )

Any ideas?

[2017-02-09 13:04] Naoray commented on #308
@austintoddj thanks for the fast reply. Will try it out soon!

[2017-02-09 13:04] austintoddj commented on #309
@dam62500 The [Official Upgrade Guide](https://cnvs.readme.io/docs/upgrade-guide) should contain everything you need to upgrade from `v3.0.5` to `v3.1.1`. What error are you receiving?

What is going on with the meta description that isn't working?

[2017-02-09 13:07] dam62500 commented on #309
I don't have the meta description of the article but that one of settings when i look on Google, i can see there are two meta description in canvas for google and it's the first one google take, this one in the settings of the blog.

[2017-02-09 14:19] trizz commented on #306
@austintoddj I've just set up a new domain/host, so I can try it when I've time with a fresh installation, on another domain, etc. I'll let you know if it is solved or not.

[2017-02-09 15:05] kirainmoe opened #310 "HTTPS compatibility problem"
The HTTPS compatibility of Canvas is quite poor. Protocol written in the PHP and JS is absolute (http), which caused the problem that when I loaded blog page in HTTPS, the resources such as images are loaded in HTTP.

What's worse, I can not publish a post with the slug being error: Canvas sends a XMLHttpRequest by HTTP, but the mixed content are forbidden:

Are there any solutions for these probl

[2017-02-09 16:02] printempw opened #311 "Any plan for saving drafts automatically?"
To my surprise, I found that canvas won't save the draft for me automatically at a specified time interval when I am working on the article. It's unbelievable!

It also didn't notice me when I tried to close the page with un-saved modification. I think add a notice like [this](http://stackoverflow.com/questions/7317273/warn-user-before-leaving-web-page-with-unsaved-changes) would be great 👍

[2017-02-09 16:34] austintoddj commented on #311
Thanks for bringing this up @printempw. We'll look at getting this integrated in a future release!

[2017-02-09 16:35] austintoddj commented on #309
Ok @dam62500 I'll take a look at the meta sections and see if there is something we can fix there.

[2017-02-09 17:01] dam62500 commented on #309
When i inspect, i see two meta descriptions. I think it's the probem.

[2017-02-09 18:21] austintoddj commented on #309
Great thanks for that bit of info. If you care to send a PR over to the `develop` branch on [Easel](https://github.com/cnvs/easel), I'd be happy to merge that in.

[2017-02-09 21:36] trizz commented on #306
A clean install, on a new domain, with a new DB and I've still the same problem. After a bit of poor mans debugging (adding `<?php var_dump(\Request::isMethod('get')); var_dump(\Request::isMethod('put')); ?>` to `404.blade.php`) returns `bool(true) bool(false)` so apparently my browser sends the request as a GET instead of a POST (mimicking a PUT or PATCH).

I've tried it on macOS Sierra with Chro

[2017-02-10 03:01] ruchern opened #312 "Usage of user profiles"
Are there further developments for user profiles? At the moment the application can only edit own profile. Should there be ways to view other user profiles in the future?

[2017-02-10 12:41] austintoddj commented on #312
@ruchern Do you mean from within the application itself or from an outside source?

[2017-02-10 12:43] austintoddj commented on #306
@trizz Could you post the system information from the Settings page in the blog admin?

I believe this may be a duplicate issue of #293

[2017-02-10 14:05] trizz commented on #306
[Sure](https://gist.github.com/trizz/d952251b089cbcd5a53ff38eabc803d2) 😄

[2017-02-10 18:21] ruchern commented on #312
@austintoddj Within the application itself.

[2017-02-10 18:26] austintoddj commented on #312
When there are multiple users in the system, an admin user can update/view the other profiles under the Users section. Are you not seeing that in your installation?

[2017-02-11 01:30] ruchern commented on #312
@austintoddj I have that. What I meant is normal users looking at profiles of other users.

[2017-02-11 05:45] #310 closed

[2017-02-13 12:34] austintoddj commented on #312
Didn't have any plan to allow `User` level users to view others, since they are the lowest level. We could look into adding more levels of users, capable of different things. But for now, no, there isn't any plan in place for seeing other user profiles if you aren't an admin.

[2017-02-13 13:58] ruchern commented on #312
@austintoddj Okay thank you!

[2017-02-13 13:58] #312 closed

[2017-02-14 12:56] davidianbonner opened #313 "Application Events"
Firstly, excellent work! Canvas is great.

We're looking to automate some things like tweeting and posting snippets to medium etc. Are there any plans to implement system events. For instance `PostCreated`, `PostUpdated`etc?

If not, would you be open to this as a contribution. We will be implementing it in a fork anyway to get up and running as soon as possible.

[2017-02-14 13:03] austintoddj commented on #313
Really glad you like Canvas @dbonner1987! At this time I haven't looked into implementing such an event system, but would be more than happy to accept it as a PR if you wanted to push one.

[2017-02-18 13:58] brentybh opened #314 "Enable HTTPS for Gravatar link in admin panel"
<div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img src="http://www.gravatar.com/avatar/d26b05edbb6fc615f9afe253f3841e76?d=identicon">
            </div>
            <div class="profile-info">

[2017-02-18 15:55] brentybh commented on #314
https://github.com/cnvs/easel/pull/86

[2017-02-18 15:55] #314 closed

[2017-02-19 18:36] jleonardolemos opened #315 "This blog platform will have comments?"

[2017-02-19 18:52] austintoddj commented on #315
@jleonardolemos If you enable them in Settings, then yes, a Disqus comment thread will be available in each blog post.

[2017-02-19 23:32] dehboris opened #316 "PDOException in PDOConnection.php line 43"
Hi, Todd
Great Job.
I have this error when launch first time after installation

[code]

[2017-02-20 01:33] jleonardolemos commented on #315
@austintoddj sorry, I didnt see this option. This blog is awesome!!!!

[2017-02-20 02:10] austintoddj commented on #315
@jleonardolemos Great! Glad you like it!

[2017-02-20 02:11] austintoddj commented on #316
@dehboris Thanks for checking out Canvas!

Have you got your `.env` file filled out with the appropriate DB credentials?

[2017-02-22 21:05] #315 closed

[2017-02-23 16:24] austintoddj commented on #316
Any further development on this @dehboris?

[2017-02-23 16:26] austintoddj commented on #309
@dam62500 This is currently fixed in the `develop` branch. Will be pushed live with the `v3.2.1` update.

[2017-02-23 16:26] #309 closed

[2017-02-23 16:27] #308 closed

[2017-02-23 16:29] austintoddj commented on #305
I'll take this into consideration, adding another level of admin users.

[2017-02-23 16:29] austintoddj commented on #306
@trizz Does the latest update `v3.2.0` solve this issue for you?

[2017-02-25 10:52] florinfratica opened #317 "Localization for Canvas Paper theme"
Hi.

I am using Canvas for my blog and I have to say that I am really pleased with this platform and I appreciate the effort you guys put into developing and mantaining it.

I'm blogging in my native language (romanian) and I think there might be others doing this too so I think that it would be pretty nice to have Canvas Paper theme front-end use Laravel's localization feature. This way, whenever

[2017-02-25 11:22] talvbansal commented on #317
@florinfratica I've not worked with any localised sites before, if you have would you be able to submit a PR on the `cnvs/easel` repository with the changes necessary. I agree it'd be a great addition and I'd personally love to see how its done too!

[2017-02-28 18:48] trizz commented on #306
Unfortunately not :(

[2017-03-01 14:56] florinfratica commented on #317
@austintoddj, I will try to do it this weekend or next weekend, but only for the frontend.

[2017-03-01 16:22] austintoddj commented on #317
Sounds good @floriangaerber! Looking forward to seeing what you come up with!

[2017-03-07 12:32] lferro9000 opened #318 "Images with spaces in the name aren't viewable"
When uploading a new image, if the image name has spaces, it won't get previewed (and probably will not show on the frontend).

[2017-03-07 15:23] ruchern opened #319 "Weird problem: New blog post does not show up on Index page"
As per title, new posts does not show up on the index page but they do show up individually.

It is definitely not a post per page thing as I've checked the settings time and time again to be 10 posts per page. At the moment of this problem, it was only showing 2.

[2017-03-07 15:24] austintoddj commented on #319
Just to verify, the posts in question are marked as `published`? Also, what timezone is the app set for and what timezone are you currently in?

[2017-03-08 01:22] lferro9000 opened #320 "Removing post image and update generates error"
I will get back to this later with more details, but this is the gist of it:

When editing a post with an image, and removing the image (the one on the right side of the edit form), and then update the post one will get the base symfony error.

I will try to chase later the logs of what happened to add to this.

[2017-03-09 16:26] austintoddj commented on #320
Sounds good @lferro9000, let me know what you find.

[2017-03-11 07:00] joselara opened #321 "Fesh install error"
Failed to clone https://github.com/austintoddj/laravel-jsvalidation.git via https, ssh protocols, aborting.
  - https://github.com/austintoddj/laravel-jsvalidation.git
    Cloning into '/Users/jose/Code/joselara/vendor/austintoddj/laravel-jsvalidation'...
    remote: Invalid username or password.
    fatal: Authentication failed for 'https://github.com/austintoddj/laravel-jsvalidation.git/'
  - gi

[2017-03-11 07:01] joselara commented on #321
Looks like jsvalidation doesn't exists anymore.