[2017-03-13 11:42] austintoddj commented on #321
@joselara You are correct. Using `austintoddj/laravel-jsvalidation` was a temporary fix for an issue we were experiencing with integrating a third-party package. With the [latest release](https://github.com/cnvs/canvas/releases), we've moved on to a permanent solution.

Reference #285 for more info.

[2017-03-13 23:27] #321 closed

[2017-03-20 01:44] lferro9000 opened #322 "When installing with --no-dev, post-install/update commands will not work"
There is an hard dependency of the post update/install commands to faker library.

The problem is that library is only installed on dev mode.

The solution is either remove those commands dependency from faker library, or move the library from "require-dev" to "require".

[2017-03-20 13:28] austintoddj commented on #322
Thanks for bringing this up @lferro9000. I'll take a look in a little while and check out your PR 👍

[2017-03-20 22:57] isbkch opened #324 "Allow new user registration"
Is there a setting that allow new users registration ?

[2017-03-21 11:41] goodbytes-gb opened #325 "Doesn't work over SSL?"
I enabled CloudFlare force SSL and could no longer login. I noticed Canvas is forcing HTTP at login (or maybe it's failing due to mixed content and the browser is forcing non-HTTPS) as a result the session is killed, the login page just reloads.

[2017-03-21 12:04] austintoddj commented on #325
Thanks for catching that @goodbytes-gb. Had not run into that issue myself yet. Let me look into it and see what I can do to help you.

[2017-03-21 12:05] austintoddj commented on #324
Duplicate of https://github.com/cnvs/easel/issues/109

[2017-03-21 12:05] #324 closed

[2017-03-24 11:54] austintoddj commented on #322
@lferro9000 Just fixed this with the above commit by sending it to the `develop` branch. Will be merged into the main project on the next release. Thanks again!

[2017-03-24 11:54] #322 closed

[2017-03-24 18:01] #283 closed

[2017-03-29 16:53] SerjoA opened #326 "Question: do you have an example on how to add plugins to canvas"
hi, do you have some kind of example on how to extend canvas even further
thank you for the work its awesome

[2017-03-30 00:16] austintoddj commented on #326
Thank you @SerjoA for your kind comments on the project! I don't currently have any examples of plugins, it's been a work-in-progress between a couple developers here. Anything that you have to offer in that area would be a very welcome contribution!

[2017-03-30 16:28] SerjoA commented on #326
thank you for your kind words, i can try and make a plugin in my spare time, just need some info like what folder to put the plugin, how to connect it to the system, do you have any specific  request in mind? also , you can redirect me to someone who is working with this system also and i can ask him some info  and then  make a plugin

[2017-03-30 19:20] voipworld opened #327 "auto social publishing"
hi Canvas Team
would you implement auto publishing to social?
its a good feature provided by wp
i allready created my blog with canvas, pretty satisfied;)
thanks!

[2017-03-31 13:40] DanielFurmanov opened #328 "not able to run artisan canvas:install"
Greetings!
_I came here from https://github.com/cnvs/easel , because that repository isnt active_

I am trying to install canvas on existing project
while running `artisan canvas:install` I have stumbled in
[code]

because installation can not create a canvas user in `cnvs/easel/src/Console/Commands/CanvasCommand.php`  https://github.com/cnvs/easel/blob/master/src/Console/Commands/CanvasCommand.ph

[2017-03-31 15:19] austintoddj commented on #327
@voipworld Thanks for checking out Canvas! You're right, auto-publishing to social media is a great feature, and I'll see what I can do to get it into a future release for Canvas. If you want to take a stab at it and send a PR to [Easel](https://github.com/cnvs/easel), I'd love to review it and see if we can merge it in. 👍

[2017-03-31 15:59] reliq commented on #326
Hello @SerjoA,

There is a base extension class here: https://github.com/cnvs/easel/blob/master/src/Extensions/Extension.php which we adapted from Flarum (https://github.com/flarum/core). Themes are extensions so they therefore extend this base class.

[2017-03-31 19:10] kingsloi commented on #325
@goodbytes-gb, @austintoddj, I went live with a blog, and https works fine. I use Laravel Forge. @goodbytes-gb, make sure you have set up https correctly, and you've used 'https://' in your base url in you .env file (or config file). My 2c!

[2017-04-01 15:56] rd4704 opened #329 "The admin edit post breaks when enter this script in <pre> tag"
Hi I am loving using Canvas so far, but encountered a problem recently when I entered the following script in a blog page:
[code]

The edit post page became blank. When I view-source: the page I can see the content is there, so seems like some UI glitch.

[2017-04-01 16:24] SerjoA commented on #326
thanks @reliq  ill look into it and hope to learn from it

[2017-04-02 14:29] austintoddj commented on #329
Thanks for checking out Canvas @rd4704! I will look into this ASAP and see if I can find out what's wrong.

[2017-04-02 14:31] austintoddj commented on #328
@DanielFurmanov Thanks for checking out Canvas! You're detailed description of what's going on and a suggested fix is *awesome*, thanks for taking the time to write up a very proper issue.

If you'd like to submit a PR to Easel with your proposed change, I'd love to help merge it into the project.

[2017-04-02 20:59] DanielFurmanov commented on #328
@austintoddj  Yes, I would like to submit a PR. I am currently trying to augment canvas to my company's project. So I would be glad to submit some fixes. Should I open a different issue for and different bugs found?

[2017-04-03 03:49] ruchern commented on #327
@austintoddj Do you prefer to write the code manually to use the API of lets say Facebook or to integrate Socialite into this application?

[2017-04-03 07:37] DanielFurmanov commented on #328
@austintoddj I have created a PR: https://github.com/cnvs/easel/pull/117 (to `develop` branch)

I haven't change anything but the line I mentioned, but I think if command uses an existing user (assuming it really can happen) that would be strange to change his/her already existing data AND role. Is it a concern?

[2017-04-03 21:49] goodbytes-gb commented on #325
@goodbytes-gb, @austintoddj yeah sorry guys looks like it was my fault. I installed the certificate in forge but never actually activated it, forgot to click the button. false alarm. apologies :)

[2017-04-03 21:49] #325 closed

[2017-04-11 06:42] qiumzh opened #330 "Could not link storage/app/public folder to public/storage:"
Welcome to the Canvas Install Wizard! You'll be up and running in no time...

Could not link storage/app/public folder to public/storage:
✘ symlink() has been disabled for security reasons

Please provide the following information. Don't worry, you can always change these settings later.

Step 1/6: Creating the admin user account

 Email:

[2017-04-11 06:45] qiumzh commented on #330
![Uploading image.png…]()

[2017-04-11 06:45] #330 closed

[2017-04-11 08:19] lferro9000 commented on #320
The issue was related with how i was firing the builtin php webserver.

I was using index.php as router, which requires the addition on top of a check to see if the file exists before trying to fireup the rest of the code.

Either removing the routing option when firing the builtin webserver or adding that extra code will make everything work just fine.

[2017-04-11 08:27] mpandar commented on #329
Like this problem, when the editor of the following, "/admin/post/edit" will display a blank
`{{echo}}`

[2017-04-23 00:11] C0deBr8kr opened #331 "XSS vulnerability in creating Posts"
**Exploit Title:** Stored XSS vulnerability possible in creating posts in canvas (v3.3.0)
**Date:** 22-April-2017
**Exploit Author:** @C0deBr8kr
**Software Link:** https://github.com/cnvs/canvas/archive/v3.3.0.zip
**Version:** 3.3.0

**Description:**
XSS allows an attacker to run arbitrary scripts on the users browser.

**Exploit POC:**
_Browser used_: Chrome version 57.0.2987.133

1. Login as a u

[2017-04-23 01:48] C0deBr8kr commented on #331
Thank you for taking it up so quick. Similar vulnerabilities also exist while creating new tags and users.

[2017-04-23 01:57] austintoddj commented on #331
@C0deBr8kr Thank you for writing up such a neatly detailed Issue. Will look into this ASAP.

[2017-05-04 04:42] reliq commented on #331
Commit https://github.com/cnvs/easel/commit/db160d45e6746436829a202265323ef954f2032c addresses this issue.

[2017-05-11 20:15] austintoddj commented on #286
@julles Did the latest update `v3.0.0` make it work for you?

[2017-05-12 09:00] yoramdelangen opened #332 "SimpleMDE example not same as rendered version"
While writing a blog post I noticed if im using HTML in SimpleMDE and watch the preview it works fine. But when showing the saved version it will not parse whats between the HTML tags.
Perhaps its missing documentation about the differents between rendering and the example view.

Example:
[code]
Preview shows:
![screen shot 2017-05-12 at 10 55 34](https://cloud.githubusercontent.com/assets/1531885

[2017-05-12 12:38] austintoddj commented on #332
@yoramdelangen Thanks for checking out Canvas! I'll take a look at this issue as soon as I can and see if I can resolve it for you.

[2017-05-14 16:16] austintoddj commented on #331
@reliq Re-opened with branch `xss-protection`. Biggest thing to be aware of before finishing the feature is that the integration tests pass.

[2017-05-16 09:06] julles commented on #286
Ok i will try

[2017-05-19 04:38] nicolasembleton opened #333 "The "Date Published" from the "Create Post" will hide the post if the server timezone is backwards compared to the browser timezone"
Hi, just discovered Canvas and it's bloody amazing!!

I've published a post today and realized something. My server is in LA time, but I'm in Vietnam. When I create a post, the Javascript in the browser will take my time VN-time, but then when I publish and watch the home, it won't appear because the published time is in the future for the backend.

So, reproduction:
* Set your server at a given t

[2017-05-19 19:52] austintoddj commented on #333
@nicolasembleton Thanks for checking out Canvas, and glad you like it! Thanks for bringing up this point, always helps when it's tested in different parts of the globe. I'll take a look and see what I can do to fix this.

[2017-05-19 19:54] austintoddj commented on #320
@lferro9000 Could you expand on your solution above? Was that just a single-case-only solution, or something you wanted to see built into the app?

[2017-05-19 19:56] austintoddj commented on #326
@SerjoA If you're satisfied with the answer provided here, feel free to close the issue out 👍

[2017-05-20 17:41] SerjoA commented on #326
yes thank you, i am using now caffinated modules for laravel, its awesome

[2017-05-20 17:41] #326 closed

[2017-06-04 15:43] jleonardolemos commented on #329
Im having the same problem when putting this code in editor:

[code]

The blog is great, im enjoing very much, congrats!!

[2017-06-16 15:55] ruchern opened #335 "Composer.lock file should be in git repo"
Just messing around with Canvas tonight and pulled in the latest version from the develop branch. I saw the commits showing `Barryvdh Debugbar`. As such, I did a `composer install` to update any packages that might be missing. Surprisingly I did not see `Barryvdh Debugbar` being installed and a `php artisan config:cache` throw errors on Barryvdh Debugbar based on the configuration inside `config/a

[2017-06-16 16:19] ruchern commented on #335
PR Merged in #336. Closing this.

[2017-06-16 16:19] #335 closed

[2017-06-27 05:37] ibnujakaria commented on #318
do you use linux?

[2017-06-27 05:43] ibnujakaria opened #337 "Media Manager Error, could not display the list of directories"
I installed canvas version 3.1, after the new version of canvas comes out, i updated it with ./artisan canvas:update.

I dont know it happens after I updated the canvas or not, but here what i got:

![](https://preview.ibb.co/mFrGtQ/Screenshot_from_2017_06_27_12_38_50.png)

[2017-06-27 10:49] talvbansal commented on #337
Hi @ibnujakaria, there's a fix for this being tested at the moment its because of some changes to the https://github.com/talvbansal/media-manager component that I'm the author of. Once this PR https://github.com/cnvs/easel/pull/141 is merged it will fix the issue you're having

[2017-07-05 07:18] jodumont opened #338 "Your DEMO is not working"
when I try to log in you demo

https://demo.cnvs.io/admin

I receive this message : Whoops, looks like something went wrong.

[2017-07-05 12:26] austintoddj commented on #338
@jodumont Thanks for bringing this up. I've found that the problem lies in the [Dark Theme](https://github.com/cnvs/paper-dark), some of it's code hasn't been updated to the latest framework changes. I'll take care of this tonight and you should see it up and running again ASAP.

[2017-07-05 12:27] austintoddj commented on #337
@ibnujakaria The release of `v3.4.1` should have taken care of this for you. Could you confirm and then close out this issue when you've seen it working? Thanks! 👍

[2017-07-05 12:28] austintoddj commented on #328
Thanks again for sending this PR over @DanielFurmanov, it is merged into the project now so I'll close this one out. 👍

[2017-07-05 12:28] #328 closed

[2017-07-05 13:26] ibnujakaria commented on #337
@austintoddj Im sorry for the late response. I've been trying it out, and it works really well! Thank you guys! 😄

[2017-07-05 13:26] #337 closed

[2017-07-06 02:31] davidangel commented on #332
@yoramdelangen – If you an a trailing `/` to the opening div tag, it seems to work as you expect.

[code]

Not a super elegant solution, but it may get you on your way.

[2017-07-06 02:40] austintoddj commented on #332
Thanks for the help @davidangel! Still haven't been able to get around to this one yet, so I appreciate the help in the meantime 👍

[2017-07-07 11:48] austintoddj commented on #338
@jodumont Everything should be back to normal with the release of [v1.0.5](https://github.com/cnvs/paper-dark/releases/tag/v1.0.5) of Paper Dark.

[2017-07-07 11:48] #338 closed

[2017-07-11 16:11] #301 closed

[2017-07-11 16:13] austintoddj commented on #306
Fixed with [v3.4](https://github.com/cnvs/easel/releases/tag/v3.4.0)

[2017-07-11 16:13] #306 closed

[2017-07-11 16:14] #286 closed

[2017-07-11 16:14] #214 closed

[2017-07-13 03:29] unrivaledcreations opened #339 "SEO Description applies to og:description and twitter:description, but not meta description."
SEO Description applies to og:description and twitter:description, but not meta description.

[2017-07-13 13:42] unrivaledcreations opened #340 "Add Google+ entry to "Social Networks" in the user profile."
**Feature Request:** Add Google+ entry to "Social Networks" in the user profile.

[2017-07-13 15:50] austintoddj commented on #339
Thanks @unrivaledcreations for addressing this. Will get this into the next release.

[2017-07-13 15:51] austintoddj commented on #340
Good feature request. I'll get this added to the upcoming release.

[2017-07-14 00:27] eresendez opened #341 "Upload images, request problem"
Maybe it is a simple issue or has already been answered before, sorry but when I want to upload an image I get the following error of request:

**{Files.length: ["The files.length must be a file."], Files.item: ["The files.item must be a file."]}**

I'm uploading a .jpg image, could it be a permissions error?
Btw, excellent platform and I only need to upload images in my posts.

What can I do?

[2017-07-14 01:24] austintoddj commented on #341
Thanks for checking it out @eresendez! @talvbansal Do you have any input on this?

[2017-07-14 09:41] talvbansal commented on #341
Hi @eresendez,

It sounds like the issue you're having is likely to be caused by using an older version of Canvas with a newer version of the Media-Manager.

You should upgrade your canvas install or lock the media manager version in your composer.json file to 2.0.2 to fix this issue.

Hope that helps!

[2017-07-18 19:24] kylesean opened #342 "Method addQuery does not exist"
[code]
this code above work very well in laravel 5.3, but in 5.4, I got `Method addQuery dose not exist`  this error.I don't know why. Have you run into this problem in laravel 5.4? Hope to get your reply,thanks.

[2017-07-18 19:27] austintoddj commented on #342
@kylesean Thanks for checking out Canvas! We're not actually supporting Laravel 5.4 yet, but it's in the pipeline to make the upgrade. 👍

[2017-07-18 19:41] kylesean commented on #342
@austintoddj I got it. I used to upgrade to laravel 5.4 myself. The problem lies at `simplePaginate()` method, which return a model has the `addQuery` method in laravel 5.3, but in 5.4,the method is missing.that made feel puzzled.
haha,I'm looking forward to your upgrade!

[2017-07-19 02:59] dqfan2012 opened #343 "Admin Browser (broken link) and related question"
**Broken Link**

I think the wrong URL has been given for the admin browser on the Update Your Profile page. The route given is **http://yoursite.com/adminbrowser/index?path=** instead of **http://yoursite.com/admin/browser/index?path=**

[2017-07-19 06:01] dqfan2012 commented on #343
In the vendor.js file, I basically replaced every place that has

[code]

with

[code]

And everything works fine now.

[2017-07-19 07:36] kylesean commented on #342
I know the reason for this problem. Becasue Laravel has changed the `addQuery` method to `protected` in version 5.4.

[code]
So,use `appends()` instead of `addQuery()`. May help you. :)

[2017-07-19 07:36] #342 closed

[2017-07-19 13:07] austintoddj commented on #343
@dqfan2012 So to clarify, what link exactly is not working right now on the Update Profile page?

[2017-07-19 13:42] dqfan2012 commented on #343
When you click the button for uploading your resume. Look at the console log. It'll display the error.

[2017-07-19 15:26] austintoddj commented on #343
Aha perfect. Thanks, that is something we can resolve shortly.

@talvbansal Since we utilize the Media Manager on the Update Profile page, could you make the update to support the latest release?

[2017-07-24 19:54] jeroenherczeg opened #344 "Theme development tip"
In my composer.json I added a local repository while developing a theme, which made it nicer to work with. Could be interesting to add in the documentation.

`    "repositories": [
        {
            "type": "path",
            "url": "../canvas-theme"
        }
    ],
    "require": {
        ...
        "jeroenherczeg/canvas-theme": "@dev"
    },`

[2017-07-24 19:58] jeroenherczeg opened #345 "Class 'JsValidator' not found In custom theme"
I get an error Class 'JsValidator' not found in resources/views/vendor/canvas/backend/settings/index.blade.php after adding my custom theme (which I forked from https://github.com/cnvs/paper).

There is a line `{!! JsValidator::formRequest('Canvas\Http\Requests\SettingsUpdateRequest', '#settings') !!}` but when I browse the default layout blade file (vendor/cnvs/paper-dark/resources/views/backend/

[2017-07-24 23:15] talvbansal commented on #343
Hi all!

Sorry for the late reply - I've had a look into this and whilst there is another issue that's occurred in the latest update it seems to me that this part is fine?

I've just pushed up a new branch to the easel repo and am going to give it another look over tomorrow before submitting a PR.

Thanks

[2017-07-25 12:30] talvbansal commented on #343
PR Submitted

[2017-08-01 08:08] Frittoss commented on #331
Not sure how far this can be taken but wanted to note that XSS via markdown is also possible.

e.g. `![a" onerror="alert('Potential XSS');"](x)`

Create/modify post:
![screen shot 2017-08-01 at 2 43 31 am](https://user-images.githubusercontent.com/1617835/28814603-dd82cd28-7663-11e7-95ed-e858f616b161.png)

Result when visiting post:
![screen shot 2017-08-01 at 2 43 42 am](https://user-images.githu

[2017-08-03 13:35] CoryDean opened #346 "Composer Fatal Error - laravel-jsvalidation - Repository Not Found"
Unable to successfully run `composer create-project austintoddj/canvas` due to the following error:

[2017-08-03 13:37] CoryDean commented on #346
Looks like #285 mentions a resolution to this, however, it doesn't seem to be working for me.

[2017-08-03 13:44] CoryDean commented on #346
Sorry. Realized I was using the installation instructions from https://laravel-news.com/canvas-new-minimal-blogging-app

Used installation instructions from https://cnvs.readme.io/docs and all is well.

[2017-08-03 13:44] #346 closed

[2017-08-04 01:38] austintoddj commented on #345
The JSValidator class was removed from the main project. If you look at the `resources/views` directory of [Easel](https://github.com/cnvs/easel), those are the updated views you'll want to use in your custom theme. Make sense?

[2017-08-04 01:38] austintoddj commented on #344
Great thought @jeroenherczeg. Let me see what I can do 👍

[2017-08-07 13:11] #345 closed

[2017-08-07 13:12] #316 closed

[2017-08-07 13:12] #293 closed

[2017-08-07 13:15] austintoddj commented on #296
See [#168](https://github.com/cnvs/canvas/pull/168)

[2017-08-07 13:15] #296 closed

[2017-08-07 13:18] austintoddj commented on #341
Does what @talvbansal said take care of your issue @eresendez?

[2017-08-07 13:19] #320 closed

[2017-08-07 17:28] eleazarbr commented on #341
Hello, sorry for not responding...

My problem was not solved updating to the latest version, I consider that the problem is mine because I use a shared hosting with laravel, I must have some route or a misconfigured permission.

At localhost I have no problem.

The issue may be closed, however I will continue to do more testing :smiley:

[2017-08-07 17:58] #341 closed

[2017-08-22 10:36] achrafkh opened #347 "Issue with media manager"
I can't quit exit media-manager using the X or close button (Fresh install)

[2017-08-24 16:14] whendytakashy opened #348 "Error when migration database"
Hi.
I'm trying canvas ( [Integration With Existing Projects](https://cnvs.readme.io/docs/integrating-canvas-in-an-existing-project) ), when i'm migrate i have error message :

`[Illuminate\Database\QueryException]
  SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 767 bytes (SQ
  L: alter table `canvas_users` add unique `canvas_users_email_uniqu

[2017-08-25 12:33] austintoddj opened #349 "Laravel 5.4 - Unable to locate factory [default]"
Laravel Dusk is throwing this error...

[code]

...everytime I run it. Can't seem to find why the factories are not autoloading.

[2017-08-25 12:35] austintoddj commented on #348
Thanks for checking out Canvas @whendytakashy! We're currently in the process for upgrading to Laravel 5.4, so stay tuned for when the next release drops. Then you should be able to run the app just fine!

[2017-08-25 12:35] austintoddj commented on #347
Thanks for the bug report @achrafkh. I'll check into this and get it resolved for the next release.

[2017-08-25 12:56] whendytakashy commented on #348
Okay, stay tuned for next release canvas.
Thank u

[2017-08-26 10:13] sevmardi opened #350 "HTTPS issue"
Anyone else having problems using the app over HTTPS? Http was working great, after https setup canvas.install is not displaying and chrome reports http 500. Besides, the blog is fetching 500 if I place the entire dir on subdomain ( lets say blog.domainname.com) . Can't get my head around this. Anyone has any idea?

[2017-08-28 08:35] blueyama opened #351 "Upgrade from 3.3 to 3.4 theme issue"
When upgrading from 3.3 to 3.4 I ran into the issue with the default paper theme still using `JsValidator` in places see here (line 15): https://github.com/cnvs/paper/blob/master/resources/views/auth/login.blade.php I was using a custom theme I forked from the default paper theme, but when I went to the source I see the latest commit is still using it. To get around this I referenced the dark pape

[2017-08-28 13:55] austintoddj commented on #350
How are you currently serving the app? Are you utilizing an `.htaccess` file or using an SSL cert?

[2017-08-28 13:59] austintoddj commented on #351
Thanks for the kind words @blueyama! The themes have undergone a bit of changing since you last forked, and JSValidator was one of the items that got removed due to an upgrade issue with the package. [Here](https://cnvs.readme.io/docs/changelog#section-removed) is the changelog entry.

And you're right to keep your eye out for the next release, it'll take care of a number of bugs and bring the app

[2017-08-28 13:59] #348 closed

[2017-08-28 14:14] blueyama commented on #351
I'm keeping an eye out for the next release 💯

Ah indeed, I missed the fact that the `cnvs/easel` repo had the paper theme views prepackaged with it. I guess this would only effect the people who have forked from the paper theme. I'm guessing the two repos should be even:
https://github.com/cnvs/paper/blob/master/resources/views/auth/login.blade.php
https://github.com/cnvs/easel/blob/master/resour

[2017-08-28 14:16] austintoddj commented on #351
Yes you're right they should be even. Organizing and refactoring the themes is another task for the next release so we don't run into these issues anymore.

[2017-08-29 13:09] sevmardi commented on #350
@austintoddj
I am using apache2 along with .htaccess.

This is my .htaccess

[code]

[2017-08-29 20:07] talvbansal commented on #349
Ive been digging into this and it looks like the `CreatesUser` trait is loaded before the definitions for the model factories are when the application is being scaffold-ed in dusk.

I did a lot of working writing a package at work recently that mimicked a similar behaviour to laravel model factories so luckily with that knowledge this was quite easy to follow through for me.

Inspecting the defini

[2017-08-29 20:43] austintoddj commented on #349
Thanks for the insight @talvbansal. That'd be super great if you wanted to send a fix to `feature/l5.4` branch that does what you think needs to happen. Once that's pushed up I can make the rest of the tests functional again.

[2017-08-29 20:44] #351 closed

[2017-08-31 09:01] JKChen opened #352 "No `slug` input in the `Quick Draft` block but the system still verifies it"
When I save a post as draft in the `Quick Draft` block on the `HOME` page, Canvas displays the error message of "The slug field is required." , but the page does not have `slug` input at all. In fact, it is hidden.

- Remove the verification of the slug field.
or
- Remove the `hidden` class of the slug field.
or
- Remove all validation when  `Save Draft`.

[2017-08-31 11:51] Bitart opened #353 "Trying To Run "PHP ARTISAN SERVE" returns No Such File or Directory on line 17"
Hi,

This is the error line returned on my terminal:

[code]

Running Win10, 64. But the same happens on Linux too.

[2017-08-31 14:12] ruchern commented on #353
Did you run `composer install`? Seems like the Laravel Framework was not downloaded.

[2017-08-31 17:45] Bitart commented on #353
You are completly right. Shame on me! Is it possible upgrade to LL5.5?

[2017-08-31 18:02] austintoddj commented on #353
@Bitart Currently we're in the process of upgrading the app to Laravel 5.4. So 5.5 is still a little ways out.

[2017-09-01 12:22] #353 closed

[2017-09-01 12:29] Bitart commented on #353
Thank you!

[2017-09-06 06:11] ibnujakaria commented on #299
@ChristianYeah are you still working on it?

[2017-09-15 04:46] chuoke opened #354 "The tntsearch error in 3.4"
I successfully upgraded 3.4 from 3.3, but there is an exception on the page when I save user info.

![canvas_blog_bug1](https://user-images.githubusercontent.com/17611457/30466919-b148d04e-9a13-11e7-8849-e46f356fd8c8.png)

what should I do?

[2017-09-15 11:31] talvbansal commented on #354
Hi this is likely just a permissions error.

If you check which user has permission to write to the *.index files within your projects storage folder and them make sure that the webserver has write permissions it should fix this problem.

On ubuntu servers this can be done with this command in your project root:

[code]

Give that a go and see how you get on.

[2017-09-15 13:36] austintoddj commented on #354
@chuoke Check out the official docs here: [Troubleshooting Issues](https://cnvs.readme.io/v3.3/docs/troubleshooting#section-database)

[2017-09-15 13:36] #354 closed

[2017-09-21 10:14] rdtandel opened #355 "Fatal error: require(): Failed opening required 'D:\xampp\htdocs\canvas\bootstrap/../vendor/autoload.php' (include_path='D:\xampp\php\PEAR') in D:\xampp\htdocs\canvas\bootstrap\autoload.php on line 17"
i'm new to laravel.please update asap

[2017-09-21 10:47] talvbansal commented on #355
Hi!

Looks like the vendor/autoload.php file can’t be found.

Can you run composer install from the command line and see if that fixes your problem please.

Thanks

[2017-09-21 10:52] rdtandel commented on #355
i've done composer update.
now its showing "Whoops, looks like something went wrong."

[2017-09-21 11:01] talvbansal commented on #355
Can you please follow the installation guide on the official documentation it should get get you through all of the base issue to get you up and running

[2017-09-21 11:44] ruchern commented on #355
@rdtandel `php artisan key:generate`

[2017-09-21 12:17] rdtandel commented on #355
@ruchern thanks. worked.
but css,js not loaded.

[2017-09-25 13:50] nielvrom opened #356 "Problem logging in"
When I run the application locally I don't have any problems logging in. But when I place the application online at [https://blog.mydomainname.be](https://blog.mydomainname.be) than I'm having problems to login. The HTTPS certificate is provided through Cloudflare (also Automatic HTTPS Rewrites).

In my **console** I see this warning:

I'm not getting any errors logging in. The page just refreshes

[2017-09-25 14:10] unrivaledcreations commented on #356
Check your `config/app.php` file. There should be a line there that reads, `'url' => 'https://blog.mydomainname.be'`. Make sure that says 'https' and not 'http'.

[2017-09-25 14:53] nielvrom commented on #356
Still the same, the action of my form is still `http://blog.mydomainname.be/auth/login`. When I change that manually (with inspect element) to https it works.

[2017-09-25 18:38] austintoddj commented on #349
Fixed by @talvbansal

[2017-09-25 18:38] #349 closed

[2017-10-12 20:47] glennmcewan commented on #356
A little late to the party, but hopefully this will help you out...

The URL in `config/app.php` will have no effect, as if you read the docblock, it explains that it is used in the **console**, not in a web request.

The URL scheme used when calling the `route` helper is extrapolated from the current request's scheme. However, there is one gotcha...

The reason this is failing is actually a Larav

[2017-10-13 22:51] foxted commented on #339
Is this issue fixed?

[2017-10-14 22:54] glennmcewan commented on #142
Adding custom pages is currently already _quite_ simple, if you know how to do that in Laravel. Add a new route, new controller, and a Blade file.

However, having a core Contact form would be excellent. I'd be happy to contribute something towards that if anybody has suggestions. I'd like to include a contact form on my own instance.

As for Impressum, that _may_ make sense to be bundled with cor

[2017-10-15 11:49] glennmcewan opened #358 "php artisan vendor:publish error"
## Description
When running this command there appears to be an error finding the shared views folder. That folder does not exist in the repo, but it is referenced here:
https://github.com/cnvs/easel/blob/1a575281ecc3b5d2c5887214253380410fc9d2ff/src/CanvasServiceProvider.php#L109

Should that folder exist, or should this check be removed?

## Actual Behaviour
[code]

## Expected Behaviour
[code]

[2017-10-17 11:16] austintoddj commented on #142
Anything you want to contribute @glennmcewan is always welcome!

[2017-10-27 02:52] ProDigySML opened #359 "Stored XSS Vulnerability"
# Description
An attacker can arbitrarily execute JS code in another user's browser.

# Steps to reproduce
1. Log in with a valid user
2. Change the user's display name to `<img src=x onerror=alert(1)>`
3. Log out of the account.
4. Log into an admin user
5. Navigate to the user page (listing all users). Notice an alert box pops up showing execution of JS

# Remediation
When printing this variable

[2017-11-09 02:51] #358 closed

[2017-11-10 05:44] amrit-citrusleaf opened #360 "Google Analytics Integration not working"
I updated the Google Analytics Client ID in the admin panel but I can't see any activity in my Google Analytics Panel. Any thoughts on why this is happening?

PS- Thanks for this wonderful piece of software! :)

[2017-11-19 02:52] kakekcoding opened #361 "GET http://localhost/vendor/canvas/assets/js/frontend.js net::ERR_ABORTED"
Hi! I have a problem in my canvas.
`GET http://localhost/vendor/canvas/assets/js/frontend.js net::ERR_ABORTED
GET http://localhost/vendor/canvas/assets/css/frontend.css net::ERR_ABORTED
GET http://localhost/vendor/canvas/assets/css/frontend.css net::ERR_ABORTED
GET http://localhost/vendor/canvas/assets/js/frontend.js 404 (Not Found)`

Please help me.

[2017-11-19 18:49] Acen commented on #361
I don't think `vendor` is publically accessible by default. Not sure why that's happening. Is there a vendor publish command linked with canvas?

[2017-12-03 02:58] austintoddj commented on #360
Glad you're liking it @amrit-citrusleaf! So entering your tracking code in the admin section isn't making it visible on the frontend pages?

[2017-12-03 13:23] amrit-citrusleaf commented on #360
@austintoddj : Just checked, the analytics is working fine. We can close this issue.

[2017-12-03 13:23] #360 closed

[2017-12-03 13:25] amrit-citrusleaf opened #363 "How to import the exported archive?"
I wish to move the database from sqlite to PostgreSQL and to do so, I started by exporting the archive. I wonder how to import this archive in a fresh Canvas install. Please help.

[2017-12-13 03:15] yudyananda opened #364 "Failed to Install Windows10"
Hi Folks

I'm using windows 10 and xampp

My problem is I always get failed notification when installing via composer "composer create-project --prefer-dist cnvs/canvas blog"

here is the notification
Created project in blog

[code]

Try to install in xamp directory (htdocs) and other directory, and the result is the same still failed
Any suggention?

Regards

[2017-12-13 04:36] yudyananda commented on #364
Solved by disabling some comment on php.ini

[2017-12-13 04:36] #364 closed

[2017-12-20 13:16] nielvrom opened #365 "Command canvas:update is not updating"
In the admin area of canvas I see the message _"Canvas v3.4.2 is available! Please update now."_.

When I run the command `php artisan canvas:update` and say "yes" when the console ask me to the update the Canvas core I'm getting the following output:

 Welcome to the Canvas Update Wizard! You'll be back at it in no time...

You are running Canvas core: v3.0.5. The latest version available is: v3.

[2017-12-20 13:28] austintoddj commented on #365
Thanks for submitting this @nielvrom. I'll take a look and let you know what I find out.

[2017-12-20 13:29] austintoddj commented on #363
@amrit-citrusleaf Unfortunately, there is no automated way to import the archive.

You can however import the .csv files into your database via a client (ie. Sequel Pro, Navicat), and then manually add in whatever images were publicly uploaded.

[2017-12-20 13:29] #363 closed

[2017-12-20 13:30] austintoddj commented on #361
Thanks for helping out @Acen.

[2017-12-20 13:30] #361 closed

[2017-12-20 13:31] austintoddj commented on #356
Thanks @glennmcewan for the insight. 👍

[2017-12-20 13:31] #356 closed

[2017-12-20 13:31] austintoddj commented on #359
Thanks for opening this @ProDigySML. We'll see what we can do about getting this into a future release.

[2017-12-29 21:23] #343 closed

[2018-01-03 20:40] glennmcewan opened #366 "Numbers unable to be used in Blog Title"
It looks like the default theme doesn't like numbers. I tried entering `S2000` in to the blog title, but weird glyphs have appeared.

Below is a screenshot from the homepage:

<img width="370" alt="screen shot 2018-01-03 at 20 38 51" src="https://user-images.githubusercontent.com/10562256/34538917-47ca4aee-f0c6-11e7-8b3b-74e86818754f.png">

[2018-01-03 21:28] glennmcewan commented on #352
@JKChen I have just tested this on my local copy of Canvas @ v3.4.2. and it has worked successfully.

Could you please confirm:
- which version of Canvas you are using
- PHP version
- which fields you're filling in (with sample data)
- and anything else you think may help

[2018-01-03 23:24] glennmcewan commented on #359
Looks to be an issue with how jQuery Bootgrid is re-rendering the table. Although we have escaped the data with Laravel, Bootgrid re-inserts the call data in a `html` node, rather than a `text` node.

Looks like there is an [open PR](https://github.com/rstaib/jquery-bootgrid/pull/64/files) on the Bootgrid repo for this, but there is a _fix_ that we could make on our side:
https://gist.github.com/g

[2018-01-05 10:18] SlyDave opened #367 "[PHP 7.2] Canvas install fails due to trying to count the uncountable"
[code]

This is a PHP 7.2 incompatibility when using count() on uncountables (i.e. non-arrays or objects not implementing Countable interface (or ArrayAccess etc.))

[2018-01-05 10:22] glennmcewan commented on #367
Thanks for the issue report, although PHP 7.2 is not currently supported by the latest version of Canvas, due to the version of Laravel currently being used.

It’s something we will be working towards shortly, but for now Canvas will only be guaranteed to run on <=7.1.

I will update the composer.json file later to include a hard limit so that composer will flag the 7.2 incompatibility.

[2018-01-05 10:25] SlyDave commented on #367
Thanks for the fast response.

I would however note that Laravel's support is `"php": ">=7.0.0",` (https://github.com/laravel/laravel/blob/master/composer.json)

And laravel 5.5 is running just fine on PHP 7.2

Hope you take that into consideration for your Laravel 5.3 to 5.5 upgrade

[2018-01-05 10:31] glennmcewan commented on #367
If you take a quick look at the issue in cnvs/easel#162 I have included a link to the portion of Laravel 5.3 itself which is causing the issue.

Once Canvas’ depency on Laravel is upgraded to 5.5, which is tested on 7.2 by Travis, then Canvas will support the same versions. I’ll let you know once we’ve upgraded the Laravel dependency.

[2018-02-03 19:43] sevmardi commented on #295
I am still somehow experiencing this.
v3.4.2 is installed.

Any ideas?

[2018-02-08 07:33] #350 closed

[2018-03-12 09:30] ankit-fourtek opened #369 "Canvas is coming with older version of Laravel"
While installing canvas cms, it includes an older version of Laravel ie. 5.3

[2018-03-12 13:48] austintoddj commented on #369
That's correct @ankit-fourtek. Right now the upgrade to 5.4 is in process but not completed yet. Stay tuned..

[2018-03-12 13:48] #369 closed

[2018-03-26 22:17] lukio3 opened #370 "Route [login] not defined. Adding canvas to fresh Laravel installation"
**To Repro:**
Following a fresh Laravel Framework 5.6 installation
Using your guide: _https://cnvs.readme.io/v3.3/docs/integrating-canvas-in-an-existing-project_

Following the steps I can see my **/blog** route in the browser with the example blog post but cannot access **/admin** route.

I get the following error:

[code]

It seems like the routing is getting confused with the default laravel ro

[2018-04-02 12:05] fajarharys99 commented on #355
Fatal error: Unknown: Failed opening required 'D:\SchoolProject\school\server.php' (include_path='C:\xampp\php\PEAR') in Unknown on line 0

[2018-04-12 20:52] protected22 opened #371 "styles missing when uploading on webhost"
I saw the last updates were about 10 months ago. Is this project still active or do we have to deal with an outdated version?

[2018-04-20 15:33] TranDucQuynh commented on #355
fajarharys99: try the following on your cmd line:

php -S localhost:8888 -t public

Make sure the "-S" is capitalized. Hope this resolves your issue.

[2018-04-21 04:50] jringeisen commented on #295
@sevmardi same here, I'm on version 3.4.3. Anytime I hit save in the settings I get this error:

`copy(/home/forge/ringocodes.com/public/vendor/canvas/assets/js/vendor.js): failed to open stream: Permission denied`

[2018-04-25 12:03] noranyahia commented on #355
Fatal error: Unknown: Failed opening required 'C:\xampp\htdocs\laravel54\server.php' (include_path='C:\xampp\php\PEAR') in Unknown on line 0
<<<help>>>

[2018-05-02 13:39] hatamiarash7 opened #372 "assets and views will be deleted"
Hi
I have some problems here and i can't understand the reasons

After `php artisan vendor:publish` i have some assets and views and i added some css, js, etc too. But they are gone after update canvas's settings ( add Google Analytics ) !! also i lost any changes of original files like `frontend.css`

What's going on here ? is this an option of Canvas ?

[2018-05-02 13:54] austintoddj commented on #372
Can't say for sure without replicating the issue. Your assets and views should not be overwritten.

Unfortunately I've been a bit behind on upgrading Canvas, so I'm sure many of the dependencies are a bit out of date and there are some breaking issues. Planning to re-work this soon, thanks for checking it out!

[2018-05-02 13:56] austintoddj commented on #371
I'm in the process of re-writing this application. Sorry for any inconvenience if you experience breaking issues, but this will be much more sustainable when finished.

[2018-05-02 13:56] #371 closed

[2018-05-03 05:50] hatamiarash7 commented on #372
I looked at your codes and find the problem.
In `SettingsController@store()` we have this line

`$this->themeManager->setActiveTheme($request->input('theme'));`

And in `ThemeManager@setActiveTheme()` function at line **193** & **195** we are publishing new assets that removed everything in assets and replacing new ones ...

This process is very good when we want using Default themes ( paper / pap

[2018-05-24 07:35] mca93 commented on #355
@rdtandel TranDucQuynh
I had a same problem and your comment helped!

Thank you!

[2018-05-28 20:32] ebaum opened #373 "Missing Database Columns"
Fresh installation and there are missing database columns. role is missing from users. user_id and is_published missing from canvas_posts.

[2018-06-12 22:06] achieveforum commented on #373
We're encountering a similar issue on a fresh install. When the installer tries to add the admin user account it's throws an error stating that the role column cannot be found on the canvas_users table.

I checked the migrations in the DB and sure enough it looks like about half the migrations are not run at this point.

Any update on this issue? The original issue was reported 15 days a go with n

[2018-06-15 14:19] craigh411 opened #374 "Change content_raw and content_html columns to MediumText"
The current migrations use `TEXT` as the column type for `content_raw` and `content_html`, however, `TEXT` has a limit of ~65,000 characters. Generally, this is enough, however if you have a large HTML table, it's easy to exceed this limit due to the amount of markup needed. It should be easy enough to create a migration that makes this change, but [per this issue](https://github.com/laravel/frame

[2018-06-16 09:42] craigh411 commented on #372
@hatamiarash7 Thanks for tracking down that piece of code, here's how to get around this issue:

Firstly Create a new SessionsController in the project that extends the Canvas Sessions Controller, then override the store method and copy the code from the original canvas method and just change the line you suggested to:
[code]

Now add a route to `routes/web.php`
[code]
Then in `resources/assets/vi

[2018-06-19 15:14] folayodele168 commented on #355
Hi all, I have this issue right now and I need an urgent help

Warning: Unknown: failed to open stream: No such file or directory in Unknown on line 0

Fatal error: Unknown: Failed opening required 'C:\xampp\htdocs\CRC Website/server.php' (include_path='.;C:\php\pear') in Unknown on line 0

[2018-07-25 20:49] cbotsikas commented on #374
Hi @craigh411 , I'm not sure what and where you want to change, but i've seen this issue from the refered one. You might be interested in my work around: https://github.com/singularlogic/ToyLabs/blob/develop/database/migrations/2018_06_09_012721_update_market_analysis_tables.php
On this migration i'm changing three tables' columns 'anlzer_data', 'data' and 'settings' to longText from normal Text,

[2018-08-31 19:17] nicoben opened #375 "Markdown and new tab"
How can I open a new tab from a link?
I looked for solutions and tried a lot of synthax, for example
**[Hello, world!](http://example.com/){target="_blank"}**
but so far no success.

Could you please suggest me how to do that?

[2018-09-11 10:07] #375 closed

[2018-09-28 06:25] JakariaAmin opened #376 "Where are all the files?"
Forgive me for being stupid but where are all the files like resources>view or http>controllers, database>migrations.

I have followed the instructions provided and crated the project, everything working fine canvas blog but can't find any controller or view files to modify.
There are some files in the tests>integrations though.

[2018-10-18 16:09] davidsivocha commented on #376
@JakariaAmin Canvas the application has a dependency on cnvs/easel which is what contains the core package. You'll find it [here](https://github.com/cnvs/easel).

It's worth noting that because it's been developed as package you won't find he same structure as a laravel package.

If you're looking for the files on your local install, you'd find them in `/vendor/cnvs/easel`

[2018-10-18 16:19] davidsivocha commented on #376
Worth mentioning as well that you can run `php artisan vendor:publish` to copy the views at least into your local resources folder

[2018-10-20 23:17] #317 closed

[2018-10-22 08:51] ibnujakaria commented on #367
Is there any consideration to upgrade the laravel used in canvas to version 5.7?

[2018-10-22 14:47] austintoddj commented on #367
@ibnujakaria That'll be covered in v4.0 of the application. There's not a set release date yet, but keep your eyes on the `develop` branch of [Canvas](https://github.com/cnvs/canvas) to see the progress.

[2018-10-22 14:47] #367 closed

[2018-10-23 14:58] #75 closed

[2018-10-23 15:13] #344 closed

[2018-10-23 15:13] #332 closed

[2018-10-23 15:13] #142 closed

[2018-11-07 14:40] emekambachu commented on #355
i have this issue too

[2018-12-07 06:13] manish774 commented on #355
having same issue.. kindly reply with solution

[2018-12-25 21:53] Kaishiyoku opened #411 "Demo web page not available"
![image](https://user-images.githubusercontent.com/5131112/50426817-d9487880-0897-11e9-8c85-02ee4187062f.png)

[2018-12-26 20:15] austintoddj commented on #411
The demo was removed as a lead-up to the release of v4.0 Stay tuned 👍

[2018-12-26 20:15] #411 closed

[2019-01-04 12:53] detector-v opened #415 "Problem with tags page"
hello, i have a problem.

when I go to the page by the link tag, the site writes an error:

"compact(): Undefined variable: operator
--
in Builder.php line 1229"
more info on scr:
![image](https://user-images.githubusercontent.com/3055001/50688971-e3593c80-1038-11e9-879b-3c5611030cfd.png)

[2019-01-04 15:23] detector-v opened #417 "Problem with MediaManager on Dark theme"
Hello,
i have a problem.

When I turn on the dark theme, the plugin Media Manager disappears in the admin panel.

![image](https://user-images.githubusercontent.com/3055001/50695413-a0559400-104d-11e9-9ae7-4814ea380e04.png)

[2019-01-05 14:06] austintoddj commented on #417
Are there any errors in the console when you do that?

[2019-01-05 14:06] austintoddj commented on #415
What version of Laravel are you running this on?

[2019-01-05 14:58] detector-v commented on #415
Laravel Framework 5.4.36

[2019-01-05 15:00] detector-v commented on #417
Only this bag/error.
apart from this: https://github.com/cnvs/canvas/issues/415

[2019-01-06 02:20] austintoddj commented on #417
Work on v4.0 is the priority now and we’re not pushing anymore updates to the v3.* platform. If you can hold out a little longer, the next release should be all you need.

[2019-01-06 02:20] #417 closed

[2019-01-06 02:20] austintoddj commented on #415
Work on v4.0 is the priority now and we’re not pushing anymore updates to the v3.* platform. If you can hold out a little longer, the next release should be all you need.

[2019-01-06 02:21] #415 closed

[2019-01-06 10:03] detector-v commented on #415
Ok, tnx for the answer.
I'll wait.

[2019-01-23 12:05] Ziaurrahaman7 commented on #355
i  was uninsstall my xamp  but now i install again but my larabel project not run now what i do plz

[2019-01-28 02:50] austintoddj commented on #376
@davidsivocha is correct. Thanks for jumping in.

[2019-01-28 02:50] #376 closed

[2019-01-28 02:52] austintoddj commented on #374
Closing since this won't be an issue with the next version of Canvas.

[2019-01-28 02:52] #374 closed

[2019-01-28 02:53] austintoddj commented on #373
The old documentation can be found [here](https://cnvs.readme.io/v3.1/docs). Closing now because this won't be an issue in the next version of Canvas.

[2019-01-28 02:54] #373 closed

[2019-01-28 02:55] austintoddj commented on #366
Closing now since this won't be an issue with the next version of Canvas.

[2019-01-28 02:55] #366 closed

[2019-01-28 02:55] austintoddj commented on #365
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:55] #365 closed

[2019-01-28 02:56] austintoddj commented on #347
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:56] #347 closed

[2019-01-28 02:56] austintoddj commented on #359
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:56] #359 closed

[2019-01-28 02:57] #372 closed

[2019-01-28 02:57] austintoddj commented on #370
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:57] #370 closed

[2019-01-28 02:57] #355 closed

[2019-01-28 02:57] austintoddj commented on #352
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:57] #352 closed

[2019-01-28 02:57] austintoddj commented on #340
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:57] #340 closed

[2019-01-28 02:58] #339 closed

[2019-01-28 02:58] austintoddj commented on #333
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:58] #333 closed

[2019-01-28 02:59] austintoddj commented on #331
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:59] #331 closed

[2019-01-28 02:59] austintoddj commented on #329
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:59] #329 closed

[2019-01-28 02:59] #327 closed

[2019-01-28 02:59] austintoddj commented on #318
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 02:59] #318 closed

[2019-01-28 03:00] austintoddj commented on #313
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 03:00] #313 closed

[2019-01-28 03:00] #311 closed

[2019-01-28 03:00] #305 closed

[2019-01-28 03:01] #299 closed

[2019-01-28 03:01] austintoddj commented on #177
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 03:01] #177 closed

[2019-01-28 03:01] austintoddj commented on #167
First off, thanks for taking the time to create the issue. Closing because everything v3.x related will remain as-is and won’t receive anymore updates. The next release is slated for this week, so stay tuned!

[2019-01-28 03:01] #167 closed

[2019-02-02 20:09] themsaid opened #427 "Credits to Wink"
Hello,

It's nice that you found inspiration in Wink, I've spent weeks working on it, and weeks re-writing the frontend, and had a lot of help from other contributors. It would be nice if you mention that you've used parts of Wink code in this project.

Keeping this healthy open source environment should be on our top priorities list, without giving people credit the entire ecosystem will collapse

[2019-02-12 04:57] chrismcligeyo commented on #355
@MaungC  thanks. worked

[2019-02-14 13:58] arashifunsho opened #432 "USAGE WITH EXISTING LUMEN-PROJECT"
How do I integrate this into my existing lumen project; I'm trying to add blog functionality to my mobile app; but the content will be managed by an admin from a frontend. Decided to see if there a ready-made blog package I can install to save development time and came across this one.

I'll appreciate it if you can point me in the right direction.

[2019-02-14 15:26] austintoddj commented on #432
I've never attempted to add this to a Lumen app, but let me give it a go and get back to you on it.

[2019-02-14 16:01] #432 closed

[2019-02-14 21:12] arashifunsho commented on #432
Thanks, I figured I should create a new laravel project and install canvas into that. Blog feature is just an addon and so I can always reference the link in a webview in my app.... Thanks anyways.

Awesome job with this library

[2019-02-15 06:40] connecteev opened #433 "Route [login] not defined when you visit http://127.0.0.1:8000/canvas"
I went through the following installation steps:
[code]
Then, going to http://127.0.0.1:8000/canvas

Gives this error:
InvalidArgumentException
Route [login] not defined.

Details:
/Users/Code/CMS_samples/cnvs/vendor/laravel/framework/src/Illuminate/Routing/UrlGenerator.php
               ! ($expires && Carbon::now()->getTimestamp() > $expires);
    }

    /**
     * Get the URL to a named route.

[2019-02-15 08:55] paprykasz commented on #433
Hi @connecteev , I think you forgot:

[2019-02-15 12:38] austintoddj commented on #433
@paprykasz is right. That should fix your issue.

[2019-02-15 17:22] connecteev commented on #433
@paprykasz @austintoddj thank you, that fixed the issue.

[2019-02-15 17:22] #433 closed

[2019-02-15 17:31] connecteev opened #434 "Adding a category / sub-category tree to canvas"
Possible to add a category / sub-category tree to canvas? We have gotten to use Wordpress and its categories and tags, I believe Ghost does the same as well? 😀 I think it would make cnvs more solid as a laravel blogging platform, and this is a fairly common use-case imo.

See how wordpress does it here: https://prnt.sc/m4jnjs
(this is one of those features of wordpress that is actually really well

[2019-02-15 19:50] austintoddj commented on #434
Not a bad idea as it is pretty standard for blogs. Let me think about it for a bit and I'll let you know.

[2019-02-15 23:01] arashifunsho opened #435 "User comments per Posts"
I was wondering if this is currently possible or I'll have to extend the package to accommodate user comments/ rendering per post.

Thanks

[2019-02-16 00:00] austintoddj commented on #435
A comment feature isn’t built in currently. You’d have to extend it to support a system like that.

[2019-02-16 00:06] arashifunsho commented on #435
Okay great.... Thanks once again :)

[2019-02-16 00:06] #435 closed

[2019-02-20 10:24] kivarr opened #438 "All users have access to write blog posts"
Was it on purpose or it's a problem? I've 3 configured roles in my laravel app and i only want the admins to being able to write blog posts / create tags. Is it possible to achieve that?

[2019-02-20 14:40] austintoddj commented on #438
In the `config/canvas.php` file, you can assign middleware to protect those routes. My suggestion would be to create a new one that only allows your admins to access Canvas, and then apply the middleware.

[2019-02-24 23:41] #438 closed

[2019-03-01 15:02] #434 closed

[2019-03-01 18:31] connecteev opened #439 "Error: "Illegal string offset 'slug'" seen after saving a new post"
Using the latest version of laravel (5.8) and latest canvas.
Create a new post with a topic. On saving, I see this error:
Error: "Illegal string offset 'slug'" seen after saving a new post

Screenshot: https://prnt.sc/mryraj

[2019-03-01 19:24] austintoddj commented on #439
Did you re-publish the assets after updating?

[2019-03-01 20:08] austintoddj commented on #439
Thanks for bringing this up. Fixed with [v4.1.5](https://github.com/cnvs/canvas/releases/tag/v4.1.5)

[2019-03-01 20:08] #439 closed

[2019-03-02 08:34] connecteev commented on #439
My pleasure, @austintoddj  and thanks for the fast fix.

[2019-03-12 01:04] Malika3 commented on #355
PHP Warning:  require(C:\xampp\htdocs\Guid/vendor/autoload.php): failed to open stream: No such file or directory in C:\xampp\htdocs\Guid\artisan on line 18

Warning: require(C:\xampp\htdocs\Guid/vendor/autoload.php): failed to open stream: No such file or directory in C:\xampp\htdocs\Guid\artisan on line 18
PHP Fatal error:  require(): Failed opening required 'C:\xampp\htdocs\Guid/vendor/autoload

[2019-03-12 01:23] austintoddj commented on #355
There's been a number of major updates since this issue was opened. Let me know if you continue to have installation issues with the latest (4.*) version of the package.

[2019-03-12 01:30] Malika3 commented on #355
@austintoddj yes i still have this problem with the latest (4.*) version of the package.

[2019-03-12 01:48] austintoddj commented on #355
Did you run composer install in the Laravel app?

[2019-03-16 22:19] albertoelias123 opened #447 "Multi-language Support"
I really liked cnvs / canvas and I will certainly use it in my projects. However, I'm having some language difficulties. My clients speak Portuguese and for this reason I am having to translate the views into my language. When doing this I saw that they have little text and I had the idea to make some adaptations in the project to support multi-languages. Would you like to know how to control for

[2019-03-18 01:57] austintoddj commented on #447
Sure. If you’d like to submit a PR with your proposed changes I’d be happy to take a look!

[2019-04-02 16:26] dtovar opened #451 "Can't install"
I try so many times to install via composer and using xampp, maybe i'm a idiot. Where can i find a live demo?

[2019-04-02 20:54] austintoddj commented on #451
What sort of errors are you running into?

[2019-04-03 07:56] dtovar commented on #451
Hi!
I have installed xampp and then I have executed the following command in the console:
composer create-project --prefer-dist cnvs/canvas blog
the route has been c: \ xampp \ htdocs

Then this:
php artisan canvas:install
the route has been c: \xampp\htdocs\blog

Error:
Could not open input file: artisan
It may be obvious, I do not know if I am doing the whole process as it should. I have tried c

[2019-04-03 12:00] austintoddj commented on #451
First off, you won't be able to create a project with `composer create-project cnvs/canvas` since it's not a full Laravel installation. The error is popping up because the Artisan console is a feature of Laravel, which looks like it hasn't been installed yet.

Canvas is a package that integrates with a Laravel application, so you'll need to have an existing project that you want to use it in. [Che

[2019-04-11 14:58] austintoddj opened #456 "Unit Tests fail for missing Service Provider"
The unit tests utilize [orchestral/testbench](https://github.com/orchestral/testbench).

The latest build on `master` passes, with 2 ignored failure exceptions which can be seen [here](https://travis-ci.org/cnvs/canvas/builds/517909351).

To reproduce the current error, run the following:

[code]

You should see the following error:
[code]

I'm not sure where this error is coming from, or why it's

[2019-04-11 16:23] talvbansal commented on #456
The reason this is failing is because the `App\Providers\CanvasServiceProvider` class doesn't exist as you've identified.

What looks to be happening is that the `App\Providers\CanvasServiceProvider` and the `Canvas\CanvasServiceProvider` from the `getPackageProviders` method are both attempting to be registered with the first one causing the failure:

[code]

According to the docs `getPackageProv

[2019-04-11 16:28] austintoddj commented on #456
Thanks for looking at that @talvbansal. I just found this as well which led me to try using the `tearDown()` method to clear the app, but perhaps it's only clearing the app when all the tests have run: [https://github.com/orchestral/testbench/issues/173](https://github.com/orchestral/testbench/issues/173). If I still can't get get it working with `tearDown()`, I might just skip testing this comman

[2019-04-11 16:41] talvbansal commented on #456
Yeah looking into this some more there doesn't seem to be a quick way to reset the whole app folder between tests `vendor/orchestra/testbench-core/laravel/` weird as i'd imagine that'd have been pretty normal but for the short term maybe just mark the console tests as skipped until a proper fix is found.

[2019-04-11 18:59] #456 closed

[2019-04-23 14:29] Yo1L commented on #447
Hello,

First things first, your package is awesome! 👍
If we could publish the canvas views (resources/views), it will permits to fully adapt/translate as we please.

Thx

[2019-04-23 17:09] austintoddj commented on #447
Currently working on translating the package views. Since the two of you brought this up the first translations are Portugese and French. I'll tag this issue when it's merged in.

[2019-04-24 02:19] albertoelias123 commented on #447
I'm also working on the translation. I'm currently replacing all the words in the view with "Translation Strings" as per the Laravel (Localization) documentation.

[2019-04-24 13:34] austintoddj commented on #447
One thing that I'm noticing off the bat that will cause issues with being translated are input placeholders. Once the bulk of the content is translated I'll put some thought into these.

[2019-04-24 22:30] Yo1L commented on #447
Tell me if I can help?
Maybe review the French translation?

[2019-04-25 00:15] austintoddj commented on #447
Will do. Almost got it all wrapped up here so I'll let you know and you can see how well Google Translate did for me 😅

[2019-04-25 06:33] Yo1L commented on #447
Hahaha You should try deepl :)

[2019-04-26 11:46] austintoddj commented on #447
@albertoelias123 @Yo1L Go ahead and upgrade your apps to the latest version `v4.1.29` and let me know if any of the translations look incorrect to you. The base Laravel app that you have Canvas installed in will determine the locale that Canvas uses.

Let me know if you have any questions!

[2019-04-29 11:51] Yo1L commented on #447
Thanx @austintoddj, I'm gonna check that :)

[2019-04-29 12:09] Yo1L commented on #447
Sorry @austintoddj, I edited only so you may have 5-6 waiting PR.
Thanx a lot

[2019-04-30 13:52] IjayN opened #471 "Cant run canvas:install"
![image](https://user-images.githubusercontent.com/28860678/56966689-5480aa80-6b68-11e9-97eb-e55a342b2e85.png)

This is the error im getting while trying to run canvas:install
Im using laravel 5.7 with mysql database
Assistance would be greatly appreciated

[2019-04-30 14:10] austintoddj commented on #471
Have you defined the database credentials properly in the `.env` file?

[2019-04-30 14:14] #451 closed

[2019-04-30 14:16] austintoddj commented on #447
Feature added in [v4.1.29](https://github.com/cnvs/canvas/releases/tag/v4.1.29)

[2019-04-30 14:16] #447 closed

[2019-04-30 14:21] IjayN commented on #471
Yeah...i've double checked them

Im using phpmyadmin ....can that be the problem??

[2019-04-30 14:28] austintoddj commented on #471
What are you using to serve the application? Valet, Homestead or something else?

[2019-05-01 13:40] connecteev opened #472 "Allow image dimensions and position to be specified from the editor"
Thanks for cnvs.

Suggestion: It's not possible to specify the size / dimensions or position (left align, center, right align, fixed etc) of an image from the CMS. Doing it from the views defeats the purpose of having a medium-like WYSIWYG editor.

Any plans to allow cropping uploaded images and add more image layouts soon?

[2019-05-01 16:17] austintoddj commented on #472
You're welcome! I'll give it some thought and see what I can do.

I don't have an idea right now on how to implement that, so if you want to take a stab at it and throw up a pull request I'd be more than happy to take a look.

[2019-05-02 06:19] IjayN commented on #471
I'm using homestead ....The migrations run just fine....and the authentication scaffolding too...the error arises when i ran canvas:install

[2019-05-03 13:59] austintoddj commented on #471
What version of MariaDB do you have installed? Looks like the JSON data type support was added in 10.2, so anything less than that could throw your error. Canvas uses JSON to store post metadata, so updating your version if possible is a potential fix for you.

[2019-05-05 06:10] kavierkoo commented on #471
I am having the same issue, seems like my MariaDB using v10.1 :(

[2019-05-05 09:22] kavierkoo opened #473 "Allow guest to view all post"
Hi,

Apologize if newbie question asked, newbie hobbyist trying to develop something here.

I am thinking to make a personal blog as portfolio and came across Canvas, it is awesome, clean and it works.

bumped into few errors like defaultStringLength and MariaDB not support JSON, managed to solve it.

and I am lost as  my objective is to allow visitor to see all published posts without require to

[2019-05-05 18:52] austintoddj commented on #473
Glad you like it!

As far as your objective is concerned, are you saying that you'd like visitors to be able to access the /canvas routes but not able to create/edit/delete things?

The middleware you're seeing is simply verifying that authenticated users are accessing Canvas, since the user id is stored in the posts table to notate authorship.

If you wouldn't mind re-wording your question, perha

[2019-05-06 02:59] kavierkoo commented on #473
Hi Austin,
Thanks for the patients and my apology for the confusion, Let me rephrase my words

The goal is just like blogs on blogspot / wordpress where:
- **Author** require to access /login and login to publish / create / modify / delete posts.
- **Visitor** can access 127.0.0.1:8000/ and see all the posts in canvas with no login required

**Conclusion**:
2 types of user:
- Visitor, No login req

[2019-05-06 12:00] austintoddj commented on #473
Ah, I think I see where you're going. Correct me if I'm wrong..

Canvas has a built-in Artisan command to generate routes, views, and a controller which makes the posts(published), tags, and topics visible to non-authenticated users. In simpler terms, it generates a frontend.

Check the documentation [section here](https://github.com/cnvs/canvas#configuration) and simply run `php artisan canvas:se

[2019-05-06 12:28] kavierkoo commented on #473
Thanks for the prompt response, let me check and test it out first!
Appreciate for the advise!!
Come back to you if I am still stuck!!

Thanks Austin!!

[2019-05-07 05:40] kavierkoo commented on #473
Hi Austin,

It works as you describe!!
Apologize for overlooked the `php artisan canvas:setup` in documentation!

 The blog looks awesome!!

Thanks!! Kudos to yall!!

[2019-05-07 05:40] #473 closed

[2019-05-08 12:25] austintoddj opened #474 "Moment.js does not respect the app timezone"
In `resources/views/posts/index` there is a check on [line 46](https://github.com/cnvs/canvas/blob/684ccc377b8db316ee4869cc867deefa4636b994/resources/views/posts/index.blade.php#L46) to see if the published_at time is greater than or equal to now. Since this post index is an inline template of the PostList.vue component, we use Moment.js to perform the published check. It currently looks like this

[2019-05-10 05:18] connecteev commented on #472
Not sure why I'm just seeing this now, but I just wanted to put the suggestion out there, I have my hands way too full at the moment, sadly.
Btw, props on the way you're maintaining and growing this repo, it's unparalleled.

[2019-05-15 06:53] technodesign-dn opened #475 "Search"
Как отобразить поиск на главной странице? Будет ли это реализовано?

[2019-05-15 09:35] technodesign-dn opened #476 "Error php version"
![image](https://user-images.githubusercontent.com/45261338/57765302-d1d22080-770d-11e9-9a82-76ce78e41fbd.png)
![image](https://user-images.githubusercontent.com/45261338/57765365-f8905700-770d-11e9-9320-c55975c24677.png)

my version php 7.2

[2019-05-15 14:40] austintoddj commented on #476
Looks like you're trying to install `^3.4`. The latest supported version of Canvas is `^4.1`.

[2019-05-15 14:43] technodesign-dn commented on #476
Пользуюсь инструкцией composer require cnvs/canvas

[2019-05-15 14:44] austintoddj commented on #475
Если вам нужна функциональность поиска в веб-интерфейсе блога, вам придется создать его самостоятельно.

Если вы используете установку по умолчанию, выполнив команду Artisan `canvas: setup`, то у вас будут опубликованы виды и контроллер для вашей установки Laravel.

Вы можете расширять его по своему усмотрению, но в настоящее время поиск не поддерживается шаблоном по умолчанию.

[2019-05-15 14:48] austintoddj commented on #476
Я просто запустил `composer require cnvs/canvas` и установил версию `^ 4.1`. Не могли бы вы попробовать это на новой установке Laravel 5.8 и снова выполнить шаги установки?

[2019-05-16 05:27] technodesign-dn commented on #476
Неплохо бы сделать полноценную "Canvas CMS"

[2019-05-16 13:48] austintoddj commented on #476
Вы правы, это было бы здорово! Спасибо за предложение!

[2019-05-16 13:48] #476 closed

[2019-05-17 15:38] #475 closed

[2019-05-21 21:44] soipo opened #484 "Suggestion: Page CRUD"
Hi there,
i think it would be a nice thing to add a Page CRUD, what do you think ?
I  would be happy to code it.

[2019-05-22 11:53] austintoddj commented on #484
Thanks for the suggestion! Is your intention to flesh out the package and make it more of a CMS? Older versions of Canvas were more along those lines. This is how I see the scope of the project today:

_Re-create Medium as an easily consumable Laravel package, with a few enhancements._

So while it'd be neat to add page functionality, I'd like to continue giving developers a _Medium-esque_ experie

[2019-05-22 11:57] austintoddj commented on #474
Fixed in https://github.com/cnvs/canvas/compare/v4.1.38...v4.1.39

[2019-05-22 11:57] #474 closed

[2019-05-22 12:46] soipo commented on #484
I agree with you, but 99% of the times we also need few pages, and adding it to this bundle it would be great, no intention to work on yet another CMS, that's what I liked about this project, it's NOT a CMS.

[2019-05-29 01:05] connecteev opened #487 "Error seen on fresh cnvs installation"
Error seen on fresh installation:
https://prnt.sc/nuoeac
This used to work!

Steps taken:
1. laravel new cnvs
2. cd cnvs

3. modify .env with DB settings:
DB_DATABASE=cnvs
DB_USERNAME=root
DB_PASSWORD=root

4. You may use composer to install Canvas into your Laravel project:
composer require cnvs/canvas

5. php artisan migrate
6. php artisan db:seed

7. Publish the assets and primary configuration

[2019-05-29 01:07] connecteev commented on #487
@austintoddj am I doing something lame here?

[2019-05-29 01:10] connecteev commented on #487
Nevermind, forgot that this is the same issue as https://github.com/cnvs/canvas/issues/433

[2019-05-29 01:10] #487 closed

[2019-05-30 06:53] connecteev opened #488 "Suggestion: Allow selection of Author within a post's settings"
Wink (https://github.com/writingink/wink) allows you to do this in 'general settings'. You can select an Author from a dropdown:
https://1ce.org/1#SkAHpx6a4

[2019-05-30 07:01] connecteev opened #489 "Suggestion: Allow the featured image to be added / edited / deleted from the main post edit page"
When editing a post from:
http://127.0.0.1:8001/canvas/posts/aeb35aec-8efb-4fac-8fa6-cce71606b66f/edit
See https://prnt.sc/nv9dzq

You cannot view / edit / delete the post's featured image from here. This is a bit annoying.

Allow the featured image to be added / edited / deleted from the main post edit page instead of having to click on 'featured image' from the menu.

[2019-05-30 07:09] connecteev opened #490 "Add a link to 'view' each post (live version) from the posts index page"
Add a link to 'view' each post (live version) from the posts index page: http://127.0.0.1:8001/canvas/posts

https://prnt.sc/nv9hi3
Add a link to the right of 'Published in 7 hours ― Updated a few seconds ago'

[2019-05-30 07:35] connecteev opened #491 "Suggestion: Allow a post to be associated with other (Related) posts"
Allow a post to be associated with other (Related) posts

Those (related) posts can then be shown on the individual post page, like on the bottom of this blog: https://spreadprivacy.com/how-to-be-anonymous-online/

[2019-05-30 16:16] austintoddj commented on #490
This was actually a part of the package a few releases ago, until the frontend became separated. From the backend perspective, it doesn't "know" which route the posts are available at since they'd be defined in the Laravel app routes file.

Would absolutely be up for adding this if you've got a solution.

[2019-05-30 16:18] austintoddj commented on #489
Not a bad suggestion. I'll give it some thought and update this if it's going to be included in a future release.

[2019-05-31 02:37] connecteev opened #494 "Suggestion: Add option to seed Canvas from the package itself"
Suggestion: Add option to seed Canvas from the package itself. I did this in the Laravel app below but I don't know how to add / run a seeder from within the package, else I probably would've created a pull request.

See my commit here, which works rather well:
https://github.com/connecteev/laravel-blog-built-on-cnvs/commit/ee628ad7f69a2f380a5fadab1b354e9df38f165a

[2019-05-31 16:30] austintoddj commented on #494
Good suggestion! I'll see what I can do to get something like this as an optional setup feature.

[2019-05-31 20:40] connecteev commented on #494
@austintoddj sweet! and you have 95% of the code already (link above!)

[2019-06-03 20:47] Darival opened #496 "SEO cards og:title and twitter:title using description"
meta tags og:description and twitter:title are both using og_description and twitter_description respectively, probably a mistake from copy pasting.

[2019-06-03 20:48] Darival commented on #496
im already doing he pr to fix this

[2019-06-04 01:24] austintoddj commented on #496
Thanks for the help @Darival. Just merged it in and it'll be available on the next release.

[2019-06-04 13:03] austintoddj commented on #488
Thanks for the suggestion! Although I see where you're going with this, I'm going to close this one for 2 reasons:

1. Users should not be writing or authoring content for another user. If you log in and publish anything, the content will be associated with your user. This keeps it a bit more like Medium and less like a conventional CMS.

2. If a dropdown of users were supplied, it'd be reliant on

[2019-06-04 13:03] #488 closed

[2019-06-04 17:05] connecteev commented on #488
@austintoddj Makes sense to me, thanks for the thoughtful response! If I think of something else here I'll let you know.

[2019-06-04 19:26] albertoelias123 opened #500 "Suggestion: API Blog and Rename Language"
Hi, I added a Blog API and renamed some language pack according to ISO-639 (https://en.wikipedia.org/wiki/ISO_639).

[2019-06-10 06:21] connecteev opened #505 "Create draft slug automatically from post title after the title is entered"
This is a huge source of frustration for me, especially as I launch my Laravel project and use Cnvs in production.

Steps:
Go to the Canvas Admin: http://127.0.0.1:8001/canvas/posts
Click 'New Post' which takes you to http://127.0.0.1:8001/canvas/posts/create
Enter a Title 'This is an introduction to Web Analytics"
Then if you check the post's "General settings", the Slug is set to something rando

[2019-06-10 06:26] connecteev commented on #496
I noticed this too, thanks for the fix @Darival @austintoddj

[2019-06-10 06:44] connecteev opened #506 "Syncing post Title and Meta Description to Facebook / Twitter social card settings"
Doing the following will save a lot of time:

1. Syncing Meta Description to Facebook Card Description and Twitter Card Description:
Editing the Meta Description should (in real-time using JS) update the following at the same time, as long as they are empty or have NOT been modified / edited.
* Facebook Card Description
* Twitter Card Description
Alternatively, you could have a button next to 'Fac

[2019-06-10 14:45] #496 closed

[2019-06-10 14:50] austintoddj commented on #494
Feature added in [v4.2.3](https://github.com/cnvs/canvas/commit/e9c864df5ebd4ebe54de3042bde49bf409e6c5bf)

[2019-06-10 14:50] #494 closed

[2019-06-10 14:52] austintoddj commented on #500
Fixed in [v4.2.3](https://github.com/cnvs/canvas/commit/e9c864df5ebd4ebe54de3042bde49bf409e6c5bf)

I didn't add the blog api yet since that is more of a user-specific option. If someone wants to extend the default controller then they are free to do that.

Thanks for the update on the language!

[2019-06-10 14:52] #500 closed

[2019-06-10 14:52] austintoddj commented on #471
Closing this issue now, let me know if it still persists or if you run into anything else.

[2019-06-10 14:52] #471 closed

[2019-06-11 20:58] connecteev commented on #494
@austintoddj works great, thanks for including in the package, will help others get up and running quickly ;)
Just an idea, may be good to add the command
[code]
to the readme.md file so others know this functionality exists..

[2019-06-11 21:17] connecteev opened #507 "Suggestion: Allow an option to Edit HTML Markup"
Canvas is great as a WYSIWYG editor, and has the ability to add/embed HTML markup, but there's no way to view / edit the HTML, other than going to the database to do it. Sometimes I need to dig into the HTML code, because the WYSIWYG editor is lacking in functionality (tables, colors, lists, and so on and so forth).

It would be great to have an option to "Edit HTML Markup" and borrow that code fr

[2019-06-11 23:31] connecteev opened #508 "Error seen in Canvas (post edit page) after composer update (v 4.2.3)"
Error seen in Canvas (post edit page) after composer update (v 4.2.3). Doing a php artisan view:clear did not help.

http://127.0.0.1:8001/canvas/posts/b8d80c34-e87e-4ee7-821b-d7379dcb78ea/edit

[code]

[2019-06-12 00:50] austintoddj commented on #508
Thanks for the heads up @connecteev!

Fixed in [v4.2.4](https://github.com/cnvs/canvas/releases/tag/v4.2.4)

[2019-06-12 00:50] #508 closed

[2019-06-12 00:51] austintoddj commented on #507
Good thought. I'll see what I can do!

[2019-06-12 01:21] connecteev commented on #508
@austintoddj thanks for the super quick fix! Confirmed that this is working in 4.2.4

[2019-06-12 04:08] connecteev opened #509 "Suggestion: Allow cnvs to be installed to a different database from the main laravel instance"
Hey @austintoddj ! Here's another one for you. Hope you're not overwhelmed with these thoughts and ideas....once I have more time and figure out how laravel packages work, I may be able to contribute a PR or two. Anyway here goes..

I am trying to keep the 'users' table (and other tables) for the admin (and used by cnvs) separate from the database of my main Laravel app. Having them share the same

[2019-06-12 04:22] connecteev opened #510 "Question: How to extend the canvas tables with additional fields"
@austintoddj this is more of a question for you.

Here's another real use-case I ran into:
I am trying to update the authors (users table) by adding new fields for image, author username, bio, etc.
[code]

Also, I am trying to update the posts table with additional fields, like so:
```$post->isPremium=1; // 0 or 1, for free/paid content, for example```

I still want to be able to inherit all the g

[2019-06-12 13:13] austintoddj commented on #509
First off, not overwhelmed by these suggestions at all. I really appreciate the time and effort you're putting in with the project, it's making it better with each issue.

Let me see what I can do about this and I'll update here with more info.

[2019-06-12 13:16] austintoddj commented on #510
It's very beneficial to hear real-world examples, so thanks.

I have a few thoughts in mind about how this might be achieved, but I'll need to give it a bit more thought. I'll update here when I've got something for you.

[2019-06-12 18:38] connecteev commented on #509
@austintoddj awesome :-) I want nothing more than to make cnvs even better than it already is. It's amazing that there is nothing comes close as far as a lightweight Laravel CMS is concerned....Cnvs does a great job but it could be so much better. Let's make that happen.
Curious what you come up with to solve this one..

[2019-06-12 18:39] connecteev commented on #510
@austintoddj the feeling's mutual, can't tell you how much I appreciate your responsiveness.
I'll be patiently waiting for your thoughts on this.

[2019-06-12 19:35] austintoddj commented on #491
Currently, the tags system is used for pulling related content together.

In the default template, the 2 links that could potentially show at the bottom of a post are sorted as follows:

<img width="1280" alt="Screen Shot 2019-06-12 at 2 24 34 PM" src="https://user-images.githubusercontent.com/8037011/59380665-39848700-8d1f-11e9-9b4a-4426b54c3648.png">

- _Read This Next_ - The next published post

[2019-06-12 19:35] #491 closed

[2019-06-12 19:48] connecteev commented on #491
That's fair :) I can make do with tags for now. Thanks for the explanation.

[2019-06-14 05:00] sudosammy opened #511 "Question: Laravel 5.5"
Hi Todd,

Canvas is very impressive and I hope you are proud of it. I see that it only supports Laravel 5.8 though and since 5.5 is the LTS release I'm really hoping to deploy on this version.

Are you able to give me an indication of the effort required to patch Canvas to operate on 5.5?

Cheers.

[2019-06-14 13:10] austintoddj commented on #511
Haven't given it a try on 5.5 with the latest version, but let me give it a go later today and I'll give you an update.

[2019-06-15 14:57] sudosammy commented on #511
Thanks Todd, looking forward to hearing your thoughts.

[2019-06-15 20:46] austintoddj commented on #511
Added support for Laravel LTS with [v4.2.5](https://github.com/cnvs/canvas/releases/tag/v4.2.5)

[2019-06-15 20:46] #511 closed

[2019-06-15 21:08] austintoddj opened #513 "TravisCI test coverage configuration"
As of the [v4.2.5](https://github.com/cnvs/canvas/releases/tag/v4.2.5) release, support for Laravel LTS(5.5) was added to the package.

While the application works as needed, the continuous integration testing with TravisCI has not yet been updated to reflect that. The issues that need to be resolved with this would include:

- Test the package against the major PHP versions (7.0, 7.1, 7.2, 7.3)
-

[2019-06-18 12:21] barbosa89 opened #514 "Autosave is available in the platform?"
Hi guys,

I am testing the canvas blog package but autosave is not working, there is some configuration to enable it? Only save and publish.

Thanks

[2019-06-18 13:10] austintoddj commented on #514
It's not currently supported in the platform.

[2019-06-18 13:17] barbosa89 commented on #514
How can I save a draft?

[2019-06-18 14:43] austintoddj commented on #514
When you Save/Publish, set the published date to be in the future, that will make it a draft.

Now that you bring this up, I can probably make the wording a little bit more clear. I'll get it added in an upcoming release.

[2019-06-18 14:50] barbosa89 commented on #514
Great, thanks @austintoddj

[2019-06-18 14:50] #514 closed

[2019-06-18 16:42] connecteev commented on #510
@austintoddj no pressure but would love your thoughts on this

[2019-06-18 18:59] austintoddj commented on #510
Still putting some ideas together, but yes, you could go ahead and create migrations to extend those tables if you choose.

The one caveat to this is on the Posts table. Extending the existing tables is fine **only** if the new fields you're adding are either _nullable_ or have a _default value_ set. If you were to add a field without setting that up in your migration, then the package will try to

[2019-06-18 22:42] connecteev commented on #510
@austintoddj appreciate the thoughts here....thanks for mentioning the fatal error, that would be frustrating if default values were not set.
The problem still is that creating CRUD for the new fields would require updating the cnvs package itself (unless I am missing something). For example, how would you allow the value of $post->author->image, $post->author->url etc from the cnvs admin? Would t

[2019-06-18 22:52] connecteev opened #516 "Question: Any interest in this PR for Posts/Page Export?"
@austintoddj This is not an issue by any means, and I don't much care for this particular feature myself, but sharing if there's any interest in integrating this into cnvs
https://github.com/writingink/wink/issues/188
Package: https://github.com/WyattCast44/winkexport

[2019-06-19 11:16] austintoddj commented on #510
I wasn't necessarily thinking that the custom fields would be added to the admin section of the package. Making a tool that extends the package in a way similar to Laravel Nova with custom fields etc. is worth thinking about, but I don't know about the implementation.

My thought was a bit more of a hack, where you could create your migrations, create models in your own project that extend the pac

[2019-06-19 11:20] austintoddj commented on #516
I did have this in mind a couple months ago, since I've seen a nice implementation of it on Medium itself.

The decision I arrived at however is that there really isn't a need for an export function, since downloading your data is a feature normally found on platforms where you don't actually own your data. Since Canvas is managed by the developer/owner of the blog itself, they can already do what

[2019-06-19 11:20] #516 closed

[2019-06-19 12:27] connecteev commented on #510
Thanks Todd, appreciate the thoughts here, but this was the response I was afraid of :)

[2019-06-19 12:29] mabasic opened #517 "Does this package support multilingual content?"

[2019-06-19 13:18] austintoddj commented on #517
Yes it does. The following translations are supported:

- Arabic
- Chinese (Simplified)
- German
- English
- Spanish
- French
- Hindi
- Portugese (Brazilian)
- Russian

[2019-06-19 13:41] mabasic commented on #517
You are talking about package localization or content translations?

I can't find a way to have content in multiple languages.

[2019-06-19 14:07] austintoddj commented on #517
I was referring to package localization. The content itself won't be translated.

[2019-06-19 15:25] mabasic commented on #517
Do you plan on implementing this feature? I would like to help with this if needed.

I have recently created a multilingual laravel blog admin ui with bootstrap 4 and then I saw this package.

This package looks much nicer, but since it does not support multilingual content I can't use it.

[2019-06-19 16:05] austintoddj commented on #517
I'm absolutely open to reviewing a PR for this if you'd like to submit one, I'd love to see what you come up with.

Canvas was first released in early 2016. Each major version has been a re-write. The latest `v4.0.0` took design inspiration from Wink and adopted relevant pieces of code, modified it, and catered it to what we have now.

[2019-06-20 08:24] urtzi88 opened #518 "Is it possible to add multiple topics per post?"
Hi there,

First of all, great work with this package!

I was wondering if it was possible to add multiple topics for each posts. I see that topics and posts have a many to many relationship, so theoretically it should be possible, but the topic selection component only lets me choose one.

Is there anything I can do to change it? or did I miss any config step?

Thanks a lot in advance ;)

[2019-06-20 08:45] urtzi88 commented on #517
Hi @mabasic I came across something similar and this is how I have managed it:

I've defined tags referencing languages ('es', 'en', 'fr'...) and then created a new Post model that extends the original \Canvas\Post one and have included the following scopes in:

[code]

Then in the BlogController (based on the one provided), I fetch the posts using:

[code]

I hope this helps.

[2019-06-20 11:37] austintoddj commented on #518
You didn't miss anything. You're right in noticing that, the relationship is something I can modify to make it a bit clearer.

The idea with Topics is that they categorize posts differently than Tags.  Since topics have a more general scope, posts will only fall under one topic if any.

[2019-06-20 12:19] urtzi88 commented on #518
Thanks for the quick response. In that case I suppose for what I want I better use tags instead.

Thanks again!

[2019-06-20 12:20] #518 closed

[2019-06-20 17:14] connecteev opened #519 "Suggestion: Extend topics to have a topic / sub-topic tree"
I know we have since added 'topics' to cnvs based on this ticket
https://github.com/cnvs/canvas/issues/434

But I think topics could greatly benefit from having a tree structure with topics/sub-topics (of course, those that don't need to make use of that functionality wont!) but for a lot of content sites, this would be useful to have. For example, see these URLs:

https://www.huffpost.com/news/po

[2019-06-20 20:49] austintoddj commented on #519
Not a bad idea. I'll keep this in mind as I work through the backlog of tasks that I want to get done here and update this if it makes it into a future release.

Thanks for the suggestion!

[2019-06-20 22:00] connecteev commented on #519
Thanks Todd, and this is why I like Cnvs as much as I do! Look forward to seeing this idea come to fruition.

[2019-06-21 07:34] mabasic commented on #517
@urtzi88 Aha, I see. You used tags to mark content for specific language and then you removed those tags before displaying the posts. Clever, but you still have, if I am not mistaken, tag names on one language and you would have to perform some magic to properly seo optimize the post pages later.

@austintoddj I will give it a go and let you know of my progress with this. I'm fairly new with Vue a

[2019-07-02 18:16] robertgarrigos opened #522 "vue errors on production site"
I've been working locally on an install and changing frontend by adding bulma css with no problem. Then I deployed to production server. Front end has no problem, but backend. When I go to edit a post I have these errors:

[code]

I have no idea what's going on. I installed canvas locally and is working fine. Then used git to push/pull the laravel project to a production server, installed composer

[2019-07-02 18:26] austintoddj commented on #522
You're right, if you run `npm run production` on your Laravel app it shouldn't affect Canvas in any way. Are there any error logs from when you ran the installation?

[2019-07-02 19:45] robertgarrigos commented on #522
no errors logged anywere. And in fact it shouldn't be necessary to run the canvas install artisan comman on production if I already have all files included in the git repository, anyway. Is it? Now, the problem is that I don't know how to debug this...

[2019-07-02 20:26] robertgarrigos commented on #522
I fixed it by uploading exactly the same files (ungitted folders vendor and node_modules included) I have locally. Git doesn't show any differences with the .lock files, so apparently the same composer and node packages have been installed in both environments.

[2019-07-02 20:27] austintoddj commented on #522
Interesting. Well if you ever do discover the error let me know, that's an odd one.

[2019-07-02 20:49] robertgarrigos commented on #522
I believe is related to different versions of node. I have node 10.16 on local and 8.10 on production and the node modules installed in both environments, even with the same packages files, are not the same, of course.

[2019-07-03 05:45] robertgarrigos commented on #522
I could see there were differences in the node modules installed on both systems, even with same lock files, which I didn't know it could happen. A new one learned. I can only guess that canvas is not compatible with a low version on node. I would say that this was not important, however I see that old node versions, like 8.*, are maintained (https://nodejs.org/en/download/releases/). So better tr

[2019-07-03 14:29] austintoddj commented on #522
Sounds good, thanks for the follow up!

[2019-07-03 14:29] #522 closed

[2019-07-04 16:22] robertgarrigos commented on #522
Tried with node 8.16. It doesn't work. You can access /canvas, but canvas:install is not actually copying the resources, although you get a success message, so /blog gives a 404. Done with this.

[2019-07-11 13:01] hy505 opened #527 "php artisan canvas:install throwing "Table 'users' already exists" error"
I am trying to install canvas on existing project, only to struck with this error:

[2019-07-11 13:14] #527 closed

[2019-07-14 16:55] connecteev commented on #510
@austintoddj Just found this https://github.com/tightenco/parental
Thoughts and any way to integrate this into Cnvs to do the above?

[2019-07-15 12:11] austintoddj commented on #510
That's really interesting, I've never run across this package before. I'll check it out though and see what it can do!

[2019-07-15 15:04] connecteev commented on #510
Yes, I'm curious what you think about it and whether you can use this (or some other solution) to extend canvas elegantly, so I am still "in sync" with the future changes coming to canvas.

[2019-07-28 08:01] robertgarrigos opened #533 "Error 500. no 'host' index"
I was having this error. it said there was no 'host' index and it was pointing to this line:
https://github.com/cnvs/canvas/blob/502fd6883dff368025c53f7c03a67c78721a4d73/src/Post.php#L219

The problem was that `$item->referer` can be also empty thus still giving false to the condition and trying to print the key 'host', which doesn't exist.

I'll file a PR.

[2019-07-28 08:05] robertgarrigos commented on #533
Done: https://github.com/cnvs/canvas/pull/534

[2019-07-28 13:24] alxzhdanov opened #535 "GET http://localhost/vendor/canvas/js/app.js 404 (Not Found)"
I create new blank project on latest version of laravel. Install Canvas. Frontend work fine.
But when I try to create new post I get partly rendered form and error in console.
How I can solve this problem?

[2019-07-29 14:50] austintoddj commented on #535
What is the error in the console?

[2019-07-29 15:09] alxzhdanov commented on #535
yes
`PS C:\Program Files (x86)\VertrigoServ\www\canvas2> php artisan canvas:install
Installation complete.`

[2019-07-29 15:22] austintoddj commented on #535
Interesting. I'm curious as to why the CSS is loading correctly and the JS in the same vendor directory would fail to load. Could you try to force publish the assets one more time and let me know the outcome?

[code]

[2019-07-29 16:10] alxzhdanov commented on #535
No effect. Same error.

[2019-08-08 22:22] connecteev opened #539 "Potential roadmap for Cnvs?"
Hi @austintoddj long time no chat...I see you've been busy on cnvs' "spa" branch. Out of curiosity:
1. is the "spa" branch going to be just for the admin section of cnvs, or does it include the front-end also? Having a SPA for the front-end makes sense, for the admin section less so (unless you're doing it purely for the technical challenge of learning vue)
2. Any plans you are able to share on th

[2019-08-09 13:06] austintoddj commented on #539
Sure thing.

The `spa` branch is my main focus, and like you keenly observed, it's mainly for the technical challenge of getting a deeper understanding of Vue. Since none of the issues in the tracker are reproducible bugs at the moment, they will be addressed as soon as I'm able to merge this branch in. It's 85% there, just some things to clean up and implement.

Thanks for keeping an eye on the r

[2019-08-09 13:11] austintoddj commented on #517
Closing this out. I'll take a look at a PR if you submit one.

[2019-08-09 13:11] #517 closed

[2019-08-09 13:22] austintoddj commented on #535
The frontend working fine makes sense, as those files are stubbed out during the setup command. It seems like something happened during the installation process that prevented those files from being copied over.

Could you try running a fresh install one more time and let me know if:

1. Anything in the logs shows up
2. The `/public/vendor/canvas` directory exists after running the install command

[2019-08-09 14:57] connecteev commented on #539
@austintoddj makes sense, and Vue / Vuex / VueRouter is a great piece of tech to learn. I'm also considering Nuxt for my front-end so I can get SSR out of the box....but I still love Laravel.

Look forward to that 15% of the ```spa``` being done so that we can get to some juicy features. By the way, I'll let you "close" this one once you've read it....and I have some fresh ideas for you this morni

[2019-08-09 14:59] connecteev commented on #510
@austintoddj take a look at this PR and the comments within it.
https://github.com/writingink/wink/pull/140
You know as they say...
```good artists copy great artists steal``` 👯‍♂

[2019-08-09 15:03] connecteev opened #540 "Feature suggestion: Add support for video upload"
See this PR here:
https://github.com/writingink/wink/pull/194

[2019-08-09 15:28] #539 closed

[2019-08-09 15:44] connecteev opened #541 "Add support for liquid tags"
[Liquid Tags](https://shopify.github.io/liquid/) were introduced by shopify and have been widely adopted in a lot of editors, CMS's and comment editors online. Liquid tags allow for a really rich publishing and consumption experience.

To that end, it would be really cool if Cnvs was able to do something like this:
https://dev.to/new#liquidtags (make sure you click on the '?' icon on the bottom to

[2019-08-09 15:54] connecteev opened #542 "Add Markdown support"
Personally a nice-to-have for me, but would be cool.
See https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet

[2019-08-09 16:00] connecteev commented on #542
Example of a "dead simple" markdown editor from the official vue docs itself: https://vuejs.org/v2/examples/

[2019-08-09 17:30] austintoddj commented on #541
Wow that's some cool stuff! I've never known liquid tags were a thing, or at least named as such. Were you thinking they'd be built into the editor? Definitely worth exploring.

[2019-08-09 17:49] connecteev commented on #541
Yeah, it is cool! I just discovered them myself.
Yes, built-into the editor to link to the internal + external resources mentioned above. Would be great for publishing, and also for UGC posts, which is what I'd like to do (similar to dev.to, which is open source, albeit built on RoR+preact btw)

[2019-08-12 10:25] ilicmarko commented on #540
I can expend more on this, like:

* using `PHP-FFMpeg` to generate a thumbnail (poster),
* support uploading multiple formats (not really needed),
* add `type` attribute to source
* additional checks that is actually a video?

[2019-08-13 17:45] tkaravou commented on #505
👍

I'd also make the reco to allow for slashes `/` in slugs. For example, you might want to have a url that's `topics/food/lasagna` but that's currently not allowed.

[2019-08-13 17:48] connecteev commented on #505
@tkaravou what you're describing is a path, not a slug though. You probably want to have a hierarchy of topics instead... slashes in slugs aren't typical...my 2c

[2019-08-14 12:21] tkaravou commented on #505
@connecteev You're right, what I'm asking for is a path rather than a slug. It makes a lot of sense to use paths rather than slugs for posts for SEO reasons. I can assist in adding this functionality if anyone else is interested.

[2019-08-19 07:00] bishopm commented on #535
I have the same issue. Nothing to see in the logs and the /public/vendor/canvas directory does exist.

I can work around by changing line 42 in the app.blade.php layout file from

`<script type="text/javascript" src="{{ mix('js/app.js', 'vendor/canvas') }}"></script>`

to

`<script type="text/javascript" src="http://localhost/blog/public/vendor/canvas/js/app.js?id=69daa38e45d3d953f71e"></script>`

[2019-08-19 14:09] austintoddj commented on #535
I'm still unable to replicate this error.

If the `vendor/canvas` directory exists, there shouldn't be a reason why you'd need to modify the path. Plus, the stylesheet URL is loading correctly but not the favicon?

Any further details you can provide would be helpful. I'd like to get this sorted and make this work for you but just haven't been able to reproduce it.

[2019-08-19 14:34] austintoddj commented on #533
Fixed with [v4.2.7](https://github.com/cnvs/canvas/releases/tag/v4.2.7)

[2019-08-19 14:34] #533 closed

[2019-08-29 05:44] connecteev commented on #510
@austintoddj see https://github.com/writingink/wink/issues/92 and this PR: https://github.com/writingink/wink/pull/140 for how wink does this

[2019-08-31 15:33] robertgarrigos opened #545 "undefined 'host' key when listing stats"
I found this error again when the referer is not either null or empty but a not well-formed URL. I found some malicious code in the rerefer column of the canvas_views table which triggered this error. Provably, in the first place, we should avoid writing that code to the database. However, I will file a PR to avoid getting the host of a not well-formed URL.

[2019-08-31 15:36] robertgarrigos commented on #545
This is it https://github.com/cnvs/canvas/pull/546

[2019-09-07 22:12] albertoelias123 opened #549 "Laravel 6.0 Support"
Canvas 4.2.7 does not support Laravel 6.0 as it requires the specific Laravel 5.8 package. With that in mind, I slightly modified composer.json and fixed a small bug in the View Blog/Show on my fork setappufv/canvas.

[2019-09-07 22:14] albertoelias123 commented on #549
https://github.com/setappufv/canvas/commit/b071e8ccaa27d583102c4139e311cd4d3a03e1c5

https://github.com/setappufv/canvas/commit/7840e3b636920d171156b5beb49726f29d298263

[2019-09-09 15:20] austintoddj commented on #549
**v4.3.0** will support the latest version of Laravel. Hoping to push it out by the end of the month.

[2019-09-09 15:20] #549 closed

[2019-09-15 16:04] impsart opened #550 "Question/Feature: Assigning Different Authors"
Hi. Great package.

Is there a way to change or assign a post to a different author?
Currently we're populating posts but from one account and we wish to assign it to a different user. Not sure

Thanks.

[2019-09-17 00:42] montuIO opened #551 "Unable to install it."
ewarner@canvas:~/canvas$ composer require cnvs/canvas
Using version ^4.2 for cnvs/canvas
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install cnvs/canvas v4.2.7
    - Conclusion: don't install cnvs/c

[2019-09-17 14:54] austintoddj commented on #550
Thanks!

The package doesn't support changing authors from a UI perspective. The reason behind that is simply the idea that one author shouldn't/doesn't need to be assigning different things. Everyone writes their own content. Under the hood that means that the `auth()->user()->id` is assigned to whoever authors the post.

If you do need to change this however, it's as simple as updating the `user

[2019-09-17 15:47] eleazarbr commented on #541
So for now.. it is not possible to embed a YouTube video in the post, right?

[2019-09-17 15:51] austintoddj commented on #541
That's correct, the editor doesn't support that at this time.

[2019-09-17 16:18] austintoddj commented on #545
Fixed with https://github.com/cnvs/canvas/commit/1b3ad47c671d53bc18222d59a62266c3bcb57d00

[2019-09-17 16:18] #545 closed

[2019-09-20 11:35] impsart commented on #550
Noted.. Thanks Austin.

[2019-09-20 11:35] #550 closed

[2019-09-20 12:07] impsart opened #552 "Bug:Class does not exists"
I've recently updated packages including yours and now there's an error on the `/canvas` path. I followed the upgrade guide but now I'm still getting the error. The `/blog` path is working though.

Thanks.

[2019-09-20 13:28] impsart commented on #552
sorry.. issue was from my end. Kindly ignore.

[2019-09-20 13:28] #552 closed

[2019-09-20 13:39] austintoddj commented on #551
Support for Laravel 6 was added in [`v4.2.8`](https://github.com/cnvs/canvas/compare/v4.2.7...v4.2.8). If you retry the installation now, what results do you get?

[2019-09-25 15:20] abishekrsrikaanth opened #553 "Is there a way to override the logged in layout?"
Love the app so far. I just had a question that I couldn't figure out. Is there a way to override the layout of the pages after you log in to canvas? I use the package on an existing app and would like to have the overall look of it similar to the existing layout. Any advice?

[2019-09-25 15:28] #553 closed

[2019-09-26 16:30] connecteev commented on #505
@tkaravou I'm for it, but I defer to @austintoddj on whether he would entertain a PR for this issue.

[2019-09-30 14:08] austintoddj commented on #505
I'd be more than happy to check out a PR if anyone submits one.

[2019-10-13 21:52] GigaMick opened #558 "Build errors relating to migration"
Installed canvas fine locally - when deploying to Heroku I get the following build error

[code]

Anyone any ideas?

[2019-10-13 22:10] GigaMick commented on #558
I have since connected to the production DB from local and the error is the same, which takes Heroku out of the picture as part of the problem.

[2019-10-13 22:14] GigaMick commented on #558
Looks like there are some problems with the column type "json" with MariaDB. I changed it to "text" and it worked.

[2019-10-13 22:14] #558 closed

[2019-10-13 22:32] GigaMick opened #559 "Publish the admin views"
I followed the directions and published the canvas views so that I can override them, however the views for the admin pages are not available to me. How can access and override these?

Thanks

[2019-10-15 11:28] austintoddj commented on #559
Those aren't meant to be overridden since they are the core of the package. Is there something you wanted to change in there?

[2019-10-15 11:32] austintoddj commented on #551
Closing for now, let me know if you still run into this since it should be taken care of by the above comment.

[2019-10-15 11:32] #551 closed

[2019-10-20 14:27] #559 closed

[2019-10-24 03:43] xyyolab commented on #542
Agree with @connecteev
Canvas really easy to use. Canvas with Markdown support will be even greater 😆.

[2019-10-30 10:50] markronquillo opened #566 "Is it possible for the images to be uploaded to s3?"

[2019-10-30 11:24] austintoddj commented on #566
Absolutely. Just configure this block in `config/canvas.php`:

[code]

[2019-10-30 11:24] #566 closed

[2019-11-05 00:37] markronquillo commented on #559
lets say if we want to add something to the editor like another field? or probably prefill the editor title based on a url param. Will that require us to copy the code locally and just implement the changes?

[2019-11-05 02:40] austintoddj commented on #559
What kinds of things are you wanting to add to the editor? If it’s a viable change then feel free to detail out what you’d like or submit a PR.

[2019-11-07 07:43] abishekrsrikaanth opened #571 "Upload images to S3 but return Cloudfront URL"
I came across this issue on how to setup Canvas to use s3 (https://github.com/cnvs/canvas/issues/566), but the s3 buckets are restricted and are allowed only through cloudfront to be cost effective. Is there a way to setup to upload through S3, but have cloudfront url's instead?

[2019-11-07 15:49] austintoddj commented on #571
Yes, that's not a problem. Just make sure you have the following credentials defined in your `.env` file:

[code]

Now, your images will upload to your bucket, but the URL that's returned to save in the database is based on your CloudFront address.

[2019-11-07 19:53] abishekrsrikaanth commented on #571
OK, let me give this a try and get back to you.

[2019-11-08 22:17] abishekrsrikaanth commented on #571
Thanks, this works well. Appreciate the help.

[2019-11-18 05:27] atymic opened #572 "Posts per user"
Currently any user logging in will see all the posts of any user (even though each post is correctly associated with the user that created it).

Is this the expected behaviour?

I'd be happy to to PR a fix if you consider it a bug, or pr a feature to add a config option so you can only see your own posts.

Thanks :)

[2019-11-18 16:36] austintoddj commented on #572
Thanks for offering a PR! That fix will actually be included in the `v4.3` release coming up soon.

The updated controller response can be seen here: https://github.com/cnvs/canvas/blob/develop/src/Http/Controllers/PostController.php#L23

[2019-11-18 16:36] #572 closed

[2019-11-18 20:18] atymic commented on #572
Oh ok, perfect. Thanks!

[2019-11-20 08:50] markronquillo opened #574 "Drag and dropping images in the editor issue"
Good day,

I have an issue with the editor where if you try to drag an embedded image it copies the image instead of just moving it.

Is this the default behavior? I tried this in vanilla quill.js it doesn't behave that way, it moves the image instead of duplicating. Thanks

<img width="1280" alt="Screen Shot 2019-11-20 at 4 48 41 PM" src="https://user-images.githubusercontent.com/1182515/69223089

[2019-11-20 14:05] austintoddj commented on #574
I haven't run into this behavior before, but let me try and replicate it to see what's going on.

[2019-11-27 14:52] markronquillo commented on #574
I think it has something to do with contenteditable being false. Anyway if you remove that it works as intended. Thanks

[2019-11-27 14:52] #574 closed

[2019-11-27 17:10] austintoddj commented on #574
Thanks for the heads up @markronquillo

[2019-12-05 12:22] #506 closed

[2019-12-05 12:28] #513 closed

[2019-12-18 12:33] lcnguyen181000 commented on #355
![loi](https://user-images.githubusercontent.com/45620014/71086783-4651ce00-21cd-11ea-8a7b-159cc0af5dd6.png) help me.

[2019-12-18 12:58] ruchern commented on #355
@lcnguyen181000 remove `http://localhost/` from the path and see if it works.

[2019-12-18 13:32] lcnguyen181000 commented on #355
![image](https://user-images.githubusercontent.com/45620014/71090384-7bfab500-21d5-11ea-92b8-805448e63812.png)
it still not woking :((

[2019-12-21 20:59] vimalmistry opened #588 "I have some questions."
I want to build blog site and canvas is just perfect for me. But I have some question and didn't find any answer or document or something.

-  Is there any document?
-  How to switch theme like dark mode in suggested by canvas.io site.
-  Is there any search option for posts?
-  Is there filter for post because I have to give right for some user to post?
- How to add editor functionality like List

[2019-12-23 12:20] austintoddj commented on #588
Great questions.

- Not sure about the first one, about a "document"?

- To utilize dark mode, simply un-comment the `Canvas::night()` method in the `CanvasServiceProvider` [just like the readme says](https://github.com/cnvs/canvas#options)

- You can search posts by using the icon in the upper-right corner of the posts screen:
<img width="951" alt="Screen Shot 2019-12-23 at 6 15 16 AM" src="https

[2020-01-06 07:15] HayriCan opened #595 "Timezone Text Translate Issue"
On Canvas panel there are some translate issues. It takes timezone successfully but the texts are not localized.
e.g.
moment(post.created_at).fromNow() ==> this will produce english text

[2020-01-11 07:54] airy6 opened #599 "Suggestion:Is better to it can keep the space and Tab of the article"
This is a beautiful blog. But is better to it can keep the space and TAB of the beginning of the article, it is better to center the picture👍

[2020-01-13 02:10] austintoddj commented on #599
I'm sorry, not understanding the question. Could you re-phrase it?

[2020-01-13 02:11] austintoddj commented on #595
Could you let me know which screen you're seeing that behavior on?

[2020-01-13 11:14] octoper opened #601 "Switch from Quill editor to Tiptap"
Use TipTap editor instead of Quill editor

[2020-01-13 14:15] austintoddj commented on #601
If you'd like to go ahead and submit a PR for that I'd be more than happy to take a look.

[2020-01-13 14:15] #601 closed

[2020-01-13 14:15] #535 closed

[2020-01-13 14:15] #505 closed

[2020-01-15 08:34] albertoelias123 opened #602 "Sponsor"
@austintoddj
This repository is wonderful!
I would like to know how I can contribute to the development of the project? Have you considered the next features?
Does this project accept donation or sponsorship?

[2020-01-15 14:13] airy6 commented on #599
I'm sorry, English is not my native language, I mean, I think it would be better if it could keep the space at the beginning of the paragraph and center the picture

[2020-01-15 14:14] airy6 commented on #599
My english is not very good, hope you can understand😃

[2020-01-15 14:19] austintoddj commented on #599
No problem at all.

Are you talking about the Featured Image? Or images inside of the post?

[2020-01-15 14:24] austintoddj commented on #602
Thanks for the kind words @albertoelias123!

If you click the **Sponsor** button above, you'll see all of the sponsorship opportunities available.

As far as contributing, if you want to jump in on [any of the issues](https://github.com/cnvs/canvas/issues) and add any helpful guidance for people that have had trouble that would be a great start! At the same time, if you do think of features or thi

[2020-01-16 04:06] airy6 commented on #599
Yes, picture in post

[2020-01-19 08:18] easterneas opened #604 "Question: Canvas Integration for Existing Admin Back-end"
I'm not sure if it's already mentioned or not in the readme, but I think it's worth to be mentioned here.

I already built the administration back-end, and also made the basic blogging feature within it. Now if I want to migrate to Canvas, I would expect that there will be 2 back-ends (one for my administration site, and another one for Canvas).

Is there any way to integrate Canvas back-end into

[2020-01-20 15:34] yoeriboven commented on #604
If your existing backend uses the Laravel authentication, you can just use it.

Current backend on `url.com/admin`? Then you can change the `path` in the config so they are both on the `admin` prefix.
Add a link from your current admin to the canvas page and you're done.

[2020-01-20 16:39] mikerockett opened #605 "Unsplash Rate Limiting"
The search box on the Unsplash popup currently has no strategy to avoid API rate limiting on Unsplash. As a result, I get a ton of 403s, which breaks the results – they don’t update and land up remaining as they are.

Could a one-second debounce be added here?

Fantastic package – using this for my new site and blog, and it's working super-well. :-)

[2020-01-20 17:01] austintoddj commented on #605
Really glad to hear that @mikerockett! Yes, I'll add a debounce to that. Hoping to get the next release out either this week or next.

[2020-01-20 17:04] austintoddj commented on #604
What @yoeriboven is correct. While you're not able to make the backend 'look' like your current Admin section, it can be accessed and protected by the same middleware and authentication that your current setup has.

[2020-01-20 19:16] #602 closed

[2020-01-20 19:16] #588 closed

[2020-01-20 19:17] austintoddj commented on #599
The embedded images in a post are centered within the content. If you want to see a different option or configuration feel free to submit a pull request!

[2020-01-20 19:17] #599 closed

[2020-01-21 04:36] mikerockett commented on #605
Awesome stuff, thanks!

[2020-01-22 12:22] austintoddj commented on #605
Added in **v5.1.0**

- [Upgrade Guide](https://github.com/cnvs/canvas/blob/master/upgrade.md#upgrading-to-510-from-50)
- [Changelog](https://github.com/cnvs/canvas/blob/master/changelog.md#510-january-22-2020)

[2020-01-22 12:22] #605 closed

[2020-01-22 15:02] imgoodplanner opened #607 "php artisan migrate 5.0->5.1 maybe mariadb issue. how to fix ?"
Dear,

I try to 5.0 -> 5.1. when I run php artisan migrate, ... error
How to fix ?

SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'index `post_id` to `canvas_views_post_id_index`' at line 1 (SQL: alter table `canvas_views` rename index `post_id` to `canv

[2020-01-22 15:09] mikerockett commented on #605
Thanks Austin! 😃

[2020-01-22 15:39] austintoddj commented on #607
Thanks for catching that @imgoodplanner. If you run `composer update` you should grab the latest version, `v5.1.1` which should fix the problem.

Let me know if you need any more help with it.

[2020-01-22 15:47] #607 closed

[2020-01-22 21:40] jswails commented on #607
hi, I just ran update and the issue still exists
Server version: 10.1.38-MariaDB-0ubuntu0.18.10.2 Ubuntu 18.10

- Updating cnvs/canvas (v5.0.3 => v5.1.1): Downloading (100%)

SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error i
  n your SQL syntax; check the manual that corresponds to your MariaDB server
   version for the right syntax to use near 'json null, `created_at` ti

[2020-01-22 21:58] austintoddj commented on #607
@jswails was this from a fresh install or an upgrade to an existing installation?

It looks like MariaDB started supporting JSON data types in [v10.2.*](https://mariadb.com/kb/en/json-data-type), so I'm assuming [this part of the migration](https://github.com/cnvs/canvas/blob/master/src/Storage/migrations/2018_10_12_000000_create_canvas_tables.php#L26) is causing the failure.

Are you able to upgr

[2020-01-25 23:37] albertoelias123 opened #609 "Doubts"
Hi, I'm trying to work on some improvements for Canvas and I'm following CONTRIBUTING, but I'm having some doubts.
I believe the command `php artisan:migrate` is actually `php artisan migrate`. Right?
I was unable to use the --data option, present in version 4.x. Because of this, I chose to use the Factorys, for that I modified the CanvasProvider boot and added the Canvas Factories, I am also maki

[2020-01-25 23:42] albertoelias123 commented on #609
Another issue I didn't understand, each post can have 0 to N TAGs and 0 to 1 TOPIC. But the relationship between Post and Topic supports the relationship 0 to N, wouldn't it be more interesting to remove the `canvas_posts_topics` table and add an attribute (nullable) to the post table to identify the referring topic?

[2020-01-26 06:13] albertoelias123 opened #610 "Problem with canonical link"
If the user fills in the Canonical Link with any text that is not a valid URL, we encounter an error similar to the one found below.

https://github.com/cnvs/canvas/blob/4aeaa2eb5c2b421ddecb878a64cd0c160413fc17/resources/stubs/views/blog/show.stub#L82-L90

![image](https://user-images.githubusercontent.com/41304037/73131441-c7c92700-3fe9-11ea-9b4e-2170f240828b.png)

[2020-01-26 11:37] austintoddj commented on #609
Although the relationship is set up as such, the idea is that a Topic is a category, a page, a series, or whatever you'd like to call it. Tags can merely attach to anything. So even though the relationship looks the same, the application code supports this idea. So I'd like to leave the migrations alone for now and keep this structure.

And you're correct in the first comment, it's a mistake in th

[2020-01-26 11:38] austintoddj commented on #610
Good catch. Go ahead and submit a PR for this and I'll get it merged in.

[2020-01-28 18:07] luiyongsheng opened #612 "this.slugify() in TagSelect.vue don't support other charset"
I'm trying to add tags with Chinese characters in a blog post but resulted in 500 error during axios request due to the empty value in tag.slug probably caused by slugify.

**Temporary fix applied:**

[code]
```|| searchQuery```  added behind the ```slug: this.slugify(searchQuery)```

[2020-01-28 18:57] austintoddj commented on #612
Thanks for bringing this up @luiyongsheng. Just because I don't know, is the Chinese-character slug still a valid url slug? Or do you have an example of what you're trying to save so I can try it on my end?

Just making sure this sort of thing won't break other localizations.

[2020-01-28 19:49] luiyongsheng commented on #612
![image](https://user-images.githubusercontent.com/13586871/73298952-3eb02b00-4249-11ea-84da-67a602176086.png)

For example, I added the term ```本地化``` as a tag and when I click done, no error was shown. But by monitoring the Network activities in DevTools, the POST request to ```canvas/api/posts/{slug}``` returned 500 error as shown:
![image](https://user-images.githubusercontent.com/13586871/732

[2020-01-28 20:18] austintoddj commented on #612
Thanks for the update. Yeah, verified the characters on my end too. This simple snippet:

[code]
is the only part that's trying to "slugify" the name, it's not sufficient enough to handle localized characters at the moment.

I've come across [Slugify](https://www.npmjs.com/package/slugify) and [NodeSlug](https://github.com/dodo/node-slug), and they may do the job here. I'll look at getting these t

[2020-02-04 13:59] iatroshchenko commented on #604
What about back to  website button? Is it implemented somewhere? Or how can I add this right now?

[2020-02-04 14:02] yoeriboven commented on #604
@iatroshchenko You could fork this package and import that into your project. Then just add the button to your 'own' admin panel and build the Vue files.

[2020-02-04 14:23] austintoddj commented on #604
The `Visit Site` button used to exist, but was removed when a frontend was no longer bundled with Canvas.

By only including the tools necessary to write and publish posts, everyone is free to design their frontend as they see fit or with whatever style they're integrating into. With this de-coupling, Canvas no longer "knows" about the frontend, and there isn't currently a system in place where yo

[2020-02-06 10:18] bardhkrasniqi opened #619 "How to change UI / Redirections"
Hi

I'm trying to make some changes on ui and redirections but i can't see pages being updated.
Should i run yarn or something else to compile again vue files?

Any ideas?

[2020-02-06 11:00] austintoddj commented on #619
Good question @bardhkrasniqi. If you check out [the contributing guide here](https://github.com/cnvs/canvas/blob/master/.github/CONTRIBUTING.md), you'll see a step-by-step process for compiling assets in a dev environment. Let me know if you have any questions or issues with it!

[2020-02-06 11:00] #619 closed

[2020-02-06 11:04] austintoddj commented on #541
As an update @eleazarbr, the next release will add support for embedding various links/media types in the editor. Stay tuned.

[2020-02-07 07:54] bardhkrasniqi commented on #619
Thanks for the help.

When i make changes on `*.blade.php` it's working but i'm still having issue with `*.vue` files i don't see changes.
For example i want to change `Logout` to `Home` on `PageHeader.vue` but i don't see changes

I don't know if i'm missing something...

[2020-02-07 14:04] austintoddj commented on #619
What you're seeing is correct. The blade templates that were generated during the setup are just a nice starting point for how you want to customize the frontend aspect of your application. The Vue files are part of the package, so they're not editable by you.

Does that make sense?

[2020-02-09 11:10] #595 closed

[2020-02-09 11:10] #610 closed

[2020-02-09 11:17] austintoddj commented on #609
Fixed in [v5.2.0](https://github.com/cnvs/canvas/releases/tag/v5.2.0)

[2020-02-09 11:17] #609 closed

[2020-02-09 17:37] jonbaldie opened #624 "Linking Issue"
Fresh install today, if I try to add a link to some text, it replaces the entire line with the text value of the link I entered. No errors reported in the console.

![2020-02-09 17 32 43](https://user-images.githubusercontent.com/8376953/74106877-6e710400-4b62-11ea-8cdb-eb0347f44904.gif)

Made no changes to JavaScript files or Blade views, and replayed `npm install && npm run dev` to make sure I w

[2020-02-09 17:46] jonbaldie commented on #624
Got paranoid that I'd changed something by accident, so I did another fresh install using the directions in the readme file, and got the same results.

[2020-02-09 17:51] jonbaldie commented on #624
If it helps, confirmed working as expected (link works without replacing text) on an old version I'm using for another site, v5.0.3.

[2020-02-09 18:02] austintoddj commented on #624
Thanks for catching this @jonbaldie, and for the really helpful gif.

I’ll take a look at this shortly.

[2020-02-09 20:26] #624 closed

[2020-02-10 01:37] albertoelias123 opened #625 "Bugs Found"
This Middleware was renamed to Session, but in the stub files it remains with the old nomenclature.
That is, when using the `canvas:setup` command, the wrong Middleware name is used.

https://github.com/cnvs/canvas/blob/deada10d1d9c53ded0537147d64a46f7f3354421/resources/stubs/routes.stub#L4
<br/>
In addition, I also encountered another problem, after correcting the Middleware name and trying to ac

[2020-02-10 13:03] jonbaldie commented on #624
Thanks for the quick response @austintoddj ✌️

[2020-02-10 13:04] austintoddj commented on #625
Thanks for catching this @albertoelias123, I’ll take a look at it shortly.

[2020-02-10 14:14] #625 closed

[2020-02-10 14:17] #604 closed

[2020-02-10 14:33] austintoddj commented on #540
So I didn't add Video uploads yet, but the enhancements introduced in [v5.2](https://github.com/cnvs/canvas/blob/master/changelog.md#520-february-9-2020) would allow us to build that out in the future.

And while I'm not going to focus on that at the moment, I did add a feature to bring this a little closer to Medium.com's functionality that is has with [embed.ly](https://embed.ly/):

<img width="

[2020-02-10 14:33] #540 closed

[2020-02-10 14:35] austintoddj commented on #507
Fixed in [v5.2](https://github.com/cnvs/canvas/blob/master/changelog.md#520-february-9-2020)

Simply clicking on the embedded content will open a modal where you can edit the markup.

[2020-02-10 14:35] #507 closed

[2020-02-10 19:14] albertoelias123 opened #627 "SEO Doubts"
Hello, I would like to understand how the SEO of Canvas Post's works.

- Is a Site-Map generated?
- The automatically generated slug for posts, is not a friendly url, would it be more interesting to generate a slug from the title?
- Do you have any future plans to improve SEO?

[2020-02-10 19:48] austintoddj commented on #627
There is no sitemap generated for you. Might be a good thing to add in the future.

The auto-generated slugs are meant to add ambiguity to each post, so that whenever you create content it's guaranteed to not interfere with other posts  you've already created. It may not be a bad idea to implement a "sync" feature to the slug field that allows users to 1-click generate a slug based on the post tit

[2020-02-10 19:48] #627 closed

[2020-02-10 20:47] albertoelias123 opened #628 "Publishing assets for customization"
Is it possible to modify the /canvas navbar?
I would like to modify the component navbar to add a link to the internal area of ​​my application.
Is there any way to publish the views related to /canvas or to change at least the navbar?

[2020-02-10 21:10] austintoddj commented on #628
The navbar is not editable at this time. What link were you wanting to add if it was?

[2020-02-10 21:14] albertoelias123 commented on #628
A link to my application's home page, something similar to:
`<a class="dropdown-item" href="{{ route('home') }}"> Application Name </a>`
I would add this link to the menu dropdown. I did this for /blog but as I don't have access to the /canvas navbar I couldn't

[2020-02-10 21:18] austintoddj commented on #628
Good to know, thanks for the info.

Because this topic has been brought up multiple times...

- https://github.com/cnvs/canvas/issues/490
- https://github.com/cnvs/canvas/issues/604

... I'm going to go ahead and work on a solution. My thought right now is that I'd add an optional config variable where you can specify the path of your frontend. If that exists, then Canvas can use that to add links

[2020-02-10 21:21] albertoelias123 commented on #628
Another, perhaps simpler approach is to allow resources to be published (optionally) or at least views, so we could customize other aspects as well.

[2020-02-11 01:47] austintoddj commented on #628
The problem with publishing views is that an upgrade path becomes very un-wieldy. If someone were to customize the views, any future upgrades would be difficult since it would mean overwriting much of the customization.

[2020-02-12 19:36] qamarabbas408 commented on #353
run <pre>composer instal</pre>l command in the root directory of your project in cmd

[2020-02-12 20:15] austintoddj commented on #353
@qamarabbas408 Is this a question related to #353?

[2020-02-14 16:48] qamarabbas408 commented on #353
yep

On Thu, Feb 13, 2020 at 1:15 AM Todd Austin <notifications@github.com>
wrote:

[2020-02-14 17:37] austintoddj commented on #353
Just verifying, you're not using `php artisan serve` on the `cnvs/canvas` repo, correct?

This repo is a package that's pulled into a Laravel app, and a lot has changed since this issue was opened in 2017, like it not being a standalone app anymore.

[2020-02-16 06:33] guladima commented on #612
@austintoddj I think it’s better to let the user enter the slug himself.

[2020-02-16 10:37] joveice commented on #628
I would love to edit the assets to make it fit more into the main site. Even if that would make upgrading harder, since it was my decision I don't see that as a problem.

[2020-02-18 12:31] ediblemanager commented on #628
Publishable assets gets my vote: anyone who wants to edit will be doing so knowing they are moving from the core and surely will expect upgrades to be more involved.

[2020-02-18 15:05] austintoddj commented on #628
That sounds reasonable enough.

That being said, I'm not actually aware of any packages that do this. Supporting the base installation, (ie. assets being read from the `vendor` directory) as well as a customizable app experience seems problematic, since you'd have the freedom to write/compile the assets and those would, theoretically,  _not_ compile into the `vendor` directory.

How do you propose

[2020-02-18 15:07] austintoddj commented on #509
Coming back to this..

I like the thought, however I'm comfortable keeping the database structure as-is. Perhaps if in the future there is more of a need here, I'll look into it again. But for now, I'd like to keep it as simple as possible.

Thanks for the idea though!

[2020-02-18 15:07] #509 closed

[2020-02-18 15:10] austintoddj commented on #510
While there isn't a way to customize and extend Canvas yet, the original fields mentioned in this issue are addressed by the `canvas_user_meta` table.

[2020-02-18 15:10] #510 closed

[2020-02-18 15:11] austintoddj commented on #484
Closing this since it's not the direction Canvas will go in the near future, but open for PRs or suggestions on what this could look like.

[2020-02-18 15:11] #484 closed

[2020-02-18 15:13] austintoddj commented on #519
At this time, I'm comfortable with the simple tags/topics structure that Canvas has and what it allows users to organize content by.

Good suggestion though, keep 'em coming!

[2020-02-18 15:13] ediblemanager commented on #628
Isn't the normal practice for the package to firstly use it's own assets, stored within `vendor`, then use any published assets if the command has been run?

Would another option be to allow for specifying options in settings for each visual component that can be edited? Not that you'd want to give every component over, but perhaps the main ones (nav, body, footer)? Couple this with being able to

[2020-02-18 15:14] austintoddj commented on #489
It's a good idea, but I prefer to keep the editing strictly to the actual editor screen.

[2020-02-18 15:14] #489 closed

[2020-02-18 22:02] austintoddj commented on #628
From what I understand [in the docs](https://laravel.com/docs/6.x/packages), that logic pertains to the blade files. You _are_ able to [override package views](https://laravel.com/docs/6.x/packages#views), however the only "view" for Canvas is a layout file, and it's simply a wrapper for the Vue SPA.

I don't believe there's a way to override the packaged CSS/JS with Laravel at this time. That bei

[2020-02-24 09:16] HayriCan opened #635 "CaptureVisit Bug v5.2.4"
When I try to access post this error come off.

![capturevisit](https://user-images.githubusercontent.com/17090831/75139907-e7459380-56fe-11ea-9682-080d8abd3448.PNG)

[2020-02-24 14:47] austintoddj commented on #635
@HayriCan What version of PHP are you running?

[2020-02-24 16:20] HayriCan commented on #635
On PHP 7.4 I got this error. After I reduced to 7.2 and it works now.

[2020-02-24 21:07] austintoddj commented on #635
Fixed in https://github.com/cnvs/canvas/releases/tag/v5.2.5

[2020-02-24 21:07] #635 closed

[2020-02-25 07:30] omandotkom opened #638 "I got this specified key was too long on MariaDB"
i got this error when running canvas:install

Migrating: 2019_12_08_000000_alter_canvas_tags_add_user_id

Illuminate\Database\QueryException  : SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 1000 bytes (SQL: alter table `canvas_tags` add unique `canvas_tags_slug_user_id_unique`(`slug`, `user_id`))

i think adding Schema::defaultStringLength(19

[2020-02-25 12:51] austintoddj commented on #638
You're correct. [Per the docs](https://laravel.com/docs/6.x/migrations#creating-indexes), it looks like adding `Schema::defaultStringLength(191);` to the `boot()` method of your AppServiceProvider will fix the issue.

[2020-02-25 12:51] #638 closed

[2020-02-25 17:56] robertgarrigos opened #641 "Missing translations"
I'm translating Canvas in to Catalan, but I'm having some problems with missing strings. I saw that the lang/en directory has only two translations files now (just update from a previous version). I translated those two files, then, but then the views are still pulling strings from missing translations files, like pagination.php, or stats.php. Some of these string are within in the new file app.ph

[2020-02-25 22:16] austintoddj commented on #641
There is a refactor that's going to do away with the `blog.php` lang file, so we'll only be left with one file per translation. It's currently on the `develop` branch at the moment, so feel free to [take a look here](https://github.com/cnvs/canvas/blob/develop/resources/lang/en/app.php) and see what the final will look like.

[2020-02-26 05:51] robertgarrigos commented on #641
I realized that I needed to put the lang files within the vendor/cnvs/canvas directory. Would'nt be better to publish the lang files in the resources directory? This way, anyone wishing to adjust or add a translation would find it easier. Having to add files within the vendor directory, which is ignored by git, is not comfortable.

In any case, there are still some missing strings only in the fron

[2020-02-26 12:29] austintoddj commented on #641
If translations were published to your `resources` directory, then any upgrade path going forward would become more difficult.

So what you did was correct by submitting the PR, since that'll get your preferred translation into the project and you'll never have to add something to the `vendor` directory.

As far as the frontend translations, that'll be taken care of by an upcoming release.

[2020-02-26 12:29] #641 closed

[2020-02-29 09:34] muffaddal opened #642 "Customizing the Quill Editor"
Hi, Thanks for the awesome CMS. Is there a way we can customize the quill editor, to show more formatting options? I am trying to integrate a font size feature, that can increase or decrease the font size. Right now I only have the H2 H3 options.

[2020-02-29 16:01] austintoddj commented on #642
I'm glad you're enjoying it! There isn't a way to customize it at the moment. The intent was to stick as closely as possible to the editor on medium.com, but if there's enough need for these options, I'd be happy to take a look at a PR or implement them in an upcoming release.

[2020-03-03 22:40] abishekrsrikaanth opened #645 "Laravel 7 support"
Could you add support to Laravel 7

[2020-03-03 22:42] austintoddj commented on #645
Support for Laravel 7 will be coming out in the next release. Hoping to get it out before the end of the week.

[2020-03-04 08:31] kenas opened #646 "Add custom class into img tag"
First of all I would like to say thank you for your project. I really enjoy it.

Is there any possibility to add class to img tag in content/body? For example class from bootstrap like so `<img scr=”” class=”rounded float-right” alt=””> `

Thank you very much

[2020-03-04 09:05] Codey-m commented on #645
Thank you!!💪💪💪

[2020-03-04 14:02] austintoddj commented on #646
Glad you're enjoying it! Is there a specific tag you had in mind to add? Or something specific to your application itself?

[2020-03-05 00:05] christopherokonkwo opened #647 "The Topics synchronizes wrongly especially when two users have same topic slug"
My case scenario is such that multiple users can have same topic name and slug but what happens  in
`private function syncTopic($incomingTopic): array
    {
        if ($incomingTopic) {
            $topic = Topic::where('slug', $incomingTopic['slug'])->first();`

            `if (! $topic) {
                $topic = Topic::create([
                    'id' => $id = Uuid::uuid4(),

[2020-03-05 00:48] christopherokonkwo commented on #647
adding a scopeforCurrentuser() method solved the problem.
ie `Topic::scopeforCurrentuser()->where('slug', $incomingTopic['slug'])->first();`

[2020-03-05 02:14] Codey-m opened #649 "Error when running install"
Please help out,,,   the following error is thrown when i run install :

[code]

[2020-03-05 12:53] austintoddj commented on #649
What version of MariaDB are you running?

[2020-03-05 13:00] austintoddj commented on #647
Good catch on this. It'll go out in the next release.

[2020-03-05 13:45] Codey-m commented on #649
i am running xampp for windows 7.2.11

[2020-03-05 14:02] austintoddj commented on #649
[Issue #607](https://github.com/cnvs/canvas/issues/607) had a similar error. If you are able, can you update your MariaDB installation to `^10.2`?

MariaDB started supporting [JSON data types in v10.2.*](https://mariadb.com/kb/en/json-data-type), so I'm assuming this is the root cause.

[2020-03-05 21:58] mikemand opened #650 "Cannot read property 'slug' of undefined"
I'm currently using the `develop` branch (4cfe89a593cd9e2691bd91bc6268ce77091549c4 is what my composer.lock says) because my App is on Laravel 7 already.

When I try to add a custom Featured Image to my post (either before it is created, or after it has been saved as a draft, or even after it has been published), nothing happens. The image is showing in the upload area, and it says upload complete

[2020-03-05 23:28] mikemand commented on #650
Fresh install. I installed it a few days ago while I was still on Laravel 6, then upgraded my app to Laravel 7.

I'm using S3 as my storage, here are my environment variables:

[code]

I know my connection to S3 is working because I also use Spatie's media library package, but maybe it didn't create the path?

[2020-03-05 23:45] mikemand commented on #650
I updated to your latest commit (b2e5ded3dce6a05c0bad75af653e3667d53d7cae), and have a better error message now:

[code]

[2020-03-05 23:56] mikemand commented on #650
Aha! I found the problem. Telescope Toolbar is adding its assets to the file path that is getting saved to the `featured_image` column.

Something I've noticed is that Telescope Toolbar (and also DebugBar, I think) add their assets to any response that is not JSON or plain text. So you'll need to set the content type before this return: https://github.com/cnvs/canvas/blob/b2e5ded3dce6a05c0bad75af6

[2020-03-06 04:28] mikemand commented on #650
Turns out Telescope Toolbar doesn't have this ability. I've opened an issue here: https://github.com/fruitcake/laravel-telescope-toolbar/issues/25

We can close this if you want since it isn't technically relevant to Canvas. A quick fix would be to add `header('Content-Type: text/plain')` before the return I mentioned above, but I don't know if it is fair to ask you to change Canvas for some obscu

[2020-03-06 11:03] austintoddj commented on #650
Great find! Like you said, we'll leave Canvas as it is and hope that some resolution can from from the toolbar side of things.

But I appreciate you finding the answer to this!

[2020-03-06 11:03] #650 closed

[2020-03-06 12:26] Anthonynzube opened #652 "Comments and likes"
Does the canvas package for laravel support comments and likes. If it does how do I use it in a project?

[2020-03-06 12:35] frknasir commented on #652
I am not sure what you mean by support here...but if you meant whether you could extend posts to be commentable and likable, then, YES!

How can you do that?

create two models `Comment` and `Like` with their corresponding migrations, controllers and connect them to the canvas post model using relationship. the relationships will be like 1 post to many comments, 1 post to may likes....you can look

[2020-03-06 15:09] austintoddj commented on #652
@frknasir is right. That would be the best way to go about integrating likes/comments.

[2020-03-06 15:09] #652 closed

[2020-03-06 20:32] Codey-m commented on #649
updated and it fixed the issue.  thanx...

[2020-03-06 20:32] #649 closed

[2020-03-06 22:04] Codey-m opened #654 "UC Browser compatibility"
my canvas/stats page is empty (saying I haven't posted anything) but I have . I have clicked the "ready to publish" button multiple times but the "created_at" pop-up doesn't show. And What is weird for me is that the posts do show in the database.  When I manually edited the 'published_at' column in 'canvas_posts' table,  the post appeared in the view...

[2020-03-07 08:24] moyus opened #655 "Need to disable syntax module"
The syntax module of Quill in canvas is enabled by default, which may lead to a problem.

Code block would be stored in database as format:

[code]

In that case, at frontend, I can only use **highlight.js**, other syntax packages won't work, like **prism.js**.

FIY, the code format of Quill is `<pre>...</pre>`, which don't include sub `<code>` child and language class name, could we support it?

[2020-03-07 16:26] austintoddj commented on #654
Are the posts in a _Draft_ mode? Meaning, are the `published_at` dates in the database sometime in the future?

If the timing is off, make sure your `config/app.php` timezone variable is set correctly.

[2020-03-07 16:32] austintoddj commented on #655
It looks like [this answer here](https://github.com/quilljs/quill/issues/2189#issuecomment-411692250) could provide some help if adding this to the blot itself.

As far as building support for other syntax highlighters like Prism, I'd need to dig into it and see if there's a viable solution.

Feel free to submit a PR with any proposed changes! If not, I'll see what I can do for future releases.

[2020-03-07 17:23] Codey-m commented on #654
"published_at" column is empty in the database

[2020-03-07 20:41] austintoddj commented on #654
If none of the posts have a `published_at` date, then nothing will be available in the Stats page. As soon as something is published, it'll show up there.

Since autosaving is a feature of Canvas, you're able to write, edit, and modify different parts of your post, and it'll save in a Draft mode without ever touching the "Ready to Publish" button.

What is the behavior you're expecting to see?

[2020-03-07 21:03] Codey-m commented on #654
I understand how the feature works but I was expecting a modal to show up when I press the "ready to publish" button . which isn't working now . and if it isn't showing it means all my posts will be saved in draft mode because the modal that isn't showing up has the "publish now" button

[2020-03-08 12:03] austintoddj commented on #654
Are there errors in the console when you click the button?

[2020-03-08 13:00] Codey-m commented on #654
yes...
e.querySelector is not a function

[2020-03-08 15:29] austintoddj commented on #654
What browser are you seeing this in?

[2020-03-08 18:42] Codey-m commented on #654
ohhh ... I just tried this on Chrome and it works perfectly....
I was using UC BROWSER ... does it mean Canvas supports chrome only ?

[2020-03-08 20:45] austintoddj commented on #654
I've actually only ever tested it in the three major browsers: Chrome, Safari, and Firefox. I've got no objection in adding support for others, but don't have the time immediately available to pursue that. If you'd like to take a stab at submitting a PR for that, I'd be more than happy to take a look!

[2020-03-10 04:07] moyus commented on #655
Sounds greet, I'll look into it.

[2020-03-10 14:11] kenas commented on #646
I am buldind a website, please have a look here https://theczechia.info/article/voluptate-velit-esse-cillum-dolore
where I added three pictures in total.
The first picture is featured_image so I am able to handle responsive picture by adding a class from boostrap that is fine.

But last two pictures are added into body content as html tags (not able save with class or alt).

I would love to have b

[2020-03-10 14:15] austintoddj commented on #645
Added in [v5.3.0](https://github.com/cnvs/canvas/releases/tag/v5.3.0)

[2020-03-10 14:15] #645 closed

[2020-03-10 14:15] austintoddj commented on #647
Fixed in [v5.3.0](https://github.com/cnvs/canvas/releases/tag/v5.3.0)

[2020-03-10 14:15] #647 closed

[2020-03-11 05:58] itsmysterybox commented on #519
Does Canvas provide relationship between topics and tags? I am trying to implement a mega menu like [Cloudways blog](https://www.cloudways.com/blog/). I want to grab the tags related to the topics from the database dynamically. Does Canvas provides such relationship?

Dropdown under **Apps** may be a little complex to implement with topics, sub-topics and tags.

![Screenshot_1](https://user-images

[2020-03-11 06:21] kama003 opened #659 "get post by date like month or year"
i want to get post by date like month or year,
please anyone can tell how can i get this i am new at laravel

[2020-03-11 10:24] austintoddj commented on #519
@itsmysterybox There isn't currently a relationship between the two. I'll re-open this and see if I can get something like this in a future release.

[2020-03-11 22:57] mikemand commented on #659
Hi @kama003,

Laravel has some helpful methods for the Query Builder (and Eloquent) that allow us to filter a query by month, year, day, etc. [Here's the documentation.](https://laravel.com/docs/7.x/queries#where-clauses) Scroll down to `whereDate / whereMonth / whereDay / whereYear / whereTime`.

A simple example for Posts would be:

[code]

[code]

You can, of course, replace the year and month

[2020-03-12 06:37] kama003 commented on #659
hi @mikemand
what if i have month and year together

[2020-03-12 12:17] #659 closed

[2020-03-12 15:11] Anthonynzube opened #660 "Publishing section is absent from readme"
Some weeks ago, i was able to see the section that had little code snippets in them to help me get started. Snippets like getPosts(), etc. Now i don't see them any more. how can i find them?

[2020-03-12 15:44] austintoddj commented on #660
[Here is the link to what you're looking for](https://github.com/cnvs/canvas/tree/v5.2.5#publishing). I removed it once I created the `cnvs/studio` package that has everything already built-in.

In [Studio](https://github.com/cnvs/studio), check out the `resources/stubs/controllers` and you'll find the most up-to-date methods for grabbing the data.

[2020-03-13 04:36] airy6 commented on #599
Thank you. It's great!

[2020-03-13 06:26] Anthonynzube commented on #660
Thank you for the link. So now i decided to use canvas, what does that mean for me? Do I need to use canvas studio, canvas or use them together? Can you explain the differences and what they do individually?

[2020-03-13 10:51] austintoddj commented on #660
Canvas is the backend package where you can make posts/tags/topics and view the stats.

Studio is an optional frontend. The installation process is very similar to how you'd install `laravel/ui`. You aren't required to use it, it's just there to give you a fully-built frontend right out-of-the-box if you don't want to create your own.

You can absolutely use them together. And if you choose to not

[2020-03-13 11:23] robertgarrigos opened #662 "wrong language in logs"
In https://github.com/cnvs/canvas/releases/tag/v5.3.0 the language updated is Catalan, not spanish. ;-) Thanks!

[2020-03-13 11:25] robertgarrigos commented on #662
![Release_v5_3_0_·_cnvs_canvas](https://user-images.githubusercontent.com/105581/76617043-aedaed80-6525-11ea-8882-a39ac39609aa.jpg)

This is linked to the update of the Catalan file

[2020-03-13 13:05] austintoddj commented on #662
Good catch, thanks! Fixed now.

[2020-03-13 13:05] #662 closed

[2020-03-13 13:16] Anthonynzube commented on #660
I'll definitely do that and get back to you. Thanks for your help.

[2020-03-13 13:16] #660 closed

[2020-03-13 15:15] Anthonynzube opened #663 "Adding styles to the post editor"
Is it possible to style the image i choose from unsplash when creating my blog post?

When i do this

`{!! $data['post']->body !!}`

it gives me a default look. i'll like to style the body property myself

[2020-03-13 15:17] austintoddj commented on #663
Not at this time, no. #472 also addresses a feature request where you could specify different layouts, but it hasn't been explored further yet.

[2020-03-13 15:36] Anthonynzube commented on #663
How about the body of the post?

[2020-03-13 15:40] austintoddj commented on #663
Are you referring to styling these things from the frontend, or from inside Canvas?

[2020-03-13 15:45] Anthonynzube commented on #663
From inside canvas

[2020-03-13 15:51] austintoddj commented on #663
If you want to "style the body of the post", you can embed raw HTML, but that's really the extent of it. What are you trying to style differently?

[2020-03-15 02:50] Anthonynzube commented on #663
I'm trying to justify the body of my blog post

[2020-03-16 10:42] Anthonynzube opened #664 "Questions about usage"
I've been trying to display all the tags associated with any particular post and I've found it very complicated to figure out. But it could all be very easy if the post table has foreign keys to the tags and topics table. That way, querying wouldn't be so complicated.

[2020-03-16 11:40] austintoddj commented on #664
The easiest way to retrieve tags/topics for each post is based on their relationship:

[code]

Are you looking at doing something more complicated than that?

[2020-03-16 13:58] ediblemanager opened #665 "Share tags/topics between users"
Sorry if this is logged elsewhere!

This would be useful to avoid duplicate entries or slight discrepancies in spelling with multiple users trying to create the same tag/topic.

[2020-03-16 13:59] ediblemanager opened #666 "Allow for posts to have a scope"
Needs a bit of work updating the general user roles/perms: it would be good if (like WP), there could be editor type members, admin types so that posts can be reviewed by other authors.

[2020-03-16 14:10] austintoddj commented on #665
If you and I were on the same platform and we both authored a post with the same tag/topic, and it was subsequently deleted by you or I, it would remove it for the other person as well. I don't think that's a good experience and it makes sense to manage your own content entirely.

[2020-03-16 14:10] #665 closed

[2020-03-16 14:11] austintoddj commented on #666
I can see how this would be helpful in some instances, but in regards to the size/scope of Canvas in general, I don't want to introduce permissions on that level.

[2020-03-16 14:11] #666 closed

[2020-03-16 14:13] ediblemanager commented on #666
This severely limits the usefulness of Canvas :(. A straightforward ability to review someone else's post is a pretty standard thing for a publishing platform that's not an individuals blog (I'm assuming Canvas leans towards the individual blog ideal, but via Laravel supports multi-user).

Thanks for the quick answer though!

[2020-03-16 14:16] austintoddj commented on #666
I hear you. If you want to try and throw together a PR that could support this type of thing, please feel free to do that and I'd be more than happy to take a look. It's not out of the realm of possibility, but I'm just not able to throw enough time at it right now to get it up and running.

Thanks for the feedback on the project though, every little bit helps!

[2020-03-16 16:44] ediblemanager opened #667 "After update to 5.3.0 can't compile assets"
Seeing an error after installing studio:
[code]

Have cleared Laravel's cache and tried running `yarn && yarn run dev` more than once. No joy!

[2020-03-16 16:54] ediblemanager commented on #667
Running `yarn upgrade --latest` fixes this for me.

[2020-03-16 16:54] #667 closed

[2020-03-17 14:26] Anthonynzube commented on #664
i'm not looking to get just the tags associated with the first post. i want to loop through all the tags associated with all the posts so that i can display them underneath their respective post title in my view file.

[2020-03-17 14:36] austintoddj commented on #664
Ok, so then you could try:

[code]

You can then loop through all the posts and see their respective taxonomy.

[2020-03-17 16:29] Anthonynzube commented on #664
Thanks @austintoddj.

I had to modify

`$posts = Post::with('tags', 'topics')->get()`

to

`$posts = \Canvas\Post::with('tags', 'topics')->get()`

Then i was able to access the tags using

'
 @foreach($post->tags as $tag)
        <li> <b>{{$tag->name}}</b> |</li>
@endforeach
`
on my view file.

[2020-03-17 16:32] itsmysterybox opened #669 "Use laravel scout in Post model"
I'm trying to implement full-text search to the eloquent model. I can do that on custom models. But I want to use `Searchable` trait in canvas Post.php, so that I can use full-text search. Any idea about this implementation?

[2020-03-17 21:41] austintoddj commented on #669
I haven't tried this before, but what if you extended the `\Canvas\Post` class and added the `Searchable` trait to that new model?

[2020-03-17 21:42] austintoddj commented on #664
Do you have more questions on this @Anthonynzube?

[2020-03-18 05:10] itsmysterybox commented on #669
@austintoddj I didn't think about that. That worked. Thanks!

[2020-03-18 05:10] #669 closed

[2020-03-18 14:09] Anthonynzube commented on #664
@austintoddj how do i get the total views and read time for each post?

[2020-03-18 14:14] austintoddj commented on #664
It would look like this:

[code]

[2020-03-18 14:54] Anthonynzube commented on #664
Thanks. Whats's the difference between views and visits? I took a look at the tracker model and i couldn't really spot a difference. What did you intend to achieve by having them?

[2020-03-18 15:07] austintoddj commented on #664
A _view_ is captured when a user loads a post for the first time. A _visit_ is captured when a user loads a post for the first time in a given day.

[2020-03-19 11:13] Anthonynzube commented on #664
I have an issue. I have changed the /canvas path name to /admin and i have a middleware i want to assign to that route i just renamed.

i tried to access the canvas package and attach the middleware to the route in the file
`
Route::prefix('stats')->group(function () {
        Route::get('/', 'StatsController@index')->middleware('admin');
        Route::get('{id}', 'StatsController@show')->middlew

[2020-03-19 11:42] austintoddj commented on #664
You shouldn't try to access those routes yourself, the package has a built-in way to do what you're intending. [The configuration section](https://github.com/cnvs/canvas#configuration) of the Readme goes through the `config/canvas.php` file, and all its available options. So, simply drop your new middleware into the array provided:

[code]

[2020-03-19 12:19] Anthonynzube commented on #664
I did that already.

If i understand correctly, adding my middleware to the middleware array in canvas.php file registers my array but i still need my middleware to act on a route which is the admin/stats route.

because my middleware checks for a column in the user table and is supposed to restrict access to that route or grant access.

This is my middleware for clarification

[code]

Please if t

[2020-03-19 13:53] austintoddj commented on #664
Did you register your middleware properly?

[Per the docs](https://laravel.com/docs/7.x/middleware#assigning-middleware-to-routes), you can add route middleware like this:

[code]

[2020-03-19 13:58] Anthonynzube commented on #664
Yeah. did that already

[2020-03-19 14:06] austintoddj commented on #664
When you run `php artisan route:list` do you see the `admin` middleware attached to the routes?

[2020-03-19 14:48] Anthonynzube commented on #664
i do

[code]

[2020-03-19 15:19] austintoddj commented on #664
You shouldn't have anything in your `routes/web.php` file that references routes that pertain to Canvas, since those are handled in the package itself.

It looks like the `admin` middleware _is not_ attaching to every route, so perhaps the config is cached and you need to clear it.

The intention is to allow custom middleware attach itself to **all** aspects of Canvas, not specific pages.

[2020-03-19 15:57] Anthonynzube commented on #664
Okay, i removed the /admin route in my route/web.php file and i cleared my route cache but the admin middleware is still not attached to the canvas routes. still the same as before

[code]

This is from the canvas.php

[2020-03-19 16:07] austintoddj commented on #664
Try moving the `admin` middleware to below `auth`. Any changes?

[2020-03-19 16:23] Anthonynzube commented on #664
No changes either. I'm pulling my hair right now. lol

I also want to add that i really appreciate your support . Thanks man

[2020-03-19 16:33] austintoddj commented on #664
Hm odd. I just did a fresh install with all of the same steps, and it worked like a charm. Let me see if I can think of anything else that might be awry.

[2020-03-19 16:39] Anthonynzube commented on #664
Can you outline the steps you took? So that i can cross reference mine?

[2020-03-19 18:19] mikemand commented on #664
Hey @Anthonynzube, make sure you don't have routes or config cached:

[code]

[2020-03-20 08:52] Anthonynzube commented on #664
@mikemand I just did all that still nothing.

[2020-03-20 11:27] austintoddj commented on #664
@Anthonynzube Here you go, all the steps and the successful middleware being attached.

1. Created a database named `blog`
2. `laravel new blog --auth`
3. Edited the `.env`
4. `php artisan migrate`
5. `composer require cnvs/canvas`
6. `php artisan canvas:install`
7. Added `CANVAS_PATH_NAME=admin` to the `.env`
8. `php artisan make:middleware Admin`
9. Added `'admin' => \App\Http\Middleware\Admin::

[2020-03-20 12:29] Anthonynzube commented on #664
After seeing your steps which was what I did rolled back my progress.
1. I deleted the middleware
2. I unregistered the middleware in kernel.php
3. I removed the middleware from the canvas configuration file
4. I updated my canvas package and composer
5. I ran the artisan command
[code]
6. I created the middleware
7. I registered it in kernel.php and canvas configuration file

And it worked.

[2020-03-20 12:56] #664 closed

[2020-03-20 13:48] kama003 opened #671 "How do I style a blockquote?"
![Screenshot (1)](https://user-images.githubusercontent.com/45000219/77169347-571d2300-6adf-11ea-9459-d0487c4e37d8.png)
![Screenshot (2)](https://user-images.githubusercontent.com/45000219/77169412-73b95b00-6adf-11ea-9851-e6cac4942ac2.png)
![Screenshot (3)](https://user-images.githubusercontent.com/45000219/77169447-8338a400-6adf-11ea-818b-1fa8ab6f2ccc.png)

[2020-03-20 13:56] austintoddj commented on #671
Since Canvas simply renders the data as HTML, there isn't any styling that will carry over to the frontend. This allows developers to display the content however they like.

Target the blockquote on the page with some CSS:
[code]

[2020-03-21 20:23] armancodes opened #674 "Blank page when entering /canvas"
I installed everything based on the documentation but when I enter `/canvas` in my project I got nothing but a black page with the title of Canvas:
![image](https://user-images.githubusercontent.com/22839699/77235905-79926780-6bd7-11ea-9701-807478ed5ac4.png)
This is hosted on Xampp on Windows 10

[2020-03-21 20:41] austintoddj commented on #674
Are there any console errors?

[2020-03-21 20:50] armancodes commented on #674
I get these errors:
![image](https://user-images.githubusercontent.com/22839699/77236342-4b168b80-6bdb-11ea-9e67-aa5289884410.png)

I ran `npm install` and npm run dev` before

[2020-03-21 20:56] armancodes commented on #674
As far as I run this project with Xampp (a LAMP stack). I have to put my different projects in different directories.
The app.js and app.css files are being read from the main directory `localhost` so it doesn't consider 'localhost/o/blog/public` and it doesn't work but when I use `php artisan serve` it makes `127.0.0.1:8000` available so it's the main root and it works.
It would be better if you

[2020-03-21 21:41] armancodes opened #675 "Recent uploaded images are NOT deleted"
I have noticed that whenever I upload a file and DELETE it in that post the recently uploaded image is not being deleted from `storage/public` directory:

![image](https://user-images.githubusercontent.com/22839699/77237060-325da400-6be2-11ea-852f-f0ce1b4cf7a6.png)
This can make the application heavy in terms of the space that should be dedicated to it.

[2020-03-22 01:32] austintoddj commented on #674
Glad you got it fixed!

[2020-03-22 01:32] #674 closed

[2020-03-22 03:43] willyw2k opened #676 "Support Webp Upload"
Please Support Webp Images Format

[2020-03-22 10:06] austintoddj commented on #675
That's a known issue. I'll see what I can do about getting it into a future release.

[2020-03-22 10:10] austintoddj commented on #663
There isn't a way to justify the post content at this time. The formatting bar and the embed HTML modal is the entirety of the WYSIWYG.

[2020-03-22 10:10] #663 closed

[2020-03-22 10:20] armancodes commented on #675
I have an idea about it.
You get the file names in the storage folder. Then you check your database.
In your database `canvas_posts` in the `body` column, you should see if that image name exists in any of those records.
As far as the query can be heavy enough to make the application slow it can be done through Laravel scheduler (once a day or whatever).

[2020-03-22 10:20] armancodes commented on #675
I'd be happy if you assign this task to me so that I'll be able to fix it.😊

[2020-03-22 10:47] austintoddj commented on #675
I think the better route to go for this would be to handle this in the Vue components, specifically where we have methods that remove images. There, you could hit a single DELETE route with the filename, do a quick lookup in the MediaController, and return the proper response after the action is taken.

Let me know what you think, I'll assign this to both of us and I'll be more than happy to check

[2020-03-22 10:51] austintoddj commented on #646
There isn't a way to add custom class tags within the editor at this time. The only way to go about adjusting images on the frontend is to target them with CSS, which should be doable. Let me know if you have any other questions about it!

[2020-03-22 10:51] #646 closed

[2020-03-22 13:59] Mint-developer opened #677 "Canvas Studio for Front-end " Studio is not defined" error"
I installed canvas studio as a front-end in the same project directory as the canvas admin portal is. When I ran "npm run dev" I got a weird error saying " Studio is not defined" in the browser console.

Please help me.

[2020-03-22 19:13] austintoddj commented on #677
So you've got a Laravel app set up, and both Canvas and Studio are dependencies that were installed in the project, correct?

[2020-03-23 09:06] Mint-developer commented on #677
@austintoddj thank you so much for replying. Actually I've set up Canvas for writing content. Now I want to set up canvas studio for front-end. I went through the official documentation and installed Canvas Studio in the same project as the Canvas is. The install went fine but I get "Studio is not defined" error. I am using vue js for the front-end.

After getting the error, I did a fresh installa

[2020-03-23 10:07] austintoddj commented on #677
Hm interesting, not sure why it would be undefined at that point.

If you take a look at [cnvs/studio](https://github.com/cnvs/studio), it's set up as a Vue app and has all the consumable API points you'd need built out already. Take a look at the Controllers and you'll get a good idea of how to grab the content.

[2020-03-23 10:55] #676 closed

[2020-03-25 19:06] #671 closed

[2020-03-27 19:32] mikemand opened #679 "[Feature] Publish/Draft dropdown to tabs"
Hi @austintoddj,

Do you have plans for more than just the two options in the dropdown on the Posts page? <img width="152" alt="Screen Shot 2020-03-27 at 1 30 38 PM" src="https://user-images.githubusercontent.com/745184/77793136-2f721180-702f-11ea-9b67-bc6545c71e9f.png">

If not, would it be possible to change this to side-by-side buttons or tabs or whatever that UI element is called? My users kee

[2020-03-27 19:35] austintoddj commented on #679
I didn't have any plans at the moment in changing that, but if there's enough support or need for it I wouldn't mind exploring options.

[2020-03-28 06:07] mdpoulter opened #680 "Vapor Support"
Thanks for the great package! I just have one query though:

It doesn't appear to from the documentation, but does Canvas support file uploads using Laravel Vapor? Specifically, I'm referring to streaming the files to S3 from the frontend. The Vapor documentation for this can be found here: https://docs.vapor.build/1.0/resources/storage.html#file-uploads

Thanks!

[2020-03-28 15:00] austintoddj commented on #680
Glad you're finding the package useful!

I haven't dug into compatibility with Vapor before, but I'll take a look!

[2020-03-30 07:25] armancodes opened #681 "Sharing the posts feature"
When writing a post there can be an option (like a checkbox) that a user wants to publish their post on some external places such as:
- A tweet on Twitter with the description/summary of the post
- A post on medium copied from the main site
....

It can be a useful feature

[2020-03-30 07:28] armancodes opened #682 "Newsletter feature"
I feel the need for a newsletter for Canvas. It's so much important.
For instance, there can be a weekly email containing the last week's updates/posts, etc.

[2020-03-30 07:33] armancodes opened #683 "Comments section (feature)"
Each post can have a comment section and people can write their comments about that post. After the submission of the comment, the comment should be approved by the admin of the site and also the admin/other users can reply to them.

[2020-03-30 07:37] armancodes opened #684 "clap/like/star feature"
There can be claps or likes or stars for a post. This will indicate the users' interest in each post precisely.

[2020-03-30 07:41] armancodes opened #685 "Pinned posts feature"
Posts can be pinned so that they will stick to the top. There should be a limit to it. For example a maximum of 3-4 posts.

[2020-03-30 08:01] armancodes opened #686 "Add an RSS feed"
There can an RSS containing all posts.
(Can optimize the SEO)

[2020-03-30 08:07] armancodes opened #687 "Search bar"
There can be a searching section so that visitors don't have to scroll the page or visit other pages (which may take a lot of time) and they can easily search to find the post they would like to read.

[2020-03-31 10:42] austintoddj commented on #682
Thanks for the suggestion! I'll look into some possible solutions for this.

[2020-03-31 10:43] austintoddj commented on #683
This is more of a frontend-concern. If you wanted to open this up in [Studio](https://github.com/cnvs/studio), that'd probably be the best spot for it.

[2020-03-31 10:43] #683 closed

[2020-03-31 10:44] austintoddj commented on #684
This is more of a frontend-concern. If you wanted to open this up in [Studio](https://github.com/cnvs/studio), that'd probably be the best spot for it.

[2020-03-31 10:44] #684 closed

[2020-03-31 10:47] austintoddj commented on #681
Are you intending this feature to auto-publish to these sites whenever something is published from Canvas?

[2020-03-31 10:54] armancodes commented on #681
Yeah, It can be optional. There should be a place that the admin stores their API's and then for publishing each post, the admin will be asked if they're interested in publishing to other sites.

[2020-03-31 11:07] austintoddj commented on #686
I like this suggestion and already have a branch `feature/feed` build out with the necessary classes to accomplish this. There's one problem though:

Canvas doesn't "know" about how posts are routed from the frontend. The `link` value in each `<entry>` [in the feed itself](https://github.com/cnvs/canvas/blob/feature/feed/resources/views/rss/feed.blade.php#L19) needs to be an absolute path to where

[2020-04-01 17:56] AEK-BKF opened #691 "L ^6.2 Class 'Locale' not found"
Hi,
I've just installed the package, but I got this error :
`Class 'Locale' not found `

Any idea ?

[2020-04-01 18:04] canatufkansu opened #692 "Saving content with PostgreSQL"
Hi,

I installed the Canvas to my existing laravel project which I first upgraded from 5.8 to 6.0 then installed auth scaffolding. Right now when go to localhost/canvas I can login and start writing a post but when I click to publish on the top left side system says "Published" but doesn't save the post to the database. Also when return to dashboard I cannot see any published posts. I'm using Post

[2020-04-01 18:08] canatufkansu commented on #692
I have just figured out that when I open developer console on Chrome, when I click save I get the following errors.

Endpoint: 2bd66cf2-b34a-4b87-b94e-d2a7137ae47a
/canvas/api/posts
[code]

[2020-04-01 18:19] AEK-BKF commented on #691
It's ok,
I had php 7.2, I upgraded it to 7.4 :)

[2020-04-01 18:19] #691 closed

[2020-04-01 18:21] austintoddj commented on #692
Hm interesting. [This line](https://github.com/cnvs/canvas/blob/master/src/Http/Controllers/PostController.php#L119) in the PostController is grabbing or creating a post, so I'm not sure why it would ever be null after that.

What version of the package are you currently running?

[2020-04-01 18:27] canatufkansu commented on #692
My Laravel Framework is 6.18.3 and I just installed Canvas so it is probably the latest version. By the way I updated my comment at the top which is probably a better lead.

[2020-04-01 18:28] austintoddj commented on #692
Much appreciated!

[2020-04-01 21:19] CraftLogan opened #693 "Migrating from Wink to Canvas"
Hello, I am wondering if there is a guide to convert a wink blog to canvas? I currently have a wink blog up and going how much working am I looking at to convert it all over to canvas? Is there some command already built that could convert the wink database to the canvas one? Thanks, Logan

[2020-04-01 22:28] thewwwizard commented on #692
New to laravel, testing blog packages. Same problem.
PostgreSQL 11.4
PHP 7.3.1
Laravel 7.4.0

[2020-04-02 05:03] Oluwatobilobaoke commented on #355
Always run composer install directly in the folder directory and make sure you have composer installed on your device

[2020-04-02 11:49] Mint-developer commented on #677
@austintoddj your help is much appreciated! thanks

[2020-04-02 11:50] #692 closed

[2020-04-02 11:53] austintoddj commented on #692
Fixed in [v5.3.7](https://github.com/cnvs/canvas/releases/tag/v5.3.7)

[2020-04-02 11:59] austintoddj commented on #693
There isn't a guide written, no. The amount of work would be pretty minimal, and I'd be more than happy to walk through it with you. Shoot me an email at austin.todd.j@gmail.com and we can get it taken care of.

[2020-04-02 12:01] austintoddj commented on #677
Were you able to resolve this @Mint-developer?

[2020-04-02 14:23] Malika3 commented on #355
yes it works! thanks

[2020-04-04 14:40] canatufkansu opened #695 "Getting User Meta information in PostgreSQL"
Hi,

I'm getting database error when I try to get UserMeta info from post. Below is what I'm doing

`$post->userMeta->avatar`

Below is the error I'm getting;

`SQLSTATE[42883]: Undefined function: 7 ERROR: operator does not exist: bigint = character varying LINE 1: ...vas_user_meta" inner join "users" on "users"."id" = "canvas_... ^ HINT: No operator matches the given name and argument types. You

[2020-04-06 20:34] heyaj19 opened #699 "Everytime I merge new changes its asking me to publish canvas"

[2020-04-06 21:49] austintoddj commented on #699
Since this issue has no description, it's a bit difficult to understand the context.

Could you be a bit more specific on what's happening?

[2020-04-07 16:34] heyaj19 commented on #699
Oops sorry I got side tracked and must have submitted the bug. So installed the canvas on my dev machine I promoted it to my prod environment. I actually had to install it on prod as composer automatically did not pick it up originally. Rather I had to do a full composer update as it didnt pick up other packages as well.

I made more changes on my DEV environment and on merging codes to production

[2020-04-07 17:00] austintoddj commented on #699
I've released 3 versions in the last 2 weeks, perhaps you just grabbed an updated version, in which case it would make sense that you'd need to re-publish the assets.

[2020-04-07 20:00] heyaj19 commented on #699
I pushed it to production yesterday - my composer is set to grab the updated patch in the version. And then I pushed an update on the app as well yesterday, I had to publish it again.

Ill keep an eye out. I did find a few issues - ill create a separate bug for those

[2020-04-07 20:03] austintoddj commented on #699
Ok, sounds good. Well let me know if you find anything concrete that I can go on and I'll take a look at it right away.

[2020-04-07 20:03] #699 closed

[2020-04-07 20:05] heyaj19 opened #700 "On changing username or uploading a profile picture the form exists even when there is an error"
I had to use dev tools to figure out why my the new username was not saving on the general settings app and the image although looks like its updated also wasn't saving. That can be attributed to the username not saving.

A good idea for UI might be to confirm that the picture has been uploaded and then saved. For the username it would be good to see the error before it exists to the screen.

[2020-04-08 13:09] austintoddj commented on #700
Could you list out the steps you took to hit this error?

[2020-04-10 17:38] novocent opened #702 "Search bar for posts on the Admin side"
Is there any way to search or filter posts on the admin side?  After publishing a dozen or so posts I'm finding that the list is becoming unwieldy.

![Screen Shot 2020-04-10 at 1 34 54 PM](https://user-images.githubusercontent.com/3177296/79010555-366d4980-7b30-11ea-91c2-f9b9f4e9d1ce.jpg)

[2020-04-10 17:49] austintoddj commented on #702
There used to be a simple post title filter, and there's currently a [pull request](https://github.com/cnvs/canvas/pull/694) for this, but I haven't had the time to look through it or get it refined yet. I'll look at adding this into one of the next releases.

[2020-04-12 05:56] graigDev opened #703 "Class 'Locale' not found"
This error is triggered when you want to access the route **/canvas** after connection.

[2020-04-12 06:01] graigDev commented on #703
Error Line 63

solution: $translations->put($locale, Str::ucfirst($locale, $locale));

Delete class Locale. Thanks

[2020-04-13 15:09] hadidadkhah commented on #703
For linux just install php7.0-intl base on your php version.
`sudo apt-get install php7.5-intl`

[2020-04-13 17:06] austintoddj commented on #703
I pushed out the Localization feature without thinking that the PHP `intl` extension was necessary. Currently looking into Carbon to see if it could provide similar functionality without having the extension required.

[2020-04-13 17:08] #700 closed

[2020-04-13 19:38] #695 closed

[2020-04-13 19:41] austintoddj commented on #703
Fixed in https://github.com/cnvs/canvas/releases/tag/v5.3.8

[2020-04-13 19:41] #703 closed

[2020-04-14 06:54] dgillier opened #706 "Publishing doc removed"
Hello,
Any reason why the Publishing part of the readme (was there early Feb) disappear ?
Deprecated API coming up , or else ?

Thanks,
Denis

[2020-04-14 07:01] hadidadkhah commented on #703
composer update will generate this error:

In Cache.php line 231:

  hash_file(): read of 8192 bytes failed with errno=5 Input/output error

[2020-04-14 08:30] dgillier opened #707 "Create new post generating 404 err"
Hello,

I installed Canvas on top of an existing Laravel app (with a backoffice done with quickadminpanel).
Install went with no problem, I can see stats, tags, posts pages, can change settings and add tags or topics but when I try to create a post, I got a 404 not found on "http://bms.test/canvas/api/posts/create" API Call in the browser console...
If I go to "http://bms.test/canvas/api/posts/cre

[2020-04-14 09:55] dgillier commented on #686
Maybe of interest to you  : https://www.tastethecode.com/adding-rss-to-any-laravel-site

[2020-04-14 14:00] austintoddj commented on #706
The readme does have some rolling changes, is there a part of it you were looking for or had a question about? I can probably point you in the right direction.

[2020-04-14 16:26] #707 closed

[2020-04-14 16:50] dgillier commented on #706
Thanks for the “create” bug solving !
Found the old publishing doc (in the feb read me version), was needing the publishing part to do my own frontend.

Take care, Denis

[2020-04-14 16:53] austintoddj commented on #706
No problem! As far as the publishing section, that did get removed to favor Studio as the frontend instead. Let me know if you have any questions about it:

https://github.com/cnvs/canvas#frontend

[2020-04-14 16:53] #706 closed

[2020-04-14 17:06] dgillier commented on #706
I’ve go two more problems regarding images, should I use post them with github  ?

- Unsplash not working (having a correct public API key in the canvas.php file)
- The “Posts” list view does not display the feature image (I uploaded one, and the file was correctly uploaded into storage/public/canvas/images).

Denis

[2020-04-14 17:39] InvokerMaster opened #708 "New post isn't working"
When I click `New Post`, it redirects to /create but console says api/posts/create is not found.
Does anyone have idea on this?

[2020-04-14 17:46] austintoddj commented on #708
Just fixed in the [v5.3.9](https://github.com/cnvs/canvas/releases/tag/v5.3.9) release. Had broken the controller. Go ahead and run a `composer update` and `php artisan canvas:publish`. Should work for you now.

[2020-04-14 17:59] dgillier opened #709 "Adding a Featured Image"
I can create a blog post without feature image.
But If I add in the creation process the bpost is not saved.
If I add one later its not saved.

The file is correctly upload in the correct "storage/public/canvas/images" directory.

I attached the laravel.log errors but it  looks like a column size problem:
2020-04-14 17:46:08] local.ERROR: SQLSTATE[22001]: String data, right truncated: 1406 Data to

[2020-04-14 18:00] dgillier opened #710 "Unsplash not working"
I entered a correct public key into canvas.php and the unsplash UI is not appearing in the image modal.

[2020-04-14 18:02] InvokerMaster commented on #708
Great thank you! It's working now.

[2020-04-14 18:02] #708 closed

[2020-04-14 18:03] dgillier opened #711 "Nicer default Slug Name..."
It would be nice to have the default slug name being based on the title name (like it's done when using the refresh icon) instead of the kind of id default one which always need to be changed...

[2020-04-14 18:43] austintoddj commented on #710
When you entered it into the config file, did you clear the application cache?

It's a little better practice to set those in the .env file. So try setting the `CANVAS_UNSPLASH_ACCESS_KEY` in there and let me know if you see any difference.

Also, are you seeing any console errors when you're creating the post?

[2020-04-14 18:47] austintoddj commented on #709
[code]

According to the log file, there's some pretty odd stuff attached to the image you uploaded. Can you try it with a different image and see if you get a similar result?

[2020-04-14 19:48] dgillier commented on #709
Tried with another one, same issue.

[2020-04-14 19:49] austintoddj commented on #709
Ok, thanks for checking. I'll look into this later tonight.

[2020-04-14 19:50] austintoddj commented on #711
I can see what you're saying here, but since there is an option to Sync the slug after it's created, I'm going to leave it at that for the time being.

[2020-04-14 19:50] #711 closed

[2020-04-14 19:52] austintoddj commented on #702
Closing since it's a duplicate of https://github.com/cnvs/canvas/issues/687

[2020-04-14 19:52] #702 closed

[2020-04-14 19:55] dgillier commented on #710
No, not working for me:
No errors in the browser console.
Did an app clear cache
Tried also with the key into the .env file (tried with and without ")

[2020-04-14 19:58] austintoddj commented on #677
Appreciate insight from anyone else that has run into this. Unable to reproduce.

[2020-04-14 19:59] dgillier commented on #711
No, problem, not a big deal ;)
Thanks,
Denis

[2020-04-14 20:03] dgillier commented on #709
Sorry Todds,
Looks like it's a problem with DebugBar (or at least having the app in debug mode)...
Working well now...

[2020-04-14 20:05] austintoddj commented on #709
No worries! Glad you got it sorted!

[2020-04-14 20:05] #709 closed

[2020-04-15 06:35] dgillier commented on #710
Finally worked with Variable in the .env file...
Don't know what was wrong, but working now ;)

[2020-04-15 06:35] #710 closed

[2020-04-15 09:14] richard457 opened #712 "Invalid date"
happend when publishing at Canvas\\Http\\Controllers\\PostController->store does it support L7?

[2020-04-15 13:07] austintoddj commented on #712
It does support Laravel 7. What type of database are you using?

[2020-04-17 09:26] dgillier opened #716 "Tag/Topic management"
Hello,

As far as I understand, each user has it's own list of tag and topic, this can be problematic if each user create his own system...

Anyway to restrict topics (and eventually tags) creation to admin user ?
Thanks, Denis

[2020-04-17 13:05] austintoddj commented on #716
I can understand what you're getting at. Canvas doesn't implement a roles/permissions based system, so it'd take a bit of forethought before adding that. The idea behind giving users their own "system" of organization, is so that one user can't delete/edit another users' tag/topic.

If you're post relied on a specific taxonomy, it'd feel like the rug was ripped out from under you if someone came i

[2020-04-17 13:09] dgillier commented on #716
I'm not criticising the current system ;) it makes sense obviously.

I'm wondering if there is a "simple" way to modify the topic/tag management with an external role/permission system ?

[2020-04-17 13:21] austintoddj commented on #716
User access restrictions only happen on the top-most level of Canvas, by adding a custom middleware. So, there isn't a simple way to limit _only tag/topic_ editing like you're saying. But there have been a few requests around that sort of functionality, so perhaps I'll find a way to get it into a future release.

[2020-04-19 05:09] channaveer opened #718 "How to use Canvas Quill Editor in my Bootstrap / HTML & CSS"
Hi, Thank you very very much for getting such an awesome project to the community out there. Since I don't have any knowledge on VueJs I cant extract Quill Js editor CSS and JS to my custom project. I am really attached to the Canvas editor and don't wanna miss it.

Can you please guide me on how to implement the same with Bootstrap 3 or Bootstrap4 or HTML & CSS.

It will really help me a lot and

[2020-04-19 05:20] channaveer commented on #718
I want to know how to add that small + symbol and control everything based on that.

[2020-04-19 17:46] austintoddj commented on #718
Glad you're getting some use out of it!

I'd hit up this article if I were you: https://quilljs.com/guides/cloning-medium-with-parchment/

It gives a nice, in-depth tutorial to do what you're looking to do.

[2020-04-19 17:46] #718 closed

[2020-04-19 18:56] channaveer commented on #718
Thank you very much for the link. Looks
like awesome article.

[2020-04-21 23:43] CraftLogan commented on #693
Thank you @austintoddj I appreciate your response. I will get in touch with you sometime just been covered up lately. Thanks Logan

[2020-04-23 04:02] albertoelias123 commented on #628
Searching i found a possible solution... look this, [Public Assets] (https://laravel.com/docs/7.x/packages#public-assets) @austintoddj .
As i understand it, the problem would be publish the assets of package (Vue CSS/JS).
Using the service provider's publishes method is possible copy the files to "development director" and would be optional feature.
Whoever wishes this, run the command php artisan

[2020-04-23 08:56] robertgarrigos commented on #676
Hey, this is great, but how is it supposed to give a jpeg alternative for browser which don't support webp?

[2020-04-23 09:41] willyw2k commented on #676
u can use html5 picture tag

example :
<picture>
  <source srcset="img/awesomeWebPImage.webp" type="image/webp">
  <source srcset="img/creakyOldJPEG.jpg" type="image/jpeg">
  <img src="img/creakyOldJPEG.jpg" alt="Alt Text!">
</picture>

[2020-04-23 12:27] hide-me opened #726 "Standalone installation"
If you make a **standalone release**, with the installation of Canvas without using Composer (which is very convenient and important for cheap hosting). I make a quality translation of Canvas into Russian 🇷🇺

[2020-04-23 13:02] austintoddj commented on #726
Are you saying it's difficult to get it up and running? What would make it easer?

If you see any poor translations in the `resources/lang/ru/app.php` file, feel free to submit a quick PR and I'll get it merged in!

[2020-04-23 18:50] hide-me commented on #726
No, it's not difficult in general. But, many users usually haven't any experience with Composer. Try to [install this flat-file micro CMS](https://www.bludit.com/) (for example) in your test server/hosting. You will see: the installation takes only a few clicks. Download the zip and unpack it in your host, then _click next next next type admin password and JOB DONE_.

[2020-04-23 18:54] hide-me commented on #726
I just see how you promote your system as **super easy to use and manage**. It would be great if users could install it without special skills and knowledge, without guides and tips.

Like I wrote: next, next, type password... and the job is done!

[2020-04-23 18:58] austintoddj commented on #726
I see what you're saying. Let me put some thought into that and see if I can find a good solution for it here.

[2020-04-24 17:24] robertgarrigos commented on #676
I'm aware of the html5 picture tag. Problem is: you can now upload a webp image as featured image, but there is no way to upload a jpeg alternative for that particular web image.

[2020-04-24 18:02] willyw2k commented on #676
then u can use images cdn like shortpixel.io or imageskit.io for serve webp if browser supported

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Robert Garrigos <notifications@github.com>
Sent: Saturday, April 25, 2020 12:24:34 AM
To: cnvs/canvas <canvas@noreply.github.com>
Cc: willlyw2k <willy.willian@hotmail.com>; Author <author@noreply.github.com>
Subjec

[2020-04-24 18:15] robertgarrigos commented on #676
Thanks. This is interesting. I'll take a look. BTW: imagekit.io and shortpixel.com ;-)

[2020-04-25 06:56] vimalmistry opened #727 "User-specific tags and toipcs"
I am working on my personal blog since feb. I already installed version "5.0". But I just now I installed latest version of canvas.
I found Tags and Topic are inserted user wise. Can you explain? Why?

![Screenshot 2020-04-25 at 12 22 28 PM](https://user-images.githubusercontent.com/3993163/80273463-d231b480-86ef-11ea-9b89-95dac7c3a474.png)
![Screenshot 2020-04-25 at 12 22 19 PM](https://user-imag

[2020-04-25 19:29] austintoddj commented on #727
Absolutely. They are user-specific so that if you make a post and tag it with a few things, another user can't come in and delete those tags, thus affecting your content. This keeps things separate just in case you plan to have multiple users. If you don't, you won't notice a difference and you can keep publishing content however you choose.

[2020-04-25 20:17] channaveer commented on #686
Even I use Canvas with my Laravel Blog and I have written an whole article on it. You might find it very useful https://stackcoder.in/posts/how-to-generate-rss-feeds-in-php-larvel

[2020-04-25 20:24] channaveer commented on #686
@austintoddj I know it might be bit over asking from you.

Since many of them will have issues with generating RSS Feeds and Sitemap Can you please include my article links in the documentation.

Not only mine. But any other article/packages links which can help to grow the Canvas Community. I am damm sure many of them will surely find the articles/packages very useful

[2020-04-25 22:13] BuyOwnEx opened #728 "Error while database migrating via PostgreSQL"
Migrating: 2020_04_10_000000_alter_canvas_tables_user_id_column_type

   Illuminate\Database\QueryException  : SQLSTATE[42804]: Datatype mismatch: 7 ERROR:  column "user_id" cannot be cast automatically to type bigint
HINT:  You might need to specify "USING user_id::bigint". (SQL: ALTER TABLE canvas_user_meta ALTER user_id TYPE BIGINT)

  at C:\OSPanel\domains\buyownex.main\vendor\laravel\framewor

[2020-04-25 22:21] BuyOwnEx commented on #728
via MySQL migrating was OK

[2020-04-26 03:24] austintoddj commented on #728
Thanks for bringing this up. If you've got existing data in PostgreSQL, you'll need to alter the `user_id` field types from a `varchar` to an `int` on these tables:

- `canvas_user_meta`
- `canvas_posts`
- `canvas_tags`
- `canvas_topics`

Apparently PostgreSQL has a hard time altering types like this, so once you've updated the fields, the migration should run properly.

[2020-04-26 03:24] #728 closed

[2020-04-26 10:06] BuyOwnEx commented on #728
Yes, I`m already do this. But this error must be fixed. Studio was installed from scratch
Or delete from requirements about FOUR supported databases by Laravel

[2020-04-26 19:39] austintoddj commented on #728
Up to this point however, Canvas was integrating with your app correctly via PostgreSQL, right?

I agree this was an unforeseen issue. So, just so I understand fully, you can't get this to work with PostgreSQL as a fresh install of Canvas/Studio?

I'm tossing around the idea of cleaning up the migrations on the next release. The upgrade path might be a little more involved, but it would save the e

[2020-04-26 19:43] BuyOwnEx commented on #728
Yes. Sorry, that this issue was in cnvs/canvas. It might be in Canvas/Studio repository, I guess

[2020-04-27 11:17] austintoddj commented on #728
Not a problem, appreciate the info, it makes the project better! Making some adjustments for the next release, let me know if you continue to run into issues or anything else pops up.

[2020-04-28 10:40] vimalmistry commented on #727
Strange feature I can say. It also make conflict on fetch posts by topic and categories. We are not making multiple blog for individual user. So topic and tags should be same for all users. at least my requirement is like this.

[2020-04-28 10:57] austintoddj commented on #727
If this continues to be a point of frustration for other developers as well, I'll look into making adjustments to it. I appreciate the feedback!

[2020-04-28 10:57] #727 closed

[2020-05-01 19:34] willyw2k opened #732 "Add the nofollow attribute to links"
please add ability for let us chose when insert the link , dofollow link or nofollow

[2020-05-12 05:01] channaveer opened #740 "Create Link To Sections Of Same Page"
Hi I was wondering if we can do the internal section links

Eg:

Contents

1. Something (When I click on this it must take me to the 1. Something down)
2. Nothing

/** Other content **/

1. Something

Kindly let me know how to achieve it.

I am using canvas 5.3 version.

[2020-05-12 14:58] austintoddj commented on #740
Are you talking about in the editor itself, similar to linking markdown anchors?

[2020-05-14 19:18] channaveer commented on #740
Yes. Kind of that way.

Even if we can do via anchor with **id** then that's also fine.

[2020-05-15 09:27] baradhili opened #742 "Nginx upload limit size"
Hi,
I have just installed canvas and tried my first post :)..
When I upload an image I'm getting an error "Error during upload  tap to retry"
The image is 1.3MB and I can see it has been uploaded to /storage/app/public/canvas/images

Any idea what I have done wrong?

[2020-05-15 10:10] baradhili commented on #742
playing around it seems to get upset if the image size is >1MB? (largest I tested that worked was 957kb)

[2020-05-15 10:34] baradhili commented on #628
alternatively could we have a config item to set the name of the layout blade? That way we should be able to at least fit it into a page framework keeping our own navbar etc...

[2020-05-15 13:52] robsontenorio opened #743 "Worked without studio"
Hi,

I was able to make it work without installing manually `composer require cnvs/studio` as described on README.

Just followed basic steps and hit `/canvas` and it just brought UI for posting.

Is it a expected behavior?

[2020-05-15 13:55] robsontenorio commented on #743
Ok, my bad. By default it has a basic UI, even without studio.

[2020-05-15 13:55] #743 closed

[2020-05-15 16:40] austintoddj commented on #677
Fixed in https://github.com/cnvs/studio/releases/tag/v1.0.1

[2020-05-15 16:40] #677 closed

[2020-05-15 18:59] austintoddj commented on #742
Hm interesting. Are there any logs that give more info on the error?

[2020-05-15 23:45] davidgrzyb commented on #742
I've run into this before and couldn't figure out why. I remember having to re-export an image to JPEG for it to upload properly because the PNG would upload to 100% and then fail. Unfortunately I can't reproduce this now.

[2020-05-16 01:18] baradhili commented on #742
ahh.. `2020/05/16 01:17:25 [error] 1365#1365: *6 client intended to send too large body: 1318859 bytes, client: 192.168.10.1, server: www-ticm.local, request: "POST /canvas/api/media/uploads HTTP/1.1", host: "www-ticm.local", referrer: "http://www-ticm.local/canvas/posts/dc9b1b71-cf7b-4a81-bea7-68afd5f9baa7/edit"` now to find out why

[2020-05-16 01:25] baradhili commented on #742
ok solution seems to be that by default nginx limits uploads to 1M
however its not so simple to override this - https://stackoverflow.com/a/14358928/9708285 is what I have followed which fixed it - maybe something worthwhile for the wiki?

[2020-05-16 08:26] kama003 opened #748 "JSON.parse() console error"
![image](https://user-images.githubusercontent.com/45000219/82116454-9e462e00-9787-11ea-915c-f22fb4de12bd.png)
Please help me

[2020-05-16 08:34] baradhili opened #749 "Question about a frontend"
I might be blind but...
I've noticed that I must be logged in to view /canvas/posts - however I'd like to publish my blog without signup - is this possible?

[2020-05-16 14:18] austintoddj commented on #742
Good find. I'll close this out since it's not a bug with the package, but I'll see if it can fit in somewhere in the readme.

[2020-05-16 14:18] #742 closed

[2020-05-16 14:21] austintoddj commented on #749
Canvas is the backend and would intentionally be hidden behind authentication. As far as viewing the frontend of the blog, that's a little more defined in [this section of the readme](https://github.com/cnvs/canvas#frontend).

[2020-05-16 14:22] austintoddj commented on #748
Are you on the latest version? Or a specific branch?

[2020-05-16 14:40] kama003 commented on #748
yes i am on latest version

[2020-05-16 20:30] austintoddj commented on #748
That error would usually come from a locale issue. What do you currently have set in your `config/app.php` locale variable?

[2020-05-17 01:40] baradhili commented on #749
Ah I was confused in thinking that studio was where the blogs were
created.. :) Will give that a go today

On Sat, 16 May 2020 at 22:21, Todd Austin <notifications@github.com> wrote:

--
Bret Watson
Director
IT Interim Management Pty Ltd T/A TICM
Mob: +61 (0)41 33 03 840
Email:bret@IT-Interim.Management
"The contents of this e-mail transmission are intended solely for the named
recipient(s), may b

[2020-05-17 04:38] baradhili commented on #749
All good! :)

[2020-05-17 04:38] #749 closed

[2020-05-17 12:46] kama003 commented on #748
`config/app.php` locale variable are same as before i haven't touched that file

[2020-05-17 13:32] austintoddj commented on #748
Another thing I'm seeing in the console is that you're getting a 404 on `api/posts`. In a browser window, can you hit the api directly and see if you get results like these here?
<img width="779" alt="Screen Shot 2020-05-17 at 8 31 52 AM" src="https://user-images.githubusercontent.com/8037011/82148277-ecefd880-9818-11ea-9200-a4f63982d11a.png">